@{
    ViewBag.Title = "SetSequence";
}
<style>
    .CategoryDiv {
        width: 233px;
        float: left;
        padding: 10px;
    }

        .CategoryDiv span {
            display: block;
            font-size: 15px;
            font-weight: 600;
        }

        .CategoryDiv select {
            display: block;
        }

    .textDiv {
        margin-left: 10px;
        width: 100%;
        float: left;
    }

    #Content {
    }
</style>

<div id="content" class="span10">
    <ul class="breadcrumb">
        <li>
            <div> HomePageDynamicSectionMobile </div>
        </li>
    </ul>
    <div>

        <h3>@ViewBag.DisplayName</h3>
    </div>
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-content">
                <div style="width:100%;">
                    @Html.Hidden("HomepageDynamicSectionid")
                    @Html.Hidden("FranchiseID")
                </div>
                @if (TempData["Message"] != null)
                {
                    <br />
                    <span style="font-weight:bold; color:red;"> @TempData["Message"]  </span>
                }

                <div id="divSequence" style="display:block;">

                </div>

            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    $(document).ready(function () {
        debugger
        var FranchiseID = $("#FranchiseID").val();
        var HomepageDynamicSectionid = $("#HomepageDynamicSectionid").val();

            /*Check Condition*/
            $('#divSequence').html(null);

            /*Processing Image*/
            $("#pageloaddiv").css('display', 'block');
            $("#pageloaddiv").fadeOut(1000);


            /* Request the partial view with .get request. */
        $.get('/HomePageDynamicSectionMobile/GetProductListInGallery?FranchiseID=' + FranchiseID, "&HomepageDynamicSectionID=" + HomepageDynamicSectionid, function (data) {
                /* data is the pure html returned from action method, load it to your page */
                $('#divSequence').html(data);

                /* little fade in effect */
                $('#divSequence').fadeIn('fast');
            });

            $("#pageloaddiv").css('display', 'none');
            $("#pageloaddiv").fadeOut(1000);
    });

</script>









