<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js">        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/stylesheet.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/global.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
        <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
        <title>leaders Ezeelo</title>

    </head>
    <body>
        <main>
            <section class="container-fluid mainSection ">
                <div class="row">
                    <div class="col-lg-8 leftsideMain">
                        <div class="page-brand-info">
                            <div class="brand">
                                <img class="brand-img" src="img/logo.png" alt="...">
                                <h3 class="brand-text font-size-30">Welcome to World of<br>Ezeelo Leaders</h3>
                            </div>
                            <p class="font-size-20">Leadership is the Challenge to be Something more than Average.</p>
                        </div>
                    </div>




                    <div class="col-lg-4 rightsideMain">

                        <div class="page-register-main login-card" style="top: 0px;">
                            <h3 class="font-size-24">Sign Up</h3>
                            <p>Use Your Referral Id and Enter your Email to Login.</p>

                            <form method="post" role="form" autocomplete="off" id="register_form_g">
                                <input type="hidden" name="csrfmiddlewaretoken" value="">
                                <div class="form-group form-material floating" data-plugin="formMaterial">
                                    <input type="text" class="form-control empty check_auth" name="referral_id" autocomplete="off" placeholder="Referral Id">
                                    <label class="floating-label" for="inputName">Referral Id</label>
                                    <p class="field-text dynamic mb-0"></p>
                                    <p class="field-text">Don't have a Referral Id <a class="ml-0" href="#" id="refer">&nbsp;Get it Now!</a></p>
                                </div>
                                <div class="form-group form-material floating" data-plugin="formMaterial">
                                    <input type="email" class="form-control empty check_auth" name="email" placeholder="Email">
                                    <label class="floating-label">Email</label>
                                    <p class="field-text dynamic"></p>
                                </div>
                                <div class="form-group form-material floating" data-plugin="formMaterial">
                                    <input type="password" class="form-control empty" name="password" placeholder="Password">
                                    <label class="floating-label" for="inputPassword">Password</label>
                                    <p class="field-text dynamic"></p>
                                </div>
                                <div class="form-group clearfix">
                                    <!-- <div class="checkbox-custom checkbox-inline checkbox-primary float-left">
                                      <input type="checkbox" id="inputCheckbox" name="term">
                                      <label for="inputCheckbox"></label>
                                    </div> -->
                                    <p class="">By clicking Sign Up, you agree to our <a href="#" class="ml-0">Terms</a>.</p>
                                </div>
                                <button type="submit" class="btn btn-success btn-block waves-effect waves-classic">Sign Up</button>
                            </form>

                            <p>Already a <span class="orange bold">Ezeelo Leader</span> ?&nbsp; Please <a href="index.html" id="signin">Sign In</a></p>

                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
