@{
    ViewBag.Title = "Cancellation Policy";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        .divheight {
            min-height: 400px;
            height: auto;
            padding-top: 30px;
        }

        #subpadding ul li {
            list-style-type: disc !important;
        }

        .subpadding {
            padding: 10px;
            text-align: justify;
        }
    </style>
</head>
<body>
    <div class="example divheight">
        <img src="~/Content/Images/tags/cancellationpolicy.png" />
        <div class="subpadding" id="subpadding">
            <ul>
                <li>Our cancellation policy is dependent on the Merchant's cancellation policy.</li>
                <li>
                    Orders once placed, can be cancelled in the following manner:
                    <ul>
                        <li>Free Cancellations - before dispatch of your consignment by Merchant.</li>
                        <li> Paid Cancellations - after dispatch of consignment by Merchant, in which case, the delivery charges shall be payable by the customer.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
