@{
    ViewBag.Title = "Advertise With_Us";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        .divheight {
            min-height: 400px;
            height: auto;
            padding-top: 30px;
        }

        .maindiv {
            width: 100%;
        }

        .firstdiv {
            width: 25%;
            float: left;
        }

        .seconfdiv {
            width: 75%;
            float: left;
        }
    </style>
</head>
<body>
    <div class="example divheight">
        <img src="~/Content/Images/tags/advertisement.jpg" />
        <div>
            <div class="maindiv">
                <div class="firstdiv">Phone No</div>
                <div class="seconfdiv">0712-6631776, 6630864, 6602141-42</div>
            </div>
            <div class="maindiv">
                <div class="firstdiv">Email-Id</div>
                <div class="seconfdiv">info@ezeelo.com</div>
            </div>
            <div class="maindiv">
                <div class="firstdiv">Address</div>
                <div class="seconfdiv">Block 9 9-A, 4th floor, JB wing, NMC Complex Sadar Nagpur - 440001</div>
            </div>
        </div>
    </div>
</body>
</html>
