@{
    ViewBag.Title = "Policies";
}
<style>
    ul {
        text-align: justify;
    }
</style>

<div class="gap"></div>
<div class="row box" data-gutter="15">
    <img src="~/Content/Images/tags/policies.jpg" style="width:100%;margin-bottom:5px;" />
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    <h4 class="panel-title">
                        Shipping Policy
                    </h4>
                </a>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul>
                        <li>All orders after acceptance will be fulfilled in its entirety subject to availability with the Merchant.</li>
                        <li>eZeelo will give due intimation to you about the expected or preferred delivery timings & amount to be paid.</li>
                        <li>To ensure transparency, kindly avoid/refrain from opening consignment before payment of funds to eZeelo.in case of COD (Cash on Delivery)</li>
                        <li>In case of any discrepancy in product delivered ,please refer to returns/cancellation policy.</li>
                        <li>Delivery will be scheduled for same day, but may be deferred as per customers preferred time, or due to unforeseen circumstances.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    <h4 class="panel-title">
                        Privacy Policy
                    </h4>
                </a>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>
                            Security is one of the vital features with us, which means your entire credit/debit card or the net banking transactions comes full proof passing through reliable gateways. All your bank details are secure and safe with us and are not shared at any cost to any third party. However, for those who do not wish to carry out the online transactions while buying any product online, you can avail the option of cash on delivery backed by effective after sales services as well. In case for any quality related issue (which is very rare), our user friendly exchange and replacement policies comes to your best rescue.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    <h4 class="panel-title">
                        Cancellation Policy
                    </h4>
                </a>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>Our cancellation policy is dependent on the Merchant's cancellation policy.</li>
                        <li>
                            Orders once placed, can be cancelled in the following manner:
                            <ul>
                                <li>Free Cancellations - before dispatch of your consignment by Merchant.</li>
                                <li> Paid Cancellations - after dispatch of consignment by Merchant, in which case, the delivery charges shall be payable by the customer.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    <h4 class="panel-title">
                        Return Policy
                    </h4>
                </a>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>eZeelo is the facilitator to provide sales & service delivery at your doorsteps, hence all the returns and exchanges, will be governed by the Merchant's Return and Exchange policy.</li>
                        <li>If consignment is found tampered/ opened ,customer can decide to return it, before acceptance.</li>
                        <li>If consignment is incorrect, damaged, tampered or defective, then complaint should be lodged within 24 hrs at eZeelo, for easy facilitation. In case no claim is being raised within stipulated time, it shall be presumed that you have waived the right to raise a complaint and eZeelo shall not be obliged to entertain any claim / dispute thereafter in respect thereof.</li>
                        <li>If any incorrect / counterfeit product is supplied by Merchant, then the product will be taken back after due diligence.</li>
                        <li>In case a product is found defective after the seal is opened or consignment is accepted by the customer, it shall be governed by the guarantee/ warranty policy of the Merchant/OEM as the case may be.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gap"></div>

