@{
    ViewBag.Title = "Return Policy";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        .divheight {
            min-height: 400px;
            height: auto;
            padding-top: 30px;
        }

        #subpadding ul li {
            list-style-type: disc !important;
        }

        .subpadding {
            padding: 10px;
            text-align: justify;
        }
    </style>
</head>
<body>
    <div class="example divheight">
        <img src="~/Content/Images/tags/returns_policy.png" />
        <div class="subpadding" id="subpadding">
            <ul>
                <li>eZeelo is the facilitator to provide sales & service delivery at your doorsteps, hence all the returns and exchanges, will be governed by the Merchant's Return and Exchange policy.</li>
                <li>If consignment is found tampered/ opened ,customer can decide to return it, before acceptance.</li>
                <li>If consignment is incorrect, damaged, tampered, defective, then complaint should be lodged within 24 hrs at eZeelo, for easy facilitation. In case no claim being raised within stipulated time, it shall be presumed that you has waived the right to raise a complaint and eZeelo shall not be obliged to entertain any claim / dispute thereafter in respect thereof.</li>
                <li>If any incorrect / counterfeit product is supplied by Merchant, then the product will be taken back after due diligence.</li>
                <li>In case of product being found defective after the seal is opened or consignment is accepted by the customer, it shall be governed by the guarantee/ warranty policy of the Merchant/OEM as the case may be.</li>
            </ul>
        </div>
    </div>
</body>
</html>
