<style>
    .chatarea {
        height: 292px;
        width: 700px;
        border: double;
        float: left;
    }
    .chatareanew {
        height: 114px;
        border: double;
        float: left;
        height: 110px;
    }
    .chatareanew1 {
        height: 110px;
        border: double;
        float: left;
        height: 104px;
    }
</style>

<div class="span12 chatarea" style="margin-left:1px;">
    @Html.TextArea("txtChatDetails", "aaaaaaaaaa", new { @class = "span12 chatarea", @readonly = "readonly" })
</div>

