
<style type="text/css">
    #nav {
        height: 26.6em;
        line-height: 2em;
        border: 1px solid #ccc;
        padding: 0;
        margin: 0;
        overflow: scroll;
        overflow-x: hidden;
    }

        /*li {
        border-top: 1px solid #ccc;
    }*/

        ul ul {
            text-indent: 1em;
        }

            ul ul ul {
                text-indent: 2em;
            }
</style>
<div class="span12" style="margin-left: 0px;">
    <label class="btn btn-small btn-info span12"><b>Customer Login List</b></label>
    @*@Html.TextArea("txtChatRoomList", new { style = "height:365px;width:206px" })*@
    <ul id="nav" class="span12">
        <li style="text-align:center"><a href="">User 1</a></li>
        <li style="text-align:center"><a href="">User 2</a></li>
        <li style="text-align:center"><a href="">User 3</a></li>
        <li style="text-align:center"><a href="">User 1</a></li>
        <li style="text-align:center"><a href="">User 2</a></li>
        <li style="text-align:center"><a href="">User 3</a></li>
        <li style="text-align:center"><a href="">User 1</a></li>
        <li style="text-align:center"><a href="">User 2</a></li>
        <li style="text-align:center"><a href="">User 3</a></li>
        <li style="text-align:center"><a href="">User 1</a></li>
        <li style="text-align:center"><a href="">User 2</a></li>
        <li style="text-align:center"><a href="">User 3</a></li>
        <li style="text-align:center"><a href="">User 1</a></li>
        <li style="text-align:center"><a href="">User 2</a></li>
        <li style="text-align:center"><a href="">User 1</a></li>
        <li style="text-align:center"><a href="">User 2</a></li>
        <li style="text-align:center"><a href="">User 3</a></li>
        <li style="text-align:center"><a href="">User 3</a></li>
        <li style="text-align:center"><a href="">User 1</a></li>
        <li style="text-align:center"><a href="">User 2</a></li>
        <li style="text-align:center"><a href="">User 3</a></li>
        <li style="text-align:center"><a href="">User 1</a></li>
        <li style="text-align:center"><a href="">User 2</a></li>
        <li style="text-align:center"><a href="">User 3</a></li>
    </ul>
</div>
