body,
* {
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

div,
p,
span {
    position: relative;
}


.align-center {
  text-align: center;
}

a {
  color: #2086bf;
}
a:visited {
  color: #2086bf;
}

.calendar {
    min-width: 15.625rem;
    border: 1px #eeeeee solid;
    font-size: .75rem;
    padding: .3125rem;
    background-color: #ffffff;
}

.calendar .calendar-grid {
    margin: 0;
    padding: 0;
}

.calendar .calendar-row {
    margin: 0 0 .3125rem;
    width: 100%;
}

.calendar .calendar-row:before,
.calendar .calendar-row:after {
    display: table;
    content: "";
}

.calendar .calendar-row:after {
    clear: both;
}

.calendar .calendar-row:last-child {
    margin-bottom: 0;
}

.calendar .calendar-cell {
    width: 12.46201429%;
    margin: 0 0 0 2.12765%;
    display: block;
    float: left;
}

.calendar .calendar-cell:first-child {
    margin-left: 0;
}

.calendar .calendar-cell.sel-month {
    width: 41.64134286%;
}

.calendar .calendar-cell.sel-year {
    width: 48.936175%;
}

.calendar .calendar-cell.sel-plus,
.calendar .calendar-cell.sel-minus {
    width: 23.4042625%;
}

.calendar .calendar-cell.month-cell,
.calendar .calendar-cell.year-cell {
    width: 23.4042625%;
}

.calendar .calendar-actions .button {
    margin: .15625rem;
}

.calendar .day-of-week {
    padding: .3125rem;
    cursor: default;
}

.calendar a {
    display: block;
    padding: .3125rem;
}

.calendar a:hover {
    background-color: #75c7ee;
    color: #ffffff;
    border-radius: inherit;
}

.calendar .calendar-header {
    background-color: #59cde2;
    color: #ffffff;
}

.calendar .calendar-header a {
    color: #ffffff;
    padding: .325rem;
}

.calendar .calendar-header a:hover {
    background-color: #47b4e9;
    color: #ffffff;
}

.calendar .calendar-actions:before,
.calendar .calendar-actions:after {
    display: table;
    content: "";
}

.calendar .calendar-actions:after {
    clear: both;
}

.calendar .today a {
    background-color: #60a917;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.calendar .day {
    border: 1px #bcd9e2 solid;
}

.calendar .day a {
    display: block;
    position: relative;
}

.calendar .month,
.calendar .year {
    border: 1px #bcd9e2 solid;
}

.calendar .month a,
.calendar .year a {
    padding-top: 1.3125rem;
    padding-bottom: 1.3125rem;
}

.calendar .empty {
    cursor: default;
}

.calendar .other-day {
    display: block;
    text-align: center;
    color: #999999;
    padding: .325rem;
    background-color: #eeeeee;
    border: 1px #bcd9e2 solid;
}

.calendar .selected {
    background-color: #59cde2;
}

.calendar .selected a {
    background-color: #59cde2;
    color: #ffffff;
}

.calendar .exclude {
    background-color: #ce352c;
}

.calendar .exclude a {
    cursor: not-allowed;
    background-color: #ce352c;
    color: #ffffff;
}

.calendar.rounded button {
    border-radius: 0.3125rem;
}

.calendar.rounded .day,
.calendar.rounded .month,
.calendar.rounded .year,
.calendar.rounded .other-day,
.calendar.rounded .today,
.calendar.rounded .calendar-header,
.calendar.rounded .selected {
    border-radius: 0.3125rem;
}

.calendar.rounded .today a,
.calendar.rounded .selected a,
.calendar.rounded .exclude a {
    border-radius: 0.3125rem;
}

.calendar.rounded .calendar-header a:hover {
    border-radius: 0.3125rem;
}

.calendar.no-border .day,
.calendar.no-border .month,
.calendar.no-border .year,
.calendar.no-border .other-day,
.calendar.no-border .today,
.calendar.no-border .calendar-header {
    border: 0;
}

.calendar.no-border .today a {
    border: 0;
}

.calendar-dropdown {
    border: 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
