<footer class="main-footer">
    <div class="pull-right hidden-xs">
        &nbsp;
    </div>
    <strong>Copyright &copy; @DateTime.Now.Year <a href="@System.Configuration.ConfigurationManager.AppSettings["EZEELO_CUSTOMER_URL"]" target="_blank">eZeelo</a>.</strong> All rights reserved.
</footer>

<div class="control-sidebar-bg"></div>