/*personal Detail Edit form css for merchant*/
/*form styles*/
#msform1 {
    width: 100%;
    margin: 50px auto;
    text-align: left;
    position: relative;
}
 

fieldset {
background:#F9DFBA url("../../../content/assets/img/edit-back.png") repeat;
border: 0px none;
border-radius: 3px;
box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.4);
padding: 20px 30px;
box-sizing: border-box;
width: 84%;
margin: 0px 10%;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 84%;
    margin: 0 10%;
    /*stacking fieldsets above each other*/
    /*position: absolute;*/


}
/*Hide all except first fieldset*/
fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform1 input, #msform1 textarea {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 3px !important;
    margin-bottom: 10px;
    /*width: 100%;*/
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}
/*buttons*/
#msform1 .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

    #msform1 .action-button:hover, #msform1 .action-button:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
    }
/*headings*/
.fs-title {
    font-size:20px;
    text-transform: uppercase;
    color: #4b4b4b;
    margin-bottom: 10px;
    text-align:center;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 15px;
    color: #fff;
    margin-bottom: 20px;
      text-align:center;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step; text-align:center;
}

#progressbar li {
        list-style-type: none;
       
        text-transform: uppercase;
        font-size: 12px;
        width: 24.33%;
        float: left;
        position: relative;
}

#progressbar li:before {
            content: counter(step);
            counter-increment: step;
            width: 35px; height:25px;
            line-height: 20px;
            display: block;
            font-size: 15px;
            color: #333;
            background: white;
            border-radius: 3px;
            margin: 0 auto 5px auto; text-align:center;
}
        /*progressbar connectors*/
 #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: white;
            position: absolute;
            left: -50%;
            top: 9px;
            z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
            /*connector not needed before the first step*/
            content: none;
}
        /*marking active/completed steps green*/
        /*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
            background: #57331D;
            color: white;
}

.NameDescription {
    width: 100%;
    display: block;
}

.NameDescription .control-group {
        float: left;
}

.NameDescription label {
        color:#4c4a4a!important;
}

.NameDescription input, .NameDescription select {
        border: 0px !important;
        border-radius: 4px !important;
}

textarea {
    border: 0px !important;
    border-radius: 4px !important;
}

.max-width {
    width: 90%;
}

.mrg-btm {
    margin-bottom: -20px !important;
}

.input-width {
    width: 172px !important;
}

.NameDescription select {
    height: 27px !important;
}

.salutationList select {
    width: 75px !important;
}

.NameDescription label {color:#4b4b4b!important;
}
.mrg-btm {
}
#BankID {width:75px!important;
}



.NameDescription .control-group {float:left;
}
ul li {list-style-type:none;
}
.deco-Checkbox {  border: 1px solid #514848;
  padding-right: 65px;
}
.NameDescription label {  color:#57331D !important; font-size:15px;
}
.span2 {  color: #57331D !important;
  font-size: 15px;
}
.deco-Checkbox ul {float:left;
}
.deco-Checkbox {
    border: 1px solid #514848;
   padding-right:65px;
}
.btn-Ifrm-submit {  
  width: 82px!important;
  background-color:#fa9c57!important; border:1px solid#fa9c57; cursor:pointer; margin-top:22px;
 
 
  border-radius: 7px;
  height: 33px;
  color: #fff!important;
}
.box-header h2 {color:#000;
}

