.logofes {
    background: 0;
    margin-top: 23px;
    margin-left: 0;
    width: 100px;
    height: 100px;
    float: left;
}

#headerwrap {
    color: #E04006;
    text-shadow: 1px 1px 1px #343434;
    background: #2E3639;
    padding: 0;
    margin: 0;
    margin-top: -30px;
    font-family: tahoma, arial, sans-serif;
    height: 70px;
    text-align: center;
    line-height: 70px;
}

    #headerwrap a {
        color: #FFF;
    }

.topwrap1 {
    -moz-animation: bgscroll 750s infinite linear;
    -ms-animation: bgscroll 750s infinite linear;
    -o-animation: bgscroll 750s infinite linear;
    -webkit-animation: bgscroll 750s infinite linear;
}
/* BEGIN ANIMATIONS */
@-webkit-keyframes bgscroll {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -9999px 0;
    }
}

@-moz-keyframes bgscroll {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -9999px 0;
    }
}

@-ms-keyframes bgscroll {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -9999px 0;
    }
}

@-o-keyframes bgscroll {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -9999px 0;
    }
}

@keyframes bgscroll {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -9999px 0;
    }
}

.rotate {
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow: hidden;
}

    .rotate:hover {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }

.wrap {
    width: 95%;
    min-width: 1150px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}
