<div class="col-md-12" data-gutter="60" style="padding: 0px;">
    <div class="col-md-6">
        <div class="form-group">
            @Html.TextBox("City", (string)ViewBag.City, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.TextBox("District", (string)ViewBag.District, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.TextBox("State", (string)ViewBag.State, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.DropDownList("AreaID", null, new { @class = "form-control" })
        </div>
    </div>
</div>



