

<script type="text/javascript">
    alert("CheckBoxPartial");
    $(function () {
        // alert("CheckBoxPartial2");
        $("#wrapper").dialog({
            autoOpen: true,
            modal: true,
           // title: "Confirmation",
            //draggable: false,
            resizable: false,
            //position: {
            //    my: "right bottom",
            //    at: "right bottom"
            //},
            height: 350,
            width: 250
           /* open: function () {
                var markup = 'Hello World';
                $(this).html(markup);
            },
            buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            }*/
        });

      /*  $('<div></div>').dialog({
            modal: false,
            title: "Confirmation",
            draggable: false,
            height: 400,
            width:200,
            open: function () {
                var markup = 'Hello World';
                $(this).html(markup);
            },
            buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            }
        });*/

    });
    function ChatBoxClick() {
        alert("CBP");
        //$("#dialog").html("<textarea name="testArea" required cols='5' rows='3'>your text here</textarea>");
       /* $('<div></div>').dialog({
            modal: true,
            title: "Confirmation",
            draggable: false,
            height: 350,
            width: 250,
            open: function () {
                var markup = 'Hello World';
                $(this).html(markup);
            },
            buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            }
        });*/

        $("#wrapper").dialog({
            autoOpen: true,
            modal: true,
            //draggable: false,
            resizable: false,
            position: {
                my: "right bottom",
                at: "right bottom"
            },
            height: 350,
            width: 250
        });
    }

</script>


@*<script src="~/Content/js/jquery-ui.js"></script>
<link href="~/Content/js/jquery-ui.css" rel="stylesheet" />*@

