@model Gandhibagh.Controllers.CompareProductPage
@if (Model != null)
{
    <div class="frame active">
        <div class="content">
            @if (Model.compareProductDetails != null)
            {
                for (int i = 0; i < Model.compareProductDetails.Count(); i++)
                {
                    if (Model.compareProductDetails[i].Specificationlevel == 1)
                    {
                        <span class="dec-headings"></span>
                        var childNode = Model.compareProductDetails.Where(x => x.SpecificationParentID == Model.compareProductDetails[i].SpecificationID && x.Specificationlevel == 2).ToList();
                        if (childNode.Count() > 0)
                        {
                            <div class="sameData">
                                @for (int j = 0; j < childNode.Count(); j++)
                                {
                                    <span class="proDec" id='@childNode[j].SpecificationID'> @childNode[j].SpecificationValue</span>
                                }
                            </div>
                        }
                    }
                }
            }
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        var width = $(window).width();
        var ele = $("#CompareCategoryDetail1");
        getHead = ele.find('span.dec-headings');
        var ele2 = $("#CompareCategoryDetail2");
        getHead2 = ele2.find('span.dec-headings');
        var ele3 = $("#CompareCategoryDetail3");
        getHead3 = ele3.find('span.dec-headings');
        if (width < 600) {
            getHead.text("Product One");
            getHead2.text("Product Two");
            getHead3.text("Product Three");
        }
    });
</script>
