@{
    Layout = null;
}
<!--Create Parcial for only mobile device create date 06/11/2015 create by Gopal-->
<style type="text/css">
    .clr {
        clear: both;
    }

    .mob-offer-cat {
    }

        .mob-offer-cat ul li {
            margin-bottom: 0.5%;
            display: inline-block;
            float: left;
            width: 49%;
        }

            .mob-offer-cat ul li:nth-child(odd) {
                margin-right: 0.5%;
            }

            .mob-offer-cat ul li img {
                width: 100%;
            }

            .mob-offer-cat ul li a {
                display: block;
                position: relative;
            }

                .mob-offer-cat ul li a span {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 30px;
                    padding: 4px;
                    color: #fff;
                    font-size: 14px;
                    background: rgba(153,144,137,0.7);
                }

        .mob-offer-cat .cat-heading {
            font-size: 14px;
            padding: 4px 6px;
            color: #fff;
            background: rgba(59,103,1,0.8);
            clear: both;
            line-height: 30px;
        }
</style>
@{
    string cityName = "";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}
<div id="boxes">
    <div style="top:25%; left:20%; display: none;position:fixed" id="dialog" class="window">
        <div class="innerwindow">
            <a href="#" class="windowclose"></a>
            @Html.Partial("_ChangeCity")
        </div>
    </div>
</div>
<div id="main-wrap">
    <div class="mob-offer-cat">
        <div class="mob-offer">
            <ul>
                <li><a href="~/Home/ElectronicsAvenueKanpur" class="off-1"></a></li>
                <li><a href="~/Home/SweetAndConfectioneryKanpur" class="off-2"></a></li>
                @if (Request.Cookies["CityCookie"] != null)
                {
                    string city = Request.Cookies["CityCookie"].Value.Split('$')[0];
                    <li><a href="http://foodbagh.gandhibagh.com/#/products?ParentCatID=1314&Level=2&CatName=Bathing%20&%20Body%20Care&cityId=@city" class="off-3"></a></li>
                }
                <li><a href="~/Home/HomeAndKitchenAppliancesKanpur" class="off-4"></a></li>
            </ul>
            <div class="clr"></div>
        </div>
        <div class="mob-cat">
            <h2 class="cat-heading">CATEGORIES</h2>
            <ul>
                @if (Request.Cookies["CityCookie"] != null)
                {
                    string city = Request.Cookies["CityCookie"].Value.Split('$')[0];
                    <li><a href="http://foodbagh.gandhibagh.com/#/products?ParentCatID=1282&Level=3&CatName=vegetable&cityId=@city" class="cat-1" title="Fruits & Vegetables"><span>Fruits & Vegetables</span></a></li>
                }
                @if (Request.Cookies["CityCookie"] != null)
                {
                    string city = Request.Cookies["CityCookie"].Value.Split('$')[0];
                    <li><a href="http://foodbagh.gandhibagh.com/#/products?ParentCatID=1075&Level=2&CatName=GROCERY%20&%20STAPLES&cityId=@city" class="cat-2" title="Food &amp; Groceries"><span>Food &amp; Groceries</span></a></li>
                }
                @if (Request.Cookies["CityCookie"] != null)
                {
                    string city = Request.Cookies["CityCookie"].Value.Split('$')[0];

                    <li><a href="http://foodbagh.gandhibagh.com/#/products?ParentCatID=1338&Level=1&CatName=Poultry&cityId=@city" class="cat-3" title="Meat & Poultry"><span>Meat & Poultry</span></a></li>
                }
                <li><a href="~/Home/SweetAndConfectioneryKanpur" class="cat-4" title="Sweet &amp; Bakery"><span>Sweet &amp; Bakery</span></a></li>
                @if (Request.Cookies["CityCookie"] != null)
                {
                    string city = Request.Cookies["CityCookie"].Value.Split('$')[0];
                    <li><a href="http://foodbagh.gandhibagh.com/#/products?ParentCatID=1441&Level=2&CatName=Good%20Health&cityId=@city" class="cat-5" title="Good Health"><span>Good Health</span></a></li>
                }
                <li><a href="~/Home/HealthAndFitnessKanpur" class="cat-6" title="Sport & Fitness"><span>Sport & Fitness</span></a></li>
                <li><a href="~/Home/HomeAndKitchenAppliancesKanpur" class="cat-7" title="Home &amp; Kitchen"><span>Home &amp; Kitchen</span></a></li>
                <li><a href="~/Home/LifestyleAndFashionStreetKanpur" class="cat-8" title="Lifestyle & Fashion"><span>Lifestyle & Fashion</span></a></li>
                @if (Request.Cookies["CityCookie"] != null)
                {
                    string city = Request.Cookies["CityCookie"].Value.Split('$')[0];

                    <li><a href="http://foodbagh.gandhibagh.com/#/products?ParentCatID=1314&Level=2&CatName=Bathing%20&%20Body%20CarecityId=@city" class="cat-9" title="Beauty &amp; Personal Care1"><span>Beauty &amp; Personal Care1</span></a></li>
                }

                <li><a href="~/Home/ElectronicsAvenueKanpur" class="cat-10" title="Electronics Avenue"><span>Electronics Avenue</span></a></li>
                <li><a href="~/Home/FurnituresAndInteriorsKanpur" class="cat-11" title="Furniture &amp; Interiors"><span>Furniture &amp; Interiors</span></a></li>
                <li><a href="~/Home/AutomotiveMarketKanpur" class="cat-12" title="Automotive Market"><span>Automotive Market</span></a></li>
            </ul>
            <div class="clr"></div>
        </div>
    </div>
</div>
<script src="~/Content/update(5-10)/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    $(window).ready(function () {
        var img1 = $("<img />").attr('src', '../Content/mobile-img/Koffer_1.jpg').load(function () {
            $(".off-1").append(img1);
            // When the image has loaded, stick it in a div
        });

        var img2 = $("<img />").attr('src', '../Content/mobile-img/Koffer_2.jpg').load(function () {
            $(".off-2").append(img2);
        });
        var img3 = $("<img />").attr('src', '../Content/mobile-img/Koffer_3.png').load(function () {
            $(".off-3").append(img3);
        });
        var img4 = $("<img />").attr('src', '../Content/mobile-img/Koffer_4.jpg').load(function () {
            $(".off-4").append(img4);
        });
        var img5 = $("<img />").attr('src', '../Content/mobile-img/mob-cat/Kcat1.png').load(function () {
            $(".cat-1").append(img5);
        });
        var img6 = $("<img />").attr('src', '../Content/mobile-img/mob-cat/Kcat2.png').load(function () {
            $(".cat-2").append(img6);
        });
        var img7 = $("<img />").attr('src', '../Content/mobile-img/mob-cat/Kcat3.png').load(function () {
            $(".cat-3").append(img7);
        });
        var img8 = $("<img />").attr('src', '../Content/mobile-img/mob-cat/Kcat4.jpg').load(function () {
            $(".cat-4").append(img8);
        });
        var img9 = $("<img />").attr('src', '../Content/mobile-img/mob-cat/Kcat5.jpg').load(function () {
            $(".cat-5").append(img9);
        });
        var img10 = $("<img />").attr('src', '../Content/mobile-img/mob-cat/Kcat6.png').load(function () {
            $(".cat-6").append(img10);
        });
        var img11 = $("<img />").attr('src', '../Content/mobile-img/mob-cat/Kcat7.jpg').load(function () {
            $(".cat-7").append(img11);
        });
        var img12 = $("<img />").attr('src', '../Content/mobile-img/mob-cat/Kcat8.png').load(function () {
            $(".cat-8").append(img12);
        });
        var img13 = $("<img />").attr('src', '../Content/mobile-img/mob-cat/Kcat9.png').load(function () {
            $(".cat-9").append(img13);
        });
        var img14 = $("<img />").attr('src', '../Content/mobile-img/mob-cat/Kcat10.png').load(function () {
            $(".cat-10").append(img14);
        });
        var img15 = $("<img />").attr('src', '../Content/mobile-img/mob-cat/Kcat11.png').load(function () {
            $(".cat-11").append(img15);
        });
        var img16 = $("<img />").attr('src', '../Content/mobile-img/mob-cat/Kcat12.jpg').load(function () {
            $(".cat-12").append(img16);
        });
    });
</script>
