@model ModelLayer.Models.LeadersSubstractDaysForPayoutMonth

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LeadersLayout.cshtml";
}



<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Basic Table</strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Substract Days For Payout Months</th>
                        <th scope="col">Modified Date</th>
                        <th scope="col">IsActive</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.SubstractNoDays)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.ModifiedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.IsActive)
                        </td>
                        <td>
                            @Html.ActionLink("Update", "Update", new { id = Model.ID }) |
                        </td>


                    </tr>

                    
                </tbody>
            </table>
        </div>
    </div>
</div>

