@model ModelLayer.Models.AccountingHead
@{
    ViewBag.Title = "Details";
}
<div id="content" class="span10" style="min-height: 395px;">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="">Accounting Head</a>
        </li>
    </ul>
    <div class="row-fluid">
        <div class="box span6">
            <div class="box-header">
                <h2><i class="icon-list-alt"></i><span class="break"></span>Details</h2>
            </div>
            <div class="box-content">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            &nbsp;@Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </dt>

                        <dd>
                            &nbsp;@Html.DisplayFor(model => model.IsActive)
                        </dd>
                    </dl>
                    <div class="form-action" style="padding-left:180px;">
                        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Back to List", "Index", string.Empty, new { @class = "btn" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>