/*=============================-320 X 240-==================================*/

/*=============================-480 X 320-==================================*/
@media only screen and (max-width: 480px) and (min-width: 320px) 
{  
     .div-trans {margin-top:247px;
        -moz-margin-top:228px;
       min-height: 573px; 
       width:94%;
     }

    .wdth-mid{width:241px!important;
                -moz-width:258px!important;
    }

    .wdth-large {width:241px!important;
                -moz-width:258px!important;
    }
    #about {padding-top: 160px;
    }
     .delivery-div {
        height:47px;
    }
   
}
/*=============================-600 X 480-==================================*/
@media only screen and (max-width:600px) and (min-width: 480px) 
{
    #home {height:836px
    }
    .div-trans {
        margin-top:145px; 
         width:96%;
    }
     .login-div input {width:148px!important;
    }
      .wdth-mid {width:161px!important;}
      .wdth-large {width:400px!important;}
      .delivery-div {height: 108px;}
   

}

/*=============================-768 X 600-==================================*/
@media only screen and (max-width:768px) and (min-width: 600px) 
{      
     #home {height:836px}
    .div-trans { margin-top: 123px; width:80%; margin-left:61px;}
    .wdth-mid {width:173px!important;}
    .wdth-large {width:424px!important;}
    .delivery-div { height:157px; }
}

@media only screen and (max-width:800px) and (min-width:768px) 
{
    .wdth-mid {width:179px!important;
    }
    .wdth-large {width:217px!important;
    }
     .delivery-div {
        height:226px;
    }

}


/*=============================-640 X 600-==================================*/
@media only screen and (max-width:960px) and (min-width: 800px) 
{
     .wdth-mid {width:179px!important;
    }
    .wdth-large {width:217px!important;
    }
		 .delivery-div {
        height: 226px;
    }
	
}
@media only screen and (max-width: 1136px) and (min-width: 1024px) 
{
    .delivery-div {
        height: 322px;
    }
	  .wdth-mid {width:132px!important;
    }
    .wdth-large {width:169px!important;
    }
}





/*===============================RESPONCIVE LAYOUT==========================*/
/*==========================================================================*/

/*=============================-1400 X 1366-==================================*/
@media only screen and (max-width: 1400px) and (min-width: 1366px) 
{
}
/*=====================1280 EESOLAtion==================*/
@media only screen and (max-width: 1365px) and (min-width: 1280px)
{
	
	}

/*=============================-1366 X 1280-==================================*/
@media only screen and (max-width: 1366px) and (min-width: 1280px) 
{
}
/*=============================-1280 X 1200-==================================*/
@media only screen and (max-width: 1280px) and (min-width: 1200px) 
{

}
/*=============================-1136 X 1024-==================================*/



