body{
    font-family: 'Open Sans', sans-serif;
}
.logo {
    position: absolute;
    z-index: 99;
    left: 4%;
    top: 8%;
}
div#carouselFade {
    height: 340px;
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
} 
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
} 
.carousel-caption {
    text-shadow: 0 1px 4px rgba(0,0,0,.9);
    font-size:17px
}
.carousel-caption h3 {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
} 
.item:nth-child(1) {
    background: url('../img/1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.item:nth-child(2) {
    background: url('../img/2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.item:nth-child(3) {
    background: url('../img/3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.carousel-control {
    position: absolute;
    top: 50%;
}
/***************************************************/
header {

    width: 100%;
    box-shadow: 0 2px 2px #f5f5f5;
}
.navbar-nav>li{
    margin-right: 15px;
    float: none;
    display: inline-block;
}
.navbar-brand {
    float: none;
    padding: 0;
    width: 100%;
    height: 100%;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    text-transform: uppercase;
    padding: 15px 40px;
    font-weight: 600;
    border-radius: 25px;
    transition: 0.7s;
    background: transparent!important;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: inherit;
    transition: 0.7s;
}
.navbar-default .navbar-nav li:last-child{
    margin-right: 0;
}
.navbar-brand>img {
    display: block;
    height: 130px;
}
div#navbar1 {
    padding: 0;
    background: #fff;
    margin: 0 auto;
}
.products{
    position:relative;
}


.tab-list a{
    display: block;
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
    text-transform: capitalize;
    transition: .2s;
    text-decoration: none;
    color: #8c8c8c;

}
.tab-list li{
    text-align: left;
}
.tab-list a:hover{
    padding-left: 20px;
    transition: .2s;
    color:#000;

}
.headerOne {
    display: block;
    overflow: hidden;
}
.navbar-default {
    background-color: transparent!important;
    border: 0;
    margin: 0;
    min-height: auto;
}
.navbar-nav {
    float: none;
    text-align:center;
}


/*DropDown code*/
.dropdown a {
    color: #777;
    text-transform: uppercase;
    padding: 8px 40px;
    font-weight: 600;
    border-radius: 25px;
    transition: 0.7s;
}
.dropdown a:hover {
    color: #fff;
    background-color: #e8e8e8;
    transition: 0.7s;
    text-decoration: none;
}
.dropdown {
    position: relative;
    display: inline-block ;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 200px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

/*DropDown code*/

section.best-products {
    position: relative;
    padding: 50px 0;
}
.best-content {
    display: inline-block;
    width: 100%;
    margin-top: 50px;
}
.best-content figure img:hover {
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;
}
.best-content figure img{
    transition: .2s;
}
.best-main h2 {
    text-transform: uppercase;
    font-weight: 700;
    color: #f00;
}
.pro {
    /*    box-shadow: 0px 0px 14px -3px #0003;*/
    padding: 0;
    min-height: 200px;
}
.best-content ul li {
    float: left;
    width: 15%;
    margin: 0 8px;
    list-style: none;
    min-height: 200px;
}
.best-content ul li figure {
    box-shadow: 0px 0px 10px 2px #0000001a;
    min-height: 200px;
    padding: 60px 0 0;
    margin-bottom: 20px;
    background: linear-gradient(#d2cccc, #fff, #d2cccc);
}
.profile_main h2 {
    text-transform: uppercase;
    font-weight: 700;
    color: #f00;
}
section.profile {
    padding: 50px 0;
    position: relative;
    background: #f7f7f7;
}
.profile_main {
    display: inline-block;
    float: left;
    width: 100%;
}
.profile_main-right span {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    color: #f00;
}
.pro-Head {
    margin-top: 30px;
}
.profile_main-left p {
    font-size: 15px;
    text-align: justify;
}

.profile_main-right ul {
    width: 100%;
    margin-top: 15px;
}

.profile_main-right {
    margin-top: 5%;
}
.profile_main-right ul li {
    line-height: 30px;
}
footer {
    min-height: 200px;
    width: 100%;
    background: #000;
    color: #fff;
    padding: 50px 0;
}
.inner_footer figure {
    margin-top: 20px;
    width: 10%;
    float: left;
}
.mail-mobile.aos-item.aos-init.aos-animate {
    width: 30%;
    margin: 0 5%;
    display: inline-block;
}

.mail-mobile h3 {
    font-size: 14px;
    line-height: 8px;
}
.socialicons {
    float: right;
    color: white;
    text-align: center;
    width: 34%;
}
.socialicons ul li{
    list-style: none;
    float: left;
    margin-right: 10px;
    margin-top: 30px;
}
.socialicons ul li:last-child{
    margin-right: 0;
}

.socialicons ul {
    width: 100%;
    display: inline;
}
.dropdown-menu li {
    margin-bottom: 7px;
}
ul.dropdown-menu {
    border-radius: 8px
}

.inner_footer {
    width: 100%;
}
.socialicons h3 {
    text-align: left;
    font-size: 26px;
}

.inner_footer.aos-item.aos-init.aos-animate {
    width: 100%;
    float: left;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
    padding-left: 25%;
}
/************************************home-page-style-end************************************/


/************************************starting of inquiry-page-style-sheet************************************/
section.inquiry-form h2 {
    text-transform: uppercase;
    font-weight: 700;
    color: red;
}
form.form-horizontal.form_head {
    margin-top: 5%;
}
.form-horizontal .control-label {
    font-size: 16px;
    color: red;
}

section.best-products.inquiry-form figure {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    height: 225px;

}
/************************************Ending of inquiry-page-style-sheet************************************/

/**********************************starting of products-page-style-sheet***********************************/
.best-content.list_pro-head ul li {
    float: left;
    width: 20%;
    margin: 15px 27px;
    list-style: none;
    min-height: 410px;
    text-align: center;
}
/************************************Ending of products-page-style-sheet************************************/












/************************************************************************************************************
                                Starting of media
************************************************************************************************************/
/**********************************@media(max-width:1199px)*************************************************/
@media(max-width:1199px){
    i.fa.fa-bars {
        font-size: 25px;
    }
    .logo {
        left: 5%;
        top: 5%;
        display: inline-block;
        overflow: hidden;
        height: 100px;
        z-index: 9999999;
    }
    .navbar-brand>img {
        height: 100px;
    }
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        color: #fff;
        background-color: #e8e8e8;
    }
    .box-med {
        clear: both;
    }

    .best-content ul li {
        margin: 0 18px;
        width: 28%;
    }
    .mail-mobile h3 {
        font-size: 12px;
        line-height: 5px;
    }
    .socialicons.aos-item.aos-init {
        width: 37%;
        text-align: center;
    }
    .socialicons ul li {
        margin-right: 8px;
    }
    .socialicons ul {
        width: 100%;
        display: inline;
        float: left;
        margin: 0;
        padding: 0 17px;
    }
    .mail-mobile.aos-item.aos-init.aos-animate {
        width: 40%;
        margin: 0 8%;
    }
    .socialicons h3 {
        margin-top: 26px;
    }

    .dropdown-menu li {
        margin-bottom: 7px;
        width: 250px;
    }
    .navbar-default .navbar-nav>li>a {
        padding: 15px;
    }
    .best-content.list_pro-head ul li {
        width: 27%;
    }
}


/**********************************@media(max-width:991px)***********************************************/
@media(max-width:991px){


    .col-md-offset-2 {
        margin-left: -11%;
    }
    div#fade-quote-carousel {
        width: 100%;
    }
    .contactButtonContent p {
        margin: 0;
        line-height: 45px;
        font-size: 16px;
    }
    .col-md-offset-2 {
        margin-left: 0;
    }
    .best-content.list_pro-head ul li {
        width: 30%;
        margin: 0 11px;
        min-height: 470px;
    }
    .innerListContent {
        min-height: 352px;
    }
}


/**********************************@media(max-width:767px)***********************************************/
@media(max-width:767px){

    ul.aos-item.aos-init.aos-animate {
        width: 100%;
        float: left;
        margin: 0;
        padding: 0;
    }
    .best-content ul li {
        margin: 0;
        width: 100%;
    }  
    .best-content figure img {
        margin: 0 auto;
        width: 35%;
    }
    .pro-Head {
        text-align: left;
    }
    .inner_footer figure {
        width: 15%;
    }
    .mail-mobile.aos-item.aos-init.aos-animate {
        width: 100%;
        margin: 0;
    }
    .inner_footer figure {
        float: none;
        width: 30%;
        margin: 0 auto;
    }
    .mail-mobile.aos-item.aos-init.aos-animate {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .mail-mobile h2 {
        font-size: 30px;
    }
    .mail-mobile h3 {
        font-size: 14px;
        line-height: 22px;
    }
    .socialicons ul li a img {
        height: 40px;
    }
    .socialicons ul {
        width: 100%;
        float: none;
        margin: 0;
        padding: 0;
    }
    .socialicons h3 {
        margin-top: 26px;
        font-size: 25px;
        text-align: center;
    }
    .socialicons {
        float: none;
        color: white;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    .profile_main-right ul {
        width: 100%;
        margin-top: 15px;
        padding: 0 10px;
    }
    .socialicons ul {
        width: 100%;
        float: none;
        margin: 0 0 0 7px;
        padding: 0;
        float: left;
        text-align: center;
    }
    .socialicons ul li {
        display: inline-block;
        float:none;
    }
    .navbar-default {
        background-color: transparent;
        border-color: transparent;
    }
    button.navbar-toggle.collapsed {
        background: #fff;
        border-color: #000;
    }

    .navbar-toggle {
        display: block;
        margin: 7px 0;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav>li {
        float: none;
        margin: 7px 10px;
        display: block;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border:none; 
    }
    i.fa.fa-bars {
        font-size: 20px;
        color: #000;
        margin: 0;
        padding: 0;
    }
    i.fa.fa-bars:hover{
        color: #fff;
    }
    ul.nav.navbar-nav.menu-LI li {
        display: block;
        border: 0;
        padding-left: 15px;
    }
    ul.nav.navbar-nav.menu-LI li:hover {
        background: #00006e;
        border-radius: 25px;
    }
    ul.nav.navbar-nav.menu-LI li a:hover {
        color: white;
    }
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        color: #555;
    }
    div#navbar1 {
        float: none;
        width: 100%;
    }
    .navbar-nav {
        float: none;
        margin: 0;
        text-align: left;
    }
    .menu_bar {
        margin-left: 0;
    }

    header {
        box-shadow: none;
    }
    div#navbar1 {
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 9;
    }
    .best-content.list_pro-head ul li {
        width: 100%;
        margin: 0 0 50px 0;
        min-height: 350px;
    }
    .best-content {
        width: 92%;
    }
    .innerListContent {
        min-height: 258px;
    }
}




/**********************************@media(max-width:480px)***********************************************/
@media(max-width:480px){
    .socialicons ul {
        width: 100%;
        margin: 0 0 0 7px;
        float: left;
    }
    .socialicons {
        width: 40%;
    }
    .pro-Head {
        text-align: left;
    }
    .best-content figure img {
        width: 50%;
    }
    .best-content.list_pro-head.products-list-innerPage ul li {
        min-height: 280px;
    }
    .best-content.list_pro-head ul {
        display: inline;
    }
    .best-content {
        width: 100%;
    }
}
/* end of midia*/


.best-main {
    text-align: center;
}
.best-content.list_pro-head ul li a {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
}
.innerListContent {
    min-height: 310px;
}
.innerListContent center p {
    font-weight: 700;
    text-transform: uppercase;
}
li.pro.aos-item.aos-init.aos-animate a:hover {

    text-decoration: none;
}



