body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.571429;
    color: #757575;
    text-align: left;
    background-color: #fff;
    font-family: Roboto,sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

section .leftsideMain {
    background-image: url(../img/test.jpg);
    position: fixed;
    background-repeat: repeat;
    background-position: center top;
    -webkit-background-size: 100% !important;
    background-size: 100% !important;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #867979;
    background-blend-mode: multiply;
    display: inline-block !important;
}
.col-lg-4.rightsideMain {
    float: right !important;
    padding: 4% 4% 6% 4%;
}
.leftsideMain .page-brand-info .brand {
    display: inline-block;
    margin: 11px 0 11px 20px;
    vertical-align: middle;
}

.page-dark.layout-full .brand-text {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}
.leftsideMain .page-brand-info {
    display: inline-block;
}
.brand h3.brand-text.font-size-30 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    float: right;
    font-weight: 400 !important;
    margin: 6% 0 0 0;
}
.leftsideMain .page-brand-info {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 35%;
    left: 15%;
}
.leftsideMain .page-brand-info .brand {
    display: inline-block;
    margin: 11px 0 11px 20px;
    vertical-align: middle;
    width: 60%;
}
.leftsideMain .page-brand-info .brand img.brand-img {
    height: 100px;
    display: inline-block;
    margin: 14px 0 11px 30px;
    vertical-align: middle;
}

.page-login-v2 .page-brand-info p {
    opacity: .6;
}

.font-size-20 {
    font-size: 20px!important;
    font-weight: 500;
    color: #fff;
    opacity: .6;
    width: 70%;
    margin-left: 5.5%;
    display: inline-block;
}
.form-material .form-control {
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center bottom,center -webkit-calc(100% - 2px);
    background-position: center bottom,center calc(100% - 2px);
    -webkit-background-size: 0 2px,100% 2px;
    background-size: 0 2px,100% 2px;
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
}

.form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus {
    float: none;
    /* border-bottom: 5px solid #777 !important; */
    background-image: -webkit-gradient(linear,left top,left bottom,from(#35b752),to(#35b752)),-webkit-gradient(linear,left top,left bottom,from(#e0e0e0),to(#e0e0e0));
    background-image: -webkit-linear-gradient(#35b752,#35b752),-webkit-linear-gradient(#e0e0e0,#e0e0e0);
    background-image: -o-linear-gradient(#35b752,#35b752),-o-linear-gradient(#e0e0e0,#e0e0e0);
    background-image: linear-gradient(#35b752,#35b752),linear-gradient(#737373,#e0e0e0);
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.font-size-24 {
    font-size: 24px!important;
    color: #000;
}
.page-register-main p, .page-forgetpass-main p, .page-refer-main p {
    color: #777;
    font-size: 15px;
    font-weight: 400;
}
.page-register-main p, .page-forgetpass-main p, .page-refer-main p {
    color: #777;
    margin-bottom: -1%;
}
.field-text {
    color: #777;
    font-size: 12px !important;
}
a#refer {
    color: #eb7d2b;
}
a#refer:hover {
    color: #35b752;
    text-decoration: none;
}
.rightsideMain .form-group {
    margin-bottom: 8%;
}
a.ml-0 {
    color: #eb7d2b;
}
a.ml-0:hover {
    color: #35b752;
    text-decoration: none;
}
.btn-success:hover {
    color: #fff;
    background-color: #e37d32;
    border-color: #e37d32;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.bold {
    font-weight: bold;
}

.orange {
    color: #e37d32;
}
a#signin {
    color: #eb7d2b;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a#signin:hover {
    color: #35b752;
    text-decoration: none;
}
button.btn.btn-success.btn-block.waves-effect.waves-classic {
    margin-bottom: 5%;
}
form#register_form_g {
    margin-top: 5%;
}

.avatar img {
    width: 100%;
    max-width: 30px;
    height: 30px;
    border: 0 none;
    border-radius: 1000px;
}



/*side navbar*/

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;   
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;   
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;   
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;   
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;   
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;   
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;   
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;   
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;  
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}
/*side navbar*/














