@model ModelLayer.Models.ViewModel.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Views/Shared/Login_header.cshtml";
}
<!DOCTYPE html>

<html>
<head>
  
  </head>     
 @*<style>
                .btncolor {
                    background-color: #60a917 !important;
                    color: white !important;
                }
                .newselect {
                    border: none;
                    border-radius: 0px 0px 0px 0px !important;
                    background: transparent;
                    width: 150px;
                    padding: 5px 35px 5px 5px;
                    font-size: .875rem;
                    border: 1px solid #ccc;
                    height: 34px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background:none!important;
                }
                .atagelink {
                    position: fixed !important;
                    margin-top: -38px;
                    z-index: 10;
                    background-color: #656565;
                    color: white !important;
                }

                .ahomelink {
                    background-image: url(../Content/Images/arrowright.png) !important;
                    padding-bottom: 0px;
                    float: left;
                    background-position: right center;
                    background-repeat: no-repeat;
                    padding-right: 24px;
                    padding-top: 0px;
                    padding-left: 2px;
                    color: white !important;
                }
            </style>*@
    <body>
        @using (Html.BeginForm())
        { <div id="forgot-pass">
            <div class="overlay">
                <div class="container">
                    <div class="row text-center">
                        @Html.AntiForgeryToken()
                        if (ViewBag.Message != null)
                        {
                        <div class="breadcrumbs dark">
                            @ViewBag.Message
                        </div>
                        }
                        <div class="col-lg-12 col-md-12" style="margin-top:50px;">
                            <div class="form-group neweditdiv">

                                <div data-text="Forgot Password">
                                    <div class="mrg-top sub-div">
                                        <h3>Enter the e-mail address associated with your account, and then click Submit. We'll email you a link to a page where you can easily create a new password.</h3>
                                        <div>
                                            <div>
                                                <b><label>Email Id:</label></b>
                                                <div class="input-control text full-size">
                                                    @Html.TextBoxFor(model => model.EmailId, new { placeholder = "Email Id", maxlength = 150, autocomplete = "off", @class = "forgot-input" })
                                                    @Html.ValidationMessageFor(model => model.EmailId)
                                                    <input type="submit" value="Submit" class="btn btn-success" />
                                                </div>
                                            </div>
                                        </div>
                                        <div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        }

      
        </body>
</html>
