<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="~/Content/Logo/logo.png">
    <link href="~/Templates/UsersTemplate/css/stylesheet.css" rel="stylesheet" />
    <link href="~/Templates/UsersTemplate/css/custom.css" rel="stylesheet" />
    <link href="~/Templates/UsersTemplate/css/style3.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/Templates/UsersTemplate/js/global.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <title>leaders Ezeelo</title>
</head>

<body>

    <main>
        <section class="container-fluid mainSection ">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 leftsideMain">
                    <div class="page-brand-info">
                        <div class="brand">
                            <img class="brand-img" src="~/Templates/UsersTemplate/img/logo.png" alt="...">
                            <h3 class="brand-text font-size-30">Welcome to World of<br>Ezeelo Leaders</h3>
                        </div>
                        <p class="font-size-20">Leadership is the Challenge to be Something more than Average.</p>
                    </div>
                </div>


                <div class="col-lg-4 col-md-4 col-sm-12 rightsideMain">
                    <div class="page-register-main login-card" style="top: 0px;">
                        <figure><img src="/Templates/UsersTemplate/img/logo.png"/></figure>
                        <h3 class="font-size-24">Sign In</h3>
                        @Html.Partial("~/Views/Shared/_Login.cshtml")                       
                        <p>Not a <span class="orange bold">Ezeelo </span>Leader ?&nbsp; Please <a target="_blank" href="http://www.ezeelo.com" id="signin">Sign up</a></p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
