<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    <link rel="stylesheet" href="">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous">
    </script>
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script> -->
    @*<link rel="stylesheet" href="css/material-design.minfd53.css">*@
    <link rel="stylesheet" href="css/style3.css">
    <link rel="stylesheet" href="css/dropify.minfd53.css">
    <link rel="stylesheet" href="css/dropify.minfd53.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>leaders Ezeelo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("hide").click(function () {
                $("#go").toggle();
            });
        });
    </script>
</head>
<body>
    <main>
        <header></header>

        <section class="sideNavbar">
            <div class="wrapper">
                <!-- Sidebar  -->
                <nav id="sidebar">
                    <div id="dismiss">
                        <i class="fa fa-arrow-left"></i>
                    </div>
                    <div class="sidebar-header">
                        <figure>
                            <a href="index.html">
                                <img class="img-responsive logo-img" src="img/logo.png" />
                            </a>
                        </figure>
                    </div>
                    <ul class="list-unstyled components">
                        <li class="active">
                            <a href="index.html">Dashboard</a>
                        </li>
                        <li>
                            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                                Network Explorer
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class="collapse list-unstyled" id="homeSubmenu">
                                <li>
                                    <a href="TabularView.html">Tabular View</a>
                                </li>
                                <li>
                                    <a href="ListView.html">List View</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                                E-Wallet/ Passbook
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class="collapse list-unstyled" id="pageSubmenu">
                                <li>
                                    <a href="Passbook.html">Passbook</a>
                                </li>
                                <li>
                                    <a href="PayoutRequest.html">Payout Request</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="profile-page.html">My Profile</a>
                        </li>
                        <li>
                            <a href="#reports" data-toggle="collapse" aria-expanded="false">
                                Reports
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class="collapse list-unstyled" id="reports">
                                <li>
                                    <a href="PurchaseReports.html">Purchase Reports</a>
                                </li>
                                <li>
                                    <a href="wallet.html">Wallet Summary</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- Page Content  -->
                <div id="content">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                            <button type="button" id="sidebarCollapse" class="btn">
                                <i class="fa fa-align-left"></i>
                                <!--                                    <span>Toggle Sidebar</span>-->
                            </button>
                            <!--<button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <i class="fas fa-align-justify"></i>
                                </button>-->
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="nav navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="dropdown-toggle" type="" data-toggle="dropdown" href="#">
                                            <figure>
                                                <img src="https://static1.squarespace.com/static/5420ef1de4b0c6a70bc1f5fe/t/59c4d5bcbebafb27ad73de50/1506072001008/Carl-Johan-Malmstron-%28circle-profile%29.png" />
                                            </figure>
                                        </a>
                                        <ul class="dropdown-menu ulListMenus">
                                            <div class=" show" role="menu">
                                                <!--  <p class="dropdown-item nav-heading " role="menuitem"> Customer</p> -->

                                                <a class="dropdown-item waves-effect waves-light waves-round" href="/profile/" role="menuitem">
                                                    <img class="customer img-responsive" src="img/customer.png" />Ezeelo Customer
                                                </a>
                                                <a class="dropdown-item waves-effect waves-light waves-round" href="javascript:void(0)" role="menuitem">
                                                    <img class="customer img-responsive" src="img/md-nfc.png" />PHOENIX
                                                </a>
                                                <a class="dropdown-item waves-effect waves-light waves-round" href="javascript:void(0)" role="menuitem">
                                                    <img class="customer img-responsive" src="img/wallet.png" />
                                                    <i class="icon md-balance-wallet" aria-hidden="true"></i>
                                                    <i class="fa fa-inr"></i> 0.00
                                                </a>
                                                <!-- <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-settings" aria-hidden="true"></i> Settings</a> -->
                                                <div class="dropdown-divider" role="presentation"></div>
                                                <a class="dropdown-item waves-effect waves-light waves-round" href="signup.html" role="menuitem">
                                                    <img class="customer img-responsive" src="img/power.png" /> Logout
                                                </a>
                                            </div>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <section class="container-fluid mainContent">
                    <div class="mainContentInner">
                        <div class="mainContentinnerPartMain">
                            <!-- First row -->
                            <div class="mainContentinnerPartfirstRow">
                                <!-- fisrbox_firstBox -->
                                <div class="mainContentinnerPartfirstrow-boxbigSizeBox">
                                    <div class="firstboxup">
                                        <div class="NumberOne Referralsleft third-box ">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            <h5> Referrals</h5>
                                        </div>
                                        <div class="Referralsright SpanOne_">
                                            <span>0</span>
                                        </div>
                                        <div class="ReferralsDownContent">
                                            <div class="report-card dropdown vertical-align-bottom font-size-14">
                                                <div id="hide" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" report-by="month" style="cursor: pointer;"
                                                     role="complementary">
                                                    This Month
                                                </div>
                                                <div id="go" class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 20px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                    <!--<a class="dropdown-item" href="#" role="menuitem" report-by="last_week">For Last Week</a>-->
                                                    <a class="dropdown-item" href="#" role="menuitem" report-by="total">Last 5 Months</a>
                                                </div>
                                            </div>
                                            <figure>
                                                <img src="img/graph.png">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <!-- fisrbox_firstBox -->
                                <!-- fisrbox_SecondBox -->
                                <div class="mainContentinnerPartfirstrow-boxbigSizeBox">
                                    <div class="firstboxup">
                                        <div class="Referralsleft third-box boxNumberSecond">
                                            <figure>
                                                <img src="img/withdraw.png" />
                                            </figure>
                                            <h5>Withdrawn</h5>
                                        </div>
                                        <div class="Referralsright">
                                            <figure>
                                                <img src="img/rupay.png" />
                                            </figure>
                                            <span>0.0</span>
                                        </div>
                                        <div class="ReferralsDownContent">
                                            <div class="report-card dropdown vertical-align-bottom font-size-14">
                                                <div id="hide" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" report-by="month" style="cursor: pointer;"
                                                     role="complementary">
                                                    This Month
                                                </div>
                                                <div id="go" class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 20px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                    <!--<a class="dropdown-item" href="#" role="menuitem" report-by="last_week">For Last Week</a>-->
                                                    <a class="dropdown-item" href="#" role="menuitem" report-by="total">Last 5 Months</a>
                                                </div>
                                            </div>
                                            <figure>
                                                <img src="img/graph.png">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <!-- fisrbox_SecondBox -->
                                <!-- fisrbox_ThirdBox -->
                                <div class="mainContentinnerPartfirstrow-boxbigSizeBox">
                                    <div class="firstboxup">
                                        <div class="Referralsleft third-box">
                                            <figure>
                                                <img src="img/withdraw.png" />
                                            </figure>
                                            <h5>ERP</h5>
                                        </div>
                                        <div class="Referralsright boxnumberThird_">
                                            <figure>
                                                <img src="img/E.png" />
                                            </figure>
                                            <span>0.0</span>
                                        </div>
                                        <div class="ReferralsDownContent">
                                            <div class="report-card dropdown vertical-align-bottom font-size-14">
                                                <div id="hide" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" report-by="month" style="cursor: pointer;"
                                                     role="complementary">
                                                    This Month
                                                </div>
                                                <div id="go" class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 20px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                    <!--<a class="dropdown-item" href="#" role="menuitem" report-by="last_week">For Last Week</a>-->
                                                    <a class="dropdown-item" href="#" role="menuitem" report-by="total">Last 5 Months</a>
                                                </div>
                                            </div>
                                            <figure>
                                                <img src="img/graph.png">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <!-- fisrbox_ThirdBox -->
                                <!-- fisrbox_FourBox -->
                                <div class="mainContentinnerPartfirstrow-boxbigSizeBox lastmaininner">
                                    <div class="boxnumberFour_leftMain">
                                        <ul>
                                            <li>
                                                <div class="boxnumberFour_left">
                                                    <figure>
                                                        <img src="img/img-1.jpg" />
                                                        <span>Inactive Points</span>
                                                    </figure>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="boxnumberFour_left">
                                                    <figure>
                                                        <img src="img/img-2.jpg" />
                                                        <span>Pending ERP</span>
                                                    </figure>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="boxnumberFour_left">
                                                    <figure>
                                                        <img src="img/img-3.jpg" />
                                                        <span>Payout Requested</span>
                                                    </figure>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="boxnumberFour_rightMain">
                                        <ul>
                                            <li>
                                                <div class="boxnumberFour_left">
                                                    <figure>
                                                        <img src="img/right_img-1.jpg" />
                                                        <span>0</span>
                                                    </figure>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="boxnumberFour_left">
                                                    <figure>
                                                        <img src="img/right_img-2.jpg" />
                                                        <span>0</span>
                                                    </figure>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="boxnumberFour_left">
                                                    <figure>
                                                        <img src="img/right_img-3.jpg" />
                                                        <span>0</span>
                                                    </figure>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- fisrbox_FourBox -->
                            <!-- First row -->
                            <!-- middle row -->
                            <div class="mainContentinnerPartMiddleRow">
                                <!-- middle row firstBox -->
                                <div class="mainContentinnerPartfirstrow-boxsmallSizeBox">
                                    <h3>Total Members</h3>
                                    <div class="innermiddleRowContent">
                                        <figure>
                                            <img src="img/total.jpg" />
                                        </figure>
                                        <span>1</span>
                                    </div>
                                </div>
                                <!-- middle row firstBox -->
                                <!-- middle row SecondBox -->
                                <div class="mainContentinnerPartfirstrow-boxsmallSizeBox">
                                    <h3>Ezee-Money</h3>
                                    <div class="innermiddleRowContent Ezee-money">
                                        <figure>
                                            <img src="img/total-2.jpg" />
                                            <img class="rupayIMG" src="img/rupay.png" />
                                        </figure>
                                        <span>0.00</span>
                                    </div>
                                </div>
                                <!-- middle row SecondBox -->
                                <!-- middle row ThirdBox -->
                                <div class="mainContentinnerPartfirstrow-boxsmallSizeBox QualifyingRetailPointsMain">
                                    <h3>Qualifying Retail Points</h3>
                                    <div class="innermiddleRowContent QualifyingRetailPoints">
                                        <figure>
                                            <img src="img/total-3.jpg" />
                                        </figure>
                                        <span>1800</span>
                                    </div>
                                </div>
                                <!-- middle row ThirdBox -->
                                <!-- middle row FourBox -->
                                <div class="mainContentinnerPartfirstrow-boxsmallSizeBox lastmaininner DaysLeft">
                                    <h3>Days Left</h3>
                                    <div class="innermiddleRowContent">
                                        <figure>
                                            <img src="img/total-4.jpg" />
                                        </figure>
                                        <span>30 days </span>
                                    </div>
                                </div>
                                <!-- middle row FourBox -->
                            </div>
                            <!-- middle row -->
                            <!-- last row -->
                            <div class="mainContentinnerPartlastInnerRow">
                                <div class="mainContentinnerPartfirstrow-boxsmallSizeBox">
                                    <h3>My Purchases</h3>
                                    <div class="innermiddleRowContent">
                                        <figure>
                                            <img src="img/my-1.jpg" />
                                        </figure>
                                        <span>0</span>
                                    </div>
                                </div>
                                <div class="mainContentinnerPartfirstrow-boxsmallSizeBox">
                                    <h3>Expected ERP</h3>
                                    <div class="innermiddleRowContent">
                                        <figure>
                                            <img src="img/my-2.jpg" />
                                        </figure>
                                        <span>0.0</span>
                                    </div>
                                </div>
                                <div class="mainContentinnerPartfirstrow-boxsmallSizeBox">
                                    <h3>RP on My Purchase</h3>
                                    <div class="innermiddleRowContent">
                                        <figure>
                                            <img src="img/my-2.jpg" />
                                        </figure>
                                        <span>0.0</span>
                                    </div>
                                </div>
                                <div class="mainContentinnerPartfirstrow-boxsmallSizeBox lastmaininner">
                                    <h3>Inactive Members</h3>
                                    <div class="innermiddleRowContent">
                                        <figure>
                                            <img src="img/my-4.jpg" />
                                        </figure>
                                        <span>1</span>
                                    </div>
                                </div>
                            </div>
                            <!-- last row -->
                        </div>
                    </div>
                </section>
                <section class="container-fluid recentJoinMain">
                    <div class="recentJoinchild">
                        <div class="recentJoininner">
                            <div class="recentparthead">
                                <h4>Recent joinees</h4>
                                <div class="recentInnerContent recentJoininnerScrollingBar">
                                    <ul>
                                        <li>
                                            <div class="recentInnerContentIMG">
                                                <figure>
                                                    <img src="img/profile-1.png" />
                                                </figure>
                                            </div>
                                            <div class="recentInnerContentRightSide">
                                                <ul>
                                                    <li>
                                                        <h5>Roshni</h5>
                                                        <small>
                                                            <i></i>Level: 1 &nbsp;&nbsp;|&nbsp;&nbsp;
                                                            <i class="fa fa-calendar-o"></i>&nbsp;26-07-18 . 11:25
                                                        </small>
                                                        <br>
                                                        <small class="captalise">
                                                            <i class="fa fa-retweet"></i> paras meena @ L: 0
                                                        </small>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="recentInnerContentIMG">
                                                <figure>
                                                    <img src="img/profile-1.png" />
                                                </figure>
                                            </div>
                                            <div class="recentInnerContentRightSide">
                                                <ul>
                                                    <li>
                                                        <h5>Roshni</h5>
                                                        <small>
                                                            <i></i>Level: 1 &nbsp;&nbsp;|&nbsp;&nbsp;
                                                            <i class="fa fa-calendar-o"></i>&nbsp;26-07-18 . 11:25
                                                        </small>
                                                        <br>
                                                        <small class="captalise">
                                                            <i class="fa fa-retweet"></i> paras meena @ L: 0
                                                        </small>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="recentInnerContentIMG">
                                                <figure>
                                                    <img src="img/profile-1.png" />
                                                </figure>
                                            </div>
                                            <div class="recentInnerContentRightSide">
                                                <ul>
                                                    <li>
                                                        <h5>Roshni</h5>
                                                        <small>
                                                            <i></i>Level: 1 &nbsp;&nbsp;|&nbsp;&nbsp;
                                                            <i class="fa fa-calendar-o"></i>&nbsp;26-07-18 . 11:25
                                                        </small>
                                                        <br>
                                                        <small class="captalise">
                                                            <i class="fa fa-retweet"></i> paras meena @ L: 0
                                                        </small>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="recentInnerContentIMG">
                                                <figure>
                                                    <img src="img/profile-1.png" />
                                                </figure>
                                            </div>
                                            <div class="recentInnerContentRightSide">
                                                <ul>
                                                    <li>
                                                        <h5>Roshni</h5>
                                                        <small>
                                                            <i></i>Level: 1 &nbsp;&nbsp;|&nbsp;&nbsp;
                                                            <i class="fa fa-calendar-o"></i>&nbsp;26-07-18 . 11:25
                                                        </small>
                                                        <br>
                                                        <small class="captalise">
                                                            <i class="fa fa-retweet"></i> paras meena @ L: 0
                                                        </small>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="recentInnerContentIMG">
                                                <figure>
                                                    <img src="img/profile-1.png" />
                                                </figure>
                                            </div>
                                            <div class="recentInnerContentRightSide">
                                                <ul>
                                                    <li>
                                                        <h5>Roshni</h5>
                                                        <small>
                                                            <i></i>Level: 1 &nbsp;&nbsp;|&nbsp;&nbsp;
                                                            <i class="fa fa-calendar-o"></i>&nbsp;26-07-18 . 11:25
                                                        </small>
                                                        <br>
                                                        <small class="captalise">
                                                            <i class="fa fa-retweet"></i> paras meena @ L: 0
                                                        </small>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="recentInnerContentIMG">
                                                <figure>
                                                    <img src="img/profile-1.png" />
                                                </figure>
                                            </div>
                                            <div class="recentInnerContentRightSide">
                                                <ul>
                                                    <li>
                                                        <h5>Roshni</h5>
                                                        <small>
                                                            <i></i>Level: 1 &nbsp;&nbsp;|&nbsp;&nbsp;
                                                            <i class="fa fa-calendar-o"></i>&nbsp;26-07-18 . 11:25
                                                        </small>
                                                        <br>
                                                        <small class="captalise">
                                                            <i class="fa fa-retweet"></i> paras meena @ L: 0
                                                        </small>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="recentparthead">
                                <h4>Invite Users</h4>
                                <div class="recentInnerContent InviteUsers">
                                    <form action="" method="get" id="invite_form">
                                        <input type="text" class="form-control mt-20" name="name" placeholder="Name">
                                        <input type="text" class="form-control" name="email" placeholder="Email">
                                        <input type="text" class="form-control mt-20" name="phone" placeholder="Phone Number">
                                        <textarea class="form-control mt-20" id="textareainvite" name="textarea" rows="4">
                                            Hi!, i would like to invite you to this awesome scheme launched by ezeelo.com check the link in email for more info
                                        </textarea>
                                        <button class="btn btn-primary mt-20 col-lg-12 waves-effect waves-classic">Send Invite</button>
                                    </form>
                                </div>
                            </div>
                            <div class="recentparthead HighPerformer_box">
                                <h4>High Performer</h4>
                                <div class="recentInnerContent">
                                    <div style="width: 100%; border-bottom: 1px solid #cfcdcf;" class="pr-40 pl-40 pt-20 pb-20">
                                        <div class="dropdown vertical-align-bottom font-size-14 dropdown-menu-toggle">
                                            <div class="dropdown-toggle toggle-head" data-toggle="dropdown" aria-expanded="false" data-target="recruiters" style="cursor: pointer;"
                                                 role="complementary">
                                                Top Recruiters
                                            </div>
                                            <div class="dropdown-menu" role="menu">
                                                <a class="dropdown-item listOfTopRecruiters" href="javascript:void(0)" role="menuitem" data-target="buyers">Top Buyers</a>
                                                <a class="dropdown-item listOfTopRecruiters" href="javascript:void(0)" role="menuitem" data-target="earners">Top Earners</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="ezeeloOffers">
                    <div class="container-fluid">
                        <h3>Ezeelo Offers</h3>
                        <div class="ezeeloOffersSlider">
                            <div class="">
                                <div class='row'>
                                    <div class='col-md-12'>
                                        <div class="carousel slide media-carousel" id="media">
                                            <div class="carousel-inner">
                                                <div class="item  active">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <a class="thumbnail" href="#">
                                                                <img alt="" src="img/grocery-img-1.jpg">
                                                            </a>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <a class="thumbnail" href="#">
                                                                <img alt="" src="img/grocery-img-2.jpg">
                                                            </a>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <a class="thumbnail" href="#">
                                                                <img alt="" src="img/grocery-img-3.jpg">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <a class="thumbnail" href="#">
                                                                <img alt="" src="img/grocery-img-1.jpg">
                                                            </a>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <a class="thumbnail" href="#">
                                                                <img alt="" src="img/grocery-img-2.jpg">
                                                            </a>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <a class="thumbnail" href="#">
                                                                <img alt="" src="img/grocery-img-3.jpg">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <a class="thumbnail" href="#">
                                                                <img alt="" src="img/grocery-img-1.jpg">
                                                            </a>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <a class="thumbnail" href="#">
                                                                <img alt="" src="img/grocery-img-2.jpg">
                                                            </a>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <a class="thumbnail" href="#">
                                                                <img alt="" src="img/grocery-img-3.jpg">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a data-slide="prev" href="#media" class="left carousel-control">
                                                <
                                            </a>
                                            <a data-slide="next" href="#media" class="right carousel-control">></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                            <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
                            <script>
                                $(document).ready(function () {
                                    $('#media').carousel({
                                        pause: true,
                                        interval: false,
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </section>
                <footer class="site-footer">
                    <div class="site-footer-legal">
                        &copy; 2018
                        <a href="#">Ezeelo</a>
                    </div>
                    <div class="site-footer-right">
                        Crafted with
                        <i class="red-600 icon md-favorite"></i> by
                        <a href="#">Coming soon </a>
                    </div>
                </footer>
            </div>
            <div class="overlay"></div>
        </section>
    </main>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });



    </script>
</body>
</html>