@{
    ViewBag.Title = "ThankYou";
}

<div style="text-align:center;width:100%">
    <img src="~/Content/Images/Corporate.png" />
</div>
<div style="text-align:center;width:100%">
    <a id="btnSave" href="@Url.Action("ContinueShopping", "Product")" class="btn btn-success">Continue shopping</a>

</div>