

<div style="height: 280px; width: 700px; border: double; float: left; ">
    @Html.TextArea("txtChatDetails", "aaaaaaaaaa", new { style = "height:270px;width:690px", @readonly = "readonly" })
</div>

