@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Access Denied";
}
<style>
    .access_denied{
        width:300px;
        height:140px;
    }
</style>
<div>
    <img src="~/Content/Images/access_denied.png" @*class="access_denied"*@ />
</div>
@*<h1 class="text-danger">Access Denied.</h1>*@
<h2 class="text-danger">You are not authorised to access this page.</h2>


