@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<style>
    .access_denied {
        width: 220px;
        height: 200px;
    }
</style>
<div>
    <img src="~/Content/Images/404.png"  />
</div>
@*<h1 class="text-danger">Page not Found.</h1>*@
<h2 class="text-danger">Requested page not found .</h2>

