@*//-----------------------------------------------------------------------
        // <copyright file="MessageText.cshtml" company="Ezeelo Consumer Services Pvt. Ltd.">
        //     Copyright (c) Ezeelo Consumer Services Pvt. Ltd. All rights reserved.
        //
    </copyright>
        // <author>Snehal Shende</author>
        //-----------------------------------------------------------------------*@

<h3> @ViewBag.Message</h3>
<br />
@*<div>@Html.ActionLink("Back to List", "Index", "MerchantPendingApprovals")</div>*@
<div class="form-actions">@Html.ActionLink("Back to List", "Index", "FranchisePendingApprovals", string.Empty, new { @class = "btn" })</div>