
@{
    ViewBag.Title = "WalletSummary";
    Layout = "~/Views/Shared/_LeaderUsersLayout.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="~/Templates/UsersTemplate/css/material-design.minfd53.css">
    <link rel="stylesheet" href="~/Templates/UsersTemplate/css/style3.css">
    <link rel="stylesheet" href="~/Templates/UsersTemplate/css/dropify.minfd53.css">
    <link rel="stylesheet" href="~/Templates/UsersTemplate/css/custom.css">
    <link rel="stylesheet" href="~/Templates/UsersTemplate/css/tablesaw.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>leaders Ezeelo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
</head>

<body>
    <main>
        <header></header>
        <section class="sideNavbar">
            <div class="wrapper">
               
                <!-- Page Content  -->
                <!-- main body content -->
                <section class="PurchaseReportBodyContentMain">
                    <div class="container-fluid">
                        <div class="page" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                            <div class="page-header">
                                <h1 class="page-title">Wallet Summary</h1>
                            </div>
                            <div class="page-content container-fluid">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <!-- Panel Kitchen Sink -->
                                        <div class="panel">
                                            <!-- <header class="panel-heading">
                                              <h3 class="panel-title">
                                                Delivery
                                                <span class="panel-desc">
                                                  Swipe Mode, ModeSwitch, Minimap, Sortable, SortableSwitch
                                                </span>
                                              </h3>
                                            </header> -->
                                            <div class="panel-body ">
                                                <div class="tablesaw-bar tablesaw-mode-columntoggle">
                                                    <div class="tablesaw-sortable-switch tablesaw-bar-section">
                                                        <label>
                                                            Sort:
                                                            <span class="btn tablesaw-btn btn-select tablesaw-btn-select waves-effect waves-classic">
                                                                <span aria-hidden="true">Description (A-Z)</span>
                                                                <select>
                                                                    <option selected="" value="0_asc">Description (A-Z)</option>
                                                                    <option value="0_desc">Description (Z-A)</option>
                                                                    <option value="1_asc">Credit/ Withdrawal (A-Z)</option>
                                                                    <option value="1_desc">Credit/ Withdrawal (Z-A)</option>
                                                                    <option value="2_asc">Wallet Amt (A-Z)</option>
                                                                    <option value="2_desc">Wallet Amt (Z-A)</option>
                                                                    <option value="3_asc">Status (A-Z)</option>
                                                                    <option value="3_desc">Status (Z-A)</option>
                                                                    <option value="4_asc">
                                                                        Comments
                                                                        (A-Z)
                                                                    </option>
                                                                    <option value="4_desc">
                                                                        Comments
                                                                        (Z-A)
                                                                    </option>
                                                                </select>
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="tablesaw-columntoggle-btnwrap tablesaw-advance popup" onclick="myFunction()">
                                                        <a href="#tablesaw-2523-popup" class="btn tablesaw-btn btn-micro tablesaw-columntoggle-btn tablesaw-nav-btn down waves-effect waves-classic"
                                                           data-popup-link="">
                                                            <span>Columns</span>
                                                        </a>
                                                        <div class="tablesaw-columntoggle-popup popuptext" id="myPopup">
                                                            <div class="btn-group">
                                                                <label><input type="checkbox" checked="">Credit/ Withdrawal</label><label><input type="checkbox" checked="">Wallet Amt</label><label><input type="checkbox" checked="">Status</label><label>
                                                                    <input type="checkbox" checked="">Comments
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tablesaw-advance minimap" style="display: block;">
                                                        <ul class="tablesaw-advance-dots">
                                                            <li>
                                                                <i></i>
                                                            </li>
                                                            <li>
                                                                <i></i>
                                                            </li>
                                                            <li>
                                                                <i></i>
                                                            </li>
                                                            <li>
                                                                <i></i>
                                                            </li>
                                                            <li>
                                                                <i></i>
                                                            </li>
                                                            <li>
                                                                <i></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="tablesaw-overflow">
                                                    <table class="tablesaw table-striped table-bordered table-hover tablesaw-columntoggle tablesaw-fix-persist report-table tablesaw-sortable"
                                                           data-tablesaw-mode="columntoggle" data-tablesaw-sortable="" data-tablesaw-sortable-switch=""
                                                           data-tablesaw-minimap="" id="tablesaw-2523">

                                                        <thead>
                                                            <tr>
                                                                <th data-tablesaw-sortable-col="" data-tablesaw-priority="persist" class="width-ms tablesaw-sortable-head tablesaw-sortable-ascending" data-tablesaw-sortable-numeric="false" data-tablesaw-sortable-default-col="true"><button class="tablesaw-sortable-btn">Description<span class="tablesaw-sortable-arrow"></span></button></th>
                                                                <th data-tablesaw-sortable-col="" data-tablesaw-priority="1" class="tablesaw-priority-1 tablesaw-sortable-head" data-tablesaw-sortable-numeric="false"><button class="tablesaw-sortable-btn">Credit/ Withdrawal<span class="tablesaw-sortable-arrow"></span></button></th>
                                                                <th data-tablesaw-sortable-col="" data-tablesaw-priority="2" class="tablesaw-priority-2 tablesaw-sortable-head" data-tablesaw-sortable-numeric="false"><button class="tablesaw-sortable-btn">Wallet Amt<span class="tablesaw-sortable-arrow"></span></button></th>
                                                                <th data-tablesaw-sortable-col="" data-tablesaw-priority="3" class="tablesaw-priority-3 tablesaw-sortable-head" data-tablesaw-sortable-numeric="false"><button class="tablesaw-sortable-btn">Status<span class="tablesaw-sortable-arrow"></span></button></th>
                                                                <th data-tablesaw-sortable-col="" data-tablesaw-priority="4" class="tablesaw-priority-4 tablesaw-sortable-head" data-tablesaw-sortable-numeric="false">
                                                                    <button class="tablesaw-sortable-btn">
                                                                        Comments
                                                                        <span class="tablesaw-sortable-arrow"></span>
                                                                    </button>
                                                                </th>
                                                            </tr>
                                                        </thead>


                                                        <tbody>
                                                            <tr></tr>
                                                            <tr></tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <p></p> -->
                                        <!-- End Panel Kitchen Sink -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- main body content -->
                <br />
                <br />
                @*<br />
                <br />
                <footer class="site-footer">
                    <div class="site-footer-legal">
                        &copy; 2018
                        <a href="#">Ezeelo</a>
                    </div>
                    <div class="site-footer-center"><i class="fa fa-phone"></i> Customer Care- <a href="tel:9860890890">9860890890</a></div>
                    <div class="site-footer-right">
                        Crafted with
                        <i class="red-600 icon md-favorite"></i> by
                        <a href="#">Coming soon </a>
                    </div>
                </footer>*@
            </div>
            @*<div class="overlay"></div>*@
        </section>
    </main>


    <!-- jQuery CDN - Slim version (=without AJAX) -->
    
       

</body>

</html>
