@{
    /**/


    Layout = "~/Views/Shared/_Layout_Internal.cshtml";
    ViewBag.Title = "eZeelo: Electronics, Fashion, Coupons, Home Appliances | Lowest Price";
}
<div id="divPopupMsg" class="modal" style="background: rgba(130, 129, 129, 0.77); ">
    <div class="modal-dialog modal-sm" style="width:500px !important;">
        <div class="modal-content" style="padding:20px;text-align:center">
            <div class="row" style="padding: 10px;">
                <div class="col-lg-12" style="text-align:left">
                    <p>
                        <span id="DelivryMsg_Id" style="font-size:16px"> </span>
                    </p>
                    <div style="text-align:center">
                        <a href="@System.Configuration.ConfigurationManager.AppSettings["EZEELO_CUSTOMER_URL"]" class="btn btn-warning" style="font-size:15px;width:90px;height:35px !important">OK</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#DelivryMsg_Id").html('We have received your KYC. We will get back to you very soon. Thanks Team eZeelo.');
    $("#divPopupMsg").show();
</script>

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="box-lg">
                <div class="row">
                    <div class="col-md-12">
                        <div class="example">
                            <div class="grid">
                                <h3 style="padding-top:20px">Thank you for updating KYC details.</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
