
/* Higher than 1200 (desktop devices)
====================================================================== */
@media (min-width: 1200px) {

    .container-fluid-full {
        position: relative;
        height: 100%;
    }

   #content {
    margin-left: 0px !important;
    width: 100%!important;
}

    #sidebar-left {
        /*By Zubair on 03-08-2017*/
        /*background: #AB8F65;*/
        background:#364150;
        margin-left: 0px !important;
        position: inherit;
        /*height: 100%;*/
        min-height: 512px;
        overflow-x: auto;
    }

    .sidebar-nav > ul {
        margin: 0px;
    }

    footer {
        padding: 10px 20px;
    }

    .container-fluid span7 {
        width: 568px;
    }
}

/* Higher than 960 (desktop devices)
====================================================================== */
@media only screen and (min-width: 980px) and (max-width: 1199px) {
      #btnExport {margin-top: -1px !important; margin-left: 65px;
    }
    .aproveRes {margin-top:52px;
    }
    #btnPrint {margin-top: -1px!important;
    }

    .container-fluid-full {
        overflow: hidden;
        position: relative;
        height: 100%;
    }

    .container {
        margin-left: 156px;
        margin-right: auto;
    }

    #content {
        margin-bottom: 0;
        margin-left: 0 !important;
        margin-right: 0;
        margin-top: 0;
        padding: 20px;
        width: 92.578%;
    }

    .dark {
        padding: 20px;
        top: -20px;
        right: -12px;
        margin-bottom: -56px;
        margin-right: -30px;
    }

    #sidebar-left {
        background: #3A3A3A;
        margin-left: 0px !important;
        position: absolute;
        height: 100%;
    }

    .sidebar-nav > ul {
        margin: 0px;
    }

    .sparkLineStats {
        position: relative;
        padding-bottom: 4px;
    }

        .sparkLineStats li {
            font-size: 10px;
            line-height: 42px;
        }

            .sparkLineStats li .number {
                font-size: 16px;
                font-weight: 700;
                padding: 0 0px;
            }

    .breadcrumb {
        margin: -20px -20px 20px -20px;
    }

    .statbox,
    .widget,
    .box,
    .circleStatsItemBox {
        margin-bottom: 20px;
    }
    

    /* Multiple steps registration in1024px
	=================================================================== */
    .shadow-div p {
    color: #8A5506;
    font-size: 14px;
}
    fieldset {
        margin: 0 2% !important;
        padding: 20px 2px !important;
        width: 96% !important;
    }
    .mrg-Reduce {
    margin-left: 0px !important;
    
}
    iframe .input-width {
      width: 163px !important;
       }

    .salutationList select {
        height: 27px !important;
        width: 61px !important;
    }
    .input-width {
      width: 163px !important;
       }
    .mrg-left {
    margin-left: 7px !important;
}
    input, textarea, .uneditable-input {
    width: 163px;
}
    .input-width1 {
        width: 185px !important;
    }
    .input-large {width:153px; }
    #myTable_wrapper {width:68%!important}
    .btnSearch-f {
        margin-left: 0px;
    margin-top: -4px!important;
    float: right;
    margin-right: -53px;
    }
    .span7 {
    width: 391px;
}
    #sidebar-left {
        background: #AB8F65;
        margin-left: 0px !important;
        height: 1000px;
    }
    #content {padding: 20px;
    width: 90.578%;
     }
    .comp-tble {width:76%!important;}
    body div.slider {width: 40%; margin-left: 18px;}

    .wrap {width: 561px;}
    select {width: 166px;}

   
    /* Track Order
	=================================================================== */
    .form-actions {
        margin: 20px 0 0;
    }
    /* Shop component prises
	=================================================================== */

    select {
        background-color: #ffffff;
        border: 1px solid #cccccc;
        width: 194px;
    }

    
    /* Product temp upload
	=================================================================== */
    .right-brnd {
        padding: 10px 29px;
    }

    .right-display {
        padding: 10px 28px;
    }
    .right-brnd .control-group {
    padding: 0 1px;
    }
    .nameDscrp div.DivSmall1:nth-child(3) {
    margin-left: 0px;
     }
    .DivSmall1 {
     width: 170px !important;
     }
    

    .table td.span8, .table th.span8 {
        float: none;
        margin-left: 0;
        width: 441px;
    }
    /* Page: Tasks
	=================================================================== */

    .task .desc {
        display: inline-block;
        width: 70%;
        padding: 10px 10px;
        font-size: 12px;
    }

        .task .desc .title {
            font-size: 16px;
            margin-bottom: 5px;
        }

    .task .time {
        display: inline-block;
        float: right;
        width: 20%;
        padding: 10px 10px;
        font-size: 12px;
        text-align: right;
    }

        .task .time .date {
            font-size: 16px;
            margin-bottom: 5px;
        }
        
    #btnMoveRight {
    margin-left: 14px!important;
    width: 19px!important;
    }
    .dvTable {width: 100%!important;}
    .glyphicons-icon {
        width: 32px;
        height: 41px;
    }
   
    .cmp-prise1 {
        width: 46%;
    }
    footer {
        margin: 0px;
        padding: 10px 20px;
    }
}

/* Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 768px) and (max-width: 979px) {
    #ExportOption {width:150px;
    }
    #btnExport {margin-top: -1px !important; margin-left: 42px;
    }
    #btnPrint {margin-top: -1px!important;
    }
    .editPopUp {
        left:14%!important;
    }
    #editPopUp {
        left:14%!important;
    }
    .popupInner {
        height:350px!important;
    }
    .container-fluid-full {
        overflow: hidden;
        position: relative;
        height: 100%;
    }

    #content {
        width: 91.666%;
        padding: 22px;
        margin: 0px 0px;
        margin-left: 8.334% !important;
    }

    .dark {
        padding: 20px;
        top: -22px;
        right: -15px;
        margin-bottom: -56px;
        margin-right: -30px;
    }

    .breadcrumb {
        margin: -22px -22px 22px -22px;
    }

    .statbox,
    .widget,
    .box,
    .circleStatsItemBox {
        margin-bottom: 22px;
    }

    #sidebar-left {
        background: #3A3A3A;
        margin-left: 0px !important;
        position: absolute;
        height: 100%;
        width: 8.334% !important;
    }

    .sidebar-nav > ul {
        margin: 0px;
    }

    .nav-tabs.nav-stacked > li > a,
    .nav-tabs.nav-stacked > li > ul > li > a {
        text-align: center;
        margin-top: -2px;
    }

    .noMargin {
        margin-left: 0px !important;
    }

    .btn-navbar {
        display: none !important;
    }

    .nav-collapse,
    .nav-collapse.collapse {
        height: auto !important;
        overflow: visible !important;
        margin-left: 0px !important;
    }


    .stats-date .range {
        font-size: 16px;
        font-weight: 300;
    }


    .stat .left .number {
        font-size: 16px;
        font-weight: 300;
    }

    .stat .left .title {
        font-size: 9px;
    }

    .stat .right .percent {
        text-align: center;
        font-size: 12px;
        line-height: 16px;
    }

    .box-small-link {
        font-size: 20px;
    }

    .sparkLineStats {
        padding-bottom: 10px;
    }

        .sparkLineStats li {
            font-size: 10px;
            line-height: 43px;
        }

            .sparkLineStats li .number {
                font-size: 12px;
                font-weight: 700;
                padding: 0 0px;
            }

    /* Page: Tasks
	=================================================================== */

    .task {
        border-bottom: 1px solid #f9f9f9;
        margin-bottom: 1px;
    }

        .task.high {
            border-left: 2px solid rgba(250,96,61,1);
        }

        .task.medium {
            border-left: 2px solid rgba(250,187,61,1);
        }

        .task.low {
            border-left: 2px solid rgba(120,205,81,1);
        }

        .task .desc {
            display: inline-block;
            width: 65%;
            padding: 10px 10px;
            font-size: 10px;
            margin-right: -20px;
        }

            .task .desc .title {
                font-size: 14px;
                margin-bottom: 5px;
            }

        .task .time {
            display: inline-block;
            float: right;
            width: 25%;
            padding: 10px 10px;
            font-size: 10px;
            text-align: right;
        }

            .task .time .date {
                font-size: 14px;
                margin-bottom: 5px;
            }

    .timeslot .task span {
        border: 2px solid rgba(103, 194, 239, 1);
        background: rgba(103, 194, 239, .1);
        padding: 5px;
        display: block;
        font-size: 10px;
    }

    .timeslot .task span span {
            border: 0px;
            background: transparent;
            padding: 0px;
     }

    .timeslot .task span span.details {
                font-size: 14px;
                margin-bottom: 0px;
            }

    .timeslot .task span span.remaining {font-size: 12px;}
     .input-width1 {
        width: 185px !important;
    }
    .input-large {width:130px; }
    #myTable_wrapper {width: 61%!important;}
    .btnSearch-f {
     margin-left:0px;
    margin-top:-51px!important;
    float: right;
    margin-right: -33px;
     }
    .span7 {
    width: 391px;
     }
   
    #sidebar-left {
        background: #AB8F65;
        margin-left: 0px !important;
        height: 1000px;
        overflow-x: auto;
    }
    #content {padding: 20px;
    width: 90.578%;
     }
   .comp-tble {width:76%;}
   .loader img {
    margin-left: 346px!important;
     }
    footer {
        margin: 0px;
        padding: 10px 20px;
    }
    /*#listItemComponent {width: 142px;
    }*/
}

/* All Mobile Sizes (devices and browser)
====================================================================== */
@media only screen and (max-width: 767px) {
       /*#listItemComponent {width: 142px;
    }*/

    #content {
        overflow: hidden;
        margin: 0px 0px 0px 0px;
    }

    .container {
        margin-left: 0px !important;
    }

    .breadcrumb {
        margin: -5px -5px 5px -5px;
    }

    .nav-tabs.nav-stacked > li > a,
    .nav-tabs.nav-stacked > li > ul > li > a {
        margin-top: -2px;
    }

    .dark {
        padding: 5px;
        top: 5px;
        right: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
        position: relative;
        border: 0px;
    }

    .statbox,
    .widget,
    .box,
    .circleStatsItemBox {
        margin-bottom: 20px !important;
    }

    /* Page: Tasks
	=================================================================== */

    .task {
        border-bottom: 1px solid #f9f9f9;
        margin-bottom: 1px;
    }

        .task.high {
            border-left: 2px solid rgba(250,96,61,1);
        }

        .task.medium {
            border-left: 2px solid rgba(250,187,61,1);
        }

        .task.low {
            border-left: 2px solid rgba(120,205,81,1);
        }

        .task .desc {
            display: inline-block;
            width: 65%;
            padding: 10px 10px;
            font-size: 10px;
            margin-right: -20px;
        }

            .task .desc .title {
                font-size: 14px;
                margin-bottom: 5px;
            }

        .task .time {
            display: inline-block;
            float: right;
            width: 25%;
            padding: 10px 10px;
            font-size: 10px;
            text-align: right;
        }

            .task .time .date {
                font-size: 14px;
                margin-bottom: 5px;
            }

    .timeslot .task span {
        border: 2px solid rgba(103, 194, 239, 1);
        background: rgba(103, 194, 239, .1);
        padding: 5px;
        display: block;
        font-size: 10px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

        .timeslot .task span span {
            border: 0px;
            background: transparent;
            padding: 0px;
        }

            .timeslot .task span span.details {
                font-size: 14px;
                margin-bottom: 0px;
            }

            .timeslot .task span span.remaining {
                font-size: 12px;
            }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #ExportOption {margin-left:-35px;
    }

    body {
        padding: 0px;
    }

    #content {
        padding: 5px;
    }

    .stat {
        width: 50%;
        margin: 10px 0% 0% 0%;
        float: left;
    }

    .quick-button,
    .quick-button-small {
        margin-bottom: 20px;
    }

    .pull-right {
        width: 100%;
        margin: 10px auto;
        /*text-align: center;*/
    }

    .fc-button-today,
    .fc-button-month,
    .fc-button-agendaWeek,
    .fc-button-agendaDay {
        display: none;
    }

    .CreateFormBtn
    {z-index: 100;
    position: absolute;
    width: 141px;
    margin-top: 29px;}
    footer {
        padding: 10px 20px;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (max-width: 479px) {

    body {
        padding: 0px;
    }

    #content {
        padding: 5px;
    }

    .stat {
        width: 100%;
        margin: 1% 0% 0% 0%;
        float: left;
    }

    .quick-button,
    .quick-button-small {
        margin-bottom: 20px;
    }

    .pull-right {
        width: 100%;
        margin: 10px auto;
        text-align: center;
    }

    .fc-button-today,
    .fc-button-month,
    .fc-button-agendaWeek,
    .fc-button-agendaDay {
        display: none;
    }

    table,
    .pagination {
        font-size: 10px;
    }

    .pagination {
        padding: 5px;
    }

    .ui-slider-handle {
        margin-top: 1px !important;
    }

    .sliderVertical .ui-slider-handle {
        margin: 0px 0px -10px 1px !important;
    }
    

    footer {
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 320px) and (min-width: 240px) {

    .div-trans {
        margin-top: 202px;
        min-height: 573px;
    }

    .delivery-div {
        height: 322px;
    }
       .box-header h2 {font-size:10px;
    }
    #txtFromDate {width:190px;
    }
    #txtToDate {width:190px;
    }
     .CreateFormBtn {margin-top: -5px !important; left:87px;
    }
}
/*=============================-480 X 320-==================================*/
@media only screen and (max-width: 480px) and (min-width: 320px) {
    .dvTable {width:420px!important;
    }
    .export_To {margin-left:0!important;
    }
    .ExP {margin-top:-20px;
    }
    #btnExport {margin-top:1px;
    }
    #btnPrint {margin-top:1px;
    }
    .box-header h2 {font-size:12px;
    }
    #ExportOption {margin-left:-35px;
    }
    .CreateFormBtn {margin-top: -5px !important; left:105px;
    }
      .upload-center {position: absolute;
left: 205px;
    }
    .upload-ChooseFile table tr td:nth-of-type(2n+1) {font-size:20px;
    }
    .browse-file .uploader {margin-left:-10px;
    }
    .upload-ChooseFile .browse-file .uploader .action {margin-left:1px!important;
    }
    #StartDateTime {width:235px;
    }
    #EndDateTime {width:235px;
    }
    .grid-addpro {top: 15px;
left: 220px !important; width:65px;
    }
   #msform1  .freeDeliveryBox {width:147px!important;
    }




    .set-list {
        margin-left: -20px !important;
        margin-top: -34px !important;
    }

    form-actions {
        margin: 0px !important;
    }

    .table th, .table td {
        padding: 3px;
    }

    .form-actions {
        margin: 5px 0 0;
    }
    .CmpList {width:120px;
    }
    .comp-tble {overflow-x:scroll;
    }
}
/*=============================-600 X 480-==================================*/
@media only screen and (max-width: 600px) and (min-width: 480px) {
      .export_To {margin-left:0!important;
    }
        .ExP {margin-top:-35px;
    }
          .CreateFormBtn {margin-top: -5px !important; left:370px;
    }
    .upload-center {margin-left:-60px;
    }
    .jumpBtn {margin-top: 0px;
left: -65px;
position: absolute;
    }
     #StartDateTime {width:250px;
    }
    #EndDateTime {width:250px;
    }
    .freeDeliveryBox {width:147px;
    }




    .set-list {
        float: right !important;
        margin-left: -22px;
        margin-top: -73px;
    }

    .form-actions {
        margin: 5px 0 0;
    }
    .CmpList {width:140px;
    }
    .dvTable {width:522px!important;
    }
    .comp-tble {overflow-x:scroll;
    }
}

/*=============================-768 X 600-==================================*/
@media only screen and (max-width:768px) and (min-width: 600px) {
       .export_To {margin-left:0!important;
    }
        .ExP {margin-top:-40px;
    }
          .CreateFormBtn {margin-top: -5px !important; left:490px;
    }
           .jumpBtn {margin-top: 0px;
left: -65px;
position: absolute;
    }

     #StartDateTime {width:185px;
    }
    #EndDateTime {width:185px;
    }




    .set-list {
        float: right !important;
        margin-left: -22px;
        margin-top: -73px;
    }

    .form-actions {
        margin: 5px 0 0;
    }
      #listItemComponent {width: 120px;}
    .comp-tble {overflow-x:scroll;
    }
    .dvTable {width:523px!important;
    }
}

@media only screen and (max-width:800px) and (min-width:768px) {
    .form-actions {
        margin: 5px 0 0;
    }
    #listItemComponent {width: 155px;}
}

@media only screen (min-width:768px) {
    .form-actions {
        margin: 5px 0 0;
    }
    #listItemComponent {width: 142px;}
}
