@{
    ViewBag.Title = "About";
}

<div class="gap"></div>
<div class="row box" data-gutter="15">
    <img src="~/Content/Images/tags/about.jpg" style="width:100%;margin-bottom:5px;" />
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    <h4 class="panel-title">
                        eZeelo
                    </h4>
                </a>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p style=" text-align: justify;">
                        <img src="~/Content/Images/hh_logo.png" style="float: left; width: 140px; padding: 10px; " />
                        @*Yashaswi 12-7-2018 *@
                        eZeelo is world’s First Multi-brand Online Grocery and FMCG store on internet and mobile platform where customers not only get the best value proposition like competitive price, wide range of products, guarantee of quality and service but also get an opportunity to earn perpetually by sharing their experiences and referring us to their acquaintances.                        
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    <h4 class="panel-title">
                        Why eZeelo?
                    </h4>
                </a>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>1) Get every food & grocery item on your monthly shopping list at eZeelo. High quality goods every time.</li>
                        <li>2) Shop from the comfort of your home/office on eZeelo or order from our class leading mobile apps.</li>
                        <li>3) Select a convenient time of your choice (from our delivery slots).</li>
                        <li>4) Hassle free payment options to choose from- select Cash on delivery (COD) or pay online through secured gateways like PayU,CCAvenue.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    <h4 class="panel-title">
                        Customer Service
                    </h4>
                </a>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <p style=" text-align: justify;"> eZeelo offers on demand delivery, unmatched shopping experience and complete customer delight is which is our aim. Visited by thousands of people on a daily basis. Right from placing orders of any product to getting the same delivered on time, right at your door steps from your preferred shops and the best price in the city.  eZeelo offers online payment option, through secured gateways like PayU, CCAvenue and also has Cash on Delivery (COD) option, if you desire. You also have the option to buy products through Mobile Apps which are available on Play store and App store.  Our user friendly exchange and replacement policies, makes your purchase hassle free.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gap"></div>



