@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>eZeelo</title>
    <link href="~/Content/css/demo.css" rel="stylesheet" />
    <style type="text/css">
        .animation {
            margin-top: 20px;
        }

            .animation h2 {
                font-family: Calibri;
                font-size: 109px;
                color: #e33102;
                text-align: center;
            }

                .animation h2 span {
                    color: #62bc4b;
                }

        .logo-img {
            display: block;
            width: 400px;
            margin: auto;
        }

        .gbLink {
            margin-top: 35px;
        }

            .gbLink p {
                text-align: center;
                font-size: 16px;
            }

                .gbLink p a {
                    color: #186d03;
                }

                    .gbLink p a:hover {
                        color: #0370cd;
                    }

        body {
            background: none;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <img src="~/Images/gblogo%20-%20Copy.jpg" class="img-responsive logo-img" />
        <div class="animation">
            <h2>Coming <span>Soon</span></h2>
        </div>
        <div class="gbLink">
            <p><span class="blink_me">Click here</span> <a href="@System.Configuration.ConfigurationManager.AppSettings["EZEELO_CUSTOMER_URL"]">eZeelo</a></p> @*//Yashaswi 01/12/2018 Default City Change*@
        </div>
    </div>
</body>
</html>
