@{
    ViewBag.Title = "Mobile App";
}

@*<div class="gap"></div>
    <div class="row box">
        <a href="https://play.google.com/store/apps/details?id=onlineshopping.ezeelo.shoppingapp&hl=en" target="_blank">
            <img src="~/Content/Images/tags/downloadapp.jpg" style="width:100%" />
        </a>
    </div>
    <div class="gap"></div>*@




<style type="text/css">
    section.download_app {
        padding: 5% 0;
    }
    .app-page {
        padding-right: 0;
        padding-left: 0;
    }
    footer#footer {
        margin-top: 0;
    }
        section.download_app .container .download_inner-content .android_img {
            float: left;
        }

        section.download_app .container .download_inner-content .ISO_img {
            float: right;
        }

        section.download_app .container .download_inner-content {
            margin: 3% auto 0;
            max-width: 450px;
        }

            section.download_app .container .download_inner-content .download_inner-content_img a figure img.img-responsive {
                max-width: 220px;
                height: auto;
            }

    * {
        padding: 0;
        margin: 0;
    }

    section.download_app {
        padding: 5% 0;
        background-image: url(/Content/img/grocery_background-app-page.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 375px;
    }

        section.download_app .container .download_inner-content center h3 {
            font-weight: 600;
            margin-bottom: 5%;
        }
</style>

<section class="download_app">
    <div class="container">
        <div class="download_inner-content">
            <center><h3>Download Our App</h3></center>
            <div class="android_img download_inner-content_img">
                <a href="https://play.google.com/store/apps/details?id=com.app.ezeelo">
                    <figure>
                        <img class="img-responsive" src="~/Content/img/play-store.png">
                    </figure>
                </a>
            </div>

            <div class="ISO_img download_inner-content_img">
                <a href="">
                    <figure>
                        <img class="img-responsive" src="~/Content/img/apple-store.png">
                    </figure>
                </a>
            </div>
        </div>
    </div>
</section>