@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    .container {
        width: 70%;
        margin: auto;
        padding-top: 50px;
    }

    .address {
        width: 100%;
        float: left;
        margin-bottom: 35px;
        background: url(/Images/gblogo.jpg)no-repeat 98% 10%;
    }

    .logo {
        float: right;
    }

    .divwidth {
        width: 100%;
    }

    h4 {
        margin-bottom: 0px;
    }

    table {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
    }

        table td {
            border: 1px solid gray;
        }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gandhibagh Mail</title>
</head>
<body class="container">
    <div class="divwidth">
        <div class="address">
            <label>
                Date: 21-07-2015<br />
                To<br />
                Mr. Pintu Set, Sayyad Irfan<br />
                M/S A to Z Sale<br />
                Chamar Nala, Jaiswal Restaurant,<br />
                Bedi Tower, Nagpur-440017
            </label>
        </div>
    </div>
    <div class="divwidth" style="padding-top:40px;">
        <h3>Sub: Intimation of Registration at our portal eZeelo</h3>
    </div>
    <p style="text-align:justify;">
        Dear Sir,<br />
        At the outset we congratulate you for the registration of your establishment at eZeelo under BEGINNER Plan. I take this opportunity to welcome you in our eZeelo family.
        You can now go ahead to create your eshop on our online market place.<br /><br />
        This unique Collaboration of our technological and marketing platform with your offers and merchandise to suit the taste of customers will create an unmatched value for our customers. By using this platform proactively and sincerely, you will be achieving an exponential growth in your business by reaching out to a larger customer base and growing number of online shoppers.
        Please find enclosed your registration details as Annexure.<br /><br />
        We hope that your association with us will prove to be a turning point in your business and pave the way for next level of growth.
        With best regards<br /><br /><br />

        Yours Sincerely<br /><br />
        <h4>Swetank Gupta</h4>
        <b style="padding-left:30px;">CEO</b>
    </p>
    <br /><br />
    <h4>Product Category  : All others</h4>
    <table>
        <tr>
            <td>Sub Category</td>
            <td>Women’s Accessories</td>
            <td>Marketing Fees_6_%</td>
        </tr>
        <tr>
            <td>Sub Category</td>
            <td>Women’s Accessories</td>
            <td>Marketing Fees_6_%</td>
        </tr>
        <tr>
            <td>Sub Category</td>
            <td>Women’s Accessories</td>
            <td>Marketing Fees_6_%</td>
        </tr>
        <tr>
            <td>Sub Category</td>
            <td>Women’s Accessories</td>
            <td>Marketing Fees_6_%</td>
        </tr>

    </table>
</body>
</html>
