@{
    ViewBag.Title = "Merchant Guide";
}

<style>
    ul {
        text-align: justify;
        list-style-type: none;
        font-size:18px;
    }
</style>
<div class="gap"></div>
<div class="row box" data-gutter="15">
    <h3>Merchant Partnership Program</h3>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse0">
                    <h4 class="panel-title">
                        Background
                    </h4>
                </a>
            </div>
            <div id="collapse0" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul>
                        <li>Ezeelo Consumer Services Private limited is Worlds First People Direct Involvement (PDI) led multi-brand retail. We have created an eco-system wherein we have transcended the relationship with the customers from beyond merely being buyers and sellers and have provided the customers an opportunity to become a partner of the system and build a perpetual source of income by providing valuable contribution to the growth of income.</li>
                        <li><br /></li>
                        <li>Starting from online retailing by establishing its dedicated supply chain to fulfill the daily-needs of our members we are taking the scope of collaboration to encompass all the retailers and service providers through Ezeelo Merchant Partnership Program (EMPP) in the cities where we are active. EMPP aims to help the Partner merchants to reach-out to the growing membership of Ezeelo and help them in business growth thus saving their marketing cost merely by providing most privileged status to our members which will bring additional business to the member merchants. </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    <h4 class="panel-title">
                        Required Documents
                    </h4>
                </a>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li style=" font-weight: bold;">What all documents are required to register with eZeelo?</li>
                        <li>1. Merchant Registration Form</li>
                        <li>2. Copy of Shop Establishment Certificate.</li>
                        <li>3. Copy of GST Registration Certificate (if applicable).</li>
                        <li>4. Cancelled Blank Cheque.</li>
                        <li>5. Copy of PAN/TAN.</li>
                        <li>6. Address Proof.</li>
                        <li>7. Visiting Card.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    <h4 class="panel-title">
                        Listing And Categories
                    </h4>
                </a>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>1.	Sweets and Confectionaries</li>
                        <li>2.	Bakeries</li>
                        <li>3.	Restaurants</li>
                        <li>4.	Saloons, Parlors and Spa</li>
                        <li>5.	Medical Stores</li>
                        <li>6.	Hospitals</li>
                        <li>7.	Pathology and diagnostic Centers</li>
                        <li>8.	Books and stationary shops</li>
                        <li>9.	Fashion and clothing</li>
                        <li>10.	Vegetable and Fruit stores</li>
                        <li>11.	Meat and Poultry Stores</li>
                        <li>12.	Car Servicing and automobile spare parts</li>
                        <li>13.	Laundries</li>
                        <li>14.	Hotels</li>
                        <li>15.	Tuition and coaching classes</li>
                        <li>16.	Electronic and home appliances</li>
                        <li>17.	Gym and fitness centers</li>
                        <li>18.	Jewelry stores</li>
                        <li>19.	Footwear stores</li>
                        <li>20.	Hardware and electrical stores</li>
                        <li>21.	Building material</li>
                        <li>22.	Others Services</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    <h4 class="panel-title">
                        Merchant Registration Procedure
                    </h4>
                </a>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>1.	Merchants are to be registered by our leaders only who shall become sponsor leader for the said merchant</li>
                        <li>2.	Registered merchants have to give the best offers for Ezeelo members as cashback /Reward point over and above the card rate to our members in form of cashback.</li>
                        <li>3.	Merchant needs to fill the registration form furnishing the requisite details and agree to the terms and condition</li>
                        <li>4.	At the time of registration merchants have to pay INR 2500 through cheque or online banking out of which Rs. 500 shall be the processing fees and Rs. 2000 as the top-up deposit for the cash back given to Ezeelo members towards the transactions done at the merchants establishment. The merchants shall do the top-up of INR 2000 again as and when the level reaches to 20% or the amount of cash-back paid in the last month, whichever is higher.</li>
                        <li>5.	Once the registration is approved the merchants establishment will be displayed on Ezeelo web portal along with the furnished details so that they can avail the benefits of shopping from the registered merchant.</li>
                        <li>6.	The merchant is liable to honor the Ezeelo membership at its establishment as agreed during the registration in EMPP failing to do so will lead to expulsion from the program and forfeiture of Security deposit.</li>
                        <li>7.	Sponsor leader shall be one-point contact with the member merchant till the time he is authorized to do so. </li>
                        <li>8.	The cash back received from member merchants shall be divided in the following manner
                            <ul style="margin-left:20px;">
                                <li>
                                    a.	Buyer
                                </li>
                                <li>
                                    b.	Upline of the buyer/Network
                                </li>
                                <li>
                                    c.	Sponsor Leader (Prevailing)
                                </li>
                                <li>
                                    d.	Company
                                </li>
                            </ul> 
                        </li>
                        <li>9.  Sponsor Leader/Franchisee shall get INR 500 as processing fees (GST @@ 18% will be deducted)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    <h4 class="panel-title">
                        How to Use
                    </h4>
                </a>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>1.	Merchant shall display the Ezeelo Merchant Partnership Stciker at his establishment</li>
                        <li>2.	At the time of payment for the services rendered to Ezeelo member the merchant shall open Their Ezeelo dashboard and enter the registered mobile no and the amount paid and show the same to the customer.</li>
                        <li>3.	The customer and the merchant both shall receive a sms confirming the same.</li>
                        <li>4.	The detail of the same shall be reflected in the dashboard of merchant and customer both</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                    <h4 class="panel-title">
                        TOP UP PROCESS
                    </h4>
                </a>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>1.	Merchant shall register with a minimum top-up of INR 2000</li>
                        <li>2.	Based on the review of transactions on a periodical basis minimum top-up amount can be changed on case to case basis so that the average number of month per top-up is at least one month.</li>
                        <li>3.	Top-up shall be done preferably through online payment or net banking and enter the transaction number in your dashboard</li>
                        </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                    <h4 class="panel-title">
                        TIPS FOR THE USER
                    </h4>
                </a>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>1.	User shall browse Ezeelo web portal to find  the best offer for products or services within the respective category in their city</li>
                        <li>2.	The merchant shall be an offline establishment, located within their city, necessary details along with location and contact details are mention on the merchant page so that it helps the user in decision making and locating the merchant.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gap"></div>








