@{
    ViewBag.Title = "Exclusive|eZeelo";
}

<style>
    h5 {
        line-height: 25px;
        text-align: justify;
        color: rgba(0,0,0,0.6);
    }

    .firstdiv {
        border-bottom: 2px dotted #A8CF45;
    }

    .divimgright {
        border-radius: 25px;
        width: 100%;
        box-shadow: 5px 3px 8px gray;
    }

    .divimgleft {
        border-radius: 25px;
        width: 100%;
        box-shadow: -3px 5px 8px gray;
    }

    h2, h3 {
        font-style: italic;
        font-weight: 800;
        text-transform: uppercase;
        color: rgba(0,0,0,0.6);
        text-shadow: 2px 4px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
    }

    p {
        text-align: justify;
        color: rgba(0,0,0,0.6);
        font-weight: 600;
        padding: 0px 20px;
    }

    .panel-title {
        margin-top: 0;
        font-size: 25px;
        color: #000;
        padding: 0px 17px;
    }

    .firstdiv {
        padding: 10px;
        margin-bottom: 20px;
        border-bottom: 2px dotted #A8CF45;
    }


    .tittle {
        color: #A8CF45;
        padding-left: 20px;
    }

    .couponsdiv {
        border: 1px dashed rgba(128, 128, 128, 0.36);
        margin-bottom: 20px;
    }

    .headings {
        color: red;
        font-size: 18px;
    }

    .seconddiv ul {
        background: #fff;
        border: 1px solid #eaeaea;
        padding: 7px 11px;
        margin-left: 4px;
    }

    .firstdiv ul li {
        line-height: 30px;
        text-align: justify;
        font-size: 14px;
        color: rgba(0,0,0,0.6);
        font-weight: 600;
    }

    .seconddiv {
        padding: 10px;
    }

        .seconddiv ul li:nth-child(1) {
            font-size: 21px;
            color: #62942C;
        }


        .seconddiv ul li {
            line-height: 25px;
            text-align: justify;
            font-size: 14px;
            color: rgba(0,0,0,0.6);
            font-weight: 600;
        }

    .copdiv1 {
        height: 170px;
        margin-bottom: 10px;
        padding-top: 10px;
        text-align: center;
        border: 1px dashed rgba(128, 128, 128, 0.36);
    }

    .copdiv2 {
        height: 170px;
        margin-bottom: 30px;
        padding-top: 10px;
        text-align: center;
        border: 1px dashed rgba(128, 128, 128, 0.36);
    }
</style>
<script src="~/Scripts/Products.js"></script>
<script>
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 firstdiv">
            <div class="col-lg-5 col-md-5 col-sm-6 "><img src="~/Content/Images/PlantIco.png" width="20%" style="float: right;" /></div>
            <div class="col-lg-7 col-md-7 col-sm-6 " style="padding: 27px 0px;">
                <h2>Nursery</h2>
                <h4 style="color: #9CC14E">Exclusive On eZeelo</h4>
            </div>

        </div>
    </div>
</div>
<br />

<div class="row seconddiv" style="background: #eee; ">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div><img src="~/Content/Home-content/Plant/47520.jpg" class="divimgleft" /></div>

    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
        <h5 class="panel-title">Golden Cypress Plant</h5>
        <p class="">
            Its majestic appearance makes the Cypress tree a popular choice for ornamental landscaping.
            the Cypress includes both evergreen and deciduous trees, the branches differ from tree to tree. While the Leyland Cypress sports flat branches,
            the Pond Cypress has spiny offshoots.
        </p>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <ul>
                <li>Sale Rate: Rs 100.00</li>
                <li style="text-decoration: line-through;">MRP: Rs 150.00</li>
                <li><input type="button" class="button warning" value="Add to Cart" onclick="AddProduct(66625, 47520)"></li>
            </ul>
        </div>
    </div>
</div>
<br />
<div class="row seconddiv" style="background: #eee; ">

    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
        <h5 class="panel-title">Jaswand Plant(Hibiscus)</h5>
        <p class="">
            Plants have bright red,pink flowers,need direct sunlight.
            Plants that don't get enough light will grow tall and leggy, with few blooms.
            Water thoroughly and allow the top inch of soil to dry out between waterings.
            Put it in a pot with drainage holes to prevent soggy.
        </p>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <ul>
                <li>Sale Rate: Rs 150.00</li>
                <li style="text-decoration: line-through;">MRP: Rs 200.00</li>
                <li><input type="button" class="button warning" value="Add to Cart" onclick="AddProduct(66623, 47518)"></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div><img src="~/Content/Home-content/Plant/47518.jpg" class=" divimgleft" /></div>

    </div>
</div>
<br />
<div class="row seconddiv" style="background: #eee; ">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div><img src="~/Content/Home-content/Plant/47512.jpg" class=" divimgleft" /></div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
        <h5 class="panel-title">Lucky Bamboo</h5>
        <p class="">
            Lucky Bamboo stalks are naturally straight stalks,
            but can be trained to grow in curls, spirals or waves.
            Growers use special techniques to train straight stalks to grow into various exotic and intricate patterns,
            such as the popular trellis design.
        </p>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <ul>
                <li>Sale Rate: Rs 450.00</li>
                <li style="text-decoration: line-through;">MRP: Rs 550.00</li>
                <li><input type="button" class="button warning" value="Add to Cart" onclick="AddProduct(66617, 47512)"></li>
            </ul>
        </div>

    </div>
</div>
<br />
<div class="row seconddiv" style="background: #eee; ">

    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
        <h5 class="panel-title">Euphorbia Mili Plant</h5>
        <p class="">
            It is a succulent climbing shrub growing to 1.8 m (6 ft 11 in) tall,
            with densely spiny stems. The straight, slender spines, up to 3 cm long, help it scramble over other plants.
            The leaves are found mainly on new growth, and are obovate, up to 3.5 cm long and 1.5 cm broad.
        </p>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <ul>
                <li>Sale Rate: Rs 100.00</li>
                <li style="text-decoration: line-through;">MRP: Rs 150.00</li>
                <li><input type="button" class="button warning" value="Add to Cart" onclick="AddProduct(64047, 46421)"></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div><img src="~/Content/Home-content/Plant/46421.jpg" class=" divimgleft" style="height: 281px;" /></div>

    </div>
</div>
<br />
<div class="row seconddiv" style="background: #eee; ">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div><img src="~/Content/Home-content/Plant/47511.jpg" class=" divimgleft" /></div>

    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
        <h5 class="panel-title">Pandanus Plant</h5>
        <p class="">
            A type of pandanus, grows profusely in Thailand. The shiny pleated
            leaves – long and slender like those of day lilies – are sold along with bunches of orchids for use in floral arrangements, but more importantly, they are the source of a well-loved flavoring that goes into a wide assortment of desserts and sweet treats. The juice extracted from the fresh leaves provides a natural green food coloring as well.
            Many of the prepackaged green sweetmeats you find in Southeast Asian markets are scented with bai dteuy essence, although most of
            them are tinted with artificial food coloring since the fresh leaves are not always available.
        </p>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <ul>
                <li>Sale Rate: Rs 150.00</li>
                <li style="text-decoration:line-through;">MRP: Rs 180.00</li>
                <li><input type="button" class="button warning" value="Add to Cart" onclick="AddProduct(66616, 47511)"></li>
            </ul>
        </div>
    </div>
</div>
<br />
<div class="row seconddiv" style="background: #eee; ">

    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
        <h5 class="panel-title">Star Lite Ficus Plant</h5>
        <p class="">
            Ficus can be evergreen or deciduous trees, shrubs or climbers, with often leathery, simple,
            entire or lobed leaves and tiny flowers borne within a hollow receptacle which enlarges to form the fruit.
            It is very beneficial for dust allergies.
        </p>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <ul>
                <li>Sale Rate: Rs 100.00</li>
                <li style="text-decoration:line-through;">MRP: Rs 150.00</li>
                <li><input type="button" class="button warning" value="Add to Cart" onclick="AddProduct(64046, 46420)"></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div><img src="~/Content/Home-content/Plant/46420.jpg" class=" divimgleft" /></div>

    </div>
</div>
<br />
<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h6 class="panel-title" style="border-bottom:1px solid #eaeaea">Plant Nursery</h6>
        <p class="">
            Plants bring a calming atmosphere and also give oxygen and lessen airpollution. They provide a cooling effect in hot summers.While planning to start a garden, it is advised to decide on space and maintenance time is very important.A garden can be created according to choice, plant succulents or xerophtes,like Euphorbia and minimum water and fertilizers are required.These can be ordered online to save further time. Crotons or indoor plants add to the beauty and ambience of the the interior.Some sturdy perennials like Jaswand,Hibiscus are also some beautiful plants that add greenery to the house.A wide range of perennials, annuals and seasonal plants are available online on eZeelo.which will be delivered to your door step.
        </p>
    </div>

</div>
<br />

