@{
    ViewBag.Title = "Shoppers Guide";
}
<style>
    .tabcontrol2 .frames {
        z-index: 1;
        border: 1px #eeeeee solid;
        margin-top: -4px;
    }
</style>
<div class="example" data-text="">
    <div class="grid responsive">
        <div class="row">
            <div class="cell">
                <h3>Shoppers Guide</h3>
                <div class="tabcontrol2" data-role="tabControl">
                    <ul class="tabs">
                        <li><a href="#frame_5_1">1</a></li>
                        <li><a href="#frame_5_2">2</a></li>
                        <li><a href="#frame_5_3">3</a></li>
                        <li><a href="#frame_5_4">4</a></li>
                        <li><a href="#frame_5_5">5</a></li>

                    </ul>
                    <div class="frames">
                        <div class="frame" id="frame_5_1"><img src="~/Images/shoppers_guide/order_placed.jpg" /></div>
                        <div class="frame" id="frame_5_2"><img src="~/Images/shoppers_guide/product_confirm.jpg" /></div>
                        <div class="frame" id="frame_5_3"><img src="~/Images/shoppers_guide/product_packed.jpg" /></div>
                        <div class="frame" id="frame_5_4"><img src="~/Images/shoppers_guide/product_despatched.jpg" /></div>
                        <div class="frame" id="frame_5_5"><img src="~/Images/shoppers_guide/product_delivered.jpg" /></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
