@{
    ViewBag.Title = "Terms-of-use";
}
<style>
    ul {
        text-align: justify;
    }
</style>
<div class="gap"></div>
<div class="row box" data-gutter="15">
    <img src="~/Content/Images/tags/Termsofuse.jpg" style="width:100%;margin-bottom:5px;"/>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    <h4 class="panel-title">
                        Website Terms Of Use
                    </h4>
                </a>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul>
                        <li>
                            These website terms of use ("terms of use") is an electronic record in the form of an electronic contract formed under information technology act, 2000 and rules made there under and the amended provisions pertaining to electronic documents / records in various statutes as amended by the information technology act, 2000. These terms of use do not require any physical, electronic or digital signature.
                            These terms of use are a legally binding document between user and eZeelo (both terms defined below). These terms of use will be effective upon your acceptance of the same (directly or indirectly in electronic form or by means of an electronic record) and will govern the relationship between user and eZeelo for the use of the website (defined below).
                            This document is published and shall be construed in accordance with the provisions of rule 3 (1) of the information technology (intermediaries guidelines) rules, 2011 under information technology act, 2000 that require publishing the rules and regulations, privacy policy and user agreement for access or usage of the website.
                        </li>
                        <li>
                            These terms of use of the website located at the url www.ezeelo.com and mobile application under the name and style "eZeelo" (the website) is between <b>eZeelo Consumer Services private limited.</b> (hereinafter referred to as "ezeelo" or “ezeelo.com” or "we" or "us" or "our") and the guest users or registered users of the website (here in after referred to as "you" or "your" or "yourself" or "user") describe the terms on which eZeelo offers you access to the website and such other services as are incidental and ancillary there to ("services").
                            <b>Please read these terms of use carefully before using or registering on the website or accessing any material, information or services through the website. If you do not agree with these terms of use, please do not use the website.</b>
                        </li>
                        <li>
                            These terms of use together with the privacy policy available at @System.Configuration.ConfigurationManager.AppSettings["EZEELO_LEADER_URL"], the terms of sale available at @System.Configuration.ConfigurationManager.AppSettings["EZEELO_LEADER_URL"], the other policies of the website available at www.ezeelo.com, the seller agreement available at www.ezeelo.com.
                            If you are accessing the eZeelo mobile application or accessing the services through the eZeelo mobile application, then while these terms of use will apply to such use, there may be additional terms (such as the terms imposed by mobile application stores like apple's itunes, android's play store, microsoft's store from time to time) which will govern the use of the mobile application. These additional terms to the extent applicable are hereby deemed to be incorporated in these terms of use by way of reference.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Leaders terms -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    <h4 class="panel-title">
                        Leadership Program
                    </h4>
                </a>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        </li>
                        <ul>

                            <li>This form is an application and an agreement to appoint an individual as a self-employed and virtual Retailer. This form read with “Ezeelo Retailer Business Plan” shall together be constructed as a validity entered Contract and the individual and Ezeelo shall be bound by the terms and conditions herein.</li>
                            <br>

                            <li>Each applicant should at least 18 years of age at the time of application, to become an Ezeelo Retailer.</li>
                            <br>

                            <li>The signing of this form/Application by a Retailer does not bind the Retailer as an employee or agent of the Company.</li>
                            <br>

                            <li>Retailers are not permitted, under any circumstances to advertise, market or deal in any manner with any product and/or services, which are not approved by Ezeelo in their network.</li>
                            <br>

                            <li>The Retailer shall not make any claim that is not consistent with claims authorized by Ezeelo.</li>
                            <br>

                            <li>The Retailer shall attend mandatory orientation session given by Ezeelo regarding provision of fair and accurate information on all aspects of business operation, remuneration system and expected remuneration of newly enrolled Retailers.</li>
                            <br>

                            <li>The Retailer shall take appropriate steps to ensure protection of all private information provided to him/her by a consumer.</li>
                            <br>

                            <li>
                                A Retailer who does not adhere to these rules can be suspended, pending inquiry or terminated from the membership.
                                The registration is non-transferable.
                            </li>
                            <br>

                            <li>In case of any grievance or complaint received by the Retailer from a Consumer regarding any product delivered by Ezeelo supply channel in pursuance of this contract, the Retailer shall refer such complaint to the Grievance Redressal Committee of Ezeelo which shall address such grievances within 30 (Thirty) days. The Decision of the Grievance Redressal Committee in respect of such complaints shall be final.</li>
                            <br>

                            <li>The Retailers shall mandatorily provide his/her bank account details to Ezeelo. If the Retailer’s bank account details are not updated with Ezeelo, then points generated by user can still be used for purchase from Ezeelo Website by paying from accumulated EzeeMoney Balance.</li>
                            <br>

                            <li> The Retailer hereby authorizes Ezeelo to send Text messages related to Ezeelo Business on his/her registered mobile number with Ezeelo.</li>
                            <br>

                            <li>All disputes are subject to the jurisdiction of Nagpur, India.</li>

                        </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Leaders terms-->



        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    <h4 class="panel-title">
                        General
                    </h4>
                </a>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>eZeelo Consumer Services is a company incorporated under the laws of india, with its registered office at block no.9a,4th floor, nmc complex near mangalwari complex, sadar, nagpur maharashtra, india 440001 and having cin u74900mh2015ptc267189. eZeelo Consumer Services Private Limited is an intermediary in the form of an online marketplace and is limited to managing the website to enable seller to exhibit, advertise, display, make available and offer to sell the products and to enable buyer to purchase the products so offered ("products"), and other incidental services thereto ("services") including use of the website by any user.</li>
                        <li>These terms of use are subject to revision by eZeelo.com Consumer Services Private Limited at any time and hence the users are requested to carefully read these terms of use from time to time before using the website. The revised terms of use shall be made available on the website. You are requested to regularly visit the website to view the most current terms of use. In the event such a facility is provided on the website, you can determine when eZeelo last modified any part of the agreement by referring to the "last updated" legend provided in that document. It shall be your responsibility to check these terms of use periodically for changes. eZeelo may require you to provide your direct or indirect consent to any update in a specified manner before further use of the website and the services. If no such separate consent is sought, your continued use of the website and/or services, following such changes, will constitute your acceptance of those changes.</li>
                        <li>
                            If there is any conflict:
                            (i) Between the privacy policy and any other agreement, the privacy policy shall take precedence' but only to the extent of the conflict.
                            (ii) Between the additional service terms and any other part of these terms of use, the additional service terms shall take precedence in relation to that service.
                            (iii) Between the merchant agreement and any other part of these terms of use, the merchant agreement shall take precedence but only to the extent of the conflict.
                            (iv) Between these terms of use and any other notices, disclaimers or guidelines appearing on the website, these terms of use shall take precedence but only to the extent of the conflict.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    <h4 class="panel-title">
                        Services
                    </h4>
                </a>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>The website is an electronic platform in the form of an electronic marketplace and an intermediary that (a) provides a platform for users (who are sellers/merchants) to advertise, exhibit, make available and offer to sell various products to other users (who are buyers / customers), and (b) a platform for such other users to accept the offer to sell of the products made by the sellers on the website and to make payments to the sellers for purchase of the products, and (c) services to facilitate the engagement of buyers and sellers to under commerce on the website, and (d) such other services as are incidental and ancillary thereto. The services are offered to the users through various modes which may include issue of coupons and vouchers that can be redeemed for various products.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    <h4 class="panel-title">
                        Eligibility To Use
                    </h4>
                </a>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>The services are not available to minors under the age of eighteen (18) or to any users suspended or removed from the eZeelo system by eZeelo for any reason whatsoever. If you are disqualified as per the preceding sentence, you shall not be permitted to avail of the services or use the website. You represent that you are of legal age to form a binding contract and are not a person barred from receiving the services under the laws as applicable in india. Notwithstanding the foregoing, if you are below the age of eighteen (18) years, please read through these terms of use with your parent or legal guardian, and in such a case these terms of use shall be deemed to be a contract between eZeelo and your legal guardian or parent and to the extent permissible under applicable laws, enforceable against you.</li>
                        <li>eZeelo reserves the right to refuse access to use the services offered at the website to new users or to terminate access granted to existing users at any time without according any reasons for doing so.</li>
                        <li>You shall not have more than one active account (defined here under) on the website. Additionally, you are prohibited from selling, trading, or otherwise transferring your account to another person.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                    <h4 class="panel-title">
                        User Account, Password, And Security
                    </h4>
                </a>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>You may access and use the website and the services either as a registered user or as a guest user. However, not all sections of the website and services will be accessible to guest users.</li>
                        <li>
                            Registered users: eZeelo makes certain sections of the services available to you through the website only if you have provided us certain required user information and created an account and a eZeelo ID through certain log-in ID and password ("Account"). You can create your account on the website.
                            In the event you register as a user by creating an account in order to avail of the services provided by the website, You will be responsible for maintaining the confidentiality and security of the account information, and are fully responsible for all activities that occur under your account. You agree to (a) immediately notify eZeelo of any unauthorized use of your account information or any other breach of security, and (b) ensure that you exit from your account at the end of each session. eZeelo cannot and will not be liable for any loss or damage arising from your failure to comply with this section. You may be held liable for losses incurred by eZeelo or any other user of or visitor to the website due to authorized or unauthorized use of your account as a result of your failure in keeping Your account information secure and confidential.
                            You shall ensure that the account information provided by you in the website's registration form is complete, accurate and up-to-date. Use of another user's account information for availing the services is expressly prohibited.
                            If you provide any information that is untrue, inaccurate, not current or incomplete (or becomes untrue, inaccurate, not current or incomplete), or eZeelo has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, eZeelo has the right to suspend or terminate your account and refuse any and all current or future use of the website / services (or any portion thereof).
                        </li>
                        <li>Guest users: The website also allows limited access to the services for unregistered users (also called as 'guest users'). Such users will be able to browse the website and use the services for the purpose of purchasing goods, and placing orders. However, you will not be provided with access to certain benefits reserved only for the purpose of registered users. These benefits may change from time to time.</li>
                        <li>Depending upon whether you are a seller or a buyer or another user who otherwise wish to use the website, and the nature of services you wish to avail from the website, You may be required to provide certain personal information and eZeelo may collect certain personal information. Your provision of, and eZeelo's collection, storage, use, disclosure and otherwise dealing of such personal information shall be governed by eZeelo's privacy policy, which is available at @System.Configuration.ConfigurationManager.AppSettings["EZEELO_CUSTOMER_URL"] ("Privacy policy")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                    <h4 class="panel-title">
                        Payments related Information
                    </h4>
                </a>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>Presently, eZeelo does not levy any fee for browsing the website or buying the products on the website. eZeelo may charge users certain fees for the use of the website and services as a whole, or certain features of the website / services. You agree to pay any such fees, as may be applicable to the services that you use. eZeelo will try to ensure that you are made aware of the applicability of any fees for a particular use of the website / services, as well as the amount of fees payable by you for any such use of the website / service. You agree that eZeelo may, at any time, charge, modify or waive fees required to use the website. Your continued use of the website / services after such change in the fees will be considered to be your acceptance of such changes, and the applicability of these terms of use to such changes.</li>
                        <li>You agree to provide correct and accurate financial information, such as credit/debit card details to the approved payment gateway or pre-paid payment instrument account details for availing services on the website. You shall not use the credit/debit card or pre-paid payment instrument which is not lawfully owned by you, i.e. In any transaction, you must use your own credit/debit card or pre-paid instrument account. The information provided by you will not be utilized or shared with any third party unless required in relation to fraud verification or by law, regulation or court order or in accordance with the terms of the privacy policy. You will be solely responsible for the security and confidentiality of your credit/debit card details or pre-paid instrument account. eZeelo expressly disclaims all liabilities that may arise as a consequence of any unauthorized use of your credit/ debit card or pre-paid instrument account.</li>
                        <li>eZeelo may have existing arrangements with its banks, regarding limits on the amounts you can pay (if you are a buyer) or receive (if you are a seller) in the course of a single transaction. eZeelo will work towards ensuring that you are made aware of such limits if they may be applicable to you. However, eZeelo shall be under no liability whatsoever in respect of any loss or damage arising directly or indirectly out of the decline of authorization for any transaction, on account of you/cardholder having exceeded the preset limit mutually agreed by eZeelo with its bank from time to time.</li>
                        <li>For your making payments for buying the products on the website, in addition to the agreement(s), the terms and conditions of your bank, applicable financial institution and/or card issuing association may also be applicable to you. Your bank, financial institution or card issuing association may decline or prevent you from making electronic payments for buying the products on website and eZeelo does not control the same and shall be liable for the same.</li>
                        <li>Payment facility for your orders: eZeelo may from time to time contract with third party payment service providers including banks to open nodal bank account under applicable indian laws, to facilitate the payment between users i.e. Buyers and sellers and for collection of eZeelo's fees and other charges. These third party payment service providers may include third party banking or credit card payment gateways, payment aggregators, pre-paid instruments, cash on delivery or demand draft / pay order on delivery service providers, mobile payment service providers or through any facility as may be authorized by the reserve bank of india for collection, refund and remittance, as the case may be of payment or supporting the same in any manner. eZeelo shall initiate the remittance of the payments made by your for your purchase orders on the website after the products are delivered to you and the date of completion of transaction shall be after the products are delivered to you and such other additional time as may be agreed between eZeelo and sellers.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                    <h4 class="panel-title">
                        User Obligations And Role Of eZeelo
                    </h4>
                </a>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>Subject to compliance with the agreement(s), eZeelo grants you a non-exclusive, non-sublicensable, non-transferable, revocable, and limited right to access and use this website and the services provided therein.</li>
                        <li>You agree to use the services, website and the content (as defined herein) provided therein only for purposes that are permitted by: (a) the agreement(s) (including these terms of use); and (b) any applicable law.</li>
                        <li>You agree to adhere to all limitations on dissemination, use and reproduction of any materials (such as the product catalogues) that your access on the website in accordance with respective clause.</li>
                        <li>You agree not to access (or attempt to access) the website or services by any means other than through the interfaces that are provided by eZeelo. You shall not use any deep-link, robot, spider or other automatic device, program, algorithm or methodology, or any similar or equivalent manual process, to access, acquire, copy or monitor any portion of the website or content (as defined below), or in any way reproduce or circumvent the navigational structure or presentation of the website, to obtain or attempt to obtain any materials, documents or information through any means not specifically made available through the website.</li>
                        <li>If you believe that any content or user content (as defined herein) or other content available on the website does not comply with the terms of the agreement(s) or applicable law, you may report such content in the manner prescribed under clause 14 herein.</li>
                        <li>The website may allow you to post certain content, data or information of your own such as allowing you to rate products, seller, post your comments, and reviews in relation to products on specific pages of the website, as well as submit any suggestions, comments, questions or other information to eZeelo using the website / services. You, being the originator of the user content, are responsible for the user content that you upload, post, publish, transmit or otherwise make available on the website. You represent that you have obtained all relevant consents and approvals in order to post any user content. You further represent that all such user content will be in accordance with applicable law. You acknowledge that eZeelo does not endorse any user content on the website and is not responsible or liable for any user content. eZeelo reserve the right to disable access to the user content on the website.</li>
                        <li>You hereby grant eZeelo a perpetual, non-revocable, worldwide, royalty-free and sublicensable right and license to use, copy, distribute, display, publish, transmit, make available, reproduce, modify, adapt the user content and create derivative works of the user content. You represent and warrant that you own or otherwise control all the rights to the user content that you post or that you otherwise provide on or through the website; and that, as at the date that the user content is posted or submitted on the website: (i) the user content is accurate; (ii) use of the user content you supply do not breach these terms of use; and (iii) that such user content is lawful.</li>
                        <li>You agree, understand and acknowledge that the website is an electronic platform in the form of an electronic marketplace and an intermediary that provides an electronic venue where various users may electronically meet and interact with each other to engage in commerce and transact. You further agree and acknowledge that eZeelo is only a facilitator and is not and cannot be a party to or control in any manner any advertisement, exhibition, making available, offer to sell or transactions of sale or purchase of products on the website. eZeelo is not the seller of the products. Accordingly, any contract for the sale / purchase of products on the website is a bipartite contract between you and the sellers (if you are a buyer) or you and the buyer (if you are a seller). eZeelo neither recommends you to buy or sell any products on the website nor does eZeelo endorses any such products and nor does eZeelo provides any guarantee, warranties or assurance with respect to the advertisement, exhibition, making available, offer to sell or transactions of sale or purchase of products on the website. Further, eZeelo does not guarantee, warranty or provide any assurance on the behavior of any user of the website including any guarantee, warranty or assurance that any user (whether buyer or seller) will complete any transaction or act in a prudent manner.</li>
                        <li>
                            When you use the website and/or the services you specifically undertake not to host, display, upload, modify, publish, transmit, update or share any information or content that:
                            <ul>
                                <li>Belongs to another person and to which the user does not have any right to.</li>

                                <li>Is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic, paedophilic, libelous, invasive of another's privacy, hateful, or racially, ethnically objectionable, disparaging, relating or encouraging money laundering or gambling, or otherwise unlawful in any manner whatsoever.</li>
                                <li>Harms minors in any way.</li>
                                <li>Impersonate any person or entity, or falsely state or otherwise misrepresent your affiliation with a person or entity.</li>
                                <li>Threatens the unity, integrity, defense, security or sovereignty of india, friendly relations with foreign states or public order or causes incitement to the commission of any cognizable offense or prevents investigation of any offense or is insulting of any other nation.</li>
                                <li>Infringes any patent, trademark, copyright or other proprietary rights.</li>
                                <li>Contain software viruses or any other computer code, files or programs designed to interrupt destroy or limit the functionality of any computer resource.</li>
                                <li>Deceives or misleads the addressee about the origin of such messages or communicates any information which is grossly offensive or menacing in nature. </li>
                                <li>Engage in any activity that interferes with or disrupts access to the website or the services (or the servers and networks which are connected to the website). </li>
                                <li>Attempt to gain unauthorized access to any portion or feature of the website, any other systems or networks connected to the website, to any eZeelo server, or to any of the services offered on or through the website, by hacking, password mining or any other illegitimate means. </li>
                                <li>Probe, scan or test the vulnerability of the website or any network connected to the website, nor breach the security or authentication measures on the website or any network connected to the website. You may not reverse look-up, trace or seek to trace any information on any other user, of or visitor to, the website, or any other customer of eZeelo, including any eZeelo account not owned by you, to its source, or exploit the website or service or information made available or offered by or through the website, in any way whether or not the purpose is to reveal any information, including but not limited to personal identification information, other than your own information, as provided for by the website. </li>
                                <li>Disrupt or interfere with the security of, or otherwise cause harm to, the website, systems resources, accounts, passwords, servers or networks connected to or accessible through the websites or any affiliated or linked sites. </li>
                                <li>Use the website or content for any purpose that is unlawful or prohibited by the agreement, or to solicit the performance of any illegal activity or other activity which infringes the rights of eZeelo or other third parties. </li>
                                <li>Falsify or delete any author attributions, legal or other proper notices or proprietary designations or labels of the origin or source of software or other material contained in a file that is uploaded. </li>
                                <li>Violate any code of conduct or other guidelines, which may be applicable for or to any particular service. </li>
                                <li>Violate any applicable laws or regulations for the time being in force within or outside india. </li>
                                <li>Violate the terms of the agreement.</li>
                            </ul>
                        </li>
                        <li>You agree that you are solely responsible to eZeelo and to any third party for any breach of your obligations under these terms of use or other agreements and for the consequences (including any loss or damage which eZeelo or its affiliates or its vendors may suffer) for any such breach.</li>
                        <li>eZeelo does not prescreen user content. eZeelo has no obligation to monitor any user content. However, eZeelo at its discretion and/or in accordance with applicable law may monitor any user content and may remove any user content from the website if eZeelo determines in its sole discretion that such user content is in violation of these terms of use or any applicable law. Where eZeelo removes any user content from the website, eZeelo will make reasonable efforts to inform the user who had posted such user content. Such actions do not in manner negate or dilute eZeelo's position as an intermediary or impose any liability on eZeelo with respect to user content.</li>
                        <li>You shall solely be responsible for maintaining the necessary computer / mobile equipment, internet connections and other software and technologies that may be required to access, use and transact on the website. You may incur access or data fees from third parties in connection with your purchase and/or use of the services. You are responsible for all such fees.</li>
                        <li>You shall use this website, and any voucher/coupons purchased through it, for personal, non-commercial use only and shall not re-sell the same to any other person.</li>
                        <li>You may need to install updates that we or any third party introduce from time to time, to use the services, Products, Website including downloads and required functionality, such as bug fixes, patches, enhanced functions, missing plug-ins and new versions (collectively, "Updates"). Your use of the Products or Website you have installed requires that you have agreed to receive such automatically requested Updates.</li>
                        <li>
                            Any purchase of the products from the website will be strictly for personal use of the user. The user hereby expressly agrees that any merchandise or services purchased by the user will not be sold, resold, bartered or in any way used for any commercial purposes or for profit. The user hereby acknowledges that the products purchased are not transferable to any third party for profit. Accordingly, eZeelo reserves the right to cancel any orders that classify as 'bulk order' as determined by eZeelo as per certain criteria. Any rewards or benefits provided by eZeelo and used by you for placing the 'bulk order' will not be refunded. An order can be classified as 'bulk order' if it meets certain criteria adopted by eZeelo for the purpose of identifying 'bulk order', including but not limited to:
                            <ul>
                                <li>Products ordered for commercial resale and not for self-consumption.</li>
                                <li>Multiple orders placed for same product at the same address.</li>
                                <li>Bulk quantity of the same product ordered.</li>
                                <li>Invalid address given in order details.</li>
                                <li>Any malpractice used to place the order.</li>
                            </ul>
                        </li>
                        <li>There may be certain orders that eZeelo is unable to process or pass on buyer's order to the seller and must cancel. Some situations that may result in eZeelo's inability to process or pass on buyer's order to the seller include, without limitation, non- availability of the website service, force majeure, credit limitations or suspected fraud.</li>
                        <li>In case buyer purchases multiple products in one transaction, the seller(s) may deliver all such products together. However, this may not always be possible. If buyer purchases multiple products in a single transaction, then all the products would be dispatched to a single delivery address provided by buyer at the time of purchase. If buyer wishes to get delivery of the products to different addresses, then buyer should purchase the products under separate transactions and provide separate delivery addresses for each transaction, as may be required. Buyer agrees that the delivery of the products can be made to the person who is present at the shipping address provided by you.</li>
                        <li>In certain cases, where buyer requires certain services in relation to a product, such as warranty, after-sales or installation services, buyer shall directly contact seller or the manufacturer. However, in the event, buyer contacts eZeelo for the same, eZeelo may inform the seller to provide or facilitate the provision of such services to the buyer. eZeelo is not and shall not be obliged to provide any such additional services. eZeelo's role in relation to facilitating such services shall be limited to facilitating communication between buyer and the seller for the purpose of provision of such additional services.</li>
                        <li>By signing up, you agree to receive telecalls, messages, electronic mail, text messages, promotion messages, promotion mails, notifications from eZeelo.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                    <h4 class="panel-title">
                        Use Of Content
                    </h4>
                </a>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>
                            Except as expressly indicated to the contrary in any applicable additional service terms, eZeelo hereby grants you a non-exclusive, revocable and non-transferable right to view, download and print product catalogs available on the website, subject to the following conditions:
                            <ul>
                                <li>You may access and use the product catalogs solely for personal, informational, and internal purposes, in accordance with these terms of use.</li>
                                <li>You may not modify or alter product catalogues available on the website.</li>
                                <li>You may not distribute or sell, rent, lease, license or otherwise make the product catalogues available on the website available to others.</li>
                                <li>You may not remove any text, copyright or other proprietary notices contained in the product catalogues available on the website.</li>
                            </ul>
                        </li>
                        <li>The rights granted to you in the product catalogs or any other materials as specified above are not applicable to the design, layout or look and feel of the website. Such elements of the website are protected by intellectual property rights and may not be copied or imitated in whole or in part.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                    <h4 class="panel-title">
                        Intellectual Property Rights
                    </h4>
                </a>
            </div>
            <div id="collapse9" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>The website and the processes, and their selection and arrangement, including but not limited to all text, graphics, user interfaces, visual interfaces, sounds and music (if any), artwork and computer code (collectively, the "content") on the website is owned and controlled by eZeelo or its licensors and the design, structure, selection, coordination, expression, look and feel and arrangement of such content is protected by copyright, patent and trademark laws, and various other intellectual property rights. Through your use of the website, by no means are any rights impliedly or expressly granted to you in respect of such content. eZeelo reserves the right to change or modify the content from time to time at its sole discretion.</li>
                        <li>The trademarks, logos and service marks displayed on the website ("marks") are the property of eZeelo or their vendors/seller or respective third parties. You are not permitted to use the marks without the prior consent of eZeelo, the vendor/seller or the third party that may own the marks.</li>
                        <li>Unless otherwise indicated or anything contained to the contrary or any proprietary material owned by a third party and so expressly mentioned, eZeelo owns all intellectual property rights to and into the trademark "eZeelo", and the website, including, without limitation, any and all rights, title and interest in and to copyright, related rights, patents, utility models, designs, know-how, trade secrets and inventions (patent pending), goodwill, source code, meta tags, databases, text, content, graphics, icons, and hyperlinks.</li>
                        <li>Except as expressly provided herein, you acknowledge and agree that you shall not copy, republish, post, display, translate, transmit, reproduce or distribute any content through any medium without obtaining the necessary authorization from eZeelo or thirty party owner of such content.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
                    <h4 class="panel-title">
                        Third Party Content
                    </h4>
                </a>
            </div>
            <div id="collapse10" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>General third party information such as, product catalogs, product description and specifications, lists of dealers, reports on news, entertainment, technology and features, advertisements including videos, images and photographs of the products, links to third party websites and other data from external sources is made available on the website ("third party content"). The provision of third party content is for general informational purposes only. You acknowledge that the third party content provided to you is obtained from sources believed to be reliable or provided by the sellers in the process of advertising, exhibiting and offering to sell the products on the website. All third party content is provided on an 'as is' basis. eZeelo may not own / have the rights and title to any such third party content, or provide any guarantee with respect to the accuracy, title, merchant-ability, non-infringement or fitness for a particular purpose of any third party content. eZeelo shall not be held liable for any loss suffered by you based on your reliance on or use of such third party content.</li>
                        <li>In the event any third party content contains links to third party websites, and you visit any such external link, you agree to do so at your own risk, responsibility and liability. eZeelo makes no warranty or representation regarding, and does not endorse, any website linked to the website / services or the information appearing thereon or any of the products or services described thereon.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
                    <h4 class="panel-title">
                        Disclaimer Of Warranties And Liability
                    </h4>
                </a>
            </div>
            <div id="collapse11" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>The website, services, content, user content and any third party content are provided by eZeelo on an "as is" basis without warranty of any kind, express, implied, statutory or otherwise, including the implied warranties of title, non-infringement, merchant-ability or fitness for a particular purpose. Without limiting the foregoing, eZeelo makes no warranty that (i) the website or the services will meet your requirements or your use of the website or the services will be uninterrupted, timely, secure or error-free; (ii) the results that may be obtained from the use of the website or services will be effective, accurate or reliable; (iii) the quality of the website or services will meet your expectations; or that (iv) any errors or defects in the website or services will be corrected. No advice or information, whether oral or written, obtained by you from eZeelo or through the website / content or from use of the services shall create any warranty not expressly stated in these terms of use.</li>
                        <li>To the maximum extent permitted by applicable law, eZeelo will have no liability related to user content and / or third party content arising under intellectual property rights, libel, privacy, publicity, obscenity or other laws. eZeelo also disclaims all liability with respect to the misuse, loss, modification or unavailability of any user content and / or third party content.</li>
                        <li>You expressly understand and agree that, to the maximum extent permitted by applicable law eZeelo will not be liable for any loss that you may incur as a consequence of unauthorized use of your account or account information in connection with the website or any services, either with or without your knowledge. eZeelo has endeavored to ensure that all the information on the website is correct, but eZeelo neither warrants nor makes any representations regarding the quality, accuracy or completeness of any data, information, product or service. eZeelo shall not be responsible for the delay or inability to use the website or related functionalities, the provision of or failure to provide functionalities, or for any information, software, products, functionalities and related graphics obtained through the website, or otherwise arising out of the use of the website, whether based on contract, tort, negligence, strict liability or otherwise. Further, eZeelo shall not be held responsible for non-availability of the website during periodic maintenance operations or any unplanned suspension of access to the website that may occur due to technical reasons or for any reason beyond eZeelo 's control. The user understands and agrees that any material or data downloaded or otherwise obtained through the website is done entirely at their own discretion and risk and they will be solely responsible for any damage to their computer systems or loss of data that results from download of such material or data. eZeelo is not responsible for any typographical error leading to an invalid coupon. eZeelo accepts no liability for any errors or omissions, with respect to any information provided to you whether on behalf of itself or third parties.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
                    <h4 class="panel-title">
                        Indemnification And Limitation Of Liability
                    </h4>
                </a>
            </div>
            <div id="collapse12" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>You agree to indemnify, defend and hold harmless eZeelo, its subsidiaries, affiliates, vendors, agents and their respective directors, officers, employees, contractors and agents (herein after individually and collectively referred to as "indemnified parties") from and against any and all losses, liabilities, claims, suits, proceedings, penalties, interests, damages, demands, costs and expenses (including legal and other statutory fees and disbursements in connection therewith and interest chargeable thereon) asserted against or incurred by the indemnified parties that arise out of, result from, or in connection with (i) your breach of the agreement(s); or (ii) any claims made by any third party due to, or arising out of, or in connection with, your use of the website; or (iii) any claim that any third party content / content, information or materials provided by you caused damage to a third party; or (iv) your violation of any rights of another, including any intellectual property rights.</li>
                        <li>eZeelo may notify you of any claims which you shall be liable to indemnify eZeelo against. You will then be required to consult with eZeelo regarding the course of action to be undertaken in defending such a claim. Further, you shall not compromise or settle any claim or admit any liability or wrongdoing on the part of eZeelo without the express prior written consent of eZeelo which can be withheld or denied or conditioned by eZeelo in its sole discretion.</li>
                        <li>Notwithstanding anything to contrary in the agreement(s), eZeelo's entire and aggregate liability to you under and in relation to these terms of use or otherwise shall not exceed the greater of indian rupees one hundred (inr 100) or the amount of fees, if any, paid by you to eZeelo under the relevant order to which the cause of action for the liability relates.</li>
                        <li>Notwithstanding anything to contrary in the agreement(s), in no event shall eZeelo, its subsidiaries or affiliates and their respective officers, directors, employees, partners or suppliers be liable to you for any special, incidental, indirect, consequential, exemplary or punitive damages whatsoever, including those resulting from loss of use, data or profits, whether or not foreseeable or whether or not eZeelo has been advised of the possibility of such damages, or based on any theory of liability, including breach of contract or warranty, negligence or other tortuous action, or any other claim arising out of or in connection with your use of or access to the website, services or content.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">
                    <h4 class="panel-title">
                        Terms
                    </h4>
                </a>
            </div>
            <div id="collapse13" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>The agreement will continue to apply until terminated by either you or eZeelo as set forth below. If you want to terminate your agreement with eZeelo, you may do so by (i) not accessing the website; or (ii) closing your account for all the services that you use, where eZeelo has made this option available to you.</li>
                        <li>You agree that eZeelo may, in its sole discretion and without prior notice, terminate your access to the website and block your future access to the website if eZeelo determines that you have violated the terms of these terms of use or any other agreement(s). You also agree that any violation by you of the agreement(s) will cause irreparable harm to eZeelo, for which monetary damages may be inadequate, and you consent to eZeelo obtaining any injunctive or equitable relief that eZeelo deems necessary or appropriate in such circumstances. These remedies are in addition to any other remedies eZeelo may have at law or in equity.</li>
                        <li>
                            In addition to clause 12.2 above, eZeelo may, at any time, with or without notice, terminate these terms of use (or portion thereof, such as any individual additional terms) with you if:
                            <ul>
                                <li>eZeelo is required to do so by law (for example, where the provision of the services to you is, or becomes, unlawful), or upon request by any law enforcement or other government agencies.</li>
                                <li>The provision of the services to you by eZeelo is, in eZeelo's opinion, no longer commercially viable.</li>
                                <li>eZeelo has elected to discontinue, with or without reason, access to the website, the services (or any part thereof).</li>
                                <li>In the event eZeelo faces any unexpected technical issues or problems that prevent the website and / or services from working.</li>
                            </ul>
                        </li>
                        <li>eZeelo may also terminate or suspend all or a portion of your account or access to the services with or without reason. Except as may be set forth in any additional terms applicable to a particular service, termination of your account may include: (i) removal of access to all offerings within the website or with respect to the services; (ii) disabling access to the account information, including your personal information, log-in id and password, and all related information, files and materials associated with or inside your account (or any part thereof), and any user content uploaded by you; and (iii) prohibiting further use of the services.</li>
                        <li>You agree that all terminations shall be made in eZeelo's sole discretion and that eZeelo shall not be liable to you or any third party for any termination of your account (and accompanying deletion of your account information), or your access to the website and services.</li>
                        <li>Notwithstanding the foregoing, these such terms of this agreement as are meant to survive termination / expiry of this agreement, will survive indefinitely unless and until eZeelo chooses to terminate them. eZeelo may inform the sellers who have accepted your purchase orders on the website, that this agreement is terminated, and upon such information sellers may cancel the purchase order. eZeelo may also cancel all your non-fulfilled orders on the website without any obligation or liability towards you.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">
                    <h4 class="panel-title">
                        Governing Law And Jurisdiction
                    </h4>
                </a>
            </div>
            <div id="collapse14" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>These terms of use and all transactions entered into on or through the website and the relationship between you and eZeelo shall be governed in accordance with the laws of india without reference to conflict of laws principles.</li>
                        <li>You agree that all claims, differences and disputes arising under or in connection with or in relation hereto the website, these terms of use, the agreement(s) or any transactions entered into on or through the website or the relationship between you and eZeelo shall be subject to the exclusive jurisdiction of the courts at nagpur, india and you hereby accede to and accept the jurisdiction of such courts. Each party hereby irrevocably waives any objection which such party may now or hereafter have to the laying of improper venue or forum non convenient. Each party agrees that a judgment in any such action or proceeding may be enforced in other jurisdictions by suit on the judgment or in any manner provided by law. Any and all service of process and any other notice in any such suit, action or proceeding with respect to this agreement shall be effective against a party if given as provided herein.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse15">
                    <h4 class="panel-title">
                        Report Abuse And Take Down Policy
                    </h4>
                </a>
            </div>
            <div id="collapse15" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>In the event you come across any abuse or violation of these terms of use or if you become aware of any objectionable content on the website, or if you believe your intellectual property rights have been violated in any manner through the website, please refer to the eZeelo report and take down policy available at www.ezeelo.com under "policy info" section.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse16">
                    <h4 class="panel-title">
                        Communications
                    </h4>
                </a>
            </div>
            <div id="collapse16" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>When you use the website or send emails or other data, information or communication to eZeelo, you agree and understand that you are communicating with eZeelo through electronic records and you consent to receive communications via electronic records from eZeelo periodically and as and when required. eZeelo will communicate with you by email or by notices on website or electronic records on the website or on your mobile number which will be deemed adequate service of notice / electronic record to the maximum extent permitted under any applicable law.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse17">
                    <h4 class="panel-title">
                        General Provisions
                    </h4>
                </a>
            </div>
            <div id="collapse17" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><b>Notice :</b> All notices with respect to these terms of use from eZeelo will be served to you by email or by general notification on the website. Any notice provided to eZeelo pursuant to these terms of use should be sent to grievance officer.</li>
                        <li><b>Assignment :</b> You cannot assign or otherwise transfer the agreements, or any rights granted here under or any obligations, to any third party and any such assignment or transfer or purported assignment or transfer shall be void ab initio. eZeelo's rights and/or obligations under the agreement are freely assignable or otherwise transferable by eZeelo to any third parties without the requirement of seeking your prior consent. eZeelo may inform you of such assignment or transfer in accordance with the notice requirements under the agreement. eZeelo shall have right to transfer your account and account information to a third party who purchases eZeelo's business as conducted under the website.</li>
                        <li><b>Severability :</b> If, for any reason, a court of competent jurisdiction finds any provision of the agreement, or portion thereof, to be unenforceable, that provision shall be enforced to the maximum extent permissible to give effect to the intent of the parties as reflected by that provision, and the remainder of the agreement shall continue in full force and effect. eZeelo may amend in a reasonable manner such provision to make it enforceable and such amendment will be given effect in accordance with the amendment terms of these terms of use.</li>
                        <li><b>Waiver :</b> Any failure or delay by a party to enforce or exercise any provision of the agreement, or any related right, shall not constitute a waiver by such party of that provision or right. The exercise of one or more of a party's rights here under shall not be a waiver of, or preclude the exercise of, any rights or remedies available to such party under these terms of use or in law or at equity. Any waiver by a party shall only be made in writing and executed by a duly authorized officer of such party.</li>
                        <li><b>Principal to Principal Relationship :</b> You and eZeelo are independent contractors, and nothing in these terms of use will be construed to create a partnership, joint venture, association of persons, agency (disclosed or undisclosed), franchise, sales representative, or employment relationship between you and eZeelo. As an abundant caution, it is clarified that eZeelo shall not have any right to conclude any contract for sale or purchase of products for and / or on your behalf and both you and eZeelo have entered this agreement on principal to principal basis.</li>
                        <li><b>Force Majeure :</b> If performance of any service or obligation under these terms of use or other agreement by eZeelo is, or other third parties in fulfillment of any purchase or sale transaction (for eg: logistics service provider, fulfillment center, payment gateways etc.) Are, prevented, restricted, delayed or interfered with by reason of labour disputes, strikes, acts of god, floods, lightning, severe weather, shortages of materials, rationing, utility or communication failures, earthquakes, war, revolution, acts of terrorism, civil commotion, acts of public enemies, blockade, embargo or any law, order, proclamation, regulation, ordinance, demand or requirement having legal effect of any government or any judicial authority or representative of any such government, or any other act whatsoever, whether similar or dissimilar to those referred to in this clause, which are beyond the reasonable control of eZeelo or its third parties performing such services as sub-contractor to eZeelo and could not have been prevented by reasonable precautions (each, a "force majeure event"), then eZeelo shall be excused from such performance to the extent of and during the period of such force majeure event. eZeelo shall exercise all reasonable commercial efforts to continue to perform its obligations here under.</li>
                        <li><b>Grievance Officer :</b> In compliance with information technology act, 2000 and the rules made there under, the grievance officer of eZeelo can be reached on below mention email. Email: feedback@ezeelo.com eZeelo may change the aforesaid details from time to time under intimation to you.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse18">
                    <h4 class="panel-title">
                        Feedback And Information
                    </h4>
                </a>
            </div>
            <div id="collapse18" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>Any feedback you provide to this website shall be deemed to be non-confidential. eZeelo shall be free to use such information on an unrestricted basis. Further, by submitting the feedback, you represent and warrant that (i) your feedback does not contain confidential or proprietary information of you or of third parties; (ii) eZeelo is not under any obligation of confidentiality, express or implied, with respect to the feedback; (iii) eZeelo may have something similar to the feedback already under consideration or in development; and (iv) you are not entitled to any compensation or reimbursement of any kind from eZeelo for the feedback under any circumstances.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gap"></div>

