@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    .container {
        width: 70%;
        margin: auto;
        border: 1px solid rgba(128, 128, 128, 0.31);
        padding: 1%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h3 {
        margin: 0px;
        text-align: center;
    }

    ul li {
        list-style: decimal;
        text-align: justify;
        line-height: 22px;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gandhibagh Terms and conditions</title>
</head>
<body class="container">
    <h3>Tearm and conditions</h3>
    <ul>
        <li>All the fees and Charges are exclusive of Service Tax 14%which shall be charged extra.</li>
        <li>Registration of any establishment with eZeelo means that the Concerned Shop  owner has fully understood the Concept of eZeelo and has expressed his/her interest to create an eshop, to be subsequently hosted at eZeelo. </li>
        <li>Creation of eShop means the customization and creation of dynamic web page of the establishment into our Online market place which is a standard web-based software platform, developed and managed by us. </li>
        <li>eShops needs to have the information regarding the establishment and the products sold by, it to be visible to the general customers and also basic data of establishment, for the transaction between the establishment and the portal.</li>
        <li>Registration charges covers the cost of creation of eshop.</li>
        <li>The shop owner shall be provided a web based password protected control panel for the user to manage their eShop on regular basis.</li>
        <li>The shop owners need to furnish all the required details pertaining to their establishment in order to enable a smooth e-transaction between the buyers and sellers using the portal. </li>
        <li>The shop owners need to pay the registration fees before the commencement of the creation of their eshop.</li>
        <li>The shop owners should furnish the requisite details of the products to be sold through the portal so that the same  can be displayed in their eshop to the buyers visiting the portal.</li>
        <li>The creation of the eshop will need minimum 30 working days from the, date of registration and receipt of registration fees whichever is later. </li>
        <li>Registration fees are non-refundable.</li>
        <li>During the period of the development of eshop the shop owners are expected to extend their support to the operations team of the company by providing the complete product descriptions of their inventory along with the photographs so that the complete range of the product.</li>
        <li>The Format of the eshop shall be standard as designed by company from time to time depending upon the product category. </li>
        <li>The shop owners’s inputs are needed for the banner design of their respective eshop which includes Logo, Photographs, Description of establishment and their  location Co-Ordinates.</li>
        <li>The eshop will be hosted at the portal after getting the acceptance from the side of shop owner in the approval form and the payment of the annual hosting charge whichever is later.</li>
        <li>Hosting charges shall be applicable from the date of hosting the eshop of an establishment on the portal. </li>
        <li>If the hosting charge is nod paid up to 6 months of the due date the registration stands cancelled.</li>
        <li>The shop owners or their authorized representative must undergo the mandatory training and orientation program organized by the company prior to hosting and from time to time.</li>
        <li>It shall be the responsibility of the shop owner to ensure the availability of the product at the displayed price at the time of the e-transaction/placing of the order.</li>
        <li>It shall be responsibility of the shop owners to follow the standard Operating Procedure established by the company in Packaging, Billing, dispatch etc maintained by us from time to time.</li>
        <li>It shall be responsibility of the shop owner to maintain the inventory and the prices in their respective eshop.</li>
        <li>The shop owners shall abide by the policies pertaining to Product display, Pricing, Billing, Payment, Service charges, delivery, Promotional, Exchange, Goods return, Servicing and Guarantee and Warrantee policy as designed by the company from time to time.</li>
        <li>Company reserves the right to Change the pricing, scope of services, policies from time to time.</li>
        <li>Company reserves the right to provide further value added services at a price to some or all of the registered shopkeepers and /or any other entity it deems fit so. </li>
        <li>All the payment shall be made through a crossed cheque or Pay Order Favoring M/S. Ezeelo Consumer Services Pvt. Ltd.</li>
        <li>For any legal matter the jurisdiction shall be Nagpur court.</li>
    </ul>
</body>
</html>
