/* Higher than 1200 (desktop devices)
====================================================================== */
@media (min-width: 1200px) {
	
	.container-fluid-full {
		overflow: hidden;
		position: relative;
		height: 100%;
	}
	
	#content {
		width: 100%;
		padding: 28px;
		margin: 0px 0px;
		margin-left:0 !important;
	}
		
	#sidebar-left {
       /* background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(25, 98, 225, 0.5)) repeat scroll 0% 0%, transparent url("../../../Content/Images/gs.png") repeat scroll 0% 0% !important;
		background:#BCE4FF;*/
		background:#E9B800;
		margin-left: 0px !important;
		position: inherit;
		height: 100%;
        overflow-x:auto;
	}
	
	.sidebar-nav > ul{
		margin: 0px;
	}
	
	footer {
		margin: 0px 0px 0px 0px;
		padding: 10px 20px;
	}
	
}

/* Higher than 960 (desktop devices)
====================================================================== */
@media only screen and (min-width: 980px) and (max-width: 1199px){
	    .container {
        margin-left:171px;
        width:85%!important;
        float:right!important;
    }
	.container-fluid-full {
		overflow: hidden;
		position: relative;
		height: 100%;
	}

    .row-fluid .span10 {
        width:100%;
        padding-left:0;
        margin-left:0;
    }
    .table td.span2, .table th.span2 {
        width:22%;
    }
    .table td.span2 select {
        width:100%!important;
    }
	
	#content {
		width: 100%;
		padding: 20px;
		margin: 0px;
		margin-left: 0% !important;
	}
	
	.dark {
		padding: 20px;
		top: -20px;
		right: -12px;
		margin-bottom: -56px;
		margin-right: -30px;	
	}
	
	
	#sidebar-left {
		background: #3A3A3A;
		margin-left: 0px !important;
		position: absolute;
		height: 100%;
	}
	
	.sidebar-nav > ul{
		margin: 0px;
	}
	
	.sparkLineStats {
		position: relative; 
		padding-bottom: 4px;
	}
	
	.sparkLineStats li {
		font-size: 10px;
		line-height: 42px;
	}
	
	.sparkLineStats li .number {
		font-size: 16px;
		font-weight: 700; 
		padding:0 0px; 
	}
	
	.breadcrumb {
		margin: -20px -20px 20px -20px;	
	}
	
	.statbox,
	.widget,
	.box,
	.circleStatsItemBox {
		margin-bottom: 20px;
	}
	
	/* Page: Tasks
	=================================================================== */

	.task .desc {
		display: inline-block;
		width: 70%;
		padding: 10px 10px;
		font-size: 12px;
	}

	.task .desc .title {
		font-size: 16px;
		margin-bottom: 5px;
	}

	.task .time {
		display: inline-block;
		float: right;
		width: 20%;
		padding: 10px 10px;
		font-size: 12px;
		text-align: right;
	}

	.task .time .date {
		font-size: 16px;
		margin-bottom: 5px;	
	}

	footer {
		margin: 0px;
		padding: 10px 20px;
	}
    .dataTable {
        min-width: 805px !important;
        max-width: 1199px;
        overflow-y: auto;
    }
    .nav-tabs.nav-stacked > li > a {
        color:#fff;
    }
    .nav-tabs.nav-stacked > li > ul > li > a {
        color:#000;
    }
        .nav-tabs.nav-stacked > li > a > i, .nav-tabs.nav-stacked > li > ul > li > a > i {
            color:#fff;
        }


}

/* Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 768px) and (max-width: 979px) {
	.newpurple{
        margin-left:0px!important;
	}
	.container-fluid-full {
		overflow: hidden;
		position: relative;
		height: 100%;
	}
    .nav-tabs.nav-stacked > li > a, .nav-tabs.nav-stacked > li > ul > li > a {
        color:#fff;
    }
        .nav-tabs.nav-stacked > li > a > i, .nav-tabs.nav-stacked > li > ul > li > a > i {
            color:#fff;
        }
	#content {
		width: 91.666%;
		padding: 22px;
		margin: 0px 0px;
		margin-left: 0 !important;
	}
    .container {
        width:91%!important;
        float:right!important;
    }
	    .row-fluid .span10 {
        width:100%;
        padding-left:0;
        margin-left:0;
    }
    .table td.span2, .table th.span2 {
        width:22%;
    }
    .table td.span2 select {
        width:100%!important;
    }
    .dataTable {
        min-width: 570px !important;
        max-width: 979px;
        overflow-y: auto;
    }	
     table.dataTable thead th, table.dataTable thead td {
        padding: 1px 2px!important;
    }
    .form-horizontal .form-actions {
        padding-left: 10px!important;
    }
    .box-content {
        padding: 5px!important;
        overflow:auto;
    }
    table.dataTable tbody td {
        padding: 4px 6px!important;
    }
    .tri-state {
        width: 50px!important;
    }
     .dataTables_wrapper{
        overflow:scroll;
    }
      .container1{
        width:99%!important;
    }
    .dark {
		padding: 20px;
		top: -22px;
		right: -15px;
		margin-bottom: -56px;
		margin-right: -30px;
	}
	
	.breadcrumb {
		margin: -22px -22px 22px -22px;	
	}
	
	.statbox,
	.widget,
	.box,
	.circleStatsItemBox {
		margin-bottom: 22px;
	}
		
	#sidebar-left {
		background: #3A3A3A;
		margin-left: 0px !important;
		position: absolute;
		height: 100%;
		width: 8.334% !important;
	}
	
	.sidebar-nav > ul{
		margin: 0px;
	}
	
	.nav-tabs.nav-stacked > li > a,
	.nav-tabs.nav-stacked > li > ul > li > a {
		text-align: center;
		margin-top: -2px;	
	}
		
	.noMargin {
		margin-left: 0px !important;
	}
	
	.btn-navbar {
		display: none !important;
	}
	
	.nav-collapse,
  	.nav-collapse.collapse {
    	height: auto !important;
    	overflow: visible !important;
		margin-left: 0px !important;
  	}
	
	
	.stats-date .range {
		font-size: 16px;
		font-weight: 300;
	}


	.stat .left .number {
		font-size: 16px;
		font-weight: 300;
	}

	.stat .left .title {
		font-size: 9px;
	}

	.stat .right .percent {
		text-align: center;
		font-size: 12px;
		line-height: 16px;
	}
	
	.box-small-link {
		font-size: 20px;
	}
	
	.sparkLineStats {
		padding-bottom: 10px;
	}
	
	.sparkLineStats li {
		font-size: 10px;
		line-height: 43px;
	}
	
	.sparkLineStats li .number {
		font-size: 12px;
		font-weight: 700; 
		padding:0 0px; 
	}
	
	/* Page: Tasks
	=================================================================== */

	.task {
		border-bottom: 1px solid #f9f9f9;
		margin-bottom: 1px;
	}

	.task.high {
		border-left: 2px solid rgba(250,96,61,1);
	}

	.task.medium {
		border-left: 2px solid rgba(250,187,61,1);
	}

	.task.low {
		border-left: 2px solid rgba(120,205,81,1);
	}

	.task .desc {
		display: inline-block;
		width: 65%;
		padding: 10px 10px;
		font-size: 10px;
		margin-right: -20px;
	}

	.task .desc .title{
		font-size: 14px;
		margin-bottom: 5px;
	}

	.task .time {
		display: inline-block;
		float: right;
		width: 25%;
		padding: 10px 10px;
		font-size: 10px;
		text-align: right;
	}

	.task .time .date {
		font-size: 14px;
		margin-bottom: 5px;	
	}

	.timeslot .task span {
		border: 2px solid rgba(103, 194, 239, 1);
		background: rgba(103, 194, 239, .1);
		padding: 5px;
		display: block;
		font-size: 10px;
	}

	.timeslot .task span span{
		border: 0px;
		background: transparent;
		padding: 0px;
	}

	.timeslot .task span span.details{
		font-size: 14px;
		margin-bottom: 0px;
	}

	.timeslot .task span span.remaining{
		font-size: 12px;
	}
	
	footer {
		margin: 0px;
		padding: 10px 20px;
	}
   .right-brnd {
    padding: 10px 18px;
    border-radius: 5px;
    border: 0;
}
	
}

/* All Mobile Sizes (devices and browser)
====================================================================== */
@media only screen and (max-width: 767px) {
	
	#content {
		overflow: hidden;
		margin: -10px 0px 0px 0px;
	}
	
	.breadcrumb {
		margin: -5px -5px 5px -5px;
	}
	
	.nav-tabs.nav-stacked > li > a,
	.nav-tabs.nav-stacked > li > ul > li > a {
		margin-top: -2px;	
	}
		
	.dark {
		padding: 5px;
		top: 5px;
		right: 0px;
		margin-bottom: 0px;
		margin-right: 0px;
		position: relative;
		border: 0px;
	}
	
	.statbox,
	.widget,
	.box,
	.circleStatsItemBox {
		margin-bottom: 20px !important;
	}
	
	/* Page: Tasks
	=================================================================== */

	.task {
		border-bottom: 1px solid #f9f9f9;
		margin-bottom: 1px;
	}

	.task.high {
		border-left: 2px solid rgba(250,96,61,1);
	}

	.task.medium {
		border-left: 2px solid rgba(250,187,61,1);
	}

	.task.low {
		border-left: 2px solid rgba(120,205,81,1);
	}

	.task .desc {
		display: inline-block;
		width: 65%;
		padding: 10px 10px;
		font-size: 10px;
		margin-right: -20px;
	}

	.task .desc .title{
		font-size: 14px;
		margin-bottom: 5px;
	}

	.task .time {
		display: inline-block;
		float: right;
		width: 25%;
		padding: 10px 10px;
		font-size: 10px;
		text-align: right;
	}

	.task .time .date {
		font-size: 14px;
		margin-bottom: 5px;	
	}

	.timeslot .task span {
		border: 2px solid rgba(103, 194, 239, 1);
		background: rgba(103, 194, 239, .1);
		padding: 5px;
		display: block;
		font-size: 10px;
		-webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
				border-radius: 4px;
	}

	.timeslot .task span span{
		border: 0px;
		background: transparent;
		padding: 0px;
	}

	.timeslot .task span span.details{
		font-size: 14px;
		margin-bottom: 0px;
	}

	.timeslot .task span span.remaining{
		font-size: 12px;
	}
    .right-brnd {
    padding: 10px 18px;
    border-radius: 5px;
    border: 0;
}
	
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body {
		padding: 0px;
	}
	
	#content {
		padding: 5px;
	}
     table.dataTable thead th, table.dataTable thead td {
        padding: 1px 2px!important;
    }
    .form-horizontal .form-actions {
        padding-left: 10px!important;
    }
    .box-content {
        padding: 5px!important;
          overflow:auto;
    }
    table.dataTable tbody td {
        padding: 4px 6px!important;
    }
    .tri-state {
        width: 33px!important;
        font-size: 13px!important;
        padding: 0px!important;
    }
     .dataTables_wrapper{
        overflow:scroll;
    }
	.stat {
		width: 50%;
		margin: 10px 0% 0% 0%;
		float: left;
	}
    .container1{
        width:99%!important;
    }
		.navbar-inner {
        padding-left: 0px!important;
    }
    .login-box-admin {
        margin-top: 0px!important;
    }
    .paddingnew{
        padding-left: 0px!important;
    }
    .button-login{
        margin-left:25px!important;
    }
    .gandhibaghLogo{
        width:80%;
    }
    .gandhibaghLogo img{
        width:200px;
    }
    .navbar .nav.pull-right {
        float: right;
        margin-right: 0;
        margin-top: 5px;
    }
    .navbar .nav > li {
        float: right;
    }
	.quick-button,
	.quick-button-small {
		margin-bottom: 20px;
	}
	
	.pull-right {
		width: 100%;
		margin: 10px auto;
		text-align: center;
	}
	
	.fc-button-today,
	.fc-button-month,
	.fc-button-agendaWeek,
	.fc-button-agendaDay {
		display: none;
	}
	
	footer {
		padding: 10px 20px;
	}
	
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (max-width: 479px) {
	
	body {
		padding: 0px;
	}
	
	#content {
		padding: 5px;
        margin-top:5px;
	}
	
	 .dataTable {
        min-width: 300px !important;
        max-width: 479px;
        overflow-y: auto;
    }
    table.dataTable thead th, table.dataTable thead td {
        padding: 1px 2px!important;
    }
    .form-horizontal .form-actions {
        padding-left: 10px!important;
    }
    .box-content {
        padding: 5px!important;
          overflow:auto;
    }
    table.dataTable tbody td {
        padding: 4px 6px!important;
    }
    .tri-state {
        width: 33px!important;
        font-size: 13px!important;
        padding: 0px!important;
    }
    .form-actions{
         padding-left: 10px!important;
    }
   .btn {
    padding: 4px 3px!important;
    font-size: 12px!important;
    }
   .table {
       margin-left:auto!important;
   }
   .form-action{
       padding-left: 10px!important;
   }
    .widget {
        padding: 0px;
    }
    #FromDate {
        width: 76px;
    }
    #ToDate{
        width: 76px;
    }
    #Franchise{
        width: 76px;
    }
    .row-fluid{
            margin-left: 0px!important;
    }
    .sorting_asc{
        width:80px;
    }
    .dl-horizontal {
        padding: 5px;
    }
    .dataTables_wrapper{
        overflow:scroll;
    }
    .div_class{
        overflow:scroll;
    }
    .pagination {
        margin: 0px 0px!important;
    }
    .outerDiv {
        margin: 5px!important;
    }
    #divSpecification {
        margin: 5px!important;
    }
    .container1{
        width:99%!important;
        min-height: 2650px;
    }
   .container1 ol {
        padding: 0;
        margin: 0 0 10px 10px;
    }
	.stat {
		width: 100%;
		margin: 1% 0% 0% 0%;
		float: left;
	}
    .navbar-inner {
        padding-left:0;
        padding-right:0;
    }
    .navbar-inner {
        padding-left: 0px!important;
    }
    .login-box-admin {
        margin-top: 0px!important;
    }
    .paddingnew{
        padding-left: 0px!important;
    }
    .icon-login{
        display:none!important;
    }
    .login-box-admin ul li input.input-large{
        width:170px!important;
    }
    .forgotLink{
        margin-top: -31px!important;
    }
    .gandhibaghLogo{
        width:80%;
    }
    .gandhibaghLogo img{
        width:56%;
    }
    .navbar .nav.pull-right {
        float: right;
        margin-right: 0;
        margin-top: 5px;
    }
    .navbar .nav > li {
        float: right;
    }
    .login-box-admin ul {
        float: none;
    height: 100px;
    position: relative;
    width: 100%;
    }
    .login-box-admin ul li {
        position:absolute;
    }
    .login-box-admin ul li:nth-child(1) {
      left: 0;
    top: 18px;
    }
    .login-box-admin ul li:nth-child(2) {
        left: 45px;
    top: 0;
    }
    .login-box-admin ul li:nth-child(3) {
       left: 45px;
    top: 42px;
    }
    .login-box-admin ul li:nth-child(4) {
     right: 5px;
    top: 26px;
    }
	.quick-button,
	.quick-button-small {
		margin-bottom: 20px;
	}
	
	.pull-right {
		width: 100%;
		margin: 10px auto;
		text-align: center;
	}
	
	.fc-button-today,
	.fc-button-month,
	.fc-button-agendaWeek,
	.fc-button-agendaDay {
		display: none;
	}
	
	table,
	.pagination {
		font-size: 10px;
	}
	
	.pagination {
		padding: 5px;
	}
	
	.ui-slider-handle {
		margin-top: 1px !important;
	}

	.sliderVertical .ui-slider-handle {
		margin: 0px 0px -10px 1px !important;
	}
	
	
	footer {
		padding: 10px 20px;
	}
	
}

