@{
    ViewBag.Title = "Registrion Success";
}
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h1 class="text-danger">@TempData["Title"]</h1>
<h2 class="text-danger">@TempData["Description"]</h2>
<a href="@Url.Action("Login", "Login")" class="btn btn-small btn-success">Sign In</a>

