@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/css/subCategory.css" rel="stylesheet" />
    <style type="text/css">
        .container {
            width: 97%;
            margin: auto;
        }

        .grid .row > .cell {
            margin-left: 1.60%;
        }
    </style>
</head>
<body>
    <div class="grid catDivMAin">
        <div class="row cells12">
            <div class="cell colspan4">
                <h2>Heading</h2>
                <div class="wrap-box">
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                </div>
            </div>
            <div class="cell colspan4">
                <h2>Heading</h2>
                <div class="wrap-box">
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                </div>
            </div>
            <div class="cell colspan4">
                <h2>Heading</h2>
                <div class="wrap-box">
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                </div>
            </div>
        </div>
        <div class="row cells12">
            <div class="cell colspan4">
                <h2>Heading</h2>
                <div class="wrap-box">
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                </div>
            </div>
            <div class="cell colspan4">
                <h2>Heading</h2>
                <div class="wrap-box">
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                </div>
            </div>
            <div class="cell colspan4">
                <h2>Heading</h2>
                <div class="wrap-box">
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                    <a href="#" title="Product Name">
                        <span>Product Name</span>
                        <img src="~/Images/11.png" alt="Product Name" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
