@{
    ViewBag.Title = "Mobile App";
}

<div class="gap"></div>
<div class="row box">
    <a href="https://play.google.com/store/apps/details?id=onlineshopping.ezeelo.shoppingapp&hl=en" target="_blank">
        <img src="~/Content/Images/tags/downloadapp.jpg" style="width:100%" />
    </a>
</div>
<div class="gap"></div>



