@{
    ViewBag.Title = "Exclusive|eZeelo";
     
    if(Session["UID"]!=null)
    {
         @Html.Hidden("hdnSessionValue", (Session["UID"]))
    }
    else
    { 
      @Html.Hidden("hdnSessionValue", 0)
    }
}
<style>
    h5 {
        line-height: 25px;
        text-align: justify;
        color: rgba(0,0,0,0.6);
    }

    .divimgright {
        border-radius: 25px;
        width: 100%;
        box-shadow: 5px 3px 8px gray;
    }

    .divimgleft {
        border-radius: 25px;
        width: 100%;
        box-shadow: -3px 5px 8px gray;
    }

    h2, h3 {
        font-style: italic;
        font-weight: 800;
        text-transform: uppercase;
        color: rgba(0,0,0,0.6);
        text-shadow: 2px 4px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
    }

    p {
        text-align: justify;
        color: rgba(0,0,0,0.6);
        font-weight: 600;
    }

    .firstdiv {
        padding: 10px;
        margin-bottom: 20px;
    }

    .seconddiv {
        padding: 10px;
    }

    .tittle {
        color: #A8CF45;
        padding-left: 20px;
    }

    .couponsdiv {
        border: 1px dashed rgba(128, 128, 128, 0.36);
        margin-bottom: 20px;
    }

    .headings {
        color: red;
        font-size: 18px;
    }

    .firstdiv ul li {
        list-style-type: initial;
        line-height: 30px;
        text-align: justify;
        font-size: 14px;
        color: rgba(0,0,0,0.6);
        font-weight: 600;
    }

    .seconddiv ul li {
        list-style-type: initial;
        line-height: 30px;
        text-align: justify;
        font-size: 14px;
        color: rgba(0,0,0,0.6);
        font-weight: 600;
    }

    .copdiv1 {
        height: 170px;
        margin-bottom: 10px;
        padding-top: 10px;
        text-align: center;
        border: 1px dashed rgba(128, 128, 128, 0.36);
    }

    .copdiv2 {
        height: 170px;
        margin-bottom: 30px;
        padding-top: 10px;
        text-align: center;
        border: 1px dashed rgba(128, 128, 128, 0.36);
    }

    .couponsimg {
        height: 145px;
        width: 100%;
        border: 1px dashed rgba(128, 128, 128, 0.36);
        padding: 5px;
    }
</style>
<script src="~/Scripts/Products.js"></script>
<script>
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<div class="container">
    <div class="row firstdiv">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top: 35px;">
            <h2 style="color: #A8CF45"><img src="~/Content/Home-content/Notebook/My%20Cty%20Nootbook%20Logo.png" style="border-radius: 8px; width: 200px;" /></h2><br />
            <ul style=" list-style-type: disc!important;">
                <li>This box has a pack of 4 premium quality A4 sized notebook.</li>
                <li>An astounding  700 coupons ( with a combined worth of more than a lakh) is enclosed in the notebooks.</li>
                <li>An ideal gifting option.</li>
                <li>You will get this product delivered (in case of door to door or online purchase) to his door step.</li>
                <li><strong><del>MRP.295</del></strong> <strong>Sale Rate Rs.240.</strong><input type="button" class="button warning" value="Add to Cart" onclick="AddProduct(62990, 45853)"></li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img src="~/Content/Home-content/Notebook/note1-min.png" class="divimgright" />
        </div>
    </div>
    <div class="row">
        <h2 class="tittle">redeem following amazing coupons</h2>
    </div>
    <br />
    <div class="row couponsdiv">
        <div class="row" style="padding:10px;">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/CP1.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/CP2.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/CP3.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/CP4.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Cluckers%201.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Cluckers.png" class="couponsimg" />
            </div>
        </div>
        <div class="row" style="padding:10px;">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Babu%20Bhai.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Cafe%20Aeolus.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Cane%20Can.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Change.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Chevrolet.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Dalchini.png" class="couponsimg" />
            </div>
        </div>
        <div class="row" style="padding:10px;">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Dalchini.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Deep%20Tyres%201.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Deep%20Tyres.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Deo%20Motors.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Deo%20Motors1.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/DJ%20Spark.png" class="couponsimg" />
            </div>
        </div>
        <div class="row" style="padding:10px;">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Floramoments.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Floramoments1.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Floramoments2.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Floramoments3.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Floramoments4.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Floramoments5.png" class="couponsimg" />
            </div>
        </div>
        <div class="row" style="padding:10px;">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Floramoments6.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Floramoments7.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Fountain%20Sizzlers.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Honda.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Hotel%20Hardeo.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/JD's.png" class="couponsimg" />
            </div>
        </div>
        <div class="row" style="padding:10px;">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Khichdiwala.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Manoj%20Hair%20Salon.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Maruti%20Seva.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Mocha%201.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Mocha%202.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Mocha.png" class="couponsimg" />
            </div>
        </div>
        <div class="row" style="padding:10px;">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/My%20City%20Notebook.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/PCS.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/My%20Way%20High%20Way%201.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/My%20Way%20High%20Way.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/National%20Watch%20House.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/NGDA.png" class="couponsimg" />
            </div>
        </div>
        <div class="row" style="padding:10px;">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Panache.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Panache1.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Panache2.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Panache3.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Poineer%20Books.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Prakash%20Optical%201.png" class="couponsimg" />
            </div>
        </div>
        <div class="row" style="padding:10px;">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Prakash%20Optical.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Reds%201.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Reds.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/RS%20Customs.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Senorita%20Beauty%20Parlour.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Shree%20Saikrupa%20Automobile.png" class="couponsimg" />
            </div>
        </div>
        <div class="row" style="padding:10px;">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Sirf%20Mens.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/SM%20Tattoo.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Smokin%20Grils%201.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Smokin%20Grils.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/tauby's.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/The%20Breakfast%20Story.png" class="couponsimg" />
            </div>
        </div>
        <div class="row" style="padding:10px;">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Travotel%20Hotel.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Triveny%20Copy%20System.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/V%20Kool.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Wake%20Out%201.png" class="couponsimg" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="~/Content/Home-content/Notebook/Wake%20Out.png" class="couponsimg" />
            </div>
        </div>
    </div>

    <div class="row seconddiv">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img src="~/Content/Home-content/Notebook/note3-min.png" class="divimgleft" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <ul style=" list-style-type: disc!important;">
                <li>Enjoy Nagpur’s best food with Hotel Bollywood Centre Point, Dalchini, Clucker’s, Smokin Grills & many more restaurants.</li>
                <li>Experience Fine dining at Hotel Hardeo and Fountain Sizzlers & Bistro.</li>
                <li>Fall in love with coffee all over again at Café Mocha & Café Aeolusget.</li>
                <li>Amazing deals on vehicle repairs and services at Deo Motors & Tajshree Motors.</li>
                <li>Great offers at Change the Salon.</li>
                <li>Get yummilicious cakes at Tauby’s, Reds Bakery & Just Deserts.</li>
                <li>Order food 24/7 with Wake-Out.</li>
                <li>Style up with Sirf Mens & Panache.</li>
                <li>Solve puzzles and enjoy American breakfast at Breakfast Story.</li>
                <li>All this at discounted price & may more astounding offers in just one Notebook.</li>
            </ul>
        </div>
    </div>

    <div class="row seconddiv">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top: 110px;">
            <h3 style="color: #A8CF45">Ideal for</h3>
            <ul style=" list-style-type: disc!important;">
                <li>Ideal for students, professionals, trainers, researchers, house wives and excellent for gifting purposes. Very useful and at highly subsidized rates.</li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img src="~/Content/Home-content/Notebook/note2-min.png" class="divimgright" />
        </div>
    </div>

    <div class="row seconddiv">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img src="~/Content/Home-content/Notebook/note4.gif" class="divimgleft" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top: 65px;">
            <h3 style="color: #A8CF45">Get discounts on the following</h3>
            <ul>
                <li>
                    Hotels ,
                    Restaurants ,
                    Clothes ,
                    Computers ,
                    Flowers & Gifts ,
                    Classes ,
                    Home Appliances ,
                    DJ ,
                    Opticals ,
                    Stationery ,
                    Salon & Spa ,
                    Watches ,
                    Automobiles ,
                    Accessories
                </li>
                <li>Just redeem 1 or 2 coupons and recover the cost paid for buying this product. <input type="button" class="button warning" value="Add to Cart" onclick="AddProduct(62990, 45853)"></li>
            </ul>
        </div>
    </div>
    <br />
</div>
