@{
    ViewBag.Title = "FAQ";
}
<style>
    ul {
        text-align: justify;
    }

    h3 {
        margin-top: 10px;
        color: #a8cf45;
    }
</style>
<div class="gap"></div>
<div class="row box" data-gutter="15">

    <div class="panel-group" id="accordion">
        <img src="~/Content/Images/tags/faqimg.jpg" style="width:100%"/>
        <h3>Registration & Account Related</h3>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    <h4 class="panel-title">
                        How do I buy from eZeelo?
                    </h4>
                </a>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul>
                        <li>Visit Our website at <a href="http://www.ezeelo.com" style="color:blue;">www.ezeelo.com</a> You may also choose to download Mobile app from Google Play Store (for Android) or App Store (for Apple iOS).</li>
                        <li>Select the city, where you belong to.</li>
                        <li>Select the product or service that you wish to get at your doorsteps, and add to cart.</li>
                        <li>If you are registered user, login with your eZeelo userid and password, else register/signup.</li>
                        <li>Place order, and confirm it, with place of delivery and preferred Delivery time!</li>
                        <li>Choose payment option (COD or Online Payment mode).</li>
                        <li>You will receive a confirmation over email / SMS.</li>
                        <li>Our Customer Support will get in touch, in case you need it.</li>
                        <li>You can also place your order on phone by calling our customer care between 10:00 am – 9:00 pm at 9172221910</li>
                    </ul>
                </div>
            </div>
        </div>
        <h3>Delivery Related</h3>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    <h4 class="panel-title">
                        Where can I get my orders delivered?
                    </h4>
                </a>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>We provide doorstep delivery at your address.</li>
                        <li>You can advise us to deliver at any location of your choice i.e your home/office or any other place you choose to deliver gifts to your loved ones.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    <h4 class="panel-title">
                        When can I get my orders delivered?
                    </h4>
                </a>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>We provide same day delivery <span style="color:red;">*</span></li>
                        <li>You can choose from different timeslots available for delivery at your convenient time.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    <h4 class="panel-title">
                        Does eZeelo  deliver in my area?
                    </h4>
                </a>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>You can place order from anywhere for delivery at any of our present location.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                    <h4 class="panel-title">
                        How much are the delivery charges?
                    </h4>
                </a>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>Local deliveries are usually free of cost. Nominal charge may be applicable based on cart value.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                    <h4 class="panel-title">
                        How can I check the status of Delivery of my order?
                    </h4>
                </a>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>You may login to eZeelo or check from your Mobile app.</li>
                        <li>Check the status of your order in the My Orders, Delivery Status!</li>
                    </ul>
                </div>
            </div>
        </div>
        <h3>Payment Related</h3>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                    <h4 class="panel-title">
                        How can I pay for orders placed?
                    </h4>
                </a>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>eZeelo offers online payment option, through secured gateways as well as cash on delivery (COD).</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                    <h4 class="panel-title">
                        Is it safe to use my credit/debit card on eZeelo?
                    </h4>
                </a>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>eZeelo is linked to secured gateways like PayU, CCAvenue ensuring encrypted transactions. All your transactions are safe and secure!</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                    <h4 class="panel-title">
                        Is the data provided to eZeelo secured?
                    </h4>
                </a>
            </div>
            <div id="collapse9" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>Customer information is kept in secured and encrypted form, and we at eZeelo never share any of the personal information with any third party for any reason.  </li>
                        <li>Transactions in eZeelo is kept safe and secured, including the online transactions which happen through payment gateways are ensured in high levels of encryption.</li>
                    </ul>
                </div>
            </div>
        </div>
        <h3>Cancellations & Returns Related</h3>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
                    <h4 class="panel-title">
                        What happens if order is placed using online payment mode but the order could not be completed? How can I get refund?
                    </h4>
                </a>
            </div>
            <div id="collapse10" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>In case your online payment is rejected by the Payment Gateway or the order could not be completed and in case the payment got deducted from your Debit/Credit Card, rest assured, it will be transferred back to your account within seven business days.  In case you still face problem, write to us at payments@ezeelo.com or call our Customer Care at 9172221910.  We shall be more than happy to be at your service and support.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
                    <h4 class="panel-title">
                        What should I do if I want to return the product?
                    </h4>
                </a>
            </div>
            <div id="collapse11" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>If your product is found tampered/ opened, you may return it before acceptance.</li>
                        <li>If the product is incorrect, damaged, tampered, defective, then you may contact your Customer Support at eZeelo, for easy facilitation. In case no claim being raised within 24 hours, it shall be presumed that you have waived the right to raise a complaint and eZeelo shall not be obliged to entertain any claim / dispute thereafter in respect thereof.</li>
                        <li>If any incorrect / counterfeit product is supplied by Merchant, then the product will be taken back after due diligence.</li>
                        <li>In case of product being found defective after the seal is opened or consignment is accepted by the customer, it shall be governed by the guarantee/ warranty policy of the Merchant/OEM as the case may be.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
                    <h4 class="panel-title">
                        How can I cancel my order?
                    </h4>
                </a>
            </div>
            <div id="collapse12" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>Should you decide to cancel the orders, you may do so by Login to <a href="http://www.ezeelo.com" style="color:blue;">www.ezeelo.com</a></li>
                        <li>Proceed to -> My Orders -> Select your order -> hit Cancel.</li>
                        <li>Alternatively, you may choose the Cancel Order option from the App. </li>
                        <li>In case you need any help, you may always call us for Customer Support at 9172221910.</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <p><span style="color:red;">*</span> (Subject to availability of product in your area)</p>
</div>
<div class="gap"></div>




