@{
    ViewBag.Title = "Daily Needs & Groceries | Gandhibagh.com";
}
<link href="~/Content/Home-content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<style>
    .margin-setTop {
        margin-top: -33px;
    }
</style>
<script src="~/Content/update(5-10)/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var newClone1 = $("#cpy1").html();
        var newClone1 = $("#cpy2").html();
        var newClone1 = $("#cpy3").html();
        var newClone1 = $("#cpy4").html();
        var newClone1 = $("#cpy5").html();
        var newClone1 = $("#cpy6").html();
        if ($(window).width() < 750) {
            // alert("1");
            $(newClone1).clone().appendTo("#pst1");
            $(newClone1).clone().appendTo("#pst2");
            $(newClone1).clone().appendTo("#pst3");
            $(newClone1).clone().appendTo("#pst4");
            $(newClone1).clone().appendTo("#pst5");
            $(newClone1).clone().appendTo("#pst6");

        } else {
            $("#pst1").empty();
            $("#pst2").empty();
            $("#pst3").empty();
            $("#pst4").empty();
            $("#pst5").empty();
            $("#pst6").empty();

        }
    });
</script>
<script src="~/Scripts/Products.js"></script>

@*<link href="~/Content/submenu/css/submenu.css" rel="stylesheet" />*@
<div class="container margin-setTop">
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Groceries & Staples</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy1">
                        <li><a href="~/Product/Products?parentCategoryId=1112&item=Atta & Flour">Atta &amp; Flour</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1110&item=Oil & Ghee">Oil & Ghee</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1137&item=Spices & Seedr"> Spices & Seeds</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1114&item=Wheat,Pulses & Rice"> Wheat,Pulses & Rice</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1136&item=Other Grocery">Other Grocery</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1130&item=Sugar & Jaggery"> Sugar & Jaggery</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1099&item=Mukhwas & Churans"> Mukhwas & Churans</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1141&item=Papad"> Papad</a></li>
                        <li><a href="~/Product/Products?item=Salt&parentCategoryId=1113">Salt</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=2967" title="Maida (500gm)">Maida (500gm)</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs13.00</span>
                                                    <span class="price old-price">Rs16.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=2967">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/g3.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=2967"></a>
                                                </div>
                                                <div class="add-to-cart">

                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(1591, 2967)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                   
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=684" title="Poha Mota (250gm)">Poha Mota (250gm)</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs35.00</span>
                                                    <span class="price old-price">Rs37.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=684">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/g6.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=684"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(21029, 684)">Add to Cart</a>
                                                </div>
                                            </div>

                                        </li>

                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=13812" title="Bajara (Millet)">Bajara (Millet)</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs23</span>
                                                    <span class="price old-price">Rs25</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=13812">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/g8.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=13812"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(31429, 28083)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                     
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Dry Fruits</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst2"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy2">
                        <li><a href="~/Product/Products?parentCategoryId=1172&item=Cashew(Kaju)">Cashew(Kaju)</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1173&item=Almond Nut(Badam)">Almond Nut(Badam)</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1180&item=Currant/Raisin(Kishmish)"> Currant/Raisin(Kishmish)</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1175&item=Walnuts(Akhrot)">Walnuts(Akhrot)</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1185&item=Pistachio(Pista)">Pistachio(Pista)</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1182&item=Fig(Anjir)(Anjir)"> Fig(Anjir)(Anjir)</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1174&item=Apricot Dried"> Apricot Dried(Jardalu)</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1181&item=Dates(Khajur)">Dates(Khajur)</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1183&item=Lotus Seeds Pop(Makhana)"> Lotus Seeds Pop(Makhana)</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1178&item=Coconut(Nariyal)">Coconut(Nariyal)</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1389&item=Exotic Dry Fruits">Exotic Dry Fruits</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=3242" title="Kaju (Cashew) (250gm)">Kaju (Cashew) (250gm)</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs170</span>
                                                    <span class="price old-price">Rs187</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=3242">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/d1.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=3242"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(4368, 3242)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=335" title="Badam Mamra (100gm)">Badam Mamra (100gm)</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs180</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=335">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/d2.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=335"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(87, 335)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=2988" title="Kishmish (Raisin) (100gm)">Kishmish (Raisin) (100gm)</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs30</span>
                                                    <span class="price old-price">Rs38.75</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=2988">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/d3.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=2988"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(4888, 2988)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=672" title="KHOBRA DOL (100gm)">KHOBRA DOL (100gm)</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs32.00</span>
                                                    <span class="price old-price">Rs40.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=672">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/d9.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=672"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(1698, 672)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                      
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=773" title="Green Pista (100gm)">Green Pista (100gm)</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs160.00</span>
                                                    <span class="price old-price">Rs203.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=773">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/d5.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=773"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(4300, 773)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="box-full clearfix">
                                    <ul class="product-list">
                                        <li>
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=678" title="Dry Sweet Figs (Anjeer) Delux  Quality (100gm)">Dry Sweet Figs (Anjeer) Delux  Quality (100gm)</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs64.00</span>
                                                    <span class="price old-price">Rs83.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=678">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/d6.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=678"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(984, 678)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=40031" title="Rostaa Morning Berries">Rostaa Morning Berries</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs450.00</span>
                                                    <span class="price old-price">Rs595.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=40031">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/d7.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=40031"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(45399, 40031)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=757" title="Pind Khajur (500gm)">Pind Khajur (500gm)</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs40.00</span>
                                                    <span class="price old-price">Rs50.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=757">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/d8.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=757"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(1006, 757)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=337" title="Makhana">Makhana</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs60.00</span>
                                                    @*<span class="price old-price">Rs45.00</span>*@
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=337">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/d10.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=337"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(31, 337)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@ Bottles Cans & Packets</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst3"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy3">
                        <li><a href="~/Product/Products?parentCategoryId=1108&item=Jam & Spreads">Jam & Spreads</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1139&item=Biscuits">Biscuits</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1161&item=Bottle Food">Bottle Food</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1162&item=Can Food">Can Food</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1170&item=Chocolate & candy">Chocolate & candy</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1156&item=Noodles">Noodles</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1106&item=Pickles">Pickles</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1159&item=Ready & Instant Mixes">Ready & Instant Mixes</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1109&item=Sauces">Sauces</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1157&item=Snacks & Wafers">Snacks & Wafers</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=40680" title="Kissan Mix Fruit Jam">Kissan Mix Fruit Jam</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs25.00</span>
                                                    @*<span class="price old-price">Rs50.00</span>*@
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=40680">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/bc10.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=40680"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(46509, 40680)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=19340" title="Krackjack Biscuits (40gm)">Krackjack Biscuits (40gm)</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs25.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=19340">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/bc2.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=19340"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(12375, 19340)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    
                                        <li>
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=24246" title="Maggi Tomato Ketchup (200gm)">Maggi Tomato Ketchup (200gm)</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs51.00</span>
                                                    @*<span class="price old-price">Rs51.00</span>*@
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=24246">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/bc1.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=24246"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(23979, 24246)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>


                                      
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Bakery & Dairy Products</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst4"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy4">
                        <li><a href="~/Product/Products?parentCategoryId=1163&item=Cake">Cake</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1169&item=Eggless Cake">Eggless Cake</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1165&item=Pastry">Pastry</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1168&item=Cookies">Cookies</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1166&item=Khari & Tost"> Khari & Tost</a></li>
                        @*<li><a href="~/Product/Products?parentCategoryId=1164&item=Bread">Bread</a></li>*@
                        <li><a href="~/Product/Products?parentCategoryId=1089&item=Butter & Cheese"> Butter & Cheese</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1086&item=Cream"> Cream</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1083&item=Milk Products">Milk Products</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                    
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=16353" title="Strawberry Pastry (1 qty)">Strawberry Pastry (1 qty)</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs45.00</span>
                                                    <span class="price old-price">Rs60.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=16353">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/bd2.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=16353"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(11333, 16353)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=25507" title="Pista Cookies (1 qty)">Pista Cookies (1 qty)</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs70.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=25507">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/bd3.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=25507"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(26163, 25507)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Beverages & Syrups</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst5"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy5">
                        <li><a href="~/Product/Products?parentCategoryId=1090&item=Tea & Coffee">Tea & Coffee</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1093&item=Health Drink & Powder">Health Drink & Powder</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1097&item=Juices">Juices</a></li>
                        @*<li><a href="~/Product/Products?parentCategoryId=1096&item=Soft Drinks">Soft Drinks</a></li>*@
                        <li><a href="~/Product/Products?parentCategoryId=1094&item=Syrups & Cordials">Syrups & Cordials</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1134&item=Honey">Honey</a></li>
                        @*<li><a href="~/Product/Products?parentCategoryId=1098&item=Water">Water</a></li>*@
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=20656" title="Brooke Bond Red Label Tea 100gm">Brooke Bond Red Label Tea 100gm</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs49.00</span>
                                                    @*<span class="price old-price">Rs120.00</span>*@
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=20656">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/bs1.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=20656"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(46822, 20656)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=40772" title="Bournvita 5 Star Magic Health Drink">Bournvita 5 Star Magic Health Drink</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs100.00</span>
                                                    @*<span class="price old-price">Rs28.00</span>*@
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=40772">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/bs2.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=40772"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(46728, 40772)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=40557" title="Mala's Kokum Cordial">Mala's Kokum Cordial</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs93.00</span>
                                                    <span class="price old-price">Rs100.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=40557">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/bs3.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=40557"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(46188, 40557)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=25438" title="Dabur Honey">Dabur Honey</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs37</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=25438">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/bs4.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=25438"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48838, 25438)">Add to Cart</a>
                                                </div>
                                            </div>

                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Home & Hygiene</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst6"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy6">
                        <li><a href="~/Product/Products?parentCategoryId=1116&item=Home Care">Home Care</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1125&item=Fabric care">Fabric care</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1126&item=Kitchen Care">Kitchen Care</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1312&item=Toilet Care">Toilet Care</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1311&item=Pet Care">Pet Care</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1120&item=Puja Samagri">Puja Samagri</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        @*<li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=20658" title="Rin Bar (1pcs)">Rin Bar (1pcs)</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs9.75</span>
                                                    <span class="price old-price">Rs10.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=20658">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/hg2.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                 
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=20658"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(23376, 20658)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>*@
                                        @*<li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=24247" title="Vim Liquid Yellow Bottle (250gm)">Vim Liquid Yellow Bottle (250gm)</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs57.00</span>
                                                    <span class="price old-price">Rs60.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=24247">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/hg3.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                  
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=24247"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(23980, 24247)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>*@
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=23917" title="Lifebuoy Total Handwash Refill Pack (185ml)">Lifebuoy Total Handwash Refill Pack (185ml)</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs40.00</span>
                                                    @*<span class="price old-price">Rs40.00</span>*@
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=23917">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/hg4.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=23917"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(23603, 23917)">Add to Cart</a>
                                                </div>
                                            </div>

                                        </li>
                                        @*<li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=21501" title="Royal Canin Club Pro Adult (20kg)">Royal Canin Club Pro Adult (20kg)</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs271.00</span>
                                                   
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=21501">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/hg5.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                   
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=21501"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(10483, 21501)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>*@
                                        <li>
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=27391" title="Safari Big	Safari Baug Incense Sticks (Agarbatti) Set Of 5">Safari Big	Safari Baug Incense Sticks (Agarbatti) Set Of 5</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs700.00</span>
                                                    @*<span class="price old-price">Rs12.00</span>*@
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=27391">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/hg6.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=27391"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(30650, 27391)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container containernew1 span12">
    <div class="FootTextDiv">
        <p class="indent-paragraph " style="text-align:justify;">
            <span class="footerdetail">Food And Groceries</span><br />
            Gandhibagh.com is among the first most comprehensive shopping portals for food and groceries in Central India. The consumers from Nagpur and its vicinity have the choice to shop a wide range of food and groceries of high quality at reasonable cost while staying amidst the home comfort. This means, you do not have to run from pillar to post to get your groceries and food products as all these can be easily found out under the same portal. The store has hundreds of grocery and food products available with their high quality freshness and cool zest. Right from finding fresh vegetables & fruits to rice, pulses (daal), spices and seasonings to baker, you have dairy products and several other branded foods and grocery items. You name any and we have it all.
            In a sense, Gandhibagh.com is your one stop online store, which caters a wide variety of food and grocery products, which comes with freshness, high quality and affordable rates. With this, you save your time, money and efforts to get some of the best deals of online vegetable & fruits along with a wide array of grocery items. Shopping here is simple and easy, no need to stand in queue, stand for long carrying heavy bags, no annoying sales guys are there to disturb you and no need to carry out stuff in your car to take them home. The online store is free from all these physical hassles and once you shop you gets all your grocery and food products right on time at your doorstep without actually worrying for anything.
            Here you can chose from a wide range of options in all the food and grocery list, exclusively chosen for our esteemed customers just to help you in finding the stuff at reasonable prices. Just choose the slot for your home delivery time of your choice so that you get your products on time as per your availability. At Gandhibagh.com, we make your life exciting for shopping your food and grocery stuff simple and effective making it a breeze for our valued customers. It enables you to shop these products as per your leisure without adding any physical hassles unlike witnessed in any traditional for of purchase.<br /><br />
        </p>
    </div>
</div>