@{
    ViewBag.Title = "Daily Needs & Groceries | Gandhibagh.com";
}
<link href="~/Content/Home-content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<style>
    .margin-setTop {
        margin-top: -33px;
    }
    .heart {
        display: none !important;
    }
</style>
<script src="~/Content/update(5-10)/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var newClone1 = $("#cpy1").html();
        var newClone1 = $("#cpy2").html();
        var newClone1 = $("#cpy3").html();
        var newClone1 = $("#cpy4").html();
        var newClone1 = $("#cpy5").html();
        var newClone1 = $("#cpy6").html();
        if ($(window).width() < 750) {
            // alert("1");
            $(newClone1).clone().appendTo("#pst1");
            $(newClone1).clone().appendTo("#pst2");
            $(newClone1).clone().appendTo("#pst3");
            $(newClone1).clone().appendTo("#pst4");
            $(newClone1).clone().appendTo("#pst5");
            $(newClone1).clone().appendTo("#pst6");

        } else {
            $("#pst1").empty();
            $("#pst2").empty();
            $("#pst3").empty();
            $("#pst4").empty();
            $("#pst5").empty();
            $("#pst6").empty();

        }
    });
</script>
<script src="~/Scripts/Products.js"></script>

@*<link href="~/Content/submenu/css/submenu.css" rel="stylesheet" />*@
<div class="container margin-setTop">
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Groceries & Staples</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy1">
                        <li><a href="/Product/Products?parentCategoryId=1112&item=Atta & Flour">Atta &amp; Flour</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1136&item=Other Grocery">Other Grocery</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1137&item=Spices & Seedr"> Spices & Seeds</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1114&item=Wheat,Pulses & Rice"> Wheat,Pulses & Rice</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1110&item=Oil & Ghee">Oil & Ghee</a></li>                                    
                        <li><a href="~/Product/Products?parentCategoryId=1136&item=Other Grocery">Salt</a></li>         
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=19677" title="Aashirvaad Shudh Chakki Atta">Aashirvaad Shudh Chakki Atta</a></h5>
                                               
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=19677">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_food1.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=19677"></a>
                                                </div>
                                                <div class="add-to-cart">

                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(53158, 19677)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=28016" title="Everest Sabji Masala">Everest Sabji Masala</a></h5>
                                               
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=28016">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_food2.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=28016"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(53342, 28016)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=40898" title="Tata Salt">Tata Salt</a></h5>
                                               
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=40898">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_food3.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=40898"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(53338, 40898)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=42908" title="Arhar Dal (Tuvar Dal)">Arhar Dal (Tuvar Dal)</a></h5>
                                               
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=42908">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_food5.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=42908"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(53355, 42908)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Beverages & Syrups</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst5"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy5">
                        <li><a href="~/Product/Products?parentCategoryId=1090&item=Tea & Coffee">Tea & Coffee</a></li>
                     </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=42881" title="Nescafe Coffee Classic">Nescafe Coffee Classic</a></h5>
                                              
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=42881">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_b1.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=42881"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(53314, 42881)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=42887" title="Tata Tea Premium Rich">Tata Tea Premium Rich</a></h5>
                                             
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=42887">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_b2.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=42887"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(53323, 42887)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                  
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Home & Hygiene</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst6"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy6">
                        <li><a href="~/Product/Products?parentCategoryId=1125&item=Fabric care">Fabric care</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1126&item=Kitchen Care">Kitchen Care</a></li>         
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=20660" title="SURF EXCEL BAR 250GM">SURF EXCEL BAR 250GM</a></h5>
                                             
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=20660">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_hg1.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=20660"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(53082, 20660)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41348" title="Vanish Liquid- Expert Fabric Stain Remover">Vanish Liquid- Expert Fabric Stain Remover</a></h5>
                                             
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41348">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_hg2.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41348"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(53070, 41348)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=42784" title="Surf Excel Quick Wash">Surf Excel Quick Wash</a></h5>
                                              
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=42784">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_hg3.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=42784"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(53047, 42784)">Add to Cart</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=42829" title="Scotch Brite Stainless Steel Scrub">Scotch Brite Stainless Steel Scrub</a></h5>
                                             
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=42829">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_hg4.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=42829"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(53169, 42829)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=42832" title="Vim Drop Dish Wash Liquid">Vim Drop Dish Wash Liquid</a></h5>
                                              
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=42832">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_hg5.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=42832"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(53173, 42832)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Dry Fruits</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst2"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy2">
                        <li><a href="~/Product/Products?parentCategoryId=1173&item=Almond Nut(Badam)">Almond Nut(Badam)</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1172&item=Cashew(Kaju)">Cashew(Kaju)</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1181&item=Dates(Khajur)">Dates(Khajur)</a></li>          
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=42840" title="Kaju khada">Kaju khada</a></h5>
                                              
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=42840">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_d1.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=42840"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(53182, 42840)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=42842" title="Almond (giri)">Almond (giri)</a></h5>
                                              
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=42842">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/d2.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=42842"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(53189, 42842)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                  
                                    </ul>
                                </div>
                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Bakery & Dairy Products</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst4"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy4">
                        <li><a href="~/Product/Products?parentCategoryId=1163&item=Cake">Cake</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1169&item=Eggless Cake">Eggless Cake</a></li>             
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=42669" title="Vanilla Truffle Eggless Cake SR-023">Vanilla Truffle Eggless Cake SR-023</a></h5>
                                              
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=42669">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_dp1.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=42669"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(52768, 42669)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=42670" title="Chocolate Truffle  TR11">Chocolate Truffle  TR11</a></h5>
                                               
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=42670">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_dp2.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=42670"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(52936, 42670)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>
<div class="container containernew1 span12">
    <div class="FootTextDiv">
        <p class="indent-paragraph " style="text-align:justify;">
            <span class="footerdetail">Food And Groceries</span><br />
            Gandhibagh.com is among the first most comprehensive shopping portals for food and groceries in Central India. The consumers from Nagpur and its vicinity have the choice to shop a wide range of food and groceries of high quality at reasonable cost while staying amidst the home comfort. This means, you do not have to run from pillar to post to get your groceries and food products as all these can be easily found out under the same portal. The store has hundreds of grocery and food products available with their high quality freshness and cool zest. Right from finding fresh vegetables & fruits to rice, pulses (daal), spices and seasonings to baker, you have dairy products and several other branded foods and grocery items. You name any and we have it all.
            In a sense, Gandhibagh.com is your one stop online store, which caters a wide variety of food and grocery products, which comes with freshness, high quality and affordable rates. With this, you save your time, money and efforts to get some of the best deals of online vegetable & fruits along with a wide array of grocery items. Shopping here is simple and easy, no need to stand in queue, stand for long carrying heavy bags, no annoying sales guys are there to disturb you and no need to carry out stuff in your car to take them home. The online store is free from all these physical hassles and once you shop you gets all your grocery and food products right on time at your doorstep without actually worrying for anything.
            Here you can chose from a wide range of options in all the food and grocery list, exclusively chosen for our esteemed customers just to help you in finding the stuff at reasonable prices. Just choose the slot for your home delivery time of your choice so that you get your products on time as per your availability. At Gandhibagh.com, we make your life exciting for shopping your food and grocery stuff simple and effective making it a breeze for our valued customers. It enables you to shop these products as per your leisure without adding any physical hassles unlike witnessed in any traditional for of purchase.<br /><br />
        </p>
    </div>
</div>