@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<style>
    .tabcontrol2 .frames {
        z-index: 1;
        border: 1px #eeeeee solid;
        margin-top: -4px;
    }
</style>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<div class="example" data-text="">
    <div class="grid responsive">
        <div class="row">
            <div class="cell">
                <h3>Franchise Guide</h3>
                <div class="tabcontrol2" data-role="tabControl">
                    <ul class="tabs">
                        <li><a href="#frame_5_1">1</a></li>
                        <li><a href="#frame_5_2">2</a></li>
                        <li><a href="#frame_5_3">3</a></li>
                    </ul>
                    <div class="frames">
                        <div class="frame" id="frame_5_1">1</div>
                        <div class="frame" id="frame_5_2">2</div>
                        <div class="frame" id="frame_5_3">3</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
