@{
    ViewBag.Title = "Fruits_Vegetables";
    //Layout = "~/Views/Shared/_Layout1Nagpur.cshtml";
}
<style>
    .margin-setTop {
        margin-top: -33px;
    }
</style>
<link href="~/Content/Home-content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        var newClone1 = $("#cpy1").html();

        if ($(window).width() < 750) {
            // alert("1");
            $(newClone1).clone().appendTo("#pst1");

        } else {
            $("#pst1").empty();
        }
    });
</script>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script src="~/Scripts/Products.js"></script>
<div class="container margin-setTop">
    <div class="category-featured electronic">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-electronic.png">*@Fruits &amp; Vegetables</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-3" class="floor-elevator">
                <a href="#elevator-2" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#elevator-4" class="btn-elevator down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy1">
                        <li><a href="~/Product/Products?parentCategoryId=1281&item=All Fruits">All Fruits</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1282&item=All Vegetables">All Vegetables</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=1308&item=ALL EXOTIC AND FROZEN">All Exotic &amp; Frozen</a></li>

                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">

                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41466" title="Apple Shimla ">Apple Shimla </a></h5>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41466">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/kf1.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41466"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48228, 41466)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41463" title="Hara Matar (Green Peas)">Hara Matar (Green Peas) </a></h5>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41463">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/kf2.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41463"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48220, 41463)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41443" title="Palak (Spinach leaves) ">Palak (Spinach leaves) </a></h5>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41443">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/kf3.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41443"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48146, 41443)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41469" title="Oranges (Santra) ">Oranges (Santra) </a></h5>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41469">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/kf4.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41469"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48235, 41469)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41440" title="Baigan (Brinjal)">Baigan (Brinjal)</a></h5>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41440">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/kf5.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41440"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48140, 41440)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41503" title="Fresh Kiwi  ">Fresh Kiwi  </a></h5>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41503">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/kf6.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41503"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48292, 41503)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41464" title="Makai (Baby corn)  "> Makai (Baby corn)  </a></h5>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41464">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/kf8.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41464"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48223, 41464)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41460" title="Lettuce Iceberg ">Lettuce Iceberg </a></h5>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41460">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/kf9.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41460"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48213, 41460)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41459" title="Salad Patta ">Salad Patta </a></h5>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41459">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/kf10.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41459"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48212, 41459)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>

<div class="container containernew1 span12">
    <div class="FootTextDiv">
        <p class="indent-paragraph ">
            <span class="footerdetail">Fruits And Vegetables</span><br />
            Fruits and vegetables have been the basic requirement of everyone who leads a healthy and blissful life. We consume fruits and vegetable to keep ourselves healthy and fit in the form of different diet plans on a daily basis. With the advent of online shopping, the idea of buying fruits and vegetables online has become simple. Now, with comprehensive shopping portals like Gandhibagh.com, you can buy a wide range of fruits and vegetables online in just few clicks. If you are based in Nagpur, you can find high quality and fresh fruits and vegetables online without any hassle or issue. Here, you can browse from a big list of green vegetables and wide range of fruits available in the market, which makes the store the one stop shop for these natural products.
            Thus you can browse a wide range of vegetables like onion, potato, cabbage, root vegetables, regular vegetables, fresh herbs, leafy vegetables along with fruits like banana, apple, custard apple, musk melon, papaya, pears, pineapple, sweet lime, water melon and many more such stuff online. At Gandhibagh.com, you can get the best deals online along with good discounts, with all ease and comfort with a huge list of these natural products. Here, you can find some of the best shopping experience, which can be carried out amidst your home comfort and remaining in your home cosiness, which is simply not possible over the brick and mortar stores.
            At Gandhibagh.com, you can choose from a wide range of vegetable and fruit lists, exclusively brought forth for our esteemed customers. These remain simply a click away from you available at a very reasonable price. Once you shop, just select your home delivery time so that you get your fruits or vegetable as per your availability. At Gandhibagh.com, shopping comes like a breeze, thanks to the comprehensive amount of fruits and vegetables you have in your list. So, what are you waiting for, go get some of the best deals out here at Gandhibagh.com for getting fresh and high quality fruits and vegetables.<br /><br />
        </p>
    </div>
</div>

