@{
    //Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/css/subCategory.css" rel="stylesheet" />
    <style type="text/css">

        .container {
            width:97%;
            margin:auto;
        }
        .grid .row > .cell {
            margin-left:1.60%;
        }
        .heart {
            display: none !important;
        }
    </style>
    <script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
    </script>
</head>
<body>
    <div class="grid catDivMAin">
        <div class="row cells12">
            <div class="cell colspan4">
                <h2 align="center"><font size=4><b>Home & Kitchen Appliances</b></font></h2>
                <div class="wrap-box">
                    <a href="~/Product/Products?parentCategoryId=255&item=Bar & Glassware" title="Bar & Glassware">
                        <span>Bar & Glassware</span>
                        <img src="~/Content/submenu/home & kitchen/11.jpg" alt="Bar & Glassware" />
                    </a>
                    <a href="~/Product/Products?parentCategoryId=253&item=Cookware & Bakeware" title="Cookware & Bakeware">
                        <span>Cookware & Bakeware</span>
                        <img src="~/Content/submenu/home & kitchen/12.jpg" alt="Cookware & Bakeware" />
                    </a>
                    <a href="~/Product/Products?parentCategoryId=252&item=Cutting & Cooking Tools" title="Cutting & Cooking Tools">
                        <span>Cutting & Cooking Tools</span>
                        <img src="~/Content/submenu/home & kitchen/13.jpg" alt="Cutting & Cooking Tools" />
                    </a>
                    <a href="~/Product/Products?parentCategoryId=254&item=Dining & Serving" title="Dining & Serving">
                        <span>Dining & Serving</span>
                        <img src="~/Content/submenu/home & kitchen/14.jpg" alt="Dining & Serving" />
                    </a>
                    <a href="~/Product/Products?parentCategoryId=250&item=Flasks & Tiffins" title="Flasks & Tiffins">
                        <span>Flasks & Tiffins</span>
                        <img src="~/Content/submenu/home & kitchen/15.jpg" alt="Flasks & Tiffins" />
                    </a>
                    <a href="~/Product/Products?parentCategoryId=505&item=Gas Stoves & Hobs" title="Gas Stoves & Hobs">
                        <span>Gas Stoves & Hobs</span>
                        <img src="~/Content/submenu/home & kitchen/16.jpg" alt="Gas Stoves & Hobs" />
                    </a>
                    <a href="~/Product/Products?parentCategoryId=251&item=Kitchen Storage" title="Kitchen Storage">
                        <span>Kitchen Storage</span>
                        <img src="~/Content/submenu/home & kitchen/17.jpg" alt="Kitchen Storage" />
                    </a>
                    <a href="~/Product/Products?parentCategoryId=256&item=Tea & Coffee Serveware" title="Tea & Coffee Serveware">
                        <span>Tea & Coffee Serveware</span>
                        <img src="~/Content/submenu/home & kitchen/18.jpg" alt="Tea & Coffee Serveware" />
                    </a>

                </div>
            </div>
            <div class="cell colspan4">
                <h2 align="center"><font size=4><b>Small Appliances</b></font></h2>
                <div class="wrap-box">
                    <a href="~/Product/Products?parentCategoryId=507&item=Mixer Grinders" title="Mixer Grinders">
                        <span>Mixer Grinders</span>
                        <img src="~/Content/submenu/home & kitchen/21.jpg" alt="Mixer Grinders" />
                    </a>
                    <a href="~/Product/Products?parentCategoryId=248&item=Air Fryer" title="Air Fryer">
                        <span>Air Fryer</span>
                        <img src="~/Content/submenu/home & kitchen/22.jpg" alt="Air Fryer" />
                    </a>
                    <a href="~/Product/Products?parentCategoryId=508&item=Chopers,Blenders,Roti & Snack Maker" title="Chopers,Blenders,Roti & Snack Maker">
                        <span>Chopers,Blenders,Roti & Snack Maker</span>
                        <img src="~/Content/submenu/home & kitchen/23.jpg" alt="Chopers,Blenders,Roti & Snack Maker" />
                    </a>
                    <a href="~/Product/Products?parentCategoryId=496&item=Cleaning Equipments" title="Cleaning Equipments">
                        <span>Cleaning Equipments</span>
                        <img src="~/Content/submenu/home & kitchen/24.jpg" alt="Cleaning Equipments" />
                    </a>
                    <a href="~/Product/Products?parentCategoryId=501&item=Coffee Maker & Kettles" title="Coffee Maker & Kettles">
                        <span>Coffee Maker & Kettles</span>
                        <img src="~/Content/submenu/home & kitchen/25.jpg" alt="Coffee Maker & Kettles" />
                    </a>
                    <a href="~/Product/Products?parentCategoryId=497&item=Geysere & Heating" title="Geysere & Heating">
                        <span>Geysere & Heating</span>
                        <img src="~/Content/submenu/home & kitchen/26.jpg" alt="Geysere & Heating" />
                    </a>
                    <a href="~/Product/Products?parentCategoryId=492&item=Microwave Ovens & Otgs" title="Microwave Ovens & Otgs">
                        <span>Microwave Ovens & Otgs</span>
                        <img src="~/Content/submenu/home & kitchen/27.jpg" alt="Microwave Ovens & Otgs" />
                    </a>
                    <a href="~/Product/Products?parentCategoryId=495&item=Personal Care Appliances" title="Personal Care Appliances">
                        <span>Personal Care Appliances</span>
                        <img src="~/Content/submenu/home & kitchen/28.jpg" alt="Personal Care Appliances" />
                    </a>
                </div>
            </div>
            <div class="cell colspan4">
                <h2 align="center"><font size=4><b>Small Appliances</b></font></h2>
                <div class="wrap-box">

                    <a href="~/Product/Products?parentCategoryId=488&item=Refrigerator" title="Refrigerator">
                        <span>Refrigerator</span>
                        <img src="~/Content/submenu/home & kitchen/29.jpg" alt="Refrigerator" />
                    </a>
                    <a href="~/Product/Products?parentCategoryId=502&item=Rice Cookers,Steamers & Induction Cookers" title="Rice Cookers,Steamers & Induction Cookers">
                        <span>Rice Cookers,Steamers & Induction Cookers</span>
                        <img src="~/Content/submenu/home & kitchen/30.jpg" alt="Rice Cookers,Steamers & Induction Cookers" />
                    </a>
                    <a href="~/Product/Products?parentCategoryId=509&item=Toasters & Sandwich Maker" title="Toasters & Sandwich Maker" class="halfWidthAnch">
                        <span>Toasters & Sandwich Maker</span>
                        <img src="~/Content/submenu/home & kitchen/31.jpg" alt="Toasters & Sandwich Maker" />
                    </a>
                    <a href="~/Product/Products?parentCategoryId=499&item=Washing Machines" title="Washing Machines" class="halfWidthAnch">
                        <span>Washing Machines</span>
                        <img src="~/Content/submenu/home & kitchen/32.jpg" alt="Washing Machines" />
                    </a>
                    <a href="~/Product/Products?parentCategoryId=511&item=Water Purifiers" title="Water Purifiers" class="halfWidthAnch">
                        <span>Water Purifiers</span>
                        <img src="~/Content/submenu/home & kitchen/33.jpg" alt="Water Purifiers" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
