@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<style>
    .carousel {
        width: 100% !important;
        height: 225px !important;
    }

    .divheading {
        color: black;
        padding: 3px;
        position: absolute;
        z-index: 0;
        top: 0;
    }

    .divmainctg {
        color: #ffffff;
        font-size: 20px;
        line-height: 20px;
        position: absolute;
        top: 5px;
        left: 0;
    }

    .divborder {
        border: 1px solid rgba(128, 128, 128, 0.21);
    }

    body {
        background-color: white;
    }

    .sidediv {
        position: fixed;
        width: 140px;
        height: 200px;
        left: 0%;
        bottom: 30%;
    }

    .sidebutton {
        width: 15px;
        height: 15px;
        margin-top: -20px;
        float: right;
    }

    .sideimage {
        position: fixed;
        width: 140px;
        height: 200px;
    }

    .tile-group1 {
        margin-left: 0px;
        min-width: 80px;
        width: 320px !important;
        height: auto !important;
        float: left;
        display: block;
        padding-top: 0px;
        position: relative;
        max-height: 690px;
        min-height: 283px !important;
        overflow: hidden !important;
    }
</style>
<script>
    $(document).ready(function () {
        $("#sidediv").show();
    });
</script>
<script type="text/javascript">
    function hidediv() {
        $("#sidediv").hide();
    }
</script>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<div id="sidediv" class="sidediv">
    <div>
        <img id="crossbutton" onclick="hidediv()" src="/Content/Images/cross.png" class="sidebutton" />
    </div>
    <div>
        <img src="/Images/Home_Image/sareenew.jpg" class="sideimage" />
    </div>
</div>
<div class="" data-text="">
    <div class="">
        <div class="">
            <div class="cell">
                <div class="carousel" data-role="carousel" data-control-next="
                    <span class='mif-chevron-right'></span>" data-control-prev="<span class='mif-chevron-left'></span>">
                    <div class="slide"><img src="~/Images/Banner/banner31.jpg" data-role="fitImage" data-format="fill"></div>
                    <div class="slide"><img src="~/Images/Banner/banner11.jpg" data-role="fitImage" data-format="fill"></div>
                    <div class="slide"><img src="~/Images/Banner/banner41.jpg" data-role="fitImage" data-format="fill"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br />
<div class="container" id="page">
    <div class="tile-group double">
        <span class="divmainctg" style="color:black">Latest Offers</span>
        <div class="tile-largenew bg-white fg-white divborder" data-role="tile">
            <div class="tile-content">
                <div class="">
                    <img src="~/Images/Home_Image/Offer%20Add/Artis%20Headset%20With%20Mic%20-%20Warrior.jpg" alt="offers" />
                </div>
            </div>
        </div>
        <div class="tile-largenew bg-white fg-white divborder" data-role="tile">
            <div class="tile-content">
                <div class="">
                    <img src="~/Images/Home_Image/Offer%20Add/Bonjour%20Galaxy%20Water%20Jug%206L.jpg" alt="offers" />
                </div>
            </div>
        </div>
    </div>
    <div class="tile-group double">
        <div class="tile-largenew bg-white fg-white divborder" data-role="tile">
            <div class="tile-content">
                <div class="">
                    <img src="~/Images/Home_Image/Offer%20Add/Milton%20Legend.jpg" alt="offers" />
                </div>
            </div>
        </div>
        <div class="tile-largenew bg-white fg-white divborder" data-role="tile">
            <div class="tile-content">
                <div class="">
                    <img src="~/Images/Home_Image/Offer%20Add/Prestige%20Cooktop.jpg" alt="offers" />
                </div>
            </div>
        </div>
    </div>
    <div class="tile-group double">
        <div class="tile-largenew bg-white fg-white divborder" data-role="tile">
            <div class="tile-content">
                <div class="">
                    <img src="~/Images/Home_Image/Offer%20Add/Warmex%20Multi%20Grill%20Toaster%20MGT%2009.jpg" alt="offers" />
                </div>
            </div>
        </div>
        <div class="tile-largenew bg-white fg-white divborder" data-role="tile">
            <div class="tile-content">
                <div class="">
                    <img src="~/Images/Home_Image/Offer%20Add/LG%20MC3283AG%2032%20L.jpg" alt="offers" />
                </div>
            </div>
        </div>
    </div>
    <div class="double">
        <div class="tile-largenew bg-white fg-white divborder" data-role="tile">
            <div class="tile-content">
                <div class="">
                    <img src="~/Images/Home_Image/Offer%20Add/DELL%20INSPIRON%203542%20LAPTOP%20(RED).jpg" alt="offers" />
                </div>
            </div>
        </div>
    </div>
    <div class="tile-group1 double">
        <div class="tile-container">
            <div class="tile-widenew bg-white fg-white divborder" data-role="tile">
                <div class="cart_items">
                    <div class="content">
                        <a href="javascript:;" class="product-image" title="">
                            <img src="~/Images/Home_Image/Offer%20Add/sofa.jpg" alt="offers" style="height: 148px;width: 320px;" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile-container">
            <div class="tile-widenew bg-white fg-white divborder" data-role="tile">
                <div class="cart_items">
                    <div class="content">
                        <a href="javascript:;" class="product-image" title="">
                            <img src="~/Images/Home_Image/Offer%20Add/home_appliance.jpg" alt="offers" style="height: 148px;width: 320px;" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="double">
        <div class="tile-largenew bg-white fg-white divborder" data-role="tile">
            <div class="tile-content">
                <div class="">
                    <img src="~/Images/Home_Image/Offer%20Add/DELL%20INSPIRON%20ONE%203015%203%20Years%20Onsite%20copy.jpg" alt="offers" />
                </div>
            </div>
        </div>
    </div>
    <div class="tile-group double">
        <span class="divmainctg" style="color:black">Categories</span>
        <div class="tile-container">
            <div class="tilenew1 fg-white" data-role="tile">
                <div class="tile-content zooming divborder">
                    <div class="slide">
                        <a href="~/Home/GoldCorner">
                            <img src="~/Images/Home_Image/1gold.jpg">
                        </a>
                    </div>
                    <span class="tile-label text-bold divheading">Gold Market</span>
                </div>
            </div>
            <div class="tilenew1 fg-white" data-role="tile">
                <div class="tile-content zooming divborder">
                    <div class="slide">
                        <a href="~/Home/LifeStyle">
                            <img src="~/Images/Home_Image/sareenew.jpg" alt="Lifestyle" />
                        </a>
                    </div>
                    <span class="tile-label text-bold divheading">Lifestyle</span>
                </div>
            </div>
            <div class="tilenew1 fg-white" data-role="tile">
                <div class="tile-content zooming divborder">
                    <div class="slide">
                        <a href="~/Home/ElectronicsAvenue">
                            <img src="~/Images/Home_Image/mobile%20new.jpg" alt="Electronics Avenue" />
                        </a>
                    </div>
                    <span class="tile-label text-bold divheading">Electronics Avenue</span>
                </div>
            </div>
            <div class="tilenew1 fg-white" data-role="tile">
                <div class="tile-content zooming divborder">
                    <div class="slide">
                        <a href="~/Home/HealthAndFitness">
                            <img src="~/Images/Home_Image/Cosco%20CMTM-Sx-7277%204%20-%20In%20-%201%20Motorised%20Treadmill.jpg" alt="Health & Fitness" />
                        </a>
                    </div>
                    <span class="tile-label text-bold divheading">Health & Fitness</span>
                </div>
            </div>
            <div class="tilenew1 fg-white" data-role="tile">
                <div class="tile-content zooming divborder">
                    <div class="slide">
                        <a href="~/Home/HomeAndFurnitures">
                            <img src="~/Images/Home_Image/sofanew.jpg" alt="Home & Furnitures" />
                        </a>
                    </div>
                    <span class="tile-label text-bold divheading">Home & Furnitures</span>
                </div>
            </div>
            <div class="tilenew1 fg-white" data-role="tile">
                <div class="tile-content zooming divborder">
                    <div class="slide">
                        <a href="~/Home/FoodAndGroceries">
                            <img src="~/Images/Home_Image/1grocery.jpg" alt="Food & Groceries Lane" />
                        </a>
                    </div>
                    <span class="tile-label text-bold divheading">Food & Groceries</span>
                </div>
            </div>
            <div class="tilenew1 fg-white" data-role="tile">
                <div class="tile-content zooming divborder">
                    <div class="slide">
                        <a href="~/Home/ElectricalMarket">
                            <img src="~/Images/Home_Image/electric.jpg" alt="Electrical Market" />
                        </a>
                    </div>
                    <span class="tile-label text-bold divheading">Electrical Market</span>
                </div>
            </div>
        </div>
    </div>
    <div class="tile-group one">
        <div class="tile-container">
            <div class="tilenew1 fg-white" data-role="tile">
                <div class="tile-content zooming divborder">
                    <div class="slide">
                        <a href="~/Home/ElectricalMarket">
                            <img src="~/Images/Home_Image/homethetor.jpg" />
                        </a>
                    </div>
                    <span class="tile-label text-bold divheading">homethetor</span>
                </div>
            </div>
            <div class="tilenew1 fg-white" data-role="tile">
                <div class="tile-content zooming divborder">
                    <div class="slide">
                        <a href="~/Home/ElectricalMarket">
                            <img src="~/Images/Home_Image/h2.jpg" alt="Kitchenware" />
                            <img src="~/Images/Home_Image/h1.jpg" alt="Kitchenware" />
                        </a>
                    </div>
                    <span class="tile-label text-bold divheading">Kitchenware</span>
                </div>
            </div>
            <div class="tilenew1 fg-white" data-role="tile">
                <div class="tile-content zooming divborder">
                    <div class="slide">
                        <a href="~/Home/ElectricalMarket">
                            <img src="~/Images/Home_Image/h4.jpg" alt="Ac" />
                            <img src="~/Images/Home_Image/LG%20LSA5ST3D%20L-ENERGIA%20SILVER%203%20STAR%20WITH%20MOSQUITO%20AWAY.jpg" alt="Ac" />
                        </a>
                    </div>
                    <span class="tile-label text-bold divheading">AC</span>
                </div>
            </div>
            <div class="tilenew1 fg-white" data-role="tile">
                <div class="tile-content zooming divborder">
                    <div class="slide">
                        <a href="~/Home/ElectricalMarket">
                            <img src="~/Images/Home_Image/a1.jpg" />
                        </a>
                    </div>
                    <span class="tile-label text-bold divheading">Washing Machine</span>
                </div>
            </div>
        </div>
    </div>
    <div class="tile-group one">
        <span class="divmainctg" style="color:black">New Arrivals</span>
        <div class="tile-container">
            <div class="tilenew bg-white  fg-white divborder" data-role="tile">
                <div class="tile-content iconic">
                    <img src="~/Images/Home_Image/Polki%20Antique%20(Rani%20Har)%20Necklace%20Code%20375.JPG" alt="Latest Products" style="  height: 320px;" />
                </div>
            </div>
            <div class="tilenew bg-white  fg-white divborder" data-role="tile">
                <div class="tile-content iconic">
                    <img src="~/Images/Home_Image/Barbie%20DW%20Bottle%20S%2020647.jpg" alt="Latest Products" style="  height: 320px;" />
                </div>
            </div>
        </div>
    </div>
    <div class="tile-group double">
        <span class="divmainctg" style="color:black"></span>
        <div class="tile-largenew bg-white fg-white divborder" data-role="tile">
            <div class="tile-content">
                <div class="">
                    <img src="~/Images/Home_Image/ads/londe_jewellers.jpg" />
                </div>
            </div>
        </div>
        <div class="tile-largenew bg-white fg-white divborder" data-role="tile">
            <div class="tile-content">
                <div class="">
                    <img src="~/Images/Home_Image/ads/vastradi_ads.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>
<br />