@{
    Layout = "~/Views/Shared/_Layout11.cshtml";
}
<!DOCTYPE html>
<!-- Home slideder-->

<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<div id="home-slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 slider-left"></div>
            <div class="col-sm-9 header-top-right">
                <div class="col-sm-12 clearfix">
                    <div class="col-sm-8">
                        <div class="homeslider">
                            <div class="bx-wrapper" style="max-width: 100%;">
                                <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height:276px;">
                               
                                    <ul id="contenhomeslider" style="width: 515%; position: relative; transition-duration: 0s; transform: translate3d(-900px, 0px, 0px);">
                                        <li style="float: left; list-style: none; position: relative; width: 900px;" class="bx-clone"><img alt="Funky roots" src="~/Content/update(5-10)/images/banner_kanpur1.jpg" title="Funky roots"></li>
                                        <li style="float: left; list-style: none; position: relative; width: 900px;"><img alt="Funky roots" src="~/Content/update(5-10)/images/banner_kanpur2.jpg" title="Funky roots"></li>
                                        
                                    </ul>
                                </div><div class="bx-controls bx-has-pager bx-has-controls-direction">
                                    <div class="bx-pager bx-default-pager">
                                        <div class="bx-controls-direction">@*<a class="bx-prev" href=""><i class="fa fa-angle-left"></i></a><a class="bx-next" href=""><i class="fa fa-angle-right"></i></a>*@</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="block2 block-shop-features">
                            <div class="block-head">
                                <div class="block-title">
                                    <div class="block-icon">
                                        <img src="~/Content/update(5-10)/images/top-shop/shop-features-icon.png" alt="store icon">
                                    </div>
                                    <div class="block-title-text text-sm">shop</div>
                                    <div class="block-title-text text-lg">features</div>
                                </div>
                            </div>
                            <div class="floatLeft">
                                <div id="mcts1">
                                    @*<a href="~/PreviewItem?itemId=17967"><img src="~/Content/update(5-10)/images/top-shop/banner1.jpg" alt="Banner"></a>
                                    <a href="~/PreviewItem?itemId=1582"><img src="~/Content/update(5-10)/images/top-shop/banner2.jpg" alt="Banner"></a>*@
                                    <a href="#"><img src="~/Content/update(5-10)/images/sub-cat/banner-third.png"/></a>
                                    <a href="#"><img src="~/Content/update(5-10)/images/sub-cat/banner-fourth.png"/></a>
                                    <a href="#"><img src="~/Content/update(5-10)/images/sub-cat/banner-fifth.png"/></a>
                                    <a href="#"><img src="~/Content/update(5-10)/images/sub-cat/banner-sixth.png"/></a>
                                    <a href="#"><img src="~/Content/update(5-10)/images/sub-cat/banner-seven.png"/></a>
                                    <a href="#"><img src="~/Content/update(5-10)/images/sub-cat/banner-eightth.png"/></a>
                                    <a href="#"><img src="~/Content/update(5-10)/images/sub-cat/banner-nine.png"/></a>
                                    <a href="#"><img src="~/Content/update(5-10)/images/sub-cat/banner-tenth.png"/></a>
                                    <a href="#"><img src="~/Content/update(5-10)/images/sub-cat/banner-eleven.png"/></a>                                                                                                                                         
                                    <a href="#"><img src="~/Content/update(5-10)/images/sub-cat/banner-twel.png" /></a>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clearfix">
                    <div class="col-sm-9 col-md-4 newwidthoffer">
                        <div class="block2 block-shop-featuresnew set-divheight">
                            <div class="block-inner">
                                <ul class="list-banner">
                                    <li class="banner-hover" style="height:220px"><a href="#"><img src="~/Content/update(5-10)/images/top-shop/p21.jpg" class="offer-imgDiv" alt="Banner"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-4 newwidthoffer">
                        <div class="block2 block-shop-featuresnew set-divheight">
                            <div class="block-inner">
                                <ul class="list-banner">
                                    <li class="banner-hover" style="height:220px"><a href="#"><img src="~/Content/update(5-10)/images/top-shop/p22.jpg" class="offer-imgDiv" alt="Banner"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-4 newwidthoffer">
                        <div class="block2 block-shop-featuresnew set-divheight">
                            <div class="block-inner">
                                <ul class="list-banner">
                                    <li class="banner-hover" style="height:220px"><a href="#"><img src="~/Content/update(5-10)/images/top-shop/p24.jpg" class="offer-imgDiv" alt="Banner"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Home slideder--><!---->
<div id="content-wrap">
    <div class="container">
        <!-- Baner bottom -->
        <!-- ./blog list -->
        <!-- service 2 -->
        <div class="services2">
            <ul>
                <li class="col-xs-12 col-sm-6 col-md-3 services2-item">
                    <div class="service-wapper">
                        <div class="row">
                            <div class="col-sm-12 image">
                                <div class="icon">
                                    <a href="#"><img src="~/Content/update(5-10)/images/top-shop/offer-one.jpg" alt="service"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-3 services2-item">
                    <div class="service-wapper">
                        <div class="row">
                            <div class="col-sm-12 image">
                                <div class="icon">
                                    <a href="#"><img src="~/Content/update(5-10)/images/top-shop/offer-second.jpg" alt="service"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-3 services2-item">
                    <div class="service-wapper">
                        <div class="row">
                            <div class="col-sm-12 image">
                                <div class="icon">
                                    <a href="#"><img src="~/Content/update(5-10)/images/top-shop/offer-third.jpg" alt="service"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-3 services2-item">
                    <div class="service-wapper">
                        <div class="row">
                            <div class="col-sm-12 image">
                                <div class="icon">
                                    <a href="#"> <img src="~/Content/update(5-10)/images/top-shop/offer-fourth.jpg" alt="service"></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- ./service 2 -->
    </div> <!-- /.container -->
</div>
<!--Load partial-->
<div id="load-content"></div>


