@{
    ViewBag.Title = "Life Style And Fashions|Gandhibagh.com";
}
<link href="~/Content/Home-content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<style>
    .margin-setTop {
        margin-top: -33px;
    }

    .heart {
        display: none !important;
    }
</style>
<script src="~/Content/update(5-10)/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var newClone1 = $("#cpy1").html();
        var newClone1 = $("#cpy2").html();
        var newClone1 = $("#cpy3").html();
        var newClone1 = $("#cpy4").html();
        var newClone1 = $("#cpy5").html();
        var newClone1 = $("#cpy6").html();
        var newClone1 = $("#cpy7").html();
        var newClone1 = $("#cpy8").html();
        var newClone1 = $("#cpy9").html();
        var newClone1 = $("#cpy10").html();
        var newClone1 = $("#cpy11").html();
        var newClone1 = $("#cpy12").html();
        if ($(window).width() < 750) {
            // alert("1");
            $(newClone1).clone().appendTo("#pst1");
            $(newClone1).clone().appendTo("#pst2");
            $(newClone1).clone().appendTo("#pst3");
            $(newClone1).clone().appendTo("#pst4");
            $(newClone1).clone().appendTo("#pst5");
            $(newClone1).clone().appendTo("#pst6");
            $(newClone1).clone().appendTo("#pst7");
            $(newClone1).clone().appendTo("#pst8");
            $(newClone1).clone().appendTo("#pst9");
            $(newClone1).clone().appendTo("#pst10");
            $(newClone1).clone().appendTo("#pst11");
            $(newClone1).clone().appendTo("#pst12");

        } else {
            $("#pst1").empty();
            $("#pst2").empty();
            $("#pst3").empty();
            $("#pst4").empty();
            $("#pst5").empty();
            $("#pst6").empty();
            $("#pst7").empty();
            $("#pst8").empty();
            $("#pst9").empty();
            $("#pst10").empty();
            $("#pst11").empty();
            $("#pst12").empty();
        }
    });
</script>
<script src="~/Scripts/Products.js"></script>
<div class="container margin-setTop">
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/sub-cat/icon-jewelry.png">*@Women Wear</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy1">



                        <li><a href="~/Product/Products?item=Salwar%20Suits&parentCategoryId=744">Salwar Suits</a></li>
                        <li><a href="~/Product/Products?item=Kurtis&parentCategoryId=735">Kurtis</a></li>

                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41705" title="Kayra - Ladies Kurtiya 4308"> Kayra - Ladies Kurtiya 4308</a></h5>
                                              
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41705">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/Kurtis1.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41705"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48558, 41705)">Add to Cart</a>
                                                </div>
                                            </div>

                                        </li>

                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41706" title="Desi Girl - Ladies Kurtiya 4301">Desi Girl - Ladies Kurtiya 4301</a></h5>
                                               
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41706">

                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/Kurtis2.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41706"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48559, 41706)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41601" title="Adaah Ladies Suit's 4302">Adaah Ladies Suit's 4302</a></h5>
                                               
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41601">

                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/Salwarsuit1.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41601"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48452, 41601)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>


                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41624" title="Dairy Milk - Ladies Suit's	4301">Dairy Milk - Ladies Suit's	4301</a></h5>
                                            
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41624">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/Salwarsuit2.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41624"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48475, 41624)">Add to Cart</a>
                                                </div>
                                            </div>

                                        </li>



                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand">
                    <a href="#">
                        @*<img alt="fashion" src="~/Content/update(5-10)/images/sub-cat/icon-jewelry.png">*@Men Clothing
                    </a>
                </div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst3"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy3">

                        <li><a href="~/Product/Products?item=Jeans,%20Jackets%20+%26+T-Shirts&parentCategoryId=1017">Jeans,Jackets & T-shirts</a></li>

                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=42409" title="Crocodile Black Polo T Shirt">Crocodile Black Polo T Shirt</a></h5>
                                                
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=42409">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/t1.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=42409"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(50002, 42409)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=42411" title="Crocodile Royal Blue Polo T Shirt">Crocodile Royal Blue Polo T Shirt</a></h5>
                                             
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=42411">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/t2.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=42411"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(50017, 42411)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand">
                    <a href="#">
                        @*<img alt="fashion" src="~/Content/update(5-10)/images/sub-cat/icon-jewelry.png">*@Eyewear
                    </a>
                </div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst3"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy3">
                        <li><a href="~/Product/Products?parentCategoryId=790">Men Eyewear</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=788">Women Eyewear</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=791">Unisex Eyewear</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=46439" title="Fastrack Black Green Aviator Polarized Sunglasses M035GR5P">Fastrack Black Green Aviator Polarized Sunglasses M035GR5P</a></h5>

                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=46439">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/V_46439.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=46439"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(64073, 46439)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=46433" title="Ray-ban Waferer Sunglasses RB4194 601-S/4L">Ray-ban Waferer Sunglasses RB4194 601-S/4L</a></h5>

                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=46433">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/V_46433.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=46433"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(64067, 46433)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=46432" title="Ray-ban Wafarer Sunglasses RB7060 710/13">Ray-ban Wafarer Sunglasses RB7060 710/13</a></h5>

                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=46432">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/V_46432.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=46432"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(64066, 46432)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=46437" title="Fastrack Men's Sunglasses P143BR3">Fastrack Men's Sunglasses P143BR3</a></h5>

                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=46437">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/V_46437.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=46437"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(64071, 46437)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/sub-cat/icon-jewelry.png">*@ Men's Footwear</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst5"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy5">
                        <li><a href="~/Product/Products?item=Casual%20Shoes&parentCategoryId=997">Casual Shoes</a></li>

                        <li><a href="~/Product/Products?item=Sports%20Shoes&parentCategoryId=1004">Sports Shoes</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=42415" title="Reebok Zignano Burn LP Running Shoes">Reebok Zignano Burn LP Running Shoes</a></h5>
                                                
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=42415">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/shoe1.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=42415"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(50045, 42415)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=42416" title="Reebok Black Shoes">Reebok Black Shoes</a></h5>
                                               
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=42416">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/shoe2.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=42416"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(50052, 42416)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=42417" title="Reebok Men's Ziglite LP Running Shoes">Reebok Men's Ziglite LP Running Shoes</a></h5>
                                             
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=42417">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/shoe3.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=42417"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(50062, 42417)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Kids Section</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst9"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy9">

                        <li><a href="~/Product/Products?item=Toys+%26+Games&parentCategoryId=833">Toys & Games</a></li>

                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">

                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=42166" title="Anand Action Car P038">Anand Action Car P038</a></h5>
                                                
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=42166">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/toy1.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=42166"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(49255, 42166)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=42964" title="Chhota Bheem Shape Size Colours">Chhota Bheem Shape Size Colours</a></h5>
                                                
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=42964">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/toy2.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=42964"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(53424, 42964)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>





                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Gifting Ideas</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst12"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy12">
                        <li><a href="~/Product/Products?item=Flowers%20Bouquet&parentCategoryId=773">Flowers Bouquet</a></li>
                        <li><a href="~/Product/Products?item=Gifts&parentCategoryId=777">Gifts</a></li>

                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=42589" title="Fancy White Crystal Flower Pot">Fancy White Crystal Flower Pot</a></h5>
                                               
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=42589">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/gifts1.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=42589"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(52211, 42589)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=42901" title="Carnation,Roses,Rajnigandha in Flower Basket">Carnation,Roses,Rajnigandha in Flower Basket</a></h5>
                                           
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=42901">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/gifts2.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=42901"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(53347, 42901)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=42565" title="Ceramic Shree Ganesha Statue">Ceramic Shree Ganesha Statue</a></h5>
                                               
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=42565">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/gifts3.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=42565"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51944, 42565)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container containernew1 span12">
    <div class="FootTextDiv">
        <p class="indent-paragraph" style="text-align:justify;">
            <span class="footerdetail">Fashion And Lifestyle</span><br />
            Gandhibagh.com came into being with a notion to bring fashion online. We embarked at the web landscape getting synonymous to the latest styles seen adding up in the market. Both young men and women can explore a long list of fashion stuff, right from the sunglasses to anklets, rings, bangles, dresses, belts, and long list of stuff, which keep on increasing in the fashion products list. Think of Fashion Products, Think Gandhibagh.com. Since our inception, the store has special space for the life style and fashion products, which you can find from the known and unknown brands in the market.
            You can explore a long list of products including apparels, lifestyle stuff, home fashion material, footwear and the list goes on. Apart from giving our consumers some of the best products in class shopping experience, we aspire to cater them a wide array of high quality and stylish fashion and lifestyle merchandise at reasonable price. Right from getting incredible visual content to flawless customer service, quick shipping and delivery, we make shopping experience of our customers outstanding. User friendly return and replacement policy, quick delivery time and robust customer service are some of the vital features of Gandhibagh.com.
            All these elements contribute in giving the customers a cool shopping experience over the web. Right from the fashion accessories for ladies like watches, fine jewellery, artificial jewellery, cosmetics to sunglasses of high quality and several other men's fashion accessories like belts, footwear, apparels for him, her and for kids. Our smart customer centric approach and relentless pursuit to establish as a new yardstick in the online retail market have helped us to emerge an as important shopping destination in Central India.
            We have networked with all the major retailers in Central India and around to cater quality fashion and lifestyle products to customers coming from different walks of life. Gandhibagh.com is known to maintain a very strong and healthy bond with our vendors, suppliers and retailers along, which together can help the customers to get the most lucrative deals online. Come one, come all to explore a wide range of products in this category with high quality and reasonable prices and enjoy incredible shopping experience.
            <br /><br />
        </p>
    </div>
</div>
   