@{
    ViewBag.Title = "Merchant Guide";
}

<style>
    ul {
        text-align: justify;
        list-style-type: none;
    }
</style>
<div class="gap"></div>
<div class="row box" data-gutter="15">
    <h3>Merchant's FAQ</h3>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    <h4 class="panel-title">
                        Register
                    </h4>
                </a>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul>
                        <li style=" font-weight: bold;">What all documents are required to register with eZeelo?</li>
                        <li>Merchant Registration – Form A.</li>
                        <li>Merchant Registration – Form B.</li>
                        <li>Copy of Shop Establishment Certificate.</li>
                        <li>Copy of VAT Registration Certificate (if applicable).</li>
                        <li>Cancelled Blank Cheque.</li>
                        <li>Copy of PAN/TAN.</li>
                        <li>Copy of Service Tax Registration Letter (if applicable).</li>
                        <li>Address Proof.</li>
                        <li>Visiting Card.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    <h4 class="panel-title">
                        Listing And Catalog
                    </h4>
                </a>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li style=" font-weight: bold;">What is listing?</li>
                        <li>Products after ‘going live’ is visible on the portal. Merchants can view the listed products on their eshop.</li>
                        <li style=" font-weight: bold;">How many products do I need to list to start selling?</li>
                        <li>There is no basic limit to the number of products to be uploaded.</li>
                        <li style=" font-weight: bold;">How do I list my products on eZeelo?</li>
                        <li>
                            Merchants have to simply access Product upload -> Add products option
                            Get the products approved through admin
                            Products ‘go live’.
                        </li>
                        <li style=" font-weight: bold;">Can I get help for development of catalog (product images, description, etc.)?</li>
                        <li>Yes our support team will be there to help you out.</li>
                        <li style=" font-weight: bold;">How do I price my products?</li>
                        <li>It is advisable to price products competitively (on the basis of best price & rating by customer merchant will get the preference of their product).</li>
                        <li style=" font-weight: bold;">Will I get charged for listing products on eZeelo?</li>
                        <li>No. Listing of products is free of cost at www.ezeelo.com.</li>
                        <li style=" font-weight: bold;">What all products can be listed in eZeelo?</li>
                        <li>Product listing can be done category wise. A brief summary is as follows:</li>
                        <li>
                            <br />
                            <table class="table striped table-shopping-cart table-bordered" style="text-align: center;">
                                <tr>
                                    <td style="font-weight:bold">Managed Market Place</td>
                                    <td style="font-weight:bold">Open Market Place</td>
                                </tr>
                                <tr>
                                    <td>Fruits</td>
                                    <td>Home Appliances</td>
                                </tr>
                                <tr>
                                    <td>Vegetables</td>
                                    <td>Perfume</td>
                                </tr>
                                <tr>
                                    <td>Grocery</td>
                                    <td>Jewelleries</td>
                                </tr>
                                <tr>
                                    <td>Meat & poultry</td>
                                    <td>Gifts</td>
                                </tr>
                                <tr>
                                    <td>Hosiery</td>
                                    <td>Mobiles</td>
                                </tr>
                                <tr>
                                    <td>Beauty & Personal Care</td>
                                    <td>Sports Goods</td>
                                </tr>
                                <tr>
                                    <td>Sweets</td>
                                    <td>Furniture</td>
                                </tr>
                                <tr>
                                    <td>Bakery</td>
                                    <td> Footwear</td>
                                </tr>
                                <tr>
                                    <td>Baby Care</td>
                                    <td>Fashion accessory</td>
                                </tr>
                                <tr>
                                    <td>-</td>
                                    <td>Kids Toys</td>
                                </tr>
                                <tr>
                                    <td>-</td>
                                    <td>Electronic items</td>
                                </tr>
                                <tr>
                                    <td>-</td>
                                    <td>Stationery</td>
                                </tr>
                                <tr>
                                    <td>-</td>
                                    <td>Books</td>
                                </tr>
                                <tr>
                                    <td>-</td>
                                    <td>Home décor</td>
                                </tr>
                                <tr>
                                    <td>-</td>
                                    <td>Electrical items</td>
                                </tr>
                                <tr>
                                    <td>-</td>
                                    <td>Many others</td>
                                </tr>
                            </table>
                            <br />
                        </li>
                        <li style=" font-weight: bold;">How am I going to list the products?</li>
                        <li>
                            Product is divided into two sub menus.<br />
                            1) Product Upload.
                            2) Approved Product List.
                            <br />
                            As a merchant, you need to provide list of products with rates & details. Rest will be managed by eZeelo.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    <h4 class="panel-title">
                        Sell
                    </h4>
                </a>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li style=" font-weight: bold;">Who can sell on eZeelo?</li>
                        <li>eZeelo provides an opportunity to the local traditional retailers, wholesalers, service providers of the city to make a very comprehensive and viable presence in the fast growing ecommerce segment by partnering on a win-win proposition. </li>
                        <li style=" font-weight: bold;">How do I sell on eZeelo?</li>
                        <li>
                            Merchant who wish to partner with us, can log on to merchant.ezeelo.com  and register themselves.
                            <br />Merchants can contact our customer care +91-9860890890.
                        </li>
                        <li style=" font-weight: bold;">When can I start selling?</li>
                        <li>Once the e-shop of merchants are created and hosted on the portal, products are ready-to-be-sold.</li>
                        <li style=" font-weight: bold;">Where all I can sell my products?</li>
                        <li>Merchants products are showcased to thousands of buyers across India through our hassle-free processes and team of professionals.</li>
                        <li style=" font-weight: bold;">What is my reach across India?</li>
                        <li>eZeelo is the online mega-store having a localized presence in Lucknow and Kanpur offering a wide range of products like Fruits, Fresh Vegetables, Exotic Fruits and Vegetables, Groceries, Electronics, Home Décor, Fashion, Lifestyle, Electricals, Lightings etc. at the most competitive prices from local stores. eZeelo is empowering the local merchants, retailers and vendors to sell their products and services and a range of more than 50000+ products are listed. eZeelo is your one-stop online marketplace where you name the product, and you get it.</li>
                        <li style=" font-weight: bold;">What about promotions and advertising?</li>
                        <li>
                            In order to help the retailers to promote their establishments among the genuine and targeted customers, promotion of Retail Establishment are done via:<br />
                            a) Banner ads.<br />
                            b) Ads per Click including Facebook promotions, digital marketing, Offline Co-branding and Promotion.<br />
                            Continuous promotion of retailers via portal among target audience will ensure large number of visitors to the market place.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    <h4 class="panel-title">
                        Pricing And Payments
                    </h4>
                </a>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li style=" font-weight: bold;">Who decides the price of the product?</li>
                        <li>Merchant will decide the price of their product.</li>
                        <li style=" font-weight: bold;">What are the fees charged?</li>
                        <li>For fees and other related further queries, please contact our customer care +91-9860890890.</li>
                        <li style=" font-weight: bold;">What is Commission fee and how much commission is charged?</li>
                        <li>Commission rate is based on the plans registered with. For further queries, please contact our customer care +91-9860890890.</li>
                        <li style=" font-weight: bold;">How and when do I get paid?</li>
                        <li>Merchant settlements are done weekly. For further details, please contact our customer care +91-9860890890.</li>
                        <li style=" font-weight: bold;">What is the procedure for payment settlement?</li>
                        <li>Merchant payments are settled over a 7 day payment cycle period after successful completion of delivery by logistics team and submission of requisite documents.</li>
                        <li style=" font-weight: bold;">What is the duration for payment settlement?</li>
                        <li>For all orders from Sunday to Saturday to be settled every week on Wednesdays.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                    <h4 class="panel-title">
                        Order Management And Shipping
                    </h4>
                </a>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li style=" font-weight: bold;">How do I manage my orders on eZeelo?</li>
                        <li>You are provided with a separate merchant portal to maintain your order & track delivery (link- <a href="http://merchant.ezeelo.com/" target="_blank" style="color:blue;">merchant.ezeelo.com</a>). </li>
                        <li style=" font-weight: bold;">Do I need to courier my products to eZeelo?</li>
                        <li>We provide pick-up service of orders along with home delivery service through our in house logistic team. There is no need to courier products by merchants.</li>
                        <li style=" font-weight: bold;">Does eZeelo provide packaging material?</li>
                        <li>No, eZeelo does not provide packaging material to merchants.</li>
                        <li style=" font-weight: bold;">How are you going to do pick up for the products?</li>
                        <li>Our pickup partner will pick the products from your given address with required details & delivered the products to the customer. </li>
                        <li style=" font-weight: bold;">How are you going to deliver the products?</li>
                        <li>
                            Products pick-up takes place as per designated time.<br />
                            Products packaging takes place accordingly & delivered.
                        </li>
                        <li style=" font-weight: bold;">Who takes care of the delivery of my products?</li>
                        <li>eZeelo has its own in-house logistics teams who ensures timely order pick-up and delivery services of the products from merchants to customers.</li>
                        <li style=" font-weight: bold;">What should I do if my area is not serviceable by eZeelo?</li>
                        <li>Merchant support required for product pick up.<br />Merchants can opt to stock their merchandise with us.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                    <h4 class="panel-title">
                        Return And Seller Protection
                    </h4>
                </a>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>Category wise detailed return and damaged policy is there & are shared at time of registration.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gap"></div>








