@{
    Layout = "~/Views/Shared/_Layout11.cshtml";
}

<style>
    .divheading {
        color: black;
        padding: 3px;
        position: absolute;
        z-index: 0;
        top: 0;
    }

    .divmainctg {
        color: #ffffff;
        font-size: 20px;
        line-height: 20px;
        position: absolute;
        top: 5px;
        left: 0;
    }

    .divborder {
        border: 1px solid rgba(128, 128, 128, 0.21);
    }

    body {
        background-color: white;
    }

    .container {
        width: 95%;
    }

    .containernew {
        margin: 50px auto !important;
    }

    .firstdiv {
        width: 146px;
        height: 150px;
        padding: 1px;
        border: 1px solid rgba(128, 128, 128, 0.14);
        float: left;
        background: #E6BF8E;
    }

        .firstdiv img {
            width: 145px;
            height: 145px;
            z-index: 1;
        }

        .firstdiv :hover {
            border: 1px solid gray;
        }

    .Seconddiv {
        width: 300px;
        height: 150px;
        padding: 1px;
        border: 1px solid rgba(128, 128, 128, 0.14);
        float: left;
        background: #E6BF8E;
    }

        .Seconddiv img {
            width: 295px;
            height: 145px;
            z-index: 1;
        }

        .Seconddiv :hover {
            border: 1px solid gray;
        }

    .thirddiv {
        width: 292px;
        height: 300px;
        padding: 1px;
        border: 1px solid rgba(128, 128, 128, 0.14);
        float: left;
        background: #746B62;
    }

        .thirddiv img {
            width: 292px;
            height: 295px;
            z-index: 1;
        }

        .thirddiv :hover {
            border: 1px solid gray;
        }

    .fourdiv {
        width: 150px;
        height: 300px;
        padding: 1px;
        border: 1px solid rgba(128, 128, 128, 0.14);
        float: left;
    }

        .fourdiv img {
            width: 145px;
            height: 295px;
            z-index: 1;
        }

        .fourdiv :hover {
            border: 1px solid gray;
        }

    .divfirst {
        width: 292px;
        height: 300px;
        float: left;
        margin-bottom: 30px;
    }

    .divsecond {
        width: 300px;
        height: 450px;
        float: left;
        margin-bottom: 30px;
    }

    .divthird {
        width: 300px;
        height: 600px;
        float: left;
        margin-bottom: 30px;
    }

    h5 {
        margin-top: 0;
        margin-left: 10px;
        z-index: 2;
        position: absolute;
    }

    .cat-decoDiv {
        border: 1px solid #eaeaea;
        padding: 10px 15px;
        color: #FFFCF8;
        font-size: 15px;
        margin: 4px 0px;
        border-radius: 3px 14px 0px 10px;
        height: 40px;
        width: 201px;
        background-color: rgba(0, 0, 0, 0.42);
        box-shadow: 0px -1px 0px #000;
        text-align: center;
    }

    .cat-mainDiv {
        position: absolute;
        top: 120px;
        width: 212px;
        margin-left: 33px;
    }

    .cat-decoDiv a {
        text-decoration: none;
        color: #FFFCF8;
        font-size: 15px;
    }

        .cat-decoDiv a:hover {
            text-decoration: none;
            color: #FFA500;
            font-size: 15px;
        }
    /* entire container, keeps perspective */
    .flip-container {
        perspective: 1000;
    }
        /* flip the pane when hovered */
        .flip-container:hover .flipper, .flip-container.hover .flipper {
            transform: rotateY(180deg);
        }

    .flip-container, .front, .back {
    }

    /* flip speed goes here */
    .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }

    /* hide back of pane during swap */
    .front, .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

    /* front pane, placed above back */
    .front {
        padding-left: 57px;
        transform: rotateY(0deg);
        padding-top: 7px;
        font-size: 22px;
        color: #5A3D23;
    }

    /* back, initially hidden pane */
    .back {
        background: #ffd800;
        transform: rotateY(180deg);
    }

    .productBox1 img {
        border: 1px solid rgba(204, 204, 204, 0.72);
    }
</style>
<div class="container-body" data-text="">
    <div class="">
        <div class="">
            <div class="">
                <div class="carousel" data-role="carousel" style="height:550px;" data-control-next="
                    <span class='mif-chevron-right'></span>" data-control-prev="<span class='mif-chevron-left'></span>">
                    <div class="slide"><img src="~/Content/Home-content/Banner/banner1.png" data-role="fitImage" data-format="fill"></div>
                    <div class="slide"><img src="~/Content/Home-content/Banner/banner1.png" data-role="fitImage" data-format="fill" /></div>
                    <div class="slide"><img src="~/Content/Home-content/Banner/banner2.png" data-role="fitImage" data-format="fill"></div>
                    <div class="slide"><img src="~/Content/Home-content/Banner/banner4.jpg" data-role="fitImage" data-format="fill" /></div>

                </div>
                <img src="" />
            </div>
        </div>
    </div>
</div>
<div class="cat-mainDiv">
    <ul>
        <li><div class="cat-decoDiv"><a href="~/Home/GoldCorner">Gold Market</a></div></li>
        <li><div class="cat-decoDiv"><a href="~/Home/HomeAndFurnitures">Home & Furnitures</a></div></li>
        <li><div class="cat-decoDiv"><a href="~/Home/FoodAndGroceries">Food & Groceries</a></div></li>
        <li><div class="cat-decoDiv"><a href="~/Home/ElectricalMarket">Electrical Market</a></div></li>
        <li><div class="cat-decoDiv"><a href="~/Home/HealthAndFitness">Health & Fitness</a></div></li>
        <li><div class="cat-decoDiv"><a href="~/Home/LifeStyle">Lifestyle</a></div></li>
        <li><div class="cat-decoDiv"><a href="~/Home/ElectronicsAvenue">Electronics Avenue</a></div></li>
        <li><div class="cat-decoDiv"><a href="~/Allshops/index">All Shops</a></div></li>
    </ul>

</div>
<div class="container containernew" id="page">
    <div class="span12">
        <div style="width:100%">
            <div class="divfirst">
                <div class="thirddiv">
                    <img src="~/Content/Home-content/ShowImg/IMG_48398_001_LARGE%20[1].png" />
                </div>
            </div>
            <div class="divfirst">
                <div class="Seconddiv">
                    <img src="~/Content/Home-content/ShowImg/s-1.png">
                </div>
                <div class="firstdiv">
                    <img src="~/Content/Home-content/ShowImg/1grocery.png" />
                </div>
                <div class="firstdiv">
                    <img src="~/Content/Home-content/ShowImg/electric.png">
                </div>
            </div>
            <div class="divfirst">
                <div class="Seconddiv">
                    <img src="~/Content/Home-content/ShowImg/mobile%20new.png" />
                </div>
                <div class="Seconddiv">
                    <img src="~/Content/Home-content/ShowImg/Cosco%20CMTM-Sx-7277%204%20-%20In%20-%201%20Motorised%20Treadmill.png">
                </div>
            </div>
            <div class="divfirst">
                <div class="thirddiv">
                    <img src="~/Content/Home-content/ShowImg/sareenew.png">
                </div>
            </div>
        </div>
    </div>
    <div class="span12">
        <div class="row">
            <div class="span12">
                <h4 class="title">
                    <span class="pull-left"><span class="text"><span class="line">Latest<strong> Products</strong></span></span></span>
                    <span class="pull-right">
                        <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
                    </span>
                </h4>
                <div id="myCarousel" class="myCarousel carousel slide">
                    <div class="carousel-inner">
                        <div class="item">
                            <ul class="thumbnails">
                                <li class="span3">
                                    <div class="product-box">
                                        <span class="sale_tag"></span>
                                        <p><a href="~/Product/Products?parentCategoryId=403&item=Pen Drive"> <img src="~/Content/Home-content/Images/ProductImg/IMG_17720_thumb_001.jpg" /></a></p>
                                        <a href="~/Product/Products?parentCategoryId=403&item=Pen Drive" class="title">Flash Drive 8GB</a><br>
                                        <a href="~/Product/Products?parentCategoryId=403&item=Pen Drive" class="category">20% OFF</a>
                                        <p class="price">Rs.240</p>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="product-box">
                                        <span class="sale_tag"></span>
                                        <p><a href="~/Product/Products?parentCategoryId=836&item=Modi Jacket"> <img src="~/Content/Home-content/Images/ProductImg/IMG_51394_thumb_001.jpg" /></a></a></p>
                                        <a href="~/Product/Products?parentCategoryId=836&item=Modi Jacket" class="title"> Mens Stylish Ethnic Nehru</a><br>
                                        <a href="~/Product/Products?parentCategoryId=836&item=Modi Jacket" class="category">Modi Jacket</a>
                                        <p class="price">Rs.660</p>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="product-box">
                                        <p><a href="product_detail.html"> <img src="~/Content/Home-content/Images/ProductImg/IMG_19456_thumb_001.jpg" /></a></p>
                                        <a href="product_detail.html" class="title">Prestige Champion Mixer Grinder White</a><br>
                                        <a href="products.html" class="category">20% OFF</a>
                                        <p class="price">Rs.6556</p>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="product-box">
                                        <p><a href="product_detail.html"> <img src="~/Content/Home-content/Images/ProductImg/IMG_17720_thumb_001.jpg" /></a></p>
                                        <a href="product_detail.html" class="title">Flash Drive 8GB</a><br>
                                        <a href="products.html" class="category">20% OFF</a>
                                        <p class="price">Rs.240</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="item active">
                            <ul class="thumbnails">
                                <li class="span3">
                                    <div class="product-box">
                                        <p><a href="~/Product/Products?parentCategoryId=345&item=Food Processor"> <img src="~/Content/Home-content/Images/ProductImg/IMG_19456_thumb_001.jpg" /></a></p>
                                        <a href="~/Product/Products?parentCategoryId=345&item=Food Processor" class="title">Bajaj FX 10 Food Processor</a><br>
                                        <a href="~/Product/Products?parentCategoryId=345&item=Food Processor" class="category">20% OFF</a>
                                        <p class="price">Rs.5162</p>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="product-box">
                                        <span class="sale_tag"></span>
                                        <p><a href="~/Product/Products?parentCategoryId=836&item=Modi Jacket"> <img src="~/Content/Home-content/Images/ProductImg/IMG_51394_thumb_001.jpg" /></a></a></p>
                                        <a href="~/Product/Products?parentCategoryId=836&item=Modi Jacket" class="title"> Mens Stylish Ethnic Nehru</a><br>
                                        <a href="~/Product/Products?parentCategoryId=836&item=Modi Jacket" class="category">Modi Jacket</a>
                                        <p class="price">Rs.660</p>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="product-box">
                                        <p><a href="~/Product/Products?parentCategoryId=345&item=Food Processor"> <img src="~/Content/Home-content/Images/ProductImg/IMG_19456_thumb_001.jpg" /></a></p>
                                        <a href="~/Product/Products?parentCategoryId=345&item=Food Processor" class="title">Bajaj FX 10 Food Processor</a><br>
                                        <a href="~/Product/Products?parentCategoryId=345&item=Food Processor" class="category">20% OFF</a>
                                        <p class="price">Rs.5162</p>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="product-box">
                                        <p><a href="~/Product/Products?parentCategoryId=403&item=Pen Drive"> <img src="~/Content/Home-content/Images/ProductImg/IMG_17720_thumb_001.jpg" /></a></p>
                                        <a href="~/Product/Products?parentCategoryId=403&item=Pen Drive" class="title">Flash Drive 8GB</a><br>
                                        <a href="~/Product/Products?parentCategoryId=403&item=Pen Drive" class="category">20% OFF</a>
                                        <p class="price">Rs.240</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <h4 class="title">
                    <span class="pull-left"><span class="text"><span class="line">Latest<strong> Products</strong></span></span></span>
                    <span class="pull-right">
                        <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
                    </span>
                </h4>
                <div id="myCarousel" class="myCarousel carousel slide">
                    <div class="carousel-inner">
                        <div class="item">
                            <ul class="thumbnails">
                                <li class="span3">
                                    <div class="product-box">
                                        <span class="sale_tag"></span>
                                        <p><a href="~/Product/Products?parentCategoryId=403&item=Pen Drive"> <img src="~/Content/Home-content/Images/ProductImg/IMG_17720_thumb_001.jpg" /></a></p>
                                        <a href="~/Product/Products?parentCategoryId=403&item=Pen Drive" class="title">Flash Drive 8GB</a><br>
                                        <a href="~/Product/Products?parentCategoryId=403&item=Pen Drive" class="category">20% OFF</a>
                                        <p class="price">Rs.240</p>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="product-box">
                                        <span class="sale_tag"></span>
                                        <p><a href="~/Product/Products?parentCategoryId=836&item=Modi Jacket"> <img src="~/Content/Home-content/Images/ProductImg/IMG_51394_thumb_001.jpg" /></a></a></p>
                                        <a href="~/Product/Products?parentCategoryId=836&item=Modi Jacket" class="title"> Mens Stylish Ethnic Nehru</a><br>
                                        <a href="~/Product/Products?parentCategoryId=836&item=Modi Jacket" class="category">Modi Jacket</a>
                                        <p class="price">Rs.660</p>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="product-box">
                                        <p><a href="product_detail.html"> <img src="~/Content/Home-content/Images/ProductImg/IMG_19456_thumb_001.jpg" /></a></p>
                                        <a href="product_detail.html" class="title">Prestige Champion Mixer Grinder White</a><br>
                                        <a href="products.html" class="category">20% OFF</a>
                                        <p class="price">Rs.6556</p>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="product-box">
                                        <p><a href="product_detail.html"> <img src="~/Content/Home-content/Images/ProductImg/IMG_17720_thumb_001.jpg" /></a></p>
                                        <a href="product_detail.html" class="title">Flash Drive 8GB</a><br>
                                        <a href="products.html" class="category">20% OFF</a>
                                        <p class="price">Rs.240</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="item active">
                            <ul class="thumbnails">
                                <li class="span3">
                                    <div class="product-box">
                                        <p><a href="~/Product/Products?parentCategoryId=345&item=Food Processor"> <img src="~/Content/Home-content/Images/ProductImg/IMG_19456_thumb_001.jpg" /></a></p>
                                        <a href="~/Product/Products?parentCategoryId=345&item=Food Processor" class="title">Bajaj FX 10 Food Processor</a><br>
                                        <a href="~/Product/Products?parentCategoryId=345&item=Food Processor" class="category">20% OFF</a>
                                        <p class="price">Rs.5162</p>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="product-box">
                                        <span class="sale_tag"></span>
                                        <p><a href="~/Product/Products?parentCategoryId=836&item=Modi Jacket"> <img src="~/Content/Home-content/Images/ProductImg/IMG_51394_thumb_001.jpg" /></a></a></p>
                                        <a href="~/Product/Products?parentCategoryId=836&item=Modi Jacket" class="title"> Mens Stylish Ethnic Nehru</a><br>
                                        <a href="~/Product/Products?parentCategoryId=836&item=Modi Jacket" class="category">Modi Jacket</a>
                                        <p class="price">Rs.660</p>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="product-box">
                                        <p><a href="~/Product/Products?parentCategoryId=345&item=Food Processor"> <img src="~/Content/Home-content/Images/ProductImg/IMG_19456_thumb_001.jpg" /></a></p>
                                        <a href="~/Product/Products?parentCategoryId=345&item=Food Processor" class="title">Bajaj FX 10 Food Processor</a><br>
                                        <a href="~/Product/Products?parentCategoryId=345&item=Food Processor" class="category">20% OFF</a>
                                        <p class="price">Rs.5162</p>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="product-box">
                                        <p><a href="~/Product/Products?parentCategoryId=403&item=Pen Drive"> <img src="~/Content/Home-content/Images/ProductImg/IMG_17720_thumb_001.jpg" /></a></p>
                                        <a href="~/Product/Products?parentCategoryId=403&item=Pen Drive" class="title">Flash Drive 8GB</a><br>
                                        <a href="~/Product/Products?parentCategoryId=403&item=Pen Drive" class="category">20% OFF</a>
                                        <p class="price">Rs.240</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

