
<style>
    .order-detail-content table th, .order-detail-content table td {
        padding: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        border: 1px solid #eaeaea;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-top-color: #eaeaea;
        border-right-color: #eaeaea;
        border-bottom-color: #eaeaea;
        border-left-color: #eaeaea;
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image-source: none;
        border-image-slice: 100% 100% 100% 100%;
        border-image-width: 1 1 1 1;
        border-image-outset: 0 0 0 0;
        border-image-repeat: stretch stretch;
    }

    .newcart .cart_summary > thead, .cart_summary > tfoot {
        background: #f7f7f7 !important;
        font-size: 14px;
    }

    .img-responsive, .thumbnail a > img, .thumbnail > img {
        max-width: 100%;
        height: auto;
    }
</style>
<div class="newcart">
    <div class="order-detail-content">
        <table class="cart_summary" style="width:100%;text-align:center;margin-bottom:10px;">
            <thead>
                <tr>
                    <th class="cart_product">Product</th>
                    <th>Description</th>
                    <th>Unit price</th>
                    <th>Qty</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="cart_product">
                        <a href="#"><img class="img-responsive" src="~/Images/logo.png" alt="Product"></a>
                    </td>
                    <td class="cart_description">
                        <p class="product-name"><a href="#">New one </a></p>
                        <small class="cart_ref">SKU : #123654999</small><br>
                        <small><a href="#">Color : Beige</a></small><br>
                        <small><a href="#">Size : S</a></small>
                    </td>
                    <td class="price"><span>RS. 1000</span></td>
                    <td class="qty">
                        <small><a href="#">1</a></small>
                    </td>
                    <td class="price">
                        <span>Rs. 1000</span>
                    </td>
                </tr>
                <tr>
                    <td class="cart_product">
                        <a href="#"><img class="img-responsive" src="~/Images/logo.png" alt="Product"></a>
                    </td>
                    <td class="cart_description">
                        <p class="product-name"><a href="#">New one </a></p>
                        <small class="cart_ref">SKU : #123654999</small><br>
                        <small><a href="#">Color : Beige</a></small><br>
                        <small><a href="#">Size : S</a></small>
                    </td>
                    <td class="price"><span>RS. 1000</span></td>
                    <td class="qty">
                        <small><a href="#">1</a></small>
                    </td>
                    <td class="price">
                        <span>Rs. 1000</span>
                    </td>
                </tr>
                <tr>
                    <td class="cart_product">
                        <a href="#"><img class="img-responsive" src="~/Images/logo.png" alt="Product"></a>
                    </td>
                    <td class="cart_description">
                        <p class="product-name"><a href="#">New one </a></p>
                        <small class="cart_ref">SKU : #123654999</small><br>
                        <small><a href="#">Color : Beige</a></small><br>
                        <small><a href="#">Size : S</a></small>
                    </td>
                    <td class="price"><span>RS. 1000</span></td>
                    <td class="qty">
                        <small><a href="#">1</a></small>
                    </td>
                    <td class="price">
                        <span>Rs. 1000</span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="1"></td>
                    <td colspan="3"><strong>Total</strong></td>
                    <td colspan="2"><strong>Rs. 3000</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
