@{
    ViewBag.Title = "Payment Guide";
}
<style>
    .tabcontrol2 .frames {
        z-index: 1;
        border: 1px #eeeeee solid;
        margin-top: -4px;
    }
</style>
<div class="example" data-text="">
    <div class="grid responsive">
        <div class="row">
            <div class="cell">
                <h3>Payment Guide</h3>
                <div class="tabcontrol2" data-role="tabControl">
                    <ul class="tabs">
                        <li><a href="#frame_5_1">1</a></li>
                    </ul>
                    <div class="frames">
                        <div class="frame" id="frame_5_1"><img src="~/Images/payment%20proess/payment_process.jpg" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
