
@{
    ViewBag.Title = "MeatAndPoultry";
}

@*<h2>WinterCollection</h2>*@

<link href="~/Content/Home-content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<script src="~/Content/js/Bedcrumbs.js"></script>
<style>
    .margin-setTop {
        margin-top: -33px;
    }
    .heart {display:none!important;
    }
</style>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script src="~/Content/update(5-10)/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var newClone1 = $("#cpy1").html();
        var newClone1 = $("#cpy2").html();
        var newClone1 = $("#cpy3").html();
        var newClone1 = $("#cpy4").html();

        if ($(window).width() < 750) {
            // alert("1");
            $(newClone1).clone().appendTo("#pst1");
            $(newClone1).clone().appendTo("#pst2");
            $(newClone1).clone().appendTo("#pst3");
            $(newClone1).clone().appendTo("#pst4");

        } else {
            $("#pst1").empty();
            $("#pst2").empty();
            $("#pst3").empty();
            //<a href="~/Content/test.html">~/Content/test.html</a>
            $("#pst4").empty();

        }
    });
</script>
<script src="~/Scripts/Products.js"></script>

<div class="container margin-setTop">
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Chicken</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy1">
                        <li><a href="~/Product/Products?selectedCategoryId=87">Chiken</a></li>
    
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="~/PreviewItem?itemId=40270" title="Chicken Winglet With Skin">Chicken Winglet With Skin</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">Rs75.00</span>
                                                        <span class="price old-price">Rs93.00</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="~/PreviewItem?itemId=40270">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/P1.png">
                                                    </a>
                                                    <div class="quick-view">
                                                       <a title="Add to my wishlist" class="heart" href="#"></a>

                                                        <a title="Quick view" class="search" href="~/PreviewItem?itemId=40270"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51343, 40270)">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=40271" title="Raw chicken Thigh Boneless">Raw chicken Thigh Boneless</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs150.00</span>
                                                    <span class="price old-price">Rs175.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=40271">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/P2.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=40271"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51340, 40271)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=40246" title="Boneless Chicken">Boneless Chicken</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs150.00</span>
                                                    <span class="price old-price">Rs175.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=40246">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/P3.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=40246"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51353, 40246)">Add to Cart</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=40245" title="Chicken Skinless">Chicken Skinless </a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs75.00</span>
                                                    <span class="price old-price">Rs90.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=40245">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/P4.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=40245"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51355, 40245)">Add to Cart</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=40214" title="Dressed Chicken With Skin">Dressed Chicken With Skin</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs58.00</span>
                                                    <span class="price old-price">Rs65.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=40214">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/P5.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=40214"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51359, 40214)">Add to Cart</a>
                                                </div>
                                            </div>

                                        </li>                   
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Egg</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy1">
                        <li><a href="~/Product/Products?selectedCategoryId=1432">Egg</a></li>

                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=43132" title="Eggs">Eggs</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs27.00</span>
                                                    <span class="price old-price">Rs30.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=43132">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/egg.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>

                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=43132"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(54186, 43132)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        
                                        
                                        
                                        
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Fish & Prawns</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy1">
                        <li><a href="~/Product/Products?selectedCategoryId=1411">Fish &amp; Prawns</a></li>

                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=43271" title="Maral Fish Boneless (Small Size)">Maral Fish Boneless (Small Size)</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs150.00</span>
                                                    <span class="price old-price">Rs163.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=43271">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Maral_Fish.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>

                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=43271"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(54448, 43271)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=43268" title="Pomfret Fish Dressed">Pomfret Fish Dressed</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs175.00</span>
                                                    <span class="price old-price">Rs180.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=43268">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Pomfret_Fish.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=43268"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(54439, 43268)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=43266" title="Prawns (Big)">Prawns (Big)</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs550.00</span>
                                                    <span class="price old-price">Rs600.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=43266">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Prawns.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=43266"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(54437, 43266)">Add to Cart</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=43265" title="Katarna Fish Dressed">Katarna Fish Dressed</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs63.00</span>
                                                    <span class="price old-price">Rs75.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=43265">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Katarna_Fish.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=43265"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(54433, 43265)">Add to Cart</a>
                                                </div>
                                            </div>

                                        </li>
                                        
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Meat</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy1">
                        <li><a href="~/Product/Products?item=Lamb+%26+Mutton&parentCategoryId=88">Lamb &amp; Mutton</a></li>

                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=43778" title="Mutton Gurda (Kidney)">Mutton Gurda (Kidney)</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs300.00</span>
                                                    @*<span class="price old-price">Rs163.00</span>*@
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=43778">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/m1.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>

                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=43778"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(58210, 43778)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=43783" title="Muttons Chaap">Muttons Chaap</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs220.00</span>
                                                    @*<span class="price old-price">Rs180.00</span>*@
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=43783">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/m2.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=43783"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(58224, 43783)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=43782" title="Mutton (mix)">Mutton (mix)</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs200.00</span>
                                                    @*<span class="price old-price">Rs600.00</span>*@
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=43782">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/m3.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=43782"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(58222, 43782)">Add to Cart</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=43780" title="Mutton Bheja (Brain)">Mutton Bheja (Brain)</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs70.00</span>
                                                    @*<span class="price old-price">Rs75.00</span>*@
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=43780">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/m4.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=43780"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(58214, 43780)">Add to Cart</a>
                                                </div>
                                            </div>

                                        </li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>               
</div>

<div class="container containernew1 span12">
    <div class="FootTextDiv">
        <p class="indent-paragraph ">
            <span class="footerdetail">Meat &amp; Poultry</span><br />
            Welcome to Gandhibagh.com, your Meat &amp; Poultry E-Store.
            Poultry products and meat like chicken meat are among the most popular food products consumed all across the world. These are wholesome and easily available and online stores are not an exception to find them. The poultry & meat can help you in preparing one of the best dishes in your kitchen, which makes them popular among the consumers. These are healthy for both adults and kids of different age groups and remain the source of vitamins and higher nutrient values. Unlike buying the other food products, you can easily buy poultry and meat products online at Gandhiabgh.com.
            This online store is a one stop shopping portal for the consumers of Nagpur and its vicinity areas, wherein you can find one of the best and fresh poultry and meat products online. Gandhibagh.com promises one of the best bets for the Nagpurian consumers’ right in terms of cost and other value added service. You can find one of the best shopping experiences at this online store apart from getting value added services like free same day delivery (above 500 INR), good deals online, smarter discount offers, effective after sales and customer service.
            Buying poultry and meat online is often a risky business; however, with brands like Gandhibagh.com you can find one of the best and fresh poultry products. These are available at the most competitive cost, which come along at your doorsteps within just few hours the same day along with a number of other value added stuff making your shopping experience the best. The poultry & Meat products at Gandhibagh.com are not only fresh and tasty but also rich in terms of nutrients and vitamins, which make them the preferred choice for the Nagpur based consumers. So, feeling crave for Poultry products and Chicken products, why not visit this site and get the best deal online.
            Happy Shopping!<br /><br />
        </p>
    </div>
</div>