@{
    ViewBag.Title = "Submenu";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<style>
    .divheading {
        color: black;
        padding: 3px;
        position: absolute;
        z-index: 0;
        top: 0;
    }

    .divmainctg {
        color: #ffffff;
        font-size: 20px;
        line-height: 20px;
        position: absolute;
        top: 5px;
        left: 0;
    }

    .divborder {
        border: 1px solid rgba(128, 128, 128, 0.21);
    }

    body {
        background-color: white;
    }

    .container {
        width: 95%;
    }

    .containernew {
        margin: 50px auto !important;
    }

    .firstdiv {
        width: 150px;
        height: 150px;
        padding: 1px;
        border: 1px solid rgba(128, 128, 128, 0.14);
        float: left;
    }

        .firstdiv img {
            width: 145px;
            height: 145px;
            z-index: 1;
        }

        .firstdiv :hover {
            border: 1px solid gray;
        }

    .Seconddiv {
        width: 300px;
        height: 150px;
        padding: 1px;
        border: 1px solid rgba(128, 128, 128, 0.14);
        float: left;
    }

        .Seconddiv img {
            width: 295px;
            height: 145px;
            z-index: 1;
        }

        .Seconddiv :hover {
            border: 1px solid gray;
        }

    .thirddiv {
        width: 300px;
        height: 300px;
        padding: 1px;
        border: 1px solid rgba(128, 128, 128, 0.14);
        float: left;
    }

        .thirddiv img {
            width: 295px;
            height: 295px;
            z-index: 1;
        }

        .thirddiv :hover {
            border: 1px solid gray;
        }

    .fourdiv {
        width: 150px;
        height: 300px;
        padding: 1px;
        border: 1px solid rgba(128, 128, 128, 0.14);
        float: left;
    }

        .fourdiv img {
            width: 145px;
            height: 295px;
            z-index: 1;
        }

        .fourdiv :hover {
            border: 1px solid gray;
        }

    .divfirst {
        width: 300px;
        height: 300px;
        float: left;
        margin-bottom: 30px;
    }

    .divsecond {
        width: 300px;
        height: 450px;
        float: left;
        margin-bottom: 30px;
    }

    .divthird {
        width: 300px;
        height: 600px;
        float: left;
        margin-bottom: 30px;
    }

    h5 {
        margin-top: 0;
        margin-left: 10px;
        z-index: 2;
        position: absolute;
    }

    h3 {
        padding-top: -20px;
    }
</style>
<div class="container containernew" id="page">
    <h3>GOLD JEWELLERY</h3>
    <div style="width:100%">
        <div class="divfirst">
            <div class="thirddiv">
                <h5>Bangles</h5>
                <img src="~/Images/Home_Image/1gold.jpg" />
            </div>
        </div>
        <div class="divfirst">
            <div class="Seconddiv">
                <h5>Rings</h5>
                <img src="/Images/Home_Image/ring.jpg">
            </div>
            <div class="firstdiv">
                <h5>Braclet</h5>
                <img src="/Images/Home_Image/braclet.jpg" />
            </div>
            <div class="firstdiv">
                <h5>Watch (GOLD)</h5>
                <img src="/Images/Home_Image/watch.jpg">
            </div>
        </div>
        <div class="divfirst">
            <div class="Seconddiv">
                <h5>Necklaces</h5>
                <img src="/Images/Home_Image/Gold%20Short%20Set%20Necklace%20Code%200036.jpg">
            </div>
            <div class="Seconddiv">
                <h5>Gold Earrings</h5>
                <img src="/Images/Home_Image/Gold%20Earrings%20CODE%2000062.JPG">
            </div>
        </div>
        <div class="divfirst">
            <div class="firstdiv">
                <h5>Necklaces Set</h5>
                <img src="/Images/Home_Image/Gold%20Short%20Set%20Necklaces%20Code%2000121.jpg">
            </div>
            <div class="firstdiv">
                <h5>Necklaces Set</h5>
                <img src="/Images/Home_Image/Gold%20Short%20Set%20Necklaces%20Code%2000121.jpg">
            </div>
            <div class="firstdiv">
                <h5>Necklaces Set</h5>
                <img src="/Images/Home_Image/Gold%20Short%20Set%20Necklaces%20Code%2000121.jpg">
            </div>
            <div class="firstdiv">
                <h5>Necklaces Set</h5>
                <img src="/Images/Home_Image/Gold%20Short%20Set%20Necklaces%20Code%2000121.jpg">
            </div>
        </div>
    </div>
</div>
<div class="container containernew" id="page">
    <h3>GOLD JEWELLERY</h3>
    <div style="width:100%">
        <div class="divfirst">
            <div class="thirddiv">
                <h5>Bangles</h5>
                <img src="~/Images/Home_Image/1gold.jpg" />
            </div>
        </div>
        <div class="divfirst">
            <div class="Seconddiv">
                <h5>Rings</h5>
                <img src="/Images/Home_Image/ring.jpg">
            </div>
            <div class="firstdiv">
                <h5>Braclet</h5>
                <img src="/Images/Home_Image/braclet.jpg" />
            </div>
            <div class="firstdiv">
                <h5>Watch (GOLD)</h5>
                <img src="/Images/Home_Image/watch.jpg">
            </div>
        </div>
        <div class="divfirst">
            <div class="Seconddiv">
                <h5>Necklaces</h5>
                <img src="/Images/Home_Image/Gold%20Short%20Set%20Necklace%20Code%200036.jpg">
            </div>
            <div class="Seconddiv">
                <h5>Gold Earrings</h5>
                <img src="/Images/Home_Image/Gold%20Earrings%20CODE%2000062.JPG">
            </div>
        </div>
        <div class="divfirst">
            <div class="firstdiv">
                <h5>Necklaces Set</h5>
                <img src="/Images/Home_Image/Gold%20Short%20Set%20Necklaces%20Code%2000121.jpg">
            </div>
            <div class="firstdiv">
                <h5>Necklaces Set</h5>
                <img src="/Images/Home_Image/Gold%20Short%20Set%20Necklaces%20Code%2000121.jpg">
            </div>
            <div class="firstdiv">
                <h5>Necklaces Set</h5>
                <img src="/Images/Home_Image/Gold%20Short%20Set%20Necklaces%20Code%2000121.jpg">
            </div>
            <div class="firstdiv">
                <h5>Necklaces Set</h5>
                <img src="/Images/Home_Image/Gold%20Short%20Set%20Necklaces%20Code%2000121.jpg">
            </div>
        </div>
    </div>
</div>
<br />
