@{
    ViewBag.Title = "Submenu";
    Layout = "~/Views/Shared/_Layout11.cshtml";
}
<style>
    .tile-area {
        width: 100% !important;
        height: auto;
        position: relative;
        padding: 25px 0 0 0;
        overflow: hidden;
        background: #16499a !important;
    }

    .carousel {
        position: relative;
        margin-bottom: -2px;
        line-height: 1;
    }

    .slide {
        background: url(/Content/submenu/Damask-pattern-wallpaper-background.jpg) repeat 0 0;
    }
</style>
<link href="~/Content/submenu/css/submenu.css" rel="stylesheet" />
@*GOLD*@
<div class="container-body" data-text="" style="height:auto">
    <div class="carousel SubMenuBgLarge-gold" data-role="carousel" data-control-next="">
        <div class="slide"></div>
    </div>

</div>
<div class="container containernew" id="page" style="position:absolute">
    <div class="Submenu-mainTwoDiv">
        <div class="span12">
            <div class="row">
                <div class="span12">
                    <h3>Gold Jewellery</h3>
                    <div style="width:100%">
                        <div class="divfirst">
                            <div class="thirddiv gold-trans-3">
                                <h5>Bangles</h5>
                                <img src="~/Content/submenu/gold%20category/gold/bangles.png" />
                            </div>
                        </div>
                        <div class="divfirst">
                            <div class="Seconddiv gold-trans-2">
                                <h5>Bracelets</h5>
                                <img src="~/Content/submenu/gold%20category/gold/braclet.png" />

                            </div>
                            <div class="firstdiv gold-trans-1">
                                <h5>Chains</h5>
                                <img src="~/Content/submenu/gold%20category/gold/chain.png" />
                            </div>
                            <div class="firstdiv gold-trans-1">
                                <h5>Earrings</h5>
                                <img src="~/Content/submenu/gold%20category/gold/earings.png" />
                            </div>
                        </div>
                        <div class="divfirst">

                            <div class="firstdiv gold-trans-1">
                                <h5>Mangalsutra</h5>
                                <img src="~/Content/submenu/gold%20category/gold/mangalsutra.png" />
                            </div>
                            <div class="firstdiv gold-trans-1">
                                <h5>Pendant</h5>
                                <img src="~/Content/submenu/gold%20category/gold/pendent.png" />
                            </div>

                            <div class="firstdiv gold-trans-1">
                                <h5>Maangtika</h5>
                                <img src="~/Content/submenu/gold%20category/gold/mantika.png" />
                            </div>
                            <div class="firstdiv gold-trans-1">
                                <h5>Watch</h5>
                                <img src="~/Content/submenu/gold%20category/gold/watch.png" />
                            </div>

                        </div>
                        <div class="divfirst">

                            <div class="firstdiv gold-trans-3">
                                <h5>Necklaces</h5>
                                <img src="~/Content/submenu/gold%20category/gold/neckles.png" />
                            </div>
                            <div class="firstdiv gold-trans-3">
                                <h5>Ring</h5>
                                <img src="~/Content/submenu/gold%20category/gold/ring.png" />
                            </div>
                            <div class="Seconddiv gold-trans-3">
                                <h5>Necklaces Set</h5>
                                <img src="~/Content/submenu/gold%20category/gold/neckless-set.png" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="span12">
            <div class="row">
                <div class="span7">
                    <h3>Diamond Jewellery</h3>
                    <div style="width:100%">
                        <div class="divfirst">
                            <div class="thirddiv gold-trans-3">
                                <h5>Diamond Ring</h5>
                                <img src="~/Content/submenu/gold%20category/diamond/ring.png" />

                            </div>
                        </div>


                        <div class="divfirst">
                            <div class="thirddiv gold-trans-3">
                                <h5>Earrings</h5>
                                <img src="~/Content/submenu/gold%20category/diamond/earing.png" />

                            </div>
                        </div>
                    </div>
                </div>
                <div class="span5">
                    <h3>1 Gram Jewellery</h3>
                    <div style="width:100%">
                        <div class="divfirst">
                            <div class="Seconddiv gold-trans-1">
                                <h5>Bangles</h5>
                                <img src="~/Content/submenu/gold%20category/gram%20jewellery/bangles.png" />

                            </div>

                            <div class="firstdiv gold-trans-2">
                                <h5>Bracelets</h5>

                                <img src="~/Content/submenu/gold%20category/gram%20jewellery/bracelete.png" />
                            </div>
                            <div class="firstdiv gold-trans-1">
                                <h5>Necklaces</h5>
                                <img src="~/Content/submenu/gold%20category/gram%20jewellery/neckless.png" />

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
