
@{
    ViewBag.Title = "WinterCollection";
}

@*<h2>WinterCollection</h2>*@

<link href="~/Content/Home-content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<script src="~/Content/js/Bedcrumbs.js"></script>
<style>
    .margin-setTop {
        margin-top: -33px;
    }
    .heart {display:none!important;
    }
</style>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script src="~/Content/update(5-10)/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var newClone1 = $("#cpy1").html();
        var newClone1 = $("#cpy2").html();
        var newClone1 = $("#cpy3").html();
        var newClone1 = $("#cpy4").html();

        if ($(window).width() < 750) {
            // alert("1");
            $(newClone1).clone().appendTo("#pst1");
            $(newClone1).clone().appendTo("#pst2");
            $(newClone1).clone().appendTo("#pst3");
            $(newClone1).clone().appendTo("#pst4");

        } else {
            $("#pst1").empty();
            $("#pst2").empty();
            $("#pst3").empty();
            //<a href="~/Content/test.html">~/Content/test.html</a>
            $("#pst4").empty();

        }
    });
</script>
<script src="~/Scripts/Products.js"></script>

<div class="container margin-setTop">
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Winter Wear Women</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy1">
                        <li><a href="~/Product/Products?selectedCategoryId=1411">Women Jacket</a></li>
                        <li><a href="~/Product/Products?item=Women%20Sweater&parentCategoryId=1413">Women Sweater</a></li>
                        <li><a href="~/Product/Products?item=Women%20Shawl&parentCategoryId=1415">Women Shawl</a></li>
                        <li><a href="~/Product/Products?item=Women%20Thermal%20Wear&parentCategoryId=1418">Women Thermal Wear</a></li>
                        <li><a href="~/Product/Products?item=Women%20Cap&parentCategoryId=1414">Women Cap</a></li>
                        <li><a href="~/Product/Products?item=Women%20Socks&parentCategoryId=1416">Women Socks & Shoe</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="~/PreviewItem?itemId=41757" title="Full Sleeve Winter Long Sweater For Women">Full Sleeve Winter Long Sweater For Women</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">Rs1750.00</span>
                                                        <span class="price old-price">Rs 1830.00</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="~/PreviewItem?itemId=41757">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W1.png">
                                                    </a>
                                                    <div class="quick-view">
                                                       <a title="Add to my wishlist" class="heart" href="#"></a>

                                                        <a title="Quick view" class="search" href="~/PreviewItem?itemId=41757"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48734, 41757)">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41753" title="Bodycare Thermals White T-Shirt Full">Bodycare Thermals White T-Shirt Full</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs385.00</span>
                                                    @*<span class="price old-price">Rs2129.00</span>*@
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41753">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W2.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41753"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48710, 41753)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41742" title="Dig Big Women's Winter Jacket">Dig Big Women's Winter Jacket</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs1450.00</span>
                                                    @*<span class="price old-price">Rs85.00</span>*@
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41742">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W3.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41742"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48643, 41742)">Add to Cart</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41674" title="Oswal Winter Woolen Shawl For Women">Oswal Winter Woolen Shawl For Women</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs330.00</span>
                                                    <span class="price old-price">Rs370.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41674">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W4.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41674"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48527, 41674)">Add to Cart</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41555" title="Red Woolen Cap For Women">Red Woolen Cap For Women</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs160.00</span>
                                                    <span class="price old-price">Rs250.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41555">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W5.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41555"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48380, 41555)">Add to Cart</a>
                                                </div>
                                            </div>

                                        </li>
                                        @*<li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41859">Female Multicolor Socks Set Of 3</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs75.00</span>
                                                    <span class="price old-price">Rs90.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41859">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W6.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                              
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41859"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48880, 41859)">Add to Cart</a>
                                                </div>
                                            </div>

                                        </li>*@



                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Winter Wear Men</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst2"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy2">
                        <li><a href="~/Product/Products?item=Mens%20Jacket&parentCategoryId=1401">Men Jacket</a></li>
                        <li><a href="~/Product/Products?item=Mens%20Sweater&parentCategoryId=1400">Men Sweater</a></li>
                        <li><a href="~/Product/Products?item=Mens%20Shawl&parentCategoryId=1403">Men Shawl</a></li>
                        <li><a href="~/Product/Products?item=Mens%20Thermal%20Wear&parentCategoryId=1406">Men Thermal Wear</a></li>
                        <li><a href="~/Product/Products?item=Mens%20Hand%20Gloves&parentCategoryId=1405">Men Hand Gloves</a></li>
                        <li><a href="~/Product/Products?shopID=10403&selectedCategoryId=1402">Men Socks</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41868" title="Gray Color Winter Men's Jacket">Gray Color Winter Men's Jacket</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs300.00</span>
                                                    <span class="price old-price">Rs400.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41868">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W7.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41868"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48889, 41868)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41874" title="Oswal Half Sweater For Men">Oswal Half Sweater For Men</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs800.00</span>
                                                    <span class="price old-price">Rs1000.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41874">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W8.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41874"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48895, 41874)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41668" title="Oswal Winter Shawl (Khaki) With Border For Men">Oswal Winter Shawl (Khaki) With Border For Men </a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs250.00</span>
                                                    <span class="price old-price">Rs290.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41668">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W9.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41668"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48521, 41668)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41747" title="Lux Cotts Wool Thermal wear( Upper) For Chilly Winters">Lux Cotts Wool Thermal wear( Upper) For Chilly Winters</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs300.00</span>
                                                    @*<span class="price old-price">Rs1000.00</span>*@
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41747">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W10.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41747"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48651, 41747)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41746" title="Men's Black Winter Hand Gloves 003">Men's Black Winter Hand Gloves 003</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs250.00</span>
                                                    <span class="price old-price">Rs260.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41746">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W11.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41746"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48647, 41746)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Winter Wear Kids</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst3"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy3">
                        <li><a href="~/Product/Products?item=Kids%20Jacket&parentCategoryId=1407">Kids Jacket</a></li>
                        <li><a href="~/Product/Products?item=Kids%20Sweater&parentCategoryId=1412">Kids Sweater</a></li>
                        <li><a href="~/Product/Products?item=Kids%20Socks&parentCategoryId=1408">Kids Socks & Shoe</a></li>
                        <li><a href="~/Product/Products?item=Kids%20Cap&parentCategoryId=1409">Kids Cap</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41773" title="Full Sleeve Winter Green Sweater With Cap For Kids">Full Sleeve Winter Green Sweater With Cap For Kids</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs850.00</span>
                                                    <span class="price old-price">Rs900.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41773">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W13.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41773"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48754, 41773)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41676" title="Sleeveless Blue Sweater For Kids">Sleeveless Blue Sweater For Kids</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs90.00</span>
                                                    <span class="price old-price">Rs120.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41676">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W14.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41676"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48529, 41676)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41661" title="Kids's Winter Wear Shoes">Kids's Winter Wear Shoes</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs170.00</span>
                                                    <span class="price old-price">Rs200.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41661">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W15.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41661"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48514, 41661)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41664" title="Kids's Woolen Cap">Kids's Woolen Cap</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs110.00</span>
                                                    <span class="price old-price">Rs160.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41664">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W16.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41664"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48517, 41664)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                        @*<li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=1077">Maxx Air Blue Wall Fan</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs2200.00</span>
                                           
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=1077">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EM5.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                  
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=1077"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(21109, 1077)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>*@
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Home Furnishing</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst4"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy4">
                        <li><a href="~/Product/Products?selectedCategoryId=1255">Blankets & Quilts</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41788" title="Single Bed Quilts Combo Of 2">Single Bed Quilts Combo Of 2</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs350.00</span>
                                                    <span class="price old-price">Rs500</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41788">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W17.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41788"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48769, 41788)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41781" title="Double Bed Orange Blanket">Double Bed Orange Blanket</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs350.00</span>
                                                    @*<span class="price old-price">Rs500</span>*@
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41781">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W18.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41781"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48762, 41781)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41822" title="Winter Blanket">Winter Blanket</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs690.00</span>
                                                    <span class="price old-price">Rs1000</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41822">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W19.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41822"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48803, 41822)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41785" title="Pink winter Blanket 01">Pink winter Blanket 01</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs760.00</span>
                                                    <span class="price old-price">Rs900</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41785">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W20.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41785"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48766, 41785)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Small Appliances</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst4"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy4">
                        <li><a href="~/Product/Products?parentCategoryId=497&item=Geysers & Heating">Geysers & Heating</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41750" title="Airo Electric Heater Rod">Airo Electric Heater Rod</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs250.00</span>
                                                    <span class="price old-price">Rs310</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41750">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W21.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41750"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48680, 41750)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=1749" title="Jyoti Silver 6 Litre Gas Geyser">Jyoti Silver 6 Litre Gas Geyser</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs4500.00</span>
                                                    <span class="price old-price">Rs6250</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=1749">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W22.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=1749"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(3955, 1749)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Skin Care</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst4"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy4">
                        <li><a href="~/Product/Products?parentCategoryId=1154&item=Creams &amp; Lotions">Creams &amp; Lotions</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41381" title="Vaseline Intensive Care Lotion Cocoa Radiant">Vaseline Intensive Care Lotion Cocoa Radiant </a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs625.00</span>
                                                    <span class="price old-price">Rs675</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41381">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W23.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41381"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(47942, 41381)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41385" title="Dove Silky Body Cream">Dove Silky Body Cream</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs350.00</span>
                                                    <span class="price old-price">Rs400</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41385">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W24.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41385"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(47946, 41385)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=41004" title="Vaseline Intensive Care Cocoa Glow Body Lotion">Vaseline Intensive Care Cocoa Glow Body Lotion</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs40.00</span>
                                                    @*<span class="price old-price">Rs4000</span>*@
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=41004">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W25.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=41004"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(47223, 41004)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=26662" title="L'Oreal Paris Perfect Skin 40+ Day Cream">L'Oreal Paris Perfect Skin 40+ Day Cream</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs595.00</span>
                                                    @*<span class="price old-price">Rs4000</span>*@
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=26662">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W26.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=26662"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(29852, 26662)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

<div class="container containernew1 span12">
    <div class="FootTextDiv">
        <p class="indent-paragraph ">
            <span class="footerdetail">Electrical Market</span><br />
            Welcome to Gandhibagh.com, your electrical E-Store.
            Just give a glance around and we can find how, we are surrounded with a number of electrical products, which illuminate our life with happiness and glee. The electrical products like bulbs, wires, cables, pumps, motors, inverters and batteries to name a few are part and parcel of our life. With the vision of adding ease in shopping a number of electrical products for our online consumers, you can find almost all the electrical products with us. The shopping portal aims to replace all the darkness with light inside your home along with a number of other products, which can make your home, office or club turn effective and productive.
            Gandhibagh.com is one of the leading online stores in Central India, catering high quality and guaranteed electrical products at the most reasonable cost backed with incredibly simple and user friendly shopping experience through the most trusted and secured gateway for credit/debit card and net banking payment options. Here you can buy the branded electrical products conforming the standards of safety and quality like Batteries, Cable & Amp Connectors, USBs, Adapters, Decorative lights, Electric Fittings & Components, Inverters and Network & Lan accessories from a wide range of brands. You can browse a wide array of high quality electrical products at our shopping portal with proper images and complete description, which help the online consumers to have a right buying decision.
            Gandhibagh.com is backed by an established group from Central India, known to cater high quality electrical and other products with competitive cost, quick delivery, customer friendly services, efficient logistics/supply chain management and robust sourcing relationships. With our user friendly web designs and simple navigation, you can find all the electrical products with ease, compare the same with others and find the one, which suits the best to you and your requirements. The technical details found across all the electrical products available with us can help in finding products as per your norms and requirements, making the online store as the one stop solutions for all your electrical requirements. Our consumers feel at home while shopping at Gandhibagh.com and meet up all their electrical requirements giving them a hassle free and best shopping experience.
            Happy Shopping!<br /><br />
        </p>
    </div>
</div>