/*=============================-320 X 240-==================================*/
@media only screen and (max-width: 320px) and (min-width: 240px) 
	{
	
    .div-trans {margin-top:202px;
        min-height: 573px; }
}



/*=============================-480 X 320-==================================*/
@media only screen and (max-width: 480px) and (min-width: 320px) 
{
    .resForms fieldset {padding:20px 0; margin-left:1px;
    }
    .resdt {width: 53px; margin-top:-1px;
    }
    .div-trans {margin-top:228px;
        min-height: 573px; }
    .breadcrumbs1 {margin-bottom: -215px; margin-top:190px!important;
    }
    .wdth-mid{width:258px!important;}
    .wdth-large {width:258px!important;}
        .about-img {
        background: rgba(0, 0, 0, 0) url("../img/delivery-lst.png") no-repeat scroll 162px 0!important;
        margin-left: -152px;
        margin-bottom: -415px;
    }
    #carousel-slider {margin-top:0;
    }
    .sub-head {text-align:justify;
    }
    .media-body P {text-align:justify;
    }
    .login-btn {margin-left:247px!important; margin-right:-2px; margin-top:-80px; width:55px!important;
    }
    #loginViewModel_UserName {width:240px!important;
    }
    #loginViewModel_Password {width:240px!important;
    }
    .passfor {margin-right: 60px; margin-top: -8px; margin-bottom:6px;
    }
    .contUs {text-align:center;
    }
    #sidebar-left {
		background: #FFEFD8!important;
	}
    #shopID {width:150px;
    }
    #btnSearch {margin-left:-9px;
    }
    .forDate1 {width:275px!important;
    }
    .forDate2 {width:275px!important;
    }
    #myTable {margin-top:35px;
    }
    .dataTables_filter {margin-left:28px!important;
    }
}
/*=============================-600 X 480-==================================*/
@media only screen and (max-width: 600px) and (min-width: 480px) 
{
   
    .div-trans {
        margin-top:145px; }
      .breadcrumbs1 {margin-bottom: -140px; margin-top: 155px!important;
    }
     .login-div input {width:148px!important;
    }
    .about-img {
        background: rgba(0, 0, 0, 0) url("../img/delivery-thrd.png") no-repeat scroll 162px 0!important;
        margin-left: -133px;
        margin-bottom: -277px;
    }
        #carousel-slider {margin-top:0;
    }
   #sidebar-left {
		background: #FFEFD8!important;
	}
    .dataTables_wrapper {width:433px!important;
    }
   
}

/*=============================-768 X 600-==================================*/
@media only screen and (max-width: 768px) and (min-width: 600px) 
{
  .div-trans {margin-top:140px;
    }
   .breadcrumbs1 {margin-bottom: -125px; margin-top: 152px!important;
    }
   #myTable_filter {margin-left: 335px!important;
    }
}


/*=============================-640 X 600-==================================*/
@media only screen and (max-width: 640px) and (min-width: 600px) 
{
		
	   #about {background:rgba(0, 0, 0, 0) url("../img/delivery-res-scnd.png") no-repeat scroll 162px 0; margin-left:-133px; margin-bottom:-277px;
    }
    .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {width:555px; height:330px;  margin-left:1px;
    }
    #carousel-slider {margin-top:0;
    }
    .breadcrumbs {margin-top:153px;
    }
    #sidebar-left {
		background: #FFEFD8!important;
	}
    #myTable_filter {margin-left: 335px!important;
    }
    #myTable {margin-top:15px;
    }
    #myTable_wrapper {width:542px!important;
    }
}

/*=============================-1000 X 960-==================================*/
@media only screen and (max-width: 960px) and (min-width: 800px) {
      #about {background:rgba(0, 0, 0, 0) url("../img/delivery-res.png") no-repeat scroll 162px 0; margin-left:-115px; margin-bottom:-195px;
    }
    .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {width:630px; height:350px;  margin-left:35px;
    }
    #carousel-slider {margin-top:0;
    }

}

/*=============================-800 X 768-==================================*/
@media only screen and (max-width: 800px) and (min-width: 768px) {

    #about {background:rgba(0, 0, 0, 0) url("../img/delivery-res.png") no-repeat scroll 162px 0; margin-left:-115px; margin-bottom:-195px;
    }
    .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {width:630px; height:350px;  margin-left:35px;
    }
    #carousel-slider {margin-top:0;
    }
}



/*===============================RESPONCIVE LAYOUT==========================*/
/*==========================================================================*/

/*=============================-1400 X 1366-==================================*/
@media only screen and (max-width: 1400px) and (min-width: 1366px) 
{
}
/*=====================1280 EESOLAtion==================*/
@media only screen and (max-width: 1365px) and (min-width: 1280px)
{
	
	}

/*=============================-1366 X 1280-==================================*/
@media only screen and (max-width: 1366px) and (min-width: 1280px) 
{
}
/*=============================-1280 X 1200-==================================*/
@media only screen and (max-width: 1280px) and (min-width: 1200px) 
{

}


/*=============================-1136 X 1024-==================================*/
@media only screen and (max-width: 1136px) and (min-width: 1024px) 
{
    #about {margin-left:-170px;
    }
    
}



