body {
    padding-bottom: 0px!important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.back_searchIco {
    background: url(../Content/img/icon_browser.png) no-repeat 0px 0px;
    background-position: right;
}


/* styles for validation helpers */

.field-validation-error {
    color: #b94a48;
    display: block;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*User Theme change css by Gopal*/
* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

.body-content {
    min-height: 500px;
    max-height: 100%;
}

.chkBox, .radioBtn {
    opacity: 1 !important;
    width: 13px !important;
    height: 13px !important;
}

.head {
    background-color: #e4e4e4;
    padding: 5px 10px;
}

.content-box {
    margin: 10px;
}

.container-fluid .logo {
    display: block;
    line-height: 35px;
    font-size: 22px;
    color: #fff !important;
    font-weight: 600 !important;
    padding: 10px 20px !important;
    text-shadow: none !important;
    margin-left: -40px;
}

.logo span {
}
/*Table Style vai*/
.border_one {
}

    .border_one tr {
        border: 1px solid #eee;
        background-color: #DDCBB0 !important;
    }


.hide-row {
    display: none;
}

.tble_calculation tbody tr th {
    text-align: right;
}

.txt-rght {
    text-align: right !important;
}

.box {
    margin-bottom: 0px !important;
}

.box-bg-color {
    background: #F5E8DF !important;
}

.logo_txt {
    color: #FFF;
    text-decoration: none;
    font-size: 25px !important;
    font-weight: bold;
}

.scroll-tbl {
    max-width: 89% !important;
}

.scrollable #myTable {
    overflow: scroll;
    display: block;
}

.clearfix {
    clear: both;
}





/*customer registration*/
.btnSearch-f {
}

table tr td:nth-of-type(2n+1) {
}

.dataTables_length {
    margin-left: 15px;
    margin-top: 7px;
}

.dataTables_filter {
    margin-left: 15px;
}

.dataTable {
}

.viewCont a {
    font-size: 13px !important;
}

    .viewCont a.btn:nth-of-type(8) {
        margin-top: 10px;
    }

    .viewCont a.btn:nth-of-type(9) {
        margin-top: 10px;
    }

    .viewCont a.btn:nth-of-type(10) {
        margin-top: 10px;
    }

#myTable_length {
    float: left;
    margin-top: 15px !important;
}

#myTable_filter {
    margin-left: 360px;
    margin-top: 15px !important;
}

#loader_img {
    margin-left: 500px;
}


.selectCity {
    margin: auto !important;
}

    .selectCity table tr td {
        border: none !important;
    }

.box-bg-color {
    background: #F5E8DF !important;
}

.hed-tble {
    border-top: 1px solid #eeeeee;
}

.box-top {
    margin-top: -18px;
}


/*employee management Forms*/
.box-content span.hed-owner {
    color: #3a5795 !important;
}

#BusinessType {
    margin-top: 10px;
    margin-left: 5px;
}

#BusinessOwner {
    margin-top: 10px;
    margin-left: 5px;
}

.content-hed {
    border-bottom: 2px dotted #ccc;
    margin-bottom: 15px;
}

.top-text {
    color: #3a5795;
}


/*login box*/

.signUpContent {
    margin-left: 15px; /*background-color:#e1e6f9;*/
    padding: 5px 0;
}

    .signUpContent h4 {
        margin-left: 30px;
        color: #000;
        font-weight: bold;
    }

.subContent {
}

    .subContent p {
        font-size: 12px;
        color: #7c7d7e;
    }

.button-login {
    height: 35px;
    float: none !important;
    margin-left: 5px;
    display: inline-block;
    margin-top: 3px !important;
}

.btn-both {
    margin-left: 170px;
    margin-top: 25px;
}

.add-on {
    padding-bottom: 24px !important;
}

.input-prepend {
    padding: 6px 0 !important;
}

.mid-cont {
    margin-top: 12px;
}

.icon-login span {
    font-size: 25px;
    color: #fff;
    text-align: center;
}

.icon-login .glyfIcon {
    margin-top: -7px;
}

.breadcrumbs {
    border: none !important;
    top: 120px !important;
    color: #f90808;
}

.mid-cont .add-on {
    height: 0 !important;
}

.extra-log {
    margin-bottom: 0px;
    margin-top: 0px;
    float: none !important;
}

.breadcrumbs {
    border: none !important;
    top: 120px !important;
    color: #f90808;
}

/*Main Login*/

.MainLogin {
    margin-top: 10px !important;
    box-shadow: none !important;
}

.loginHead {
    height: 100px;
    margin-right: 8px;
}

    .loginHead i {
        color: #fff;
        opacity: 8 !important;
        background-position: -140px -952px !important;
    }

    .loginHead span {
        display: inline-block;
        margin-top: 7px;
    }

.login-box.MainLogin .input-prepend {
    display: inline-block;
    margin-left: 20px;
    text-align: left;
    width: 30%;
}

.login-box.MainLogin .input-prepend {
}

.input-append, .input-prepend {
    display: inline-block;
    font-size: 0;
    margin-bottom: 0px !important;
    vertical-align: top !important;
    white-space: nowrap;
}

.contentBox {
}

    .contentBox .control-group {
        display: inline-block;
        margin-left: 10px;
    }

        .contentBox .control-group [class*="span"] {
            min-height: 20px;
        }

.container input:focus, .container select:focus {
    box-shadow: 0 0 3px #f64e32 !important;
}


/*Bank Details*/
.distance-rows {
    margin-left: 30px !important;
}

.distNow {
    margin-left: 20px !important;
}

.paginate_disabled_next {
    margin-left: 10px !important;
}

/*Merchant Approval Report*/
#myTable_wrapper {
    width: 1082px;
    height: 500px;
}

.viewCont .glyphicons-icon.calendar {
    background-position: -235px -190px;
}

.dtPic {
    display: inline;
}

.icon-dt .glyphicons-icon.calendar {
    background-position: -236px -190px;
}


/*Login Pages*/
.discrip_box {
    height: 156px !important;
}

#myTable_wrapper {
    overflow-y: scroll;
    max-height: 628px;
    min-height: 120px;
    margin-top: 40px;
    width: 100%;
}

.fg-toolbar {
    position: absolute;
    width: 93% !important;
    margin-top: -45px;
}

.totalcount {
    float: right;
    margin-top: -36px;
    margin-right: 18px;
}

.page-number {
    padding: 5px;
    background: rgba(220, 220, 220, 0.3);
    font-size: 15px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
}

.wrap {
    width: 640px;
    margin: 20px;
    background: #F9F9F9;
    position: relative;
}

body div.slider {
    overflow: hidden;
    position: relative;
    width: 47%;
    height: 31px !important;
    margin-left: 19px;
}

    body div.slider ul {
        margin: 0;
        padding: 0;
        height: 40px;
    }

    body div.slider li {
        float: left;
    }

/*Mis Report*/
.lineSpaceRes {
    margin-bottom: -45px;
}

/*Product Upload Css */
/*common Class*/
.sorting_1 {
    background: none !important;
}

.dataTables_filter {
    margin-right: 2px;
    display: inline-block;
}

.dataTables_info {
    display: inline-block !important;
}

.dataTables_paginate {
    display: inline-block !important;
    float: right;
    margin-right: 2px;
}

.box-bg-white {
    background-color: #fff !important;
    padding: 0px 10px;
}

.CheckBoxMargin {
    margin-top: -17px !important;
}

.DivSmall {
    width: 112px !important;
}

.txt-adjWidth, #PackSize {
    width: 6em !important;
}

.DivSmall1 {
    width: 154px !important;
}

.txt-adjWidth1 {
    width: 139px !important;
}

.bg-gray {
    background: rgba(255, 245, 230, 0.99) !important;
    padding: 7px;
}

.mrg-top {
    margin-top: -9px;
}

.margin-top {
    margin-top: 10px;
}

#dialog-form {
    display: none;
}

.jumpBtn {
    margin-top: -7px;
}

    .jumpBtn a {
        color: #fff !important;
    }

.hidden-phone {
    margin-bottom: -20px !important;
}
/*Editor Width Apply For Design*/
.cleditorMain {
    width: 100% !important;
    height: 205px !important;
}

.glyphicons-icon.calendar {
    background-position: -236px -190px !important;
}

.glyphicons-icon.search {
    background-position: -332px -96px !important;
}

.mrg_top {
    margin-top: -13px;
}

.bg-white {
    background: #fff;
}

.checkDiv {
    background-color: #FFF;
    padding: 14px 54px !important;
    border-radius: 5px;
}

.mrg-minusTop {
    margin-top: -20px !important;
}

.bg-green {
    background: #AB8F65 !important;
}

.nameDscrp div.DivSmall1:nth-child(3) {
    margin-left: 0px;
}



/*common Class End*/
.creatProduct {
    background-color: #AB8F65 !important;
}

.creatMain {
    background-color: #F5E8DF !important;
}

.nameDscrp {
    background: rgba(255, 255, 255, 0.41);
    padding: 20px !important;
    border-radius: 5px;
    border: 0 none;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

.form-horizontal .control-label {
    width: 0 ;
}

#Description {
    height: 124px !important;
}

.compId {
    background-color: #fff;
    padding: 20px !important;
    margin-top: 10px;
    border-radius: 5px;
}

.pricingT {
    background-color: #fff;
    padding: 20px !important;
    margin-top: 10px;
    border-radius: 5px;
}

.varient {
    background-color: #fff;
    padding: 20px !important;
    margin-top: 10px;
    border-radius: 5px;
}

.cmGram {
    background-color: #fff;
    padding: 20px !important;
    margin-top: 10px;
    border-radius: 5px;
}

.right-stockStatus {
    background-color: #f5f6f7;
    padding: 20px;
    border-radius: 5px;
}

.right-sizeUnit {
    background-color: #f5f6f7;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.right-brnd {
    padding: 10px 18px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.41);
    border-radius: 5px;
    border: 0 none;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

.right-display {
    background: rgba(255, 255, 255, 0.41);
    border-radius: 5px;
    border: 0 none;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 10px 18px;
    border-radius: 5px;
    margin-top: 10px;
}

.upload-ChooseFile {
    margin-top: 10px;
    min-height: 239px;
    background: rgba(255, 255, 255, 0.41);
    padding: 20px !important;
    border-radius: 5px;
    border: 0 none;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

.upload-ChooseFile-setHeight {
    min-height: 0px !important;
}


#dvPreview {
    text-align: left;
    width: 100%;
}

.upload-ChooseFile table tr td #dvPreview img {
    width: 157px;
    height: 149px;
    margin-left: 2px;
    border: 6px solid #A6A89E;
}

.upload-ChooseFile table tr td:nth-of-type(2n+1) {
    font-size: 30px;
}

.upload-ChooseFile table tr td {
}

.upload-ChooseFile .action {
    color: #479ccf;
    font-size: 17px !important;
    margin-left: 40px;
    cursor: pointer !important;
}

    .upload-ChooseFile .action:hover {
        text-decoration: underline !important;
        cursor: pointer;
    }

.uplaod-imgshow {
    float: left;
}

    .uplaod-imgshow img {
        border: 1px solid #ccc;
        margin-left: 2px;
        width: 156px !important;
    }

    .uplaod-imgshow #Remove {
        background: url(../Content/img/remove-icon.png) no-repeat 0px 0px rgba(255, 245, 230, 0.99);
        float: left;
        margin-left: -24px;
        width: 23px;
        padding: 2px 4px;
        font-size: 0;
    }

.browse-file .uploader {
    opacity: 1 !important;
    width: 280px !important;
    margin-left: 22px;
}

    .browse-file .uploader input {
        width: 123px !important;
    }

.upload-ChooseFile .browse-file .uploader .action {
    margin-left: 40px !important;
}

.upload-center {
    margin: 0 auto;
    display: block;
}

table tr th { /*background:#B3A185!important;*/
    background: #D2C6B5 !important;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background: url(../img/mer-bg.jpg) repeat 0px 0px !important;
}

table.dataTable.stripe tbody tr.even, table.dataTable.display tbody tr.even {
    background: url(../img/mer-bg.jpg) repeat 0px 0px !important;
}

/*Browse File Button hidden for design*/
div .upload-ChooseFile .uploader input {
    opacity: 0 !important;
}

.uploag_iconCntr {
    text-align: center !important;
}

.heading-first {
    background-color: #c6c1c1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 15px;
}

.heaing-scnd {
    background-color: #c6c1c1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

.heading-third {
    background-color: #c6c1c1;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}

.form-horizontal h4 {
    font-size: 18px;
    margin-left: 32px;
    margin-bottom: 15px;
    color: #a19e9e;
}

.right-display {
    margin-top: 10px;
}

.taxInclu {
    padding-left: 5px;
}

.inputBx {
    margin-left: 10px;
    margin-top: 22px;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { /*width:90%;*/
    width: 95%;
    font-size: 12px !important;
    margin-right: 5px !important;
}

.ui-widget input {
    /*width:77%!important;*/ width: 82% !important;
}

.pro-scrol table thead tr td:nth-of-type(2n+1) {
    width: 70px !important;
}

#uniform-inlineCheckbox1 span { /*margin-top: -10px;*/
}

.pro-scrol .checker span {
    margin-left: 6px;
}

.ui-widget {
    margin-left: 4px !important;
}

.pro-scrol tr th {
    font-size: 12px !important;
    line-height: 16px;
    padding-right: 3px;
}

.down-box {
    margin-top: 8px;
    margin-bottom: 20px;
}

.cat-hed {
    padding-bottom: 5px;
}

.discrip_box {
    height: 105px !important;
}

.creatMain .remove {
    margin-left: -66px;
}

.addMore {
    margin-top: -12px;
}

#IsActive { /*margin-top:20px;*/
}

.btn-Ifrm-submit1 {
    position: relative;
    width: 97px !important;
    background-color: #FFB33F !important;
    height: 36px;
    color: #fff !important;
}

.dollr {
    background: url(../Content/assets/img/save-btn.jpg) no-repeat 24px 2px;
    font-size: 0px;
}

.btn-Ifrm-submit {
    position: relative;
    width: 82px !important;
    background-color: #FFB33F !important;
    border-radius: 7px;
    height: 33px;
    color: #fff !important;
}


/*Add Component*/
.dvTable {
    overflow-y: scroll;
    float: left;
    width: 72%;
    height: 174px;
    margin-top: 62px;
}

.comp-tble table thead {
    position: absolute;
    /*top:166px;*/ top: 206px;
}

    .comp-tble table thead tr th {
        font-size: 12px !important;
    }

#btnMoveRight {
    margin-left: -7px;
    background-color: #5E441E;
    border: solid 1px#5E441E;
    color: #FFF;
    width: 27px;
}

/*Load Variant*/
#gridContentComponent {
    overflow-y: scroll;
    width: 960px;
    margin-top: 40px;
    height: 100px;
}

    #gridContentComponent table thead {
        position: absolute;
        top: 15px;
    }

.ttl {
    margin-right: 207px;
    text-align: right;
}

.succes-msg {
    color: #125400;
    font-size: 20px;
}

.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.66);
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

.white_content {
    display: none;
    position: absolute;
    top: 9%;
    left: 25%;
    width: 42%;
    padding: 16px;
    border: 16px solid #AB8F65;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}

.tax_close {
    float: right;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 15px;
    padding: 0px 5px;
    background:#AB8F65;
    color: #fff;
}

.poplink {
    display: block;
    background: #AB8F65;
    border: 1px solid #AB8F65;
    border-radius: 12px;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.remove-ico {
    background: url(..\Content\img\remove-icon.png) no-repeat 0px 0px;
}
