@model ModelLayer.Models.ViewModel.EzeeMoneyPayoutViewModel

<div class="card">
    <div class="card-header"><strong>Users</strong></div>
    <div class="card-body card-block">
        @Html.DisplayFor(model => model.ActiveUserCount)/@Html.DisplayFor(model => model.UserCount)
    </div>
</div>
