<div ng-controller="ShippingAddressController" class="container">
    <h3>Shipping Address</h3>
    <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
        <tr>
            <th style="width:40px;"><i class="glyphicon glyphicon-map-marker"></i></th>
            <th>Address</th>
            <th>Contact</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="sa in shippingAddress">
            <td><input type="radio" name="IsSelectedShipping" checked="{{ sa.IsSelected }}" /></td>
            <td>{{ sa.ShippingAddress }}, {{ sa.CityName }}, {{ sa.DistrictName }}, {{ sa.StateName }}, {{ sa.AreaName }}, {{ sa.PincodeName }}</td>
            <td>{{ sa.PrimaryMobile }} {{ sa.SecondaryMobile }}</td>
            <td><button ng-click="edit(sa)">Edit</button></td>
        </tr>
    </table>
    <table style="width:100%">
        <tr>
            <td style="width:50%">
                &nbsp;
            </td>
            <td>
                <table class="table table-bordered table-condensed  ">
                    <tr>
                        <td style="width:160px;">Shipping Address</td>
                        <td><textarea style="width:100%">{{ ShippingAddress }}</textarea></td>
                    </tr>

                    <tr>
                        <td>Primary Mobile</td>
                        <td><input type="text" value="{{ PrimaryMobile }}" /></td>
                    </tr>

                    <tr>
                        <td>Pincode</td>
                        <td><input type="text" value="{{ PincodeName }}" /></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</div>
