
.stars.summary {
    display: inline-block;
    vertical-align: middle;
}

.stars .fa.fa-star {
    color: #aaa;
}

    .stars .fa.fa-star.full {
        color: inherit;
    }

.stars .fa-star.half {
    position: relative;
}

    .stars .fa-star.half:after {
        content: "\f005";
        color: #005551;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 50%;
    }

.stars.green {
    color: #005551;
}

    .stars.green .fa-star.half:after {
        color: #005551;
    }

.stars.black {
    color: #000;
}

    .stars.black .fa-star.half:after {
        color: #000;
    }

#modalShowMerchantRatings {
    color: #005551;
    line-height: 1.42857143;
}

    #modalShowMerchantRatings .row {
        margin: 0 -5px;
    }

    #modalShowMerchantRatings span {
        vertical-align: initial;
    }

.rating-bubble {
    background: #005551;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    font-size: 38px;
    padding-top: 16px;
    color: #fff;
    font-weight: bolder;
    text-align: center;
}

.histogram .row {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

.histogram .histo-col.col-1 {
    width: 36px;
}

.histogram .histo-col {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

.histogram .star-val {
    vertical-align: top;
    padding-right: 5px;
}

histogram .histo-col.col-2 {
    width: calc(20% - 36px);
}

.histogram .histo-col.col-3 {
    width: calc(100% - 12% - 36px);
}

.histogram .bar-val {
    color: #5bb784;
    font-size: 11px;
    float: right;
    vertical-align: top;
}

.histogram .bar {
    display: inline-block;
    height: 16px;
    background: #5bb784;
}

.box-review {
    padding: 9px 5px;
    font-family: "Open Sans",Arial Unicode MS,sans-serif;
}

    .box-review:hover {
        box-shadow: 0 3px 2px rgba(0,0,0,0.15), 0 0 2px rgba(0,0,0,0.15);
    }

    .box-review header {
        position: relative;
        height: auto;
        font-size: 13px;
        line-height: 1.42857143 !important;
        text-align: initial;
    }

    .box-review .stars {
        padding-right: 8px;
        display: inline-block;
    }

.font-16 {
    font-size: 16px !important;
}

.box-review h5 {
    margin-top: 6px;
    display: inline-block;
    line-height: 1.2em;
    margin-right: 60px;
    margin-bottom: 0;
}

.box-review .name {
    font-size: 15px;
    font-weight: bold;
    color: inherit;
}

.box-review time {
    font-size: 11px;
}

.box-review .content {
    padding-top: 3px;
}

.box-review p {
    margin: 0 0 9px;
    margin-top: 8px;
}
.box-content {
    display: block;
    background-color: #fff;
    padding: 52px 20px 20px 20px;
    height: 100%;
}
.p-partner-wrapper {
    position: relative;
}
    .p-partner-wrapper .p-dealer-cover {
        position: relative;
    }
        .p-partner-wrapper .p-dealer-cover .dealer-cover-img-wrapper {
            position: relative;
            height: 160px;
            width: 100%;
            overflow: hidden;
        }
        .p-partner-wrapper .p-dealer-cover .blurr-bg, .p-partner-wrapper .p-dealer-cover .dealer-cover-img {
            position: absolute;
            top: 0px !important;
            left: 0px !important;
            bottom: 0px !important;
            right: 0px !important;
            background-color: rgb(255, 255, 255) !important;
            background-size: cover !important;
            background-position: center center !important;
            background-repeat: no-repeat !important;
        }
        .p-partner-wrapper .p-dealer-cover .dealer-cover-logo {
            position: absolute;
            width: 200px;
            height: 200px;
            background-color: rgb(255, 255, 255);
            top: 200px;
            left: 48%;
            margin-left: -75px;
            z-index: 2;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px 0px;
            border-width: 12px;
            border-style: solid;
            border-color: rgb(236, 236, 236);
            border-image: initial;
            border-radius: 2px;
        }
            .p-partner-wrapper .p-dealer-cover .dealer-cover-logo .dealer-logo-wrapper {
                height: 100%;
                width: 100%;
                text-align: center;
                position: relative;
                overflow: hidden;
            }
        .p-partner-wrapper .p-dealer-cover .dealer-name {
            text-align: center;
            margin-top: 34px;
        }
            .p-partner-wrapper .p-dealer-cover .dealer-name .container {
                padding-top: 0px !important;
                padding-bottom: 0px !important;
            }
            .p-partner-wrapper .p-dealer-cover .dealer-name h2 {
                font-size: 32px;
                line-height: 1em;
                margin: 0px;
            }
    .p-partner-wrapper .p-dealer-content .panel-wrapper {
        overflow: hidden;
    }
@media (min-width: 992px) {
    .p-partner-wrapper .p-dealer-cover .row-button {
        position: relative;
        background-color: transparent;
        padding-bottom: 0px;
        width: auto;
        box-shadow: none;
        z-index: 1;
        border-top: none;
    }
}
.carousel-inner .item img {
    min-height: 200px;
    min-width: 300px;
}
.p-partner-wrapper .p-dealer-cover .row-button {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 102%;
    z-index: 100;
    padding-bottom: 8px;
    box-shadow: rgb(50, 50, 50) 2px -1px 14px -5px;
    background-color: rgba(255, 255, 255, 0.6);
}

.row-centered {
    text-align: center;
}
.p-partner-wrapper .p-dealer-content {
    margin-top: 11.5px;
}
.no-padding-top {
    padding-top: 0 !important;
}
.p-partner-wrapper .p-dealer-content .box-item {
    padding-top: 6.5px;
    padding-bottom: 6.5px;
}
    .p-partner-wrapper .p-dealer-content .box-item .box-content {
        position: relative;
        padding: 18px;
    }
        .p-partner-wrapper .p-dealer-content .box-item .box-content > * {
            z-index: 1;
            position: relative;
        }
.p-partner-wrapper .p-dealer-content h3 {
    font-size: 22px;
    margin-bottom: 21px;
}
.p-partner-wrapper .p-dealer-content .contact ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 12px;
}
    .p-partner-wrapper .p-dealer-content .contact ul li:first-child {
        margin-top: 0;
    }
    .p-partner-wrapper .p-dealer-content .contact ul li {
        position: relative;
        margin-top: 18px;
    }
.p-partner-wrapper .p-dealer-content .contact .icon-contact {
    position: relative;
}
.p-partner-wrapper .p-dealer-content .contact .icon {
    padding-left: 54px;
}
.p-partner-wrapper .p-dealer-content .contact ul li .header {
    font-family: "Open Sans Bold",Arial Unicode MS,sans-serif;
}
.p-partner-wrapper .p-dealer-content .contact .icon-info {
    position: relative;
}
.p-partner-wrapper .p-dealer-content .contact .icon-id {
    position: relative;
}
.p-partner-wrapper .p-dealer-content .contact .icon-contact:before {
    
    left: 0;
    top: 13px;
    position: absolute;
}
.p-partner-wrapper .p-dealer-content .contact .icon:before {
    font-family: 'myWorld Font';
    position: absolute;
    font-size: 38px;
    line-height: 0;
    left: 0;
    top: 14px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .00001px;
}
.p-partner-wrapper .p-dealer-content .contact .icon-info:before {
    left: 0;
    position: absolute;
}
.p-partner-wrapper .p-dealer-content .contact .icon-id:before {
    left: 0;
    top: 17px;
    position: absolute;
}
.p-partner-wrapper .p-dealer-content .box-item .box-content:before {
    content: "";
    border-bottom: 2px solid #d0d0d0;
    border-right: 2px solid #d0d0d0;
    height: 100%;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 100%;
    z-index: 0;
}