body {
    padding: 0;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
}

section.personalCare .carousel-indicators {
    bottom: 15px;
}

.personalCare .personalCareMain h4 {
    color: white;
    background: #3eb54b;
    padding: 4px 10px;
    display: inline-block;
    text-align: left;
}

section.personalCare {
    height: auto;
    position: relative;
    padding: 1% 0;
}

.col-lg-6.leftSide-Slider {
    padding: 0;
}
/*SliderCSS*/
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 0%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 0%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0000) 0,rgba(0,0,0,.0) 0%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 0%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 0%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0000) 0,rgba(0,0,0,.0) 0%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
/*SliderCSS*/

.personalCareInnerContent {
    display: inline-block;
}

.simple_rightSide-galleryInner {
    display: inline-block;
}

.col-lg-6.simple_rightSide-gallery .simple_rightSide-galleryInner ul li {
    list-style: none;
}

.col-lg-6.simple_rightSide-gallery .simple_rightSide-galleryInner ul li {
    list-style: none;
    margin-bottom: 8px;
}

    .col-lg-6.simple_rightSide-gallery .simple_rightSide-galleryInner ul li:nth-child(1n+3) {
        margin-bottom: 0;
    }

.simple_rightSide-galleryInner img.img-responsive {
    object-fit: cover !important;
    object-position: center !important;
    min-height: 200px;
    border-radius: 5px;
}

.GroceryPartDownImages {
    width: 100%;
    display: inline-block;
    margin-top: 2%;
}

.col-lg-4.GroceryPartDownImages_img-1 {
    padding: 0;
}

.col-lg-4.GroceryPartDownImages_img-2 {
    padding: 0;
}

.col-lg-4.GroceryPartDownImages_img-3 {
    padding: 0;
}

.Grocery h4 {
    color: white;
    background: #0f6bb2;
    padding: 4px 10px;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
}

.HouseHoldMain h4 {
    color: white;
    background: #663399;
    padding: 4px 10px;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
}

section.HouseHold {
    display: inline-block;
    margin: 1% 0;
    width: 100%;
}

.HouseHoldInnerContent {
    display: inline-block;
    width: 100%;
}

.BrandedFoodMain h4 {
    color: white;
    background: #f4690c;
    padding: 4px 10px;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
}

.BrandedFoodInnerContent .col-lg-6.BrandedFoodIMG {
    margin-bottom: 4px;
    padding-left: 0;
}

.BrandedFoodInnerContent {
    display: inline-block;
}

section.BrandedFood {
    padding: 0% 0 1% 0;
    display: inline-block;
    width: 100%;
}

/*blog sider css start here*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,700,600,500,300,200,100,800);

section.blogNews {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    margin-bottom: 5%;
}

h2 {
    color: #4C4C4C;
    word-spacing: 5px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
}

.ion-minus {
    padding: 0px 10px;
}

.blog .card {
    background-color: #FFF;
    border: 1px solid #eceaea;
    margin: 0;
}

.blog .card-block {
    padding: 15px;
}

.btn.btn-default {
    background-color: #5db4c0;
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 13px 20px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 10px;
}

    .btn.btn-default:hover {
        background-color: #5db4c0;
        color: #000;
    }

img.card-img-top {
    min-height: 218px;
}


/*blog sider css end here*/


/*logo slider css here */
.logo-slider {
    margin: 0 0 3% 0;
    max-height: 68px;
}

.carousel-indicators {
    bottom: 0;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.logo-slider img {
    height: 40px;
}


.logo-slider div#Carousel {
    border: 0;
    box-shadow: none;
    width: 100%;
}

.logo-slider .item.active img {
    transition: none;
    transform: none;
}

.logo-slider .slide img {
    height: 30px;
    margin-bottom: 0;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: #3eb64c;
    border: 0px solid #f00;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #25aae2;
}
/*logo slider css here */



section.personalCare .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #25aae2;
}

section.personalCare .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: #3eb64c;
    border: 0px solid #f00;
    border-radius: 10px;
}

/*grocery slider CSS*/
.transition-timer-carousel .carousel-caption {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 4%, rgba(0,0,0,0.5) 32%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(4%,rgba(0,0,0,0.1)), color-stop(32%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: left;
    padding-top: 5px;
    padding-left: 15%;
    padding-right: 15%;
}

    .transition-timer-carousel .carousel-caption .carousel-caption-header {
        margin-top: 10px;
        font-size: 24px;
    }

@media (min-width: 970px) {
    /* Lower the font size of the carousel caption header so that our caption
    doesn't take up the full image/slide on smaller screens */
    .transition-timer-carousel .carousel-caption .carousel-caption-header {
        font-size: 36px;
    }
}

.transition-timer-carousel .carousel-indicators {
    bottom: 0px;
    margin-bottom: 5px;
}

.transition-timer-carousel .carousel-control {
    z-index: 10;
}

.transition-timer-carousel .transition-timer-carousel-progress-bar {
    height: 5px;
    background-color: #5cb85c;
    width: 0%;
    margin: -5px 0px 0px 0px;
    border: none;
    z-index: 11;
    position: relative;
}

    .transition-timer-carousel .transition-timer-carousel-progress-bar.animate {
        /* We make the transition time shorter to avoid the slide transitioning
    before the timer bar is "full" - change the 4.25s here to fit your
    carousel's transition time */
        -webkit-transition: width 4.25s linear;
        -moz-transition: width 4.25s linear;
        -o-transition: width 4.25s linear;
        transition: width 4.25s linear;
    }


/*slider CSS*/

.personalCare .item.active img {
    transition: none;
    /* This should be based on your carousel setting. For bs, it should be 5second*/
    transform: none;
    width: 100% !important;
    border-radius:5px !important;
}

.GroceryInnerContent .item.active img {
    transition: none;
    transform: none;
    width: 100% !important;
    border-radius: 5px !important;
}

.logo-slider_inner .carousel-indicators {
    bottom: -30%;
}

/*starting here of @media(max-width: 1199px)*/
@media(max-width: 1199px) {
    .simple_rightSide-galleryInner img.img-responsive {
        min-height: 160px;
    }
}
/*starting here of @media(max-width: 1199px)*/
/*starting here of @media(max-width: 1024px)*/
@media(max-width: 1024px) {
    .col-lg-6.simple_rightSide-gallery .simple_rightSide-galleryInner ul li {
        margin-bottom: 8px;
    }
}
/*ending here @media(max-width: 1024px)*/

/* start here @media (max-width: 991px) */

@media (max-width: 991px) {
    .col-lg-6.simple_rightSide-gallery {
        padding: 0;
    }

        .col-lg-6.simple_rightSide-gallery .simple_rightSide-galleryInner ul li {
            padding-left: 0;
        }

            .col-lg-6.simple_rightSide-gallery .simple_rightSide-galleryInner ul li:nth-child(2n+0) {
                padding-right: 0;
            }


    .GroceryPartDownImages .col-lg-4.col-md-4.col-sm-4:first-child {
        padding-left: 0;
    }

    .GroceryPartDownImages .col-lg-4.col-md-4.col-sm-4:last-child {
        padding-right: 0;
    }

    .HouseHoldInnerContent .col-lg-3.col-md-3.col-sm-3:first-child {
        padding-left: 0;
    }

    .HouseHoldInnerContent .col-lg-3.col-md-3.col-sm-3:last-child {
        padding-right: 0;
    }

    .HouseHoldInnerContent .col-lg-3.col-md-3.col-sm-3 img {
        min-height: 145px;
    }

    .col-lg-6.BrandedFoodIMG.foodBrandedItem {
        padding-left: 0;
        padding-right: 0;
    }

    section.blogNews .blog .col-lg-4.col-md-4.col-sm-4.col-xs-12:last-child {
        padding-right: 0;
    }

    section.HouseHold .HouseHoldInnerContent .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-xs-12 {
        padding: 10px;
        display: inline-block;
        margin-right: 0%;
    }

    section.blogNews .blog .col-lg-4.col-md-4.col-sm-4.col-xs-12:first-child {
        padding-left: 0;
    }

    .logo-slider {
        display: inline-block;
        width: 100%;
    }

    .logo-slider_inner .carousel-indicators {
        bottom: -13px;
    }

   
    .HouseHoldInnerContent img.img-responsive {
        width: 100%;
        border: 1px solid #0000001f;
    }

    section.HouseHold .HouseHoldInnerContent .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-xs-12:nth-child(odd) {
        padding-left: 0;
    }

    section.HouseHold .HouseHoldInnerContent .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-xs-12:nth-child(even) {
        padding-right: 0;
    }


    .GroceryInnerContent .item.active img {
        transition: none;
        transform: none;
        width: 100% !important;
    }
}
/* end of 991px media (Paras*/




/* Start here @media(max-width:767px)	(Paras */
@media(max-width:767px) {
    .col-lg-6.leftSide-Slider {
        display: inline-block;
        width: 100%;
    }

    .GroceryPartDownImages .col-lg-4.col-md-4.col-sm-4 img {
        display: inline-block;
        width: 100% !important;
    }

    .GroceryPartDownImages .col-lg-4.col-md-4.col-sm-4 {
        padding-left: 0;
        padding: 0 4px !important;
        margin: 0;
    }

        .GroceryPartDownImages .col-lg-4.col-md-4.col-sm-4:first-child {
            padding-left: 0 !important;
            margin: 0;
            padding-right: 0 !important;
        }

        .GroceryPartDownImages .col-lg-4.col-md-4.col-sm-4:last-child {
            padding: 0 !important;
        }

    .HouseHoldInnerContent .col-lg-3.col-md-3.col-sm-3 img {
        min-height: 145px;
        margin-bottom: 3%;
    }

    .col-lg-6.BrandedFoodIMG img {
        width: 100%;
    }

    .HouseHoldInnerContent .col-lg-3.col-md-3.col-sm-3:last-child {
        padding-right: 0;
        padding: 0;
    }

    .HouseHoldInnerContent .col-lg-3.col-md-3.col-sm-3.col-xs-12 {
        padding: 0;
    }

    .BrandedFoodInnerContent .col-lg-6.col-md-6.col-sm-6.col-xs-12 {
        padding: 0;
    }

    .blogNews .blog .col-lg-4.col-md-4.col-sm-4.col-xs-12 {
        padding: 0;
    }

    .blogNews .blog .col-lg-4.col-md-4.col-sm-4.col-xs-12 {
        padding: 0;
        margin-bottom: 3%;
    }

    .HouseHold .HouseHoldInnerContent .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-xs-6 {
        padding: 10px;
    }

        .HouseHold .HouseHoldInnerContent .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-xs-6:nth-child(odd) {
            padding-left: 0;
        }

        .HouseHold .HouseHoldInnerContent .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-xs-6:nth-child(even) {
            padding-right: 0;
        }

    .col-lg-6.simple_rightSide-gallery .simple_rightSide-galleryInner ul li {
        padding-right: 4px;
    }

        .col-lg-6.simple_rightSide-gallery .simple_rightSide-galleryInner ul li:nth-child(2n+0) {
            padding-left: 4px;
        }
    section.HouseHold {
        margin: 1% 0 !important;
    }
}
/* end here @media(max-width:767px) */





/* start here @media(max-width:480px) */
@media(max-width:480px) {
    .personalCare .item.active img {
        transition: none;
        transform: none;
        width: 100% !important;
    }

    .col-lg-6.leftSide-Slider {
        min-height: 231px;
        padding: 0;
        border: 2px solid #f7ebeb;
    }

    .Grocery .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
        position: absolute;
        top: 48%;
        z-index: 5;
        display: inline-block;
    }


    .GroceryPartDownImages .col-lg-4.col-md-4.col-sm-4 {
        width: 100%;
        margin-bottom: 3%;
        padding: 0 !important;
    }

        .GroceryPartDownImages .col-lg-4.col-md-4.col-sm-4:first-child {
            padding-left: 0 !important;
            margin: 0;
            padding-right: 0 !important;
            margin-bottom: 3%;
        }

    .container-fluid.mainHero_slider .carousel {
        position: relative;
        /* border: 1px solid #ccc; */
        box-shadow: 0 3px 6px rgba(0,0,0,0.3), 0 0 1px rgba(0,0,0,0.3), 0 0 15px rgba(158,182,209,0.2);
    }

    .transition-timer-carousel .carousel-control {
        font-size: 14px;
    }

    .col-lg-6.BrandedFoodIMG img {
        width: 100%;
        min-height: 115px;
    }
}
/* end here @media(max-width:480px) */

/* start here @media(max-width:320px) */
@media (max-width: 320px) {

    .personalCare .item.active img {
        min-height: 185px;
    }

    .col-lg-6.leftSide-Slider {
        min-height: 202px;
    }
}
/* end here @media(max-width:320px) */
