<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="GANDHIBAGHV22Context" connectionString="Data Source=(local); Initial Catalog=Ezeelo25-01-19; User ID=ezeelo-test; Password=EzeeloDev@2018!; TimeOut = 30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="GATEWAYS" value="GATEWAYS.xml"/>
    <add key="LOG_FOLDER" value="ERROR_LOG"/>

    <add key="LOG_FOLDER_PATH" value="http://inventory.identical/"/>
    <add key="EMAILS_XML" value="http://img.identical/cc/e/EMAILS.xml"/>
    <add key="EMAILS_FOLDER" value="http://img.identical/cc/e"/>
    <add key="EMAILS_XML" value="http://img.identical/cc/e/EMAILS.xml"/>
    <add key="EMAILS_FOLDER" value="http://img.identical/cc/e"/>
    <add key="SMS_XML" value="http://img.identical/cc/sms/SMS.xml"/>
    <add key="INVENTORY_ROOT" value="http://inventory.identical/"/>
    <add key="DB_CON" value="Data Source=(local); Initial Catalog=Ezeelo25-01-19; User ID=ezeelo-test; Password=EzeeloDev@2018!; TimeOut = 30"/>
    <add key="IMAGE_FTP" value="ftp://img.identical"/>
    <add key="IMAGE_HTTP" value="http://img.identical/"/>
    <add key="INVENTORY_ROOT_IMAGE_FTP" value="ftp://img.identical/" />
    <add key="INVENTORY_ROOT_IMAGE_HTTP" value="http://img.identical/" />
    <add key="USER_NAME" value="ftpuser"/>
    <add key="PASSWORD" value="password@123"/>
    <add key="DIRECTORY" value="InventoryDocuments"/>
    <add key="FOLDER_INVOICE" value="Invoice"/>
    <add key="FOLDER_WASTAGE" value="Wastage"/>
    <add key="FOLDER_AADHAR" value="Aadhar"/>
    <add key="FOLDER_PAN" value="PAN"/>
    <add key="FOLDER_PROFILE" value="Profile"/>
    <add key="FOLDER_PASSBOOK" value="Passbook"/>
    <add key="EZEELO_WAREHOUSE_ID" value="10"/>
    <add key="Del_Hour" value="1"/>
    <add key="EmailId" value="gaurav.shrote@ezeelo.com"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="EZEELO_CUSTOMER_URL" value="http://customer.identical/"/>
    <add key="EZEELO_LEADER_URL" value="http://leaders.identical/"/>
    <add key="EZEELO_API_URL" value="http://api.identical/api/"/>
    <add key="EZEELO_PARTNER_URL" value="http://partner.identical/"/>
    <add key="EZEELO_MERCHANT_URL" value="http://merchant.identical/"/>
    <add key="EZEELO_DELIVERY_URL" value="http://delivery.identical/"/>
    <add key="EZEELO_IMG_URL" value="http://img.identical/"/>

  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="524288" executionTimeout="120000"/>
    <authentication mode="Forms">
      <forms defaultUrl="MerchantRegister/Index" loginUrl="MerchantRegister/Index" timeout="1000" path="/"/>
    </authentication>
    <sessionState timeout="30"/>
    <compilation targetFramework="4.5"/>
    <!--<httpRuntime targetFramework="4.5"/>-->
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000"/>
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthenticationModule"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>