@{
    ViewBag.Title = "Index";
}

<style>
    .fg-toolbar {
        width: 91% !important;
    }

    .ui-widget-header {
        border: 0px !important;
    }

    .hed-owner {
        vertical-align: top;
    }
</style>
<div id="content" class="span10">
    <div class="row-fluid sortable">
        <div class="box span12">
            <div data-original-title="" class="box-header">
                <h2><i class="halflings-icon user"></i><span class="break"></span>Shop Order Statistic</h2>
            </div>
            <div class="box-content viewCont">
                <div class="span12" style="width:100%">
                    <div class="span3">
                        @Html.TextBox("txtFromDate", null, new { id = "txtFromDate", @class = "datepicker glyphicons-iconcalendar", @placeholder = "Start Date", @style = "margin-top:-2px;", required = "requird" })
                    </div>
                    <div class="span3">
                        @Html.TextBox("txtToDate", null, new { id = "txtToDate", @class = "datepicker glyphicons-iconcalendar", @placeholder = "End Date", @style = "margin-top:-2px;", required = "requird" })
                    </div>
                    <div class="span3">
                        @Html.DropDownList("FranchisesID", "--Select Franchise--")
                        <label id="lblMsg" style="color:red"></label>
                    </div>
                    <div class="span3">
                        <input type="submit" value="Get Report" id="btnSearch" class="btn btnSearch-f" /> 
                    </div>
                </div>
                <div class="span12" style="margin-left: 0px;">
                    <div class="span3">
                        @Html.DropDownList("ExportOption", new List<SelectListItem>
                        {
                           new SelectListItem{ Text="Excel", Value = "1" },
                           new SelectListItem{ Text="Csv", Value = "2" },
                           new SelectListItem{ Text="Pdf", Value = "3" }
                        })

                    </div>
                    <div class="span9">
                        <input type="submit" value="Export" id="btnExport" class="btn btnSearch-f" />
                        <input type="submit" value="Print" id="btnPrint" class="btn btnSearch-f btn-primary" onclick="javascript: PrintGridData('PrintData');" />

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="box span12">
            @*<div class="box-header">
                <h2><i class="halflings-icon user"></i><span class="break"></span>Shop Order Statistic Report</h2>

            </div>*@
            <div class="body-content" style="padding:0px;">
                <table class="table table-border" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                    <tr>
                        <td>
                            <div id="divReport" style="width:100%; overflow:hidden;">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

</div>
<div class="loader">
    <img id="loader_img" src="~/Content/img/loader.gif" style="display: none" />
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/Content/js/jquery.1.8.3.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("input#btnSearch").on('click', function () {
          
            var pagecount = 0;
            var page = 1;
            var toDate = $('#txtToDate').val();
            var fromDate = $('#txtFromDate').val();
            var franchiseID = 0;
            if (ValidateDate(fromDate, toDate)) {
                franchiseID = $("#FranchisesID option:selected").val();

                $("#pageloaddiv").css('display', 'block');
                $("#pageloaddiv").fadeOut(1000);

                $.get('/ShopOrderStatistic_MIS/GetReport/?FranchiseID=' + franchiseID + '&fromDate=' + fromDate + '&toDate=' + toDate, function (data) {
                    /* data is the pure html returned from action method, load it to your page */
                    $('#divReport').html(data);

                    /* little fade in effect */
                    $('#divReport').fadeIn('fast');
                });

                $("#pageloaddiv").css('display', 'none');
                $("#pageloaddiv").fadeOut(1000);
            }
          
        });
    });


    $("input#btnExport").on('click', function () {

        var print = 0;
        var option = 0;
        if ($("select#ExportOption option:selected").val() > 0) {
            option = $("select#ExportOption option:selected").val();
        }

        var pagecount = 0;
        var page = 1;
        var toDate = $('#txtToDate').val();
        var fromDate = $('#txtFromDate').val();
        var franchiseID = 0;
        if ($("select#FranchisesID option:selected").val() > 0) {
            franchiseID = $("#FranchisesID option:selected").val();
        }
        //var isValid = ValidateDate(fromDate, toDate);
        //if (isValid == false) {
        //    return;
        //}
        window.location.href = "/ShopOrderStatistic_MIS/Export?&FranchiseID=" + franchiseID + "&fromDate=" + fromDate + "&toDate=" + toDate + "&option=" + option;

    });

    function ValidateDate(fromDate, toDate) {
        if (fromDate != '' && toDate == '') {
            alert('Please Select To Date.');
            return false;
        }
        else if (fromDate == '' && toDate != '') {
            alert('Please Select from Date.');
            return false;
        }
        else if (fromDate != '' && toDate != '') {
            dateFirst = fromDate.split('/');
            dateSecond = toDate.split('/');
            var from = new Date(dateFirst[2], dateFirst[1], dateFirst[0]); //Year, Month, Date
            var to = new Date(dateSecond[2], dateSecond[1], dateSecond[0]);
            if (from > to) {
                alert('To Date must be greater than From Date.');
                return false;
            }
            else {
                $('[id*=lblMsg]').text('');
                return true;
            }
        }
        return true;
    }


    function PrintGridData(str) {
        var gridInsideDiv = document.getElementById(str);
        var printWindow = window.open('', '_blank', 'letf=50,top=50,width=800,height=500,toolbar=1,scrollbars=1,status=1');
        printWindow.document.write(gridInsideDiv.innerHTML);
        printWindow.document.close();
        printWindow.focus();
        printWindow.print();
        printWindow.close();
    }


</script>
