@*@using ModelLayer.Models.ViewModel;*@

<ul class="nav nav-tabs nav-stacked main-menu">

    <li><a href=@Url.Action("Index","Home")><i class="icon-dashboard"></i><span class="hidden-tablet">Dash Board </span></a></li>

    <li>
        <a class="dropmenu" href=@Url.Action("Index","MisReport")><i class="icon-file-alt"></i><span class="hidden-tablet">MIS Report</span>@*<span class="label label-important">9</span>*@</a>
        <ul>
            <li><a class="submenu" href=@Url.Action("Index", "GbTrackReport", new { page = 1 })><i class="halflings-icon play"></i><span class="hidden-tablet">GB Track</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "CustomerRegistrationReport")><i class="halflings-icon play"></i><span class="hidden-tablet">Customer Registration</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "MerchantRegistrationReport")><i class="halflings-icon play"></i><span class="hidden-tablet">Merchant Registration</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "FranchiseRegistrationReport")><i class="halflings-icon play"></i><span class="hidden-tablet">Franchise Registration</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "OrderTransactionReport")><i class="halflings-icon play"></i><span class="hidden-tablet">Order Transaction</span></a></li>
            @*<li><a class="submenu" href=@Url.Action("Index", "ShopSaleReport")><i class="halflings-icon play"></i><span class="hidden-tablet">Shop/Merchant Sale</span></a></li>*@
            @*<li><a class="submenu" href=@Url.Action("","")><i class="icon-file-alt"></i><span class="hidden-tablet">Operator/Employee Work</span></a></li>*@
            <li><a class="submenu" href=@Url.Action("Index", "ProductApprovedNonApproved")><i class="halflings-icon play"></i><span class="hidden-tablet">Product Approval</span></a></li>
            <li><a class="submenu" href=@Url.Action("MerchantList", "StockManagementReport")><i class="halflings-icon play"></i><span class="hidden-tablet">Stock Management </span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "CategoryReport")><i class="halflings-icon play"></i><span class="hidden-tablet">Category Management</span></a></li>
            <li><a class="submenu" href=@Url.Action("GetReport", "ShopDetailReport", new { FranchiseList = 0, page = 1, Status = 0, ShopName = "", print = 0 })><i class="halflings-icon play"></i><span class="hidden-tablet">Shop Details</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "CatWiseProductReport")><i class="halflings-icon play"></i><span class="hidden-tablet">Category Wise Product</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "TrackCartReport", new { page = 1 })><i class="halflings-icon play"></i><span class="hidden-tablet">Abandoned Cart</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "TrackSearchReport", new { page = 1 })><i class="halflings-icon play"></i><span class="hidden-tablet">Track Search Details</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "DeviceWiseOrderTransactionReport", new { page = 1 })><i class="halflings-icon play"></i><span class="hidden-tablet">Web/App Order History</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "ShopOrderStatistic_MIS", new { page = 1 })><i class="halflings-icon play"></i><span class="hidden-tablet">ShopOrder Statistic</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "CategoryWiseSaleAnalisysMIS", new { page = 1 })><i class="halflings-icon play"></i><span class="hidden-tablet">Shop Category Wise Performance</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "ReferAndEarnTransactionReport")><i class="halflings-icon play"></i><span class="hidden-tablet">Refer And Earn Transaction Details</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "ReferAndEarnPerformanceSummaryReport")><i class="halflings-icon play"></i><span class="hidden-tablet">Refer And Earn Performance Summary Report</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "SentMailReport")><i class="halflings-icon play"></i><span class="hidden-tablet">Plan Experation Reports</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "WeeklyHolidayAndMinOrderMessages")><i class="halflings-icon play"></i><span class="hidden-tablet">Page Messages</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "OrderWiseCouponTransaction")><i class="halflings-icon play"></i><span class="hidden-tablet">Order Wise Coupon Transaction</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "SearchKeywordReport")><i class="halflings-icon play"></i><span class="hidden-tablet">Search Keyword Report</span></a></li>         @*By Amit*@         
    @*<li><a class="submenu" href=@Url.Action("Index", "BulkLog")><i class="halflings-icon play"></i><span class="hidden-tablet">Bulk Log</span></a></li>*@

            @*<li><a class="submenu" href=@Url.Action("","")><i class="icon-envelope-alt"></i><span class="hidden-tablet">SMS Report</span></a></li>
                <li><a class="submenu" href=@Url.Action("","")><i class="icon-envelope"></i><span class="hidden-tablet">Email Report</span></a></li>*@
        </ul>
    </li>
    <li>

        @*<a href=@Url.Action("", "") class="dropmenu"><i class="icon-shopping-cart"></i><span class="hidden-tablet">Track Order</span></a>
            <ul>
                <li><a class="submenu" href=@Url.Action("Index","Placed")><i class="halflings-icon play"></i><span class="hidden-tablet">Pending</span></a></li>
                <li><a class="submenu" href=@Url.Action("Index","Confirm")><i class="halflings-icon play"></i><span class="hidden-tablet">Confirm </span></a></li>
                <li><a class="submenu" href=@Url.Action("Index","Packed")><i class="halflings-icon play"></i><span class="hidden-tablet">Packed </span></a></li>
                <li><a class="submenu" href=@Url.Action("Index","DispatchedFromShop")><i class="halflings-icon play"></i><span class="hidden-tablet">Dispatched From Shop</span></a></li>
                <li><a class="submenu" href=@Url.Action("Index","InGodown")><i class="halflings-icon play"></i><span class="hidden-tablet">In Godown</span></a></li>
                <li><a class="submenu" href=@Url.Action("Index","DispatchedFromGodown")><i class="halflings-icon play"></i><span class="hidden-tablet">Dispatched From Godown </span></a></li>
                <li><a class="submenu" href=@Url.Action("Index","Delivered")><i class="halflings-icon play"></i><span class="hidden-tablet">Delivered</span></a></li>
                <li><a class="submenu" href=@Url.Action("Index","Returned")><i class="halflings-icon play"></i><span class="hidden-tablet">Returned </span></a></li>
                <li><a class="submenu" href=@Url.Action("Index","Cancelled")><i class="halflings-icon play"></i><span class="hidden-tablet">Cancelled </span></a></li>

            </ul>*@


    </li>
    <li>
        <a href=@Url.Action("", "") class="dropmenu"><i class="icon-home"></i><span class="hidden-tablet">Approval Management</span></a>
        <ul>
            <li><a class="submenu" href=@Url.Action("MerchantList", "ProductApproval")><i class="halflings-icon play"></i><span class="hidden-tablet">Product Approval </span></a></li>
            <li><a class="submenu" href=@Url.Action("MerchantList1", "ProductApproval")><i class="halflings-icon play"></i><span class="hidden-tablet">Variant Approval </span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "FranchiseLocation")><i class="halflings-icon play"></i><span class="hidden-tablet">FranchiseLocation</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "FranchisePendingApprovals")><i class="halflings-icon play"></i><span class="hidden-tablet">Franchise Apply Plan/Charge</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "FranchiseApproval")><i class="halflings-icon play"></i><span class="hidden-tablet">Franchise Approval</span></a></li>
            <li><a class="submenu" href=@Url.Action("ShowFranchiseList", "MerchantRequisition")><i class="halflings-icon play"></i><span class="hidden-tablet">Merchant Requisition</span></a></li>
            <li><a class="submenu" href=@Url.Action("ShowFranchiseList", "MerchantPendingApprovals")><i class="halflings-icon play"></i><span class="hidden-tablet">Merchant Apply Plan/Charge</span></a></li>
            <li><a class="submenu" href=@Url.Action("ShowFranchiseList", "MerchantApproval")><i class="halflings-icon play"></i><span class="hidden-tablet">Merchant Approval</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "EmployeeApproval")><i class="halflings-icon play"></i><span class="hidden-tablet"> Employee Approval</span></a></li>

            <li><a class="submenu" href=@Url.Action("Index", "DeliveryPartnerApproval")><i class="halflings-icon play"></i><span class="hidden-tablet">Delivery Partner Approval</span></a></li>
            <li><a class="submenu" href=@Url.Action("DPList", "DeliveryCashHandlingChargeApproval")><i class="halflings-icon play"></i><span class="hidden-tablet">Delivery Cash Handling Charge Approval</span></a></li>
            <li><a class="submenu" href=@Url.Action("DPList", "DeliveryWeightSlabApproval")><i class="halflings-icon play"></i><span class="hidden-tablet">Delivery Weight Slab Approval</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "MerchantRegister")><i class="halflings-icon play"></i><span class="hidden-tablet">Customer List</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "PartnerRequest")><i class="halflings-icon play"></i><span class="hidden-tablet">Partner Request List</span></a></li>
            @*//Yashaswi For PartnerRequestModule 9/5/2018*@
        </ul>
    </li>
    <li>
        <a href=@Url.Action("", "") class="dropmenu"><i class="icon-check"></i><span class="hidden-tablet">Approved List</span></a>
        <ul>
            <li><a class="submenu" href=@Url.Action("Index", "ApprovedFranchiseList")><i class="halflings-icon play"></i><span class="hidden-tablet">Franchise List</span></a></li>
            <li><a class="submenu" href=@Url.Action("ShowFranchiseList", "ApprovedMerchantList")><i class="halflings-icon play"></i><span class="hidden-tablet">Merchant List</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "ApprovedDeliveryPartnerList")><i class="halflings-icon play"></i><span class="hidden-tablet">Delivery Partner List</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "ApprovedEmployee")><i class="halflings-icon play"></i><span class="hidden-tablet">Employee List</span></a></li>
        </ul>
    </li>

    <li>
        <a class="dropmenu" href=@Url.Action("","")><i class="icon-bullhorn"></i><span class="hidden-tablet">Promotion</span></a>
        <ul>
            <li><a class="submenu" href=@Url.Action("NewIndex", "WelcomeLetter")><i class="halflings-icon play"></i><span class="hidden-tablet">WelCome Letter</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index","Advertisement")><i class="halflings-icon play"></i><span class="hidden-tablet">Advertisement</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "OwnerAdvertisement")><i class="halflings-icon play"></i><span class="hidden-tablet">Owner Advertisement</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "SEOPage")><i class="halflings-icon play"></i><span class="hidden-tablet">SEO &amp; Theme</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "CategoryDescription")><i class="halflings-icon play"></i><span class="hidden-tablet">Category &amp; Discription</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "Shoppriority")><i class="halflings-icon play"></i><span class="hidden-tablet">Shop &amp; Priority</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "FranchiseMenu")><i class="halflings-icon play"></i><span class="hidden-tablet">Franchise Menu</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "ShopMenuPriority")><i class="halflings-icon play"></i><span class="hidden-tablet">Shop Menu Priority</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "PremiumShopPriority")><i class="halflings-icon play"></i><span class="hidden-tablet">Premium Shop Priority(Mobile)</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "DynamicCategoryProduct")><i class="halflings-icon play"></i><span class="hidden-tablet">Dynamic Category Products</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "HomePageBlocksItem")><i class="halflings-icon play"></i><span class="hidden-tablet">Home Page Blocks Item</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "HomeProductGallery")><i class="halflings-icon play"></i><span class="hidden-tablet">Home Product Gallery</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "HomePageDynamicSectionPortal")><i class="halflings-icon play"></i><span class="hidden-tablet">Home Page Dynamic Section Porta</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "HomePageDynamicSectionMobile")><i class="halflings-icon play"></i><span class="hidden-tablet">Home Page Dynamic Section Mobile</span></a></li>
        </ul>
    </li>
    <li>
        <a class="dropmenu" href=@Url.Action("","")><i class="icon-bullhorn"></i><span class="hidden-tablet">Career</span></a>
        <ul>
            <li><a class="submenu" href=@Url.Action("Index", "Career")><i class="halflings-icon play"></i><span class="hidden-tablet">New Opening</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "CareerApplication_MIS")><i class="halflings-icon play"></i><span class="hidden-tablet">Application Report</span></a></li>
        </ul>
    </li>
    <li>
        <a class="dropmenu" href=@Url.Action("","")><i class="icon-list-alt"></i><span class="hidden-tablet">Feedback</span>@*<span class="label label-important"> 3 </span>*@</a>
        <ul>
            <li>
                <a class="submenu" href=@Url.Action("Index", "FeedBackType")><i class="halflings-icon play"></i><span class="hidden-tablet">FeedBack Type</span>@*<span class="label label-important"> 3 </span>*@</a>
            </li>
            <li>
                <a class="submenu" href=@Url.Action("Index", "FeedbackCategary")><i class="halflings-icon play"></i><span class="hidden-tablet">Feedback Category</span>@*<span class="label label-important"> 3 </span>*@</a>
            </li>

        </ul>
    </li>
    @*@{
            List<StockManagementReportViewModel> stockDetail = new List<StockManagementReportViewModel>();
        }*@
    <li>
        <a class="dropmenu" href=@Url.Action("","")><i class="icon-tags"></i><span class="hidden-tablet">Product</span>@*<span class="label label-important"> 3 </span>*@</a>
        <ul>
            <li><a class="submenu" href=@Url.Action("Index", "ProductUploadTemp")><i class="halflings-icon play"></i><span class="hidden-tablet">Product Upload</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "Bulk")><i class="halflings-icon play"></i><span class="hidden-tablet">Bulk Product Upload</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "BulkUpdatePrice")><i class="halflings-icon play"></i><span class="hidden-tablet">Bulk Update Price</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "ProductUploadAproved")><i class="halflings-icon play"></i><span class="hidden-tablet">Approved Product List</span></a></li>


            <li><a class="submenu" href=@Url.Action("Index","Brand")><i class="halflings-icon play"></i><span class="hidden-tablet">Brand</span></a></li>    
            <li><a class="submenu" href=@Url.Action("Index","Manufacture")><i class="halflings-icon play"></i><span class="hidden-tablet">Manufacture</span></a></li>    @*Added by Priti*@ 
            <li><a class="submenu" href=@Url.Action("Index","FrequentlyBuyTogetherProduct")><i class="halflings-icon play"></i><span class="hidden-tablet">Frequently Buy Together Product</span></a></li>

        </ul>
    </li>
    <li>
        <a class="dropmenu" href=@Url.Action("","")><i class="icon-inbox"></i><span class="hidden-tablet">Product Variant</span></a>
        <ul>

            <li><a class="submenu" href=@Url.Action("Index","Color")><i class="halflings-icon play"></i><span class="hidden-tablet">Color</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index","Size")><i class="halflings-icon play"></i><span class="hidden-tablet">Size</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "Dimension")><i class="halflings-icon play"></i><span class="hidden-tablet">Dimension</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "Material")><i class="icon-star"></i><span class="hidden-tablet">Material</span></a></li>
            <li> <a class="submenu" href=@Url.Action("Index","Component")><i class="halflings-icon play"></i><span class="hidden-tablet">Component</span></a></li>
            <li> <a class="submenu" href=@Url.Action("Index","Unit")><i class="halflings-icon play"></i><span class="hidden-tablet">Unit</span></a></li>

        </ul>
    </li>
    <li>
        <a class="dropmenu" href=@Url.Action("","")><i class="icon-tasks"></i><span class="hidden-tablet">Category</span></a>
        <ul>
            <li><a class="submenu" href=@Url.Action("Index","CategorySize")><i class="halflings-icon play"></i><span class="hidden-tablet">Category Size</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index","CategoryDimention")><i class="halflings-icon play"></i><span class="hidden-tablet">Category Dimension</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "CategorySpecification")><i class="halflings-icon play"></i><span class="hidden-tablet">Category Specification</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "RootCategory")><i class="halflings-icon play"></i><span class="hidden-tablet">Root Category</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "LevelTwoCategory")><i class="halflings-icon play"></i><span class="hidden-tablet">Level Two Category</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "LevelThreeCategory")><i class="halflings-icon play"></i><span class="hidden-tablet">Level Three Category</span></a></li>
            @*<li><a class="submenu" href=@Url.Action("Index", "FranchiseCategory")><i class="halflings-icon play"></i><span class="hidden-tablet">Franchise Category</span></a></li>*@

        </ul>
    </li>

    <li>
        <a class="dropmenu" href=@Url.Action("Index","")><i class="icon-user"></i><span class="hidden-tablet">Role</span>@*<span class="label label-important"> 3 </span>*@</a>
        <ul>
            <li><a class="submenu" href=@Url.Action("Index","MasterRole")><i class="halflings-icon play"></i><span class="hidden-tablet">Basic Role</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index","BusinessType")><i class="halflings-icon play"></i><span class="hidden-tablet">Business Type</span></a></li>

            <li><a class="submenu" href=@Url.Action("Index","RoleManagement")><i class="halflings-icon play"></i><span class="hidden-tablet">Role Management</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index","Menu")><i class="halflings-icon play"></i><span class="hidden-tablet">Menu</span></a></li>
        </ul>
    </li>

    <li>
        <a class="dropmenu" href=@Url.Action("","")><i class="icon-list-alt"></i><span class="hidden-tablet">Masters</span>@*<span class="label label-important"> 3 </span>*@</a>
        <ul>

            <li><a class="submenu" href=@Url.Action("Index","Salutation")><i class="icon-comments-alt"></i><span class="hidden-tablet">Salutation</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index","Bank")><i class="halflings-icon play"></i><span class="hidden-tablet">Bank</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index","BankType")><i class="halflings-icon play"></i><span class="hidden-tablet">Bank Account Type</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index","SecurityQuestion")><i class="halflings-icon play"></i><span class="hidden-tablet">Security Question</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index","PaymentMode")><i class="halflings-icon play"></i><span class="hidden-tablet">Payment Mode</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "VehicleType")><i class="halflings-icon play"></i><span class="hidden-tablet">Vehicle Type</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "ShopPaymentMode")><i class="halflings-icon play"></i><span class="hidden-tablet">Shop Payment Mode</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "Specification")><i class="halflings-icon play"></i><span class="hidden-tablet">Specification</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "DeliverySchedule")><i class="halflings-icon play"></i><span class="hidden-tablet">Delivery Schedule</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "DeliveryHoliday")><i class="halflings-icon play"></i><span class="hidden-tablet">Delivery Holiday</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "DeliveryCharges")><i class="halflings-icon play"></i><span class="hidden-tablet">Delivery Charges</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "DesignBlockType")><i class="halflings-icon play"></i><span class="hidden-tablet">Design Block Type</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "PreviewFeatures")><i class="halflings-icon play"></i><span class="hidden-tablet">Preview Features</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "PreviewFeatureDisplay")><i class="halflings-icon play"></i><span class="hidden-tablet">Preview Features Display</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "CoupenList")><i class="halflings-icon play"></i><span class="hidden-tablet">Coupen List</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "Scheme")><i class="halflings-icon play"></i><span class="hidden-tablet">Scheme</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "ReferAndEarnSchema")><i class="halflings-icon play"></i><span class="hidden-tablet">Refer Scheme</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "HelpDesk")><i class="halflings-icon play"></i><span class="hidden-tablet">Help Desk</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "FranchiseOrderGMVTarget")><i class="halflings-icon play"></i><span class="hidden-tablet">Order & GMV Target</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "SchemeBudget")><i class="halflings-icon play"></i><span class="hidden-tablet">Scheme Budget</span></a></li>
            <li><a class="submenu" href=@Url.Action("MailReceiver", "Home")><i class="halflings-icon play"></i><span class="hidden-tablet">Mail Receiver</span></a></li> @*//Yashaswi For PartnerRequestModule 9/5/2018*@
        </ul>
    </li>
    <li>
        <a class="dropmenu" href=@Url.Action("","")><i class="icon-truck"></i><span class="hidden-tablet">Territory</span></a>
        <ul>
            <li><a class="submenu" href=@Url.Action("Index","Pincode")><i class="halflings-icon play"></i><span class="hidden-tablet">Pincode</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index","City")><i class="halflings-icon play"></i><span class="hidden-tablet">City</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index","District")><i class="halflings-icon play"></i><span class="hidden-tablet">District</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index","Area")><i class="halflings-icon playr"></i><span class="hidden-tablet">Area</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index","State")><i class="halflings-icon play"></i><span class="hidden-tablet">State</span></a></li>
        </ul>
    </li>
    <li>
        <a class="dropmenu" href=@Url.Action("","")><i class="icon-money"></i><span class="hidden-tablet">Account</span></a>
        <ul>
            <li><a class="submenu" href=@Url.Action("Index", "AccountingHead")><i class="halflings-icon play"></i><span class="hidden-tablet">Accounting Head</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "LedgerHead")><i class="halflings-icon play"></i><span class="hidden-tablet">Ledger Head</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "TransactionInputProcessAccount")><i class="halflings-icon play"></i><span class="hidden-tablet">Receipt Book</span></a></li>

            <li><a class="submenu" href=@Url.Action("TransactionByShopGroup", "ReportTransaction")><i class="halflings-icon play"></i><span class="hidden-tablet">Report ShopWise</span></a></li>
            <li><a class="submenu" href=@Url.Action("TransactionByOrderGroup", "ReportTransaction")><i class="halflings-icon play"></i><span class="hidden-tablet">Report OrderWise</span></a></li>


            @*<li><a class="submenu" href=@Url.Action("Index","GandhibaghTransaction")><i class="halflings-icon play"></i><span class="hidden-tablet">Gandhibagh Transaction</span></a></li>*@


        </ul>
    </li>
    <li>
        <a class="dropmenu" href=@Url.Action("","")><i class="icon-money"></i><span class="hidden-tablet">Tax Management</span></a>
        <ul>
            <li><a class="submenu" href=@Url.Action("Index", "TaxationMaster")><i class="halflings-icon play"></i><span class="hidden-tablet">Tax Master</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "FranchiseTaxDetail")><i class="halflings-icon play"></i><span class="hidden-tablet">Franchise Tax Detail</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "TaxationBase")><i class="halflings-icon play"></i><span class="hidden-tablet">Indirect Tax Setting</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "ProductTax")><i class="halflings-icon play"></i><span class="hidden-tablet">Tax On Product</span></a></li>


            @*<li><a class="submenu" href=@Url.Action("Index","GandhibaghTransaction")><i class="halflings-icon play"></i><span class="hidden-tablet">Gandhibagh Transaction</span></a></li>*@


        </ul>
    </li>
    <li>
        <a class="dropmenu" href=@Url.Action("","")><i class="icon-group"></i><span class="hidden-tablet">Employee</span></a>
        <ul>
            <li><a class="submenu" href=@Url.Action("Index","EmployeeManagement")><i class="halflings-icon play"></i><span class="hidden-tablet">Empolyee Management</span></a></li>


        </ul>
    </li>
    <li>
        <a class="dropmenu" href=@Url.Action("","")><i class="icon-external-link"></i><span class="hidden-tablet">Plan</span></a>
        <ul>
            <li><a class="submenu" href=@Url.Action("Index","MasterPlan")><i class="halflings-icon play"></i><span class="hidden-tablet">Basic Plan</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index","PlanManagement")><i class="halflings-icon play"></i><span class="hidden-tablet">Merchant Plan Management</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "FranchisePlanManagement")><i class="halflings-icon play"></i><span class="hidden-tablet">Franchise Plan Management</span></a></li>
            @*<li><a class="submenu" href=@Url.Action("Index","MerchantPlan")><i class="halflings-icon play"></i><span class="hidden-tablet">Merchant Plan</span></a></li>
                <li><a class="submenu" href=@Url.Action("Index","OwnerPlan")><i class="halflings-icon play"></i><span class="hidden-tablet">Owner Plan</span></a></li>*@


        </ul>
    </li>
    <li>
        <a class="dropmenu" href=@Url.Action("","")><i class="icon-credit-card"></i><span class="hidden-tablet">Charge</span></a>
        <ul>
            <li><a class="submenu" href=@Url.Action("Index", "Charge")><i class="halflings-icon play"></i><span class="hidden-tablet"> Charge</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "ChargeStage")><i class="halflings-icon play"></i><span class="hidden-tablet">Charge Stage </span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "PlanCategoryCharge")><i class="halflings-icon play"></i><span class="hidden-tablet">Plan Category Charge </span></a></li>
            @*<li><a class="submenu" href=@Url.Action("Index", "OwnerPlanCategoryCharge ")><i class="halflings-icon play"></i><span class="hidden-tablet">Owner Plan Category Charge  </span></a></li>
                <li><a class="submenu" href=@Url.Action("Index", "MerchantPlanCategoryCharge")><i class="halflings-icon play"></i><span class="hidden-tablet">Merchant Plan Category Charge </span></a></li>*@
        </ul>
    </li>
    <li>
        <a class="dropmenu" href=@Url.Action("","")><i class="icon-edit"></i><span class="hidden-tablet">Subscription</span></a>
        <ul>
            <li><a class="submenu" href=@Url.Action("Index", "SubscriptionFacility")><i class="halflings-icon play"></i><span class="hidden-tablet"> Subscription Facility</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "SubscriptionPlan")><i class="halflings-icon play"></i><span class="hidden-tablet">Subscription Plan</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "SubscriptionPlanDealWithCategory")><i class="halflings-icon play"></i><span class="hidden-tablet">Subscription Plan DealWith Category</span></a></li>
            <li><a class="submenu" href=@Url.Action("Index", "SubscriptionPlanFacility")><i class="halflings-icon play"></i><span class="hidden-tablet">Subscription Plan Facility</span></a></li>

        </ul>
    </li>




</ul>
