

@using(@Html.BeginForm("ForgetPassword","Login"))
{
    <a href="login" class="closeA">X</a>
    <h2>Forget Password</h2>
    <ul>
        <li><label for="EmailID"> Please Enter the Email ID</label></li>
        <li>@Html.TextBox("EmailID")</li>
        <li><span>OR</span></li>
        <li><label for="MobileNo">Please Enter the Mobile No</label></li>
        <li>@Html.TextBox("MobileNo")</li>
    </ul>
    <div style="display:none;" id="LoaderDiv">
        <img src="../Content/Images/ajax_loader.gif" width="20" height="20" />
        
    </div>
    <span class="msgSuccess" id="MessageDiv"></span>
        <div>
            @*<input type="submit" id="GetPassword1" name="Submit" class="btn btn-success" />*@
            <a href="#" id="GetPassword" class="btn btn-success">Submit</a>
        </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#GetPassword").click(function (e) {
            var MobileNo = $("#MobileNo").val();
            var EmailId = $("#EmailID").val();
            
            if (MobileNo == '' && EmailId == '')
            {
                alert('Please Enter Mobile No or Email Address');
                return false;
            }
            $("#LoaderDiv").css('display', 'block');

            $.ajax({
                type: "POST",
                url: "/Login/ForgetPasswordGetRequest?EmailId=" + EmailId + "&MobileNo=" + MobileNo,                
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: true,
                cache: false,
                success: function (msg) {
                    $("#MessageDiv").text(msg);
                    $("#LoaderDiv").css('display', 'none');
                },
                error: function (x, e) {
                    alert("unable to Retrive Mobile No " + e.msg);
                    $("#LoaderDiv").css('display', 'none');
                }

            });
            //$("#LoaderDiv").css('display', 'none');
          

        });

    });

</script>