@{
    ViewBag.Title = "View1";
}

<h2>View1</h2>
@using (Html.BeginForm("View1", "ImgUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*<table class="table">

            <tr>
                <td>File</td>
                <td><input type="file" name="Files" id="Files" multiple="multiple" /></td>
                @*<td><input type="file" name="logo" id="logo" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" name="submit" value="Upload" id="Upload" /> </td>
            </tr>
        </table>*@

    <div class="upload-ChooseFile ">

        <table class="table ">
            <tr>
                <td>Images</td>
                @*<td>
                        <input type="file" name="Files" id="Files" multiple="multiple" style="display:none;" />



                    </td>*@
                <td class="pull-right span4"><input type="file" name="Files" id="Files" multiple="multiple" class="pull-right" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" name="submit" value="Upload" id="Upload" /> </td>
            </tr>
            <tr>
                <td colspan="2" class="uploag_iconCntr">
                    <div class="Box span12 DivMain">
                        <div id="dvPreview">
                        </div>



                    </div>
                </td>
            </tr>

        </table>
    </div>
}