@model IEnumerable<ModelLayer.Models.ProductVarient>

@{
    ViewBag.Title = "ProductVarientView";
}

<h2>ProductVarientView------------------------------</h2>


<div id>
    <table border="1">
        <tr>
            <td>
                All content
            </td>
        </tr>
    </table>
</div>

