
@{
    ViewBag.Title = "TestView1";
}

<h2>TestView1</h2>

<script>
    $(document).ready(function () {
        var c = localStorage.getItem("count");
        c = c + 1;
        localStorage.setItem("count", c);
    });
</script>
