<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect" />
  </configSections>
  <connectionStrings>
    <add name="GANDHIBAGHV22Context" connectionString="Data Source=(local); Initial Catalog=Ezeelo; User ID=ezeelo-test; Password=EzeeloDev@2018!; TimeOut = 30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />


    <add key="CRM_MOBILE" value="9860890890" />
    <add key="CRM_EMAIL" value="crm@ezeelo.com" />
    <add key="SITEMAP_ID" value="303045" />
    <add key="GATEWAYS" value="GATEWAYS.xml" />
    <add key="LOG_FOLDER" value="ERROR_LOG" />
    <add key="SEO_CONTENT_SERVER" value="http://customer.identical/c" />
    <add key="EMAILS_XML" value="http://img.identical/cc/e/EMAILS.xml" />
    <add key="EMAILS_FOLDER" value="http://img.identical/cc/e" />
    <add key="SMS_XML" value="http://img.identical/cc/sms/SMS.xml" />
    <add key="DB_CON" value="Data Source=(local); Initial Catalog=Ezeelo; User ID=ezeelo-test; Password=EzeeloDev@2018!; TimeOut = 30" />
    <add key="USER_NAME" value="ftpuser" />
    <add key="PASSWORD" value="password@123" />
    <add key="IMAGE_FTP" value="ftp://img.identical/" />
    <add key="IMAGE_HTTP" value="http://img.identical/" />
    <add key="CATEGORY_IMAGE_HTTP" value="http://img.identical/ci_w" />
    <add key="HOME_IMAGE_HTTP" value="http://img.identical/hpi" />
    <add key="FILE_HTTP" value="http://img.identical/c_d" />
    <add key="EZEELO_CUSTOMER_URL" value="http://customer.identical/" />
    <add key="EZEELO_LEADER_URL" value="http://leaders.identical/" />
    <add key="EZEELO_API_URL" value="https://api.identical/api/" />
    <add key="EZEELO_PARTNER_URL" value="http://partner.identical/" />
    <add key="EZEELO_MERCHANT_URL" value="http://merchant.identical/" />
    <add key="EZEELO_DELIVERY_URL" value="http://delivery.identical/" />
    <add key="EZEELO_IMG_URL" value="http://img.identical/" />

  <!--Start Default Setting For City Yashaswi 17/12/2018 Default City Change-->
    <add key="DFLT_CITY_NAME" value="kanpur" />
    <add key="DFLT_CITY_ID" value="10909" />
    <add key="DFLT_PINCODE_NAME" value="208002" />
    <add key="DFLT_PINCODE_ID" value="34514" />    
    <add key="DFLT_AREA_NAME" value="Swarup Nagar" />
    <add key="DFLT_AREA_ID" value="156035" />
    <add key="DFLT_HELPLINE_NO" value="9172221910" />
    <add key="DFLT_FRANCHISE_ID" value="1052" />
    <!--End Default Setting For City-->
  </appSettings>
  <system.web>
    <!--<trace enabled="true" pageOutput="false" requestLimit="40" localOnly="false"/>-->
    <authentication mode="None" />
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </httpHandlers>
    <!--<sessionState mode="InProc" cookieless="AutoDetect" timeout="20" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect" />-->
    <sessionState></sessionState>
    <!--<customErrors mode="RemoteOnly" defaultRedirect="~/Error/NotFound" />-->
    <customErrors mode="On" defaultRedirect="/zzz/not-exists"></customErrors>
    <pages enableSessionState="true">
      <controls>
        <add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>

    <!--<validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>-->
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <remove name="BotDetectCaptchaHandler" />
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <add value="index.cshtml" />
      </files>
    </defaultDocument>

	<!--
      <rewrite>
            <rules>
                <rule name="CanonicalHostNameRule1" enabled="false">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.customer\.identical$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://customer.identical/{R:1}" />
                </rule>
            </rules>
        </rewrite> 
		-->


		

  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <botDetect>
    <captchaImage>
      <helpLink enabled="true" mode="image" />
    </captchaImage>
  </botDetect>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.net>
    <mailSettings>
      <smtp from="">
        <network defaultCredentials="false" host="localhost" password="" port="25" userName="" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>