<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect" />
    <!-- Yashaswi 06-02-2018 For Log4net -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!--Start Yashaswi 07-02-2019 For Log4net -->
  <log4net>
    <appender name="RollingFileAppenderError" type="log4net.Appender.RollingFileAppender" additivity="false">
      <file type="log4net.Util.PatternString" value="logs/Error/%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newlFine%exception" />
      </layout>
      <param name="Threshold" value="ERROR" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
      <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
    </appender>
    <appender name="RollingFileAppenderInfo" type="log4net.Appender.RollingFileAppender" additivity="false">
      <file type="log4net.Util.PatternString" value="logs/Info/%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newlFine%exception" />
      </layout>
      <param name="Threshold" value="INFO" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
      <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY" />
    </appender>
    <appender name="RollingFileAppenderDebug" type="log4net.Appender.RollingFileAppender" additivity="false">
      <file type="log4net.Util.PatternString" value="logs/Debug/%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newlFine%exception" />
      </layout>
      <param name="Threshold" value="DEBUG" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="DEBUG" />
      </filter>
      <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY" />
    </appender>
    <root>
      <appender-ref ref="RollingFileAppenderError" level="ERROR" />
      <appender-ref ref="RollingFileAppenderInfo" level="INFO" />
      <appender-ref ref="RollingFileAppenderDebug" level="DEBUG" />
    </root>
  </log4net>
  <!--End Yashaswi 07-02-2019 For Log4net -->
  <connectionStrings>
    <!--<add name="EzeeloDBContext" connectionString="Data Source=104.211.224.143; database=Ezeelo; integrated security=True  TimeOut = 30;" providerName="System.Data.SqlClient" />-->
    <add name="EzeeloDBContext" connectionString="Data Source=103.138.188.153; Initial Catalog=ezeelo_test; User ID=ezeelo_test; Password=k6&lt;]ETu6Q2tB-%cP; TimeOut = 30;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Ewallet_Refund_Mail" value="support@ezeelo.in" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CRM_MOBILE" value="9860890890" />
    <add key="CRM_EMAIL" value="crm@ezeelo.in" />
    <add key="SITEMAP_ID" value="303045" />
    <!--115119-->
    <!-- These Keys Added by Prashant -->
    <add key="GATEWAYS" value="GATEWAYS.xml" />
    <add key="LOG_FOLDER" value="ERROR_LOG" />
    <add key="SEO_CONTENT_SERVER" value="http://www.ezeelo.in/c" />
    <add key="EMAILS_XML" value="http://img.ezeelo.in/cc/e/EMAILS.xml" />
    <add key="EMAILS_FOLDER" value="http://img.ezeelo.in/cc/e" />
    <add key="SMS_XML" value="http://img.ezeelo.in/cc/sms/SMS.xml" />

    <add key="DB_CON" value="Data Source=103.138.188.153; Initial Catalog=ezeelo_test; User ID=ezeelo_test; Password=k6&lt;]ETu6Q2tB-%cP; TimeOut = 30;" />
    <!-- Keys by Prashant ends here-->
    <!-- Keys Added for Images-->
    <add key="USER_NAME" value="ezeelo-prod" />
    <add key="PASSWORD" value="EzeeloLive@2018!" />
    <add key="IMAGE_FTP" value="ftp://img.ezeelo.in" />
    <add key="IMAGE_HTTP" value="http://img.ezeelo.in/" />
    <add key="CATEGORY_IMAGE_HTTP" value="http://img.ezeelo.in/ci_w" />
    <add key="HOME_IMAGE_HTTP" value="http://img.ezeelo.in/hpi" />
    <add key="FILE_HTTP" value="http://img.ezeelo.in/c_d" />

    <add key="HOMEPAGEDYNAMICSECTION_IMAGE_HTTP" value="http://img.ezeelo.in/dbi/" />
    <add key="EZEELO_CUSTOMER_URL" value="http://ezeelo.in/" />
    <add key="EZEELO_LEADER_URL" value="http://leaders.ezeelo.in/" />
    <add key="EZEELO_API_URL" value="http://api.ezeelo.in/api/" />
    <add key="EZEELO_PARTNER_URL" value="http://partner.ezeelo.in/" />
    <add key="EZEELO_MERCHANT_URL" value="http://merchant.ezeelo.in/" />
    <add key="EZEELO_DELIVERY_URL" value="http://delivery.ezeelo.in/" />
    <add key="EZEELO_IMG_URL" value="http://img.ezeelo.in/" />
    <!--<add key="EZEELO_CUSTOMER_URL" value="http://localhost:5555/" />
    <add key="EZEELO_LEADER_URL" value="http://localhost:16174/" />
    <add key="EZEELO_API_URL" value="http://localhost:1600/api/" />
    <add key="EZEELO_PARTNER_URL" value="http://localhost:5454/" />
    <add key="EZEELO_MERCHANT_URL" value="http://localhost:8888/" />
    <add key="EZEELO_DELIVERY_URL" value="http://localhost:4444/" />
    <add key="EZEELO_IMG_URL" value="http://img.identical/" />-->
    <!--Start Default Setting For City Yashaswi 17/12/2018 Default City Change-->
    <add key="DFLT_CITY_NAME" value="kanpur" />
    <add key="DFLT_CITY_ID" value="10909" />
    <add key="DFLT_PINCODE_NAME" value="208002" />
    <add key="DFLT_PINCODE_ID" value="34514" />
    <add key="DFLT_AREA_NAME" value="Swarup Nagar" />
    <add key="DFLT_AREA_ID" value="156035" />
    <add key="DFLT_HELPLINE_NO" value="9172221910" />
    <add key="DFLT_FRANCHISE_ID" value="1052" />
    <!--End Default Setting For City-->
    <!-- Keys for Images ends here-->
    <add key="FCM_AUTHORIZATION_KEY" value="AIzaSyCgbJeSWb4uL3oR3BTIU99HdWYFS_9IO4M" />

    <add key="OTP_LENGTH" value="6" />
    <add key="OTP_EXPIRE_TIME_IN_MINUTES" value="15" />
    <add key="REGENERATE_OTP_LIMIT" value="5" />
    <add key="ADMIN_EMAIL" value="reenagupta.nsp@gmail.com" />
    <add key="ADMIN_MOBILE_NUMBER" value="9370035114" />

    <!--Start Merchant KYC settings-->
    <add key="IMAGE_FTP" value="ftp://img.ezeelo.in/" />
    <add key="IMAGE_HTTP" value="http://img.ezeelo.in/" />
    <add key="USER_NAME" value="ezeelo-prod" />
    <add key="PASSWORD" value="PROD#Ezeelo$2019" />
    <add key="DIRECTORY" value="MerchantKYCDocuments" />
    <add key="FOLDER_SHOPESTABLISHMENT" value="ShopEstablishment" />
    <add key="FOLDER_ADDRESS" value="Address" />
    <add key="FOLDER_GST" value="GST" />
    <add key="FOLDER_PAN" value="PAN" />
    <add key="FOLDER_VISITINGCARD" value="VisitingCard" />
    <add key="FOLDER_CANCELLEDCHEQUE" value="CancelledCheque" />
    <add key="FOLDER_PHOTO" value="Photo" />
    <add key="FOLDER_BANNER" value="Banner" />
    <add key="FOLDER_KYCFORM" value="KYC" />
    <add key="MERCHANT_DASHBOARD" value="http://merchant.ezeelo.in/" />
    <!--end-->
  </appSettings>
  <system.web>
    <!--<trace enabled="true" pageOutput="false" requestLimit="40" localOnly="false"/>-->
    <authentication mode="None" />
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </httpHandlers>
    <!--<sessionState mode="InProc" cookieless="AutoDetect" timeout="20" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect" />-->
    <sessionState />
    <!--<customErrors mode="RemoteOnly" defaultRedirect="~/Error/NotFound" />-->
    <!--<customErrors mode="Off" defaultRedirect="/zzz/not-exists" />-->
    <customErrors mode="Off" />
    <pages enableSessionState="true">
      <controls>
        <add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <!--<validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>-->
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <remove name="BotDetectCaptchaHandler" />
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <add value="index.cshtml" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <!--<rule name="CanonicalHostNameRule1" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.ezeelo\.com$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://www.ezeelo.com/{R:1}" />
                </rule>-->
        <rule name="Redirect to HTTP" stopProcessing="true" enabled="true">
          <match url="(.*)" />
          <conditions>
            <add input="{R:1}" pattern="^onepage/(.*)$" negate="true" />
            <add input="{HTTPS}" pattern="^ON$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <httpRedirect enabled="false" destination="" />

  </system.webServer>
  <runtime>
    <!--<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">-->
    <assemblyBinding xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <botDetect>
    <captchaImage>
      <helpLink enabled="true" mode="image" />
    </captchaImage>
  </botDetect>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.net>
    <mailSettings>
      <smtp from="">
        <network defaultCredentials="false" host="localhost" password="" port="25" userName="" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
<!--ProjectGuid: 74B87798-2D82-42A6-9094-A4DE080DE516-->