
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LeaderUsersLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    @*<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    <link rel="stylesheet" href="">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous">
    </script>
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script> -->
    <link href="~/Templates/UsersTemplate/css/material-design.minfd53.css" rel="stylesheet" />

    <link href="~/Templates/UsersTemplate/css/style3.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Templates/UsersTemplate/css/style3.css">
    <link rel="stylesheet" href="~/Templates/UsersTemplate/css/dropify.minfd53.css">
    <link rel="stylesheet" href="~/Templates/UsersTemplate/css/dropify.minfd53.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>leaders Ezeelo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("hide").click(function () {
                $("#go").toggle();
            });
        });
    </script>*@
</head>
<body>
    <div class="wrapper">
        <section class="container-fluid mainContent">
            <div class="mainContentInner">
                <div class="mainContentinnerPartMain">
                    <!-- First row -->
                    <div class="mainContentinnerPartfirstRow">
                        <!-- fisrbox_firstBox -->
                        <div class="mainContentinnerPartfirstrow-boxbigSizeBox">
                            <div class="firstboxup">
                                <div class="NumberOne Referralsleft third-box ">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <h5> Referrals</h5>
                                </div>
                                <div class="Referralsright SpanOne_">
                                    <span>0</span>
                                </div>
                                <div class="ReferralsDownContent">
                                    <div class="report-card dropdown vertical-align-bottom font-size-14">
                                        <div id="hide" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" report-by="month" style="cursor: pointer;"
                                             role="complementary">
                                            This Month
                                        </div>
                                        <div id="go" class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 20px, 0px); top: 0px; left: 0px; will-change: transform;">
                                            <!--<a class="dropdown-item" href="#" role="menuitem" report-by="last_week">For Last Week</a>-->
                                            <a class="dropdown-item" href="#" role="menuitem" report-by="total">Last 5 Months</a>
                                        </div>
                                    </div>
                                    <figure>
                                        <img src="~/Templates/UsersTemplate/img/graph.png">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <!-- fisrbox_firstBox -->
                        <!-- fisrbox_SecondBox -->
                        <div class="mainContentinnerPartfirstrow-boxbigSizeBox">
                            <div class="firstboxup">
                                <div class="Referralsleft third-box boxNumberSecond">
                                    <figure>
                                        <img src="~/Templates/UsersTemplate/img/withdraw.png" />
                                    </figure>
                                    <h5>Withdrawn</h5>
                                </div>
                                <div class="Referralsright">
                                    <figure>
                                        <img src="~/Templates/UsersTemplate/img/rupay.png" />
                                    </figure>
                                    <span>0.0</span>
                                </div>
                                <div class="ReferralsDownContent">
                                    <div class="report-card dropdown vertical-align-bottom font-size-14">
                                        <div id="hide" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" report-by="month" style="cursor: pointer;"
                                             role="complementary">
                                            This Month
                                        </div>
                                        <div id="go" class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 20px, 0px); top: 0px; left: 0px; will-change: transform;">
                                            <!--<a class="dropdown-item" href="#" role="menuitem" report-by="last_week">For Last Week</a>-->
                                            <a class="dropdown-item" href="#" role="menuitem" report-by="total">Last 5 Months</a>
                                        </div>
                                    </div>
                                    <figure>
                                        <img src="~/Templates/UsersTemplate/img/graph.png">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <!-- fisrbox_SecondBox -->
                        <!-- fisrbox_ThirdBox -->
                        <div class="mainContentinnerPartfirstrow-boxbigSizeBox">
                            <div class="firstboxup">
                                <div class="Referralsleft third-box">
                                    <figure>
                                        <img src="~/Templates/UsersTemplate/img/withdraw.png" />
                                    </figure>
                                    <h5>ERP</h5>
                                </div>
                                <div class="Referralsright boxnumberThird_">
                                    <figure>
                                        <img src="~/Templates/UsersTemplate/img/E.png" />
                                    </figure>
                                    <span>0.0</span>
                                </div>
                                <div class="ReferralsDownContent">
                                    <div class="report-card dropdown vertical-align-bottom font-size-14">
                                        <div id="hide" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" report-by="month" style="cursor: pointer;"
                                             role="complementary">
                                            This Month
                                        </div>
                                        <div id="go" class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 20px, 0px); top: 0px; left: 0px; will-change: transform;">
                                            <!--<a class="dropdown-item" href="#" role="menuitem" report-by="last_week">For Last Week</a>-->
                                            <a class="dropdown-item" href="#" role="menuitem" report-by="total">Last 5 Months</a>
                                        </div>
                                    </div>
                                    <figure>
                                        <img src="~/Templates/UsersTemplate/img/graph.png">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <!-- fisrbox_ThirdBox -->
                        <!-- fisrbox_FourBox -->
                        <div class="mainContentinnerPartfirstrow-boxbigSizeBox lastmaininner">
                            <div class="boxnumberFour_leftMain">
                                <ul>
                                    <li>
                                        <div class="boxnumberFour_left">
                                            <figure>
                                                <img src="~/Templates/UsersTemplate/img/img-1.jpg" />
                                                <span>Inactive Points</span>
                                            </figure>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="boxnumberFour_left">
                                            <figure>
                                                <img src="~/Templates/UsersTemplate/img/img-2.jpg" />
                                                <span>Pending ERP</span>
                                            </figure>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="boxnumberFour_left">
                                            <figure>
                                                <img src="~/Templates/UsersTemplate/img/img-3.jpg" />
                                                <span>Payout Requested</span>
                                            </figure>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="boxnumberFour_rightMain">
                                <ul>
                                    <li>
                                        <div class="boxnumberFour_left">
                                            <figure>
                                                <img src="~/Templates/UsersTemplate/img/right_img-1.jpg" />
                                                <span>0</span>
                                            </figure>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="boxnumberFour_left">
                                            <figure>
                                                <img src="~/Templates/UsersTemplate/img/right_img-2.jpg" />
                                                <span>0</span>
                                            </figure>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="boxnumberFour_left">
                                            <figure>
                                                <img src="~/Templates/UsersTemplate/img/right_img-3.jpg" />
                                                <span>0</span>
                                            </figure>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- fisrbox_FourBox -->
                    <!-- First row -->
                    <!-- middle row -->
                    <div class="mainContentinnerPartMiddleRow">
                        <!-- middle row firstBox -->
                        <div class="mainContentinnerPartfirstrow-boxsmallSizeBox">
                            <h3>Total Members</h3>
                            <div class="innermiddleRowContent">
                                <figure>
                                    <img src="~/Templates/UsersTemplate/img/total.jpg" />
                                </figure>
                                <span>1</span>
                            </div>
                        </div>
                        <!-- middle row firstBox -->
                        <!-- middle row SecondBox -->
                        <div class="mainContentinnerPartfirstrow-boxsmallSizeBox">
                            <h3>Ezee-Money</h3>
                            <div class="innermiddleRowContent Ezee-money">
                                <figure>
                                    <img src="~/Templates/UsersTemplate/img/total-2.jpg" />
                                    <img class="rupayIMG" src="~/Templates/UsersTemplate/img/rupay.png" />
                                </figure>
                                <span>0.00</span>
                            </div>
                        </div>
                        <!-- middle row SecondBox -->
                        <!-- middle row ThirdBox -->
                        <div class="mainContentinnerPartfirstrow-boxsmallSizeBox QualifyingRetailPointsMain">
                            <h3>Qualifying Retail Points</h3>
                            <div class="innermiddleRowContent QualifyingRetailPoints">
                                <figure>
                                    <img src="~/Templates/UsersTemplate/img/total-3.jpg" />
                                </figure>
                                <span>@Session["RetailPoints"]</span>
                            </div>
                        </div>
                        <!-- middle row ThirdBox -->
                        <!-- middle row FourBox -->
                        <div class="mainContentinnerPartfirstrow-boxsmallSizeBox lastmaininner DaysLeft">
                            <h3>Days Left</h3>
                            <div class="innermiddleRowContent">
                                <figure>
                                    <img src="~/Templates/UsersTemplate/img/total-4.jpg" />
                                </figure>
                                <span>30 days </span>
                            </div>
                        </div>
                        <!-- middle row FourBox -->
                    </div>
                    <!-- middle row -->
                    <!-- last row -->
                    <div class="mainContentinnerPartlastInnerRow">
                        <div class="mainContentinnerPartfirstrow-boxsmallSizeBox">
                            <h3>My Purchases</h3>
                            <div class="innermiddleRowContent">
                                <figure>
                                    <img src="~/Templates/UsersTemplate/img/my-1.jpg" />
                                </figure>
                                <span>0</span>
                            </div>
                        </div>
                        <div class="mainContentinnerPartfirstrow-boxsmallSizeBox">
                            <h3>Expected ERP</h3>
                            <div class="innermiddleRowContent">
                                <figure>
                                    <img src="~/Templates/UsersTemplate/img/my-2.jpg" />
                                </figure>
                                <span>0.0</span>
                            </div>
                        </div>
                        <div class="mainContentinnerPartfirstrow-boxsmallSizeBox">
                            <h3>RP on My Purchase</h3>
                            <div class="innermiddleRowContent">
                                <figure>
                                    <img src="~/Templates/UsersTemplate/img/my-2.jpg" />
                                </figure>
                                <span>0.0</span>
                            </div>
                        </div>
                        <div class="mainContentinnerPartfirstrow-boxsmallSizeBox lastmaininner">
                            <h3>Inactive Members</h3>
                            <div class="innermiddleRowContent">
                                <figure>
                                    <img src="~/Templates/UsersTemplate/img/my-4.jpg" />
                                </figure>
                                <span>1</span>
                            </div>
                        </div>
                    </div>
                    <!-- last row -->
                </div>
            </div>
        </section>

        <section class="container-fluid recentJoinMain">
            <div class="recentJoinchild">
                <div class="recentJoininner">
                    <div class="recentparthead">
                        <h4>Recent joinees</h4>
                        <div class="recentInnerContent recentJoininnerScrollingBar">
                            <ul>
                                <li>
                                    <div class="recentInnerContentIMG">
                                        <figure>
                                            <img src="~/Templates/UsersTemplate/img/profile-1.png" />
                                        </figure>
                                    </div>
                                    <div class="recentInnerContentRightSide">
                                        <ul>
                                            <li>
                                                <h5>Roshni</h5>
                                                <small>
                                                    <i></i>Level: 1 &nbsp;&nbsp;|&nbsp;&nbsp;
                                                    <i class="fa fa-calendar-o"></i>&nbsp;26-07-18 . 11:25
                                                </small>
                                                <br>
                                                <small class="captalise">
                                                    @*<i class="fa fa-retweet"></i> paras meena @ L: 0*@
                                                </small>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="recentInnerContentIMG">
                                        <figure>
                                            <img src="~/Templates/UsersTemplate/img/profile-1.png" />
                                        </figure>
                                    </div>
                                    <div class="recentInnerContentRightSide">
                                        <ul>
                                            <li>
                                                <h5>Roshni</h5>
                                                <small>
                                                    <i></i>Level: 1 &nbsp;&nbsp;|&nbsp;&nbsp;
                                                    <i class="fa fa-calendar-o"></i>&nbsp;26-07-18 . 11:25
                                                </small>
                                                <br>
                                                <small class="captalise">
                                                    @*<i class="fa fa-retweet"></i> paras meena @ L: 0*@
                                                </small>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="recentInnerContentIMG">
                                        <figure>
                                            <img src="~/Templates/UsersTemplate/img/profile-1.png" />
                                        </figure>
                                    </div>
                                    <div class="recentInnerContentRightSide">
                                        <ul>
                                            <li>
                                                <h5>Roshni</h5>
                                                <small>
                                                    <i></i>Level: 1 &nbsp;&nbsp;|&nbsp;&nbsp;
                                                    <i class="fa fa-calendar-o"></i>&nbsp;26-07-18 . 11:25
                                                </small>
                                                <br>
                                                <small class="captalise">
                                                    @*<i class="fa fa-retweet"></i> paras meena @ L: 0*@
                                                </small>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="recentInnerContentIMG">
                                        <figure>
                                            <img src="~/Templates/UsersTemplate/img/profile-1.png" />
                                        </figure>
                                    </div>
                                    <div class="recentInnerContentRightSide">
                                        <ul>
                                            <li>
                                                <h5>Roshni</h5>
                                                <small>
                                                    <i></i>Level: 1 &nbsp;&nbsp;|&nbsp;&nbsp;
                                                    <i class="fa fa-calendar-o"></i>&nbsp;26-07-18 . 11:25
                                                </small>
                                                <br>
                                                <small class="captalise">
                                                    @*<i class="fa fa-retweet"></i> paras meena @ L: 0*@
                                                </small>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="recentInnerContentIMG">
                                        <figure>
                                            <img src="~/Templates/UsersTemplate/img/profile-1.png" />
                                        </figure>
                                    </div>
                                    <div class="recentInnerContentRightSide">
                                        <ul>
                                            <li>
                                                <h5>Roshni</h5>
                                                <small>
                                                    <i></i>Level: 1 &nbsp;&nbsp;|&nbsp;&nbsp;
                                                    <i class="fa fa-calendar-o"></i>&nbsp;26-07-18 . 11:25
                                                </small>
                                                <br>
                                                <small class="captalise">
                                                    @*<i class="fa fa-retweet"></i> paras meena @ L: 0*@
                                                </small>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="recentInnerContentIMG">
                                        <figure>
                                            <img src="~/Templates/UsersTemplate/img/profile-1.png" />
                                        </figure>
                                    </div>
                                    <div class="recentInnerContentRightSide">
                                        <ul>
                                            <li>
                                                <h5>Roshni</h5>
                                                <small>
                                                    <i></i>Level: 1 &nbsp;&nbsp;|&nbsp;&nbsp;
                                                    <i class="fa fa-calendar-o"></i>&nbsp;26-07-18 . 11:25
                                                </small>
                                                <br>
                                                <small class="captalise">
                                                    @*<i class="fa fa-retweet"></i> paras meena @ L: 0*@
                                                </small>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="recentparthead">
                        <h4>Invite Users</h4>
                        <div class="recentInnerContent InviteUsers">
                            <form action="" method="get" id="invite_form">
                                <input type="text" class="form-control mt-20" name="name" placeholder="Name">
                                <input type="text" class="form-control" name="email" placeholder="Email">
                                <input type="text" class="form-control mt-20" name="phone" placeholder="Phone Number">
                                <textarea class="form-control mt-20" id="textareainvite" name="textarea" rows="4">
                                    Hi!, i would like to invite you to this awesome scheme launched by ezeelo.com check the link in email for more info
                                </textarea>
                                <button class="btn btn-primary mt-20 col-lg-12 waves-effect waves-classic">Send Invite</button>
                            </form>
                        </div>
                    </div>
                    <div class="recentparthead HighPerformer_box">
                        <h4>High Performer</h4>
                        <div class="recentInnerContent">
                            <div style="width: 100%; border-bottom: 1px solid #cfcdcf;" class="pr-40 pl-40 pt-20 pb-20">
                                <div class="dropdown vertical-align-bottom font-size-14 dropdown-menu-toggle">
                                    <div class="dropdown-toggle toggle-head" data-toggle="dropdown" aria-expanded="false" data-target="recruiters" style="cursor: pointer;"
                                         role="complementary">
                                        Top Recruiters
                                    </div>
                                    <div class="dropdown-menu" role="menu">
                                        <a class="dropdown-item listOfTopRecruiters" href="javascript:void(0)" role="menuitem" data-target="buyers">Top Buyers</a>
                                        <a class="dropdown-item listOfTopRecruiters" href="javascript:void(0)" role="menuitem" data-target="earners">Top Earners</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="ezeeloOffers">
            <div class="container-fluid">
                <h3>Ezeelo Offers</h3>
                <div class="ezeeloOffersSlider">
                    <div class="">
                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="carousel slide media-carousel" id="media">
                                    <div class="carousel-inner">
                                        <div class="item  active">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <a class="thumbnail" href="#">
                                                        <img alt="" src="~/Templates/UsersTemplate/img/grocery-img-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-md-4">
                                                    <a class="thumbnail" href="#">
                                                        <img alt="" src="~/Templates/UsersTemplate/img/grocery-img-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-md-4">
                                                    <a class="thumbnail" href="#">
                                                        <img alt="" src="~/Templates/UsersTemplate/img/grocery-img-3.jpg">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <a class="thumbnail" href="#">
                                                        <img alt="" src="~/Templates/UsersTemplate/img/grocery-img-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-md-4">
                                                    <a class="thumbnail" href="#">
                                                        <img alt="" src="~/Templates/UsersTemplate/img/grocery-img-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-md-4">
                                                    <a class="thumbnail" href="#">
                                                        <img alt="" src="~/Templates/UsersTemplate/img/grocery-img-3.jpg">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <a class="thumbnail" href="#">
                                                        <img alt="" src="~/Templates/UsersTemplate/img/grocery-img-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-md-4">
                                                    <a class="thumbnail" href="#">
                                                        <img alt="" src="~/Templates/UsersTemplate/img/grocery-img-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-md-4">
                                                    <a class="thumbnail" href="#">
                                                        <img alt="" src="~/Templates/UsersTemplate/img/grocery-img-3.jpg">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a data-slide="prev" href="#media" class="left carousel-control">
                                        <
                                    </a>
                                    <a data-slide="next" href="#media" class="right carousel-control">></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
                    <script>
                        $(document).ready(function () {
                            $('#media').carousel({
                                pause: true,
                                interval: false,
                            });
                        });
                    </script>
                </div>
            </div>
        </section>
        </div>

   
</body>
</html>