@model ModelLayer.Models.PersonalDetail

@{
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}

<div class="widget-content">
    <p>
        @Html.ActionLink("Edit", "Edit", new { ID = @Model.ID }, new { @class = "btn btn-small btn-danger" })
    </p>

    <div>
        @{
            if (TempData["Msg"] != null)
            {
                <h3 class="alert alert-info">@TempData["Msg"]</h3>
            }
        }
        <dl class="dl-horizontal">
            <dt>
                Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Salutation.Name)
                &nbsp;@Html.DisplayFor(model => model.FirstName)
                &nbsp;@Html.DisplayFor(model => model.MiddleName)
                &nbsp;@Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                DOB
            </dt>

            <dd>
                &nbsp;@Html.DisplayFor(model => model.DOB)
            </dd>

            <dt>
                Gender
            </dt>

            <dd>
                &nbsp;@Html.DisplayFor(model => model.Gender)
            </dd>

            <dt>
                Address
            </dt>

            <dd>
                &nbsp;@Html.DisplayFor(model => model.Address)
                &nbsp;@Html.DisplayFor(model => model.Pincode.Name)
            </dd>

            <dt>
                Alternate Mobile
            </dt>

            <dd>
                &nbsp;@Html.DisplayFor(model => model.AlternateMobile)
            </dd>

            <dt>
                Alternate Email
            </dt>

            <dd>
                &nbsp;@Html.DisplayFor(model => model.AlternateEmail)
            </dd>

        </dl>
    </div>
</div>
