
@{
    ViewBag.Title = "SuccessMessage";
}
<div id="content" class="span10" style="min-height: 400px;">
    <div style="margin-top:20px;">
        @if (ViewBag.Message != null)
        {
            <span class="succes-msg" style="margin: 0 12px;">@ViewBag.Message</span>
        }
    </div>
</div>