
.FootTextDiv {
    font-size: 11px;
    line-height: 15px;
    padding: 0 4% 0 2%;
    text-align: justify;
    font-family: Calibri;
}

.mainSpan {
    clear: both;
    display: block;
}

.SubMainSpan {
    clear: both;
    display: block;
}

.containernew1 {
    margin: 0px auto !important;
}

h5 {
    margin-top: 0;
    margin-left: 10px;
    z-index: 2;
    position: absolute;
}

.firstdiv {
    width: 146px;
    height: 150px;
    padding: 1px;
    border: 2px solid rgb(14, 14, 14);
    float: left;
}

    .firstdiv img {
        width: 145px;
        height: 145px;
        z-index: 1;
    }

    .firstdiv :hover {
        background-color: rgba(255, 255, 255, 0.53);
    }

.Seconddiv {
    width: 292px;
    height: 150px;
    padding: 1px;
    border: 2px solid rgb(14, 14, 14);
    float: left;
}

    .Seconddiv img {
        width: 295px;
        height: 145px;
        z-index: 1;
    }

    .Seconddiv :hover {
        background-color: rgba(255, 255, 255, 0.53);
    }

.thirddiv {
    width: 292px;
    height: 300px;
    padding: 1px;
    border: 2px solid rgb(14, 14, 14);
    float: left;
}

    .thirddiv img {
        width: 292px;
        height: 295px;
        z-index: 1;
    }

    .thirddiv :hover {
        background-color: rgba(255, 255, 255, 0.53);
    }

.fourdiv {
    width: 150px;
    height: 300px;
    padding: 1px;
    border: 1px solid rgba(128, 128, 128, 0.14);
    float: left;
}

    .fourdiv img {
        width: 145px;
        height: 295px;
        z-index: 1;
    }

    .fourdiv :hover {
        border: 1px solid gray;
    }

.container {
    width: 100% !important;
}

.containernew {
    margin: 50px auto !important;
}

.Submenu-mainDiv {
    width: 95%;
    position: absolute;
    margin: 7% 0% 0% 5%;
    bottom: 30px;
}

.Submenu-mainTwoDiv {
    width: 95%;
    position: absolute;
    margin: 7% 0% 0% 5%;
    bottom: 35px;
}




.Submenu-mainDiv h5 {
    text-align: center;
    color: #FDF3C4;
    font-size: 21px !important;
}

.divheading {
    color: black;
    padding: 3px;
    position: absolute;
    z-index: 0;
    top: 0;
}

.divmainctg {
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 5px;
    left: 0;
}

.divborder {
    border: 1px solid rgba(128, 128, 128, 0.21);
}

.divfirst {
    width: 292px;
    height: 300px;
    float: left;
    margin-bottom: 30px;
}

.divsecond {
    width: 300px;
    height: 450px;
    float: left;
    margin-bottom: 30px;
}

.divthird {
    width: 300px;
    height: 600px;
    float: left;
    margin-bottom: 30px;
}

    .divthird a {
        display: block;
    }

.divsecond a {
    display: block;
}

.divfirst a {
    display: block;
}

.gold-trans-3 {
    background: rgba(0, 0, 0, 0.76);
}

.gold-trans-2 {
    background: rgba(0, 0, 0, 0.53);
}

.gold-trans-1 {
    background: rgba(0, 0, 0, 0.53);
}

.SubMenuBgSmall {
    height: 552px;
}

.SubMenuBgLarge-gold {
    height: 852px;
}


.SubCat {
    width: 200px;
}
/*Gold Submenu*/
.SubMenuBgLarge-gold {
    height: 1217px;
}

.Submenu-mainDiv-gold h5 {
    text-align: center;
    color: #FDF3C4;
    font-size: 18px !important;
}

/*Vegetable Submenu*/
.SubMenuBgLarge-veg {
    height: 1190px;
}

.Submenu-mainDiv-veg h5 {
    text-align: center;
    color: #E8F5BD;
    font-size: 18px !important;
}

.veg-trans-3 {
    background: rgba(0, 0, 0, 0.31);
}
/*Books & Media Submenu*/
.SubMenuBgLarge-books {
    height: 450px;
}

/*Health & Fitness Submenu*/
.SubMenuBgLarge-health {
    height: 1596px;
}
/*Electronics Avenu Submenu*/
.SubMenuBgLarge-electronic {
    height: 3449px;
}

.Submenu-mainDiv-electronic h5 {
    text-align: center;
    color: #FDB678;
    font-size: 17px !important;
}

/*Submenu Home & Furniture Cat*/
.SubMenuBgLarge-furniture {
    height: 2359px;
}

.Submenu-mainDiv-furniture h5 {
    color: #D4B06F;
    font-size: 18px !important;
}

/*Submenu Fashion & Lifestyle Cat*/
.SubMenuBgLarge-fashion {
    height: 3112px;
}

.Submenu-mainDiv-fashion h5 {
    color: #F9D011;
    font-size: 18px !important;
}

/*Submenu food & Groceries Cat*/
.SubMenuBgLarge-food {
    height: 5015px;
}

.Submenu-mainDiv-food h5 {
    color: #EA982E;
    font-size: 18px !important;
}
/*Submenu Electrical Cat*/
.SubMenuBgLarge-electrical {
    height: 451px;
}

.Submenu-mainDiv-electrical h5 {
    color: rgb(238, 227, 181);
    font-size: 18px !important;
}


/*Fruit Market*/
.headingF h2.leftHeading {
    margin-left: 11%;
}

.headingF h2.rightHeading {
    float: right;
    margin-right: 42%;
}

.headingF {
    margin-top: 65px !important;
    background: url(../../../Images/heading-bg.png) repeat-x 100% 13px;
}

    .headingF h2 {
        margin: 0;
        font-size: 18px;
        font-family: Calibri;
        background-color: #fff;
        padding: 0px 10px;
        margin-left: 50px;
        border-left: 1px solid #9d9d9d;
        border-right: 1px solid #9d9d9d;
        display: inline;
        line-height: 33px;
    }

.contentBox5 {
    padding-left: 20px;
}

.contentBox {
    margin: auto !important;
    padding-left: 20px;
    width: 80% !important;
}
/*Start*/
.subBox .gb-p {
    display: inline-block;
    overflow: hidden;
}

    .subBox .gb-p img {
        width: 98%;
        height: 88%;
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }

    .subBox .gb-p:hover {
        background: #f2ece9;
    }

        .subBox .gb-p:hover img {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }
/*End*/

/*Height*/
.subBox .gb-1 {
    height: 200px;
    width: 32.7%;
}

.subBox .hh {
    height: 200px;
}

.subBox .hh2 {
    height: 190px;
}

.subBox a {
    border: 1px solid #c7c7c7;
    position: relative;
}

    .subBox a span {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2;
        display: block;
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
        font-size: 11px;
        text-align: center;
        width: 100%;
        /*word-break:break-all;*/
        padding-left: 10px;
        padding-right: 10px;
    }

    .subBox a:hover span {
        color: #fff !important;
        transform: scale(1.3);
        background: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        padding-top: 45px;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 18px;
    }

.box-2 {
    float: left;
    width: 49%;
    margin: 0.8px;
}

    .box-2 h2 {
        margin: 0;
    }

        .box-2 h2 a {
            font-size: 18px;
            font-family: Calibri;
            color: #404040;
        }

.box-3 h2 {
    margin: 0;
}

    .box-3 h2 a {
        font-size: 18px;
        font-family: Calibri;
        color: #404040;
    }

.box-4 h2 {
    margin: 0;
}

    .box-4 h2 a {
        font-size: 18px;
        font-family: Calibri;
        color: #404040;
    }

.box-2 .subBox {
    border: 1px solid #c7c7c7;
    overflow: hidden;
    clear: both;
}

.subBox {
    border: 1px solid #c7c7c7;
    overflow: hidden;
    clear: both;
}

.box-2 .subBox a {
    float: left;
}

.box-5 {
    float: left;
    width: 19%;
    margin: 0.8px;
}

.box-3 {
    float: left;
    width: 33%;
    margin: 0.8px;
}

.box-4 {
    float: left;
    width: 24%;
    margin: 0.8px;
}

.box-5 h2 {
    margin: 0;
}

    .box-5 h2 a {
        font-size: 18px;
        font-family: Calibri;
        color: #404040;
    }

.box-5 .subBox {
    border: 1px solid #c7c7c7;
    overflow: hidden;
    clear: both;
}

.box-4 .subBox .bb-2 {
    width: 49%;
}

.box-5 .subBox a {
    float: left;
}

.subBox a.bh {
    height: 275px !important;
}

    .subBox a.bh span {
        display: block;
        font-size: 12px;
        text-align: center;
        color: #464646;
    }

.b-2 {
    display: inline-block;
    width: 49%;
    height: 87px;
    overflow: hidden;
}

    .b-2 img {
        width: 98%;
        height: 100%;
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }

    .b-2:hover {
        background: #f2ece9;
    }

        .b-2:hover img {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }

.bb-5 img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.bb-5:hover {
    background: #f2ece9;
}

    .bb-5:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

.bb-5 {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 118px;
}

.bb-6 {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 173px;
}

    .bb-6 img {
        width: 100%;
        height: 100%;
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }

    .bb-6:hover {
        background: #f2ece9;
    }

        .bb-6:hover img {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }

.bb-4 img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.bb-4:hover {
    background: #f2ece9;
}

    .bb-4:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

.bb-4 {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 115px;
}


.bb-2 img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.bb-2:hover {
    background: #f2ece9;
}

    .bb-2:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

.bb-2 {
    overflow: hidden;
    display: inline-block;
    width: 49.9%;
    height: 115px;
}

.bb-1 img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.bb-1:hover {
    background: #f2ece9;
}

    .bb-1:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

.bb-1 {
    overflow: hidden;
    display: block;
    height: 347px;
    width: 100%;
}

.wh {
    width: 100%;
    height: 388px;
}

.tp {
    border-top: 1px solid rgba(132,132,132,0.5);
}

.bt {
    border-bottom: 1px solid rgba(132,132,132,0.5);
}

.rt {
    border-right: 1px solid rgba(132,132,132,0.5);
}

.lt {
    border-left: 1px solid rgba(132,132,132,0.5);
}
/*Start*/

/*=============================-1190 X 960-==================================*/
@media only screen and (max-width: 1190px) and (min-width: 960px) {
    .Submenu-mainTwoDiv {
        width: 95%;
    }

    .divfirst {
        width: 208px;
    }

    .firstdiv {
        width: 104px;
    }

    .Seconddiv {
        width: 209px;
    }

    .thirddiv {
        width: 209px;
    }
    /*Electronics Avenu Submenu*/
    .SubMenuBgLarge-electronic {
        height: 3340px;
    }

    .Submenu-mainDiv-electronic h5 {
        color: #FDB678;
        font-size: 16px !important;
    }

    /*Submenu Gold Cat*/
    .SubMenuBgLarge-gold {
        height: 1199px;
    }

    .Submenu-mainDiv-gold h5 {
        color: #FDF3C4;
        font-size: 16px !important;
    }
    /*Submenu food & Groceries Cat*/
    .SubMenuBgLarge-food {
        height: 4845px;
    }

    .Submenu-mainDiv-food h5 {
        color: #EA982E;
        font-size: 16px !important;
    }

    /*Submenu Vegetable & fruit Cat*/
    .SubMenuBgLarge-veg {
        height: 1153px;
    }
    /*Books & Media Submenu*/
    .SubMenuBgLarge-books {
        height: 456px;
    }
    /*Submenu Health & Fitness Cat*/
    .SubMenuBgLarge-health {
        height: 1548px;
    }
    /*Submenu Fashion & Lifestyle Cat*/
    .SubMenuBgLarge-fashion {
        height: 3012px;
    }

    .Submenu-mainDiv-fashion h5 {
        color: #F9D011;
        font-size: 16px !important;
    }
    /*Submenu Home & Furniture Cat*/
    .SubMenuBgLarge-furniture {
        height: 2286px;
    }

    .Submenu-mainDiv-furniture h5 {
        color: #D4B06F;
        font-size: 16px !important;
    }
    /*Submenu Electrical Cat*/
    .SubMenuBgLarge-electrical {
        height: 445px;
    }

    .Submenu-mainDiv-electrical h5 {
        color: rgb(238, 227, 181);
        font-size: 18px !important;
    }
}
/*=============================-960 X 768==================================*/
@media only screen and (max-width:960px) and (min-width:768px) {
    .Submenu-mainTwoDiv {
        bottom: 63px;
        margin: 7% 0 0 3%;
    }

    .Submenu-mainDiv {
        bottom: 60px;
        margin: 7% 0 0 3%;
    }

    /*Submenu Gold Cat*/
    .SubMenuBgLarge-gold {
        height: 1866px;
    }
    /*Submenu Home & Furniture Cat*/
    .SubMenuBgLarge-furniture {
        height: 3323px;
    }

    /*Submenu food & Groceries Cat*/
    .SubMenuBgLarge-food {
        height: 8265px;
    }


    /*Submenu Vegetable & fruit Cat*/
    .SubMenuBgLarge-veg {
        height: 2144px;
    }
    /*Submenu Electrical Cat*/
    .SubMenuBgLarge-electrical {
        height: 780px;
    }
    /*Submenu Health & Fitness Cat*/
    .SubMenuBgLarge-health {
        height: 2568px;
    }
    /*Submenu Fashion & Lifestyle Cat*/
    .SubMenuBgLarge-fashion {
        height: 5389px;
    }
    /*Electronics Avenu Submenu*/
    .SubMenuBgLarge-electronic {
        height: 5389px;
    }

    /*Books & Media Submenu*/
    .SubMenuBgLarge-books {
        height: 779px;
    }
}

/*=============================-768 X 600==================================*/
@media only screen and (max-width: 768px) and (min-width: 600px) {

    .Submenu-mainTwoDiv {
        bottom: 63px;
        margin: 7% 0 0 3%;
    }

    .FootTextDiv {
        margin-top: -9px;
    }
    /*Submenu Gold Cat*/
    .SubMenuBgLarge-gold {
        height: 2568px;
    }
    /*Submenu Home & Furniture Cat*/
    .SubMenuBgLarge-furniture {
        height: 5639px;
    }

    /*Submenu food & Groceries Cat*/
    .SubMenuBgLarge-food {
        height: 13794px;
    }


    /*Submenu Vegetable & fruit Cat*/
    .SubMenuBgLarge-veg {
        height: 3526px;
    }
    /*Submenu Electrical Cat*/
    .SubMenuBgLarge-electrical {
        height: 1180px;
    }
    /*Submenu Health & Fitness Cat*/
    .SubMenuBgLarge-health {
        height: 3924px;
    }
    /*Submenu Fashion & Lifestyle Cat*/
    .SubMenuBgLarge-fashion {
        height: 9997px;
    }
    /*Electronics Avenu Submenu*/
    .SubMenuBgLarge-electronic {
        height: 10321px;
    }

    /*Books & Media Submenu*/
    .SubMenuBgLarge-books {
        height: 1515px;
    }
}

/*=============================-600 X 480-==================================*/
@media only screen and (max-width: 600px) and (min-width: 480px) {
    .FootTextDiv {
        margin-top: -9px;
    }
    /*Submenu Gold Cat*/
    .SubMenuBgLarge-gold {
        height: 2568px;
    }
    /*Submenu Home & Furniture Cat*/
    .SubMenuBgLarge-furniture {
        height: 5639px;
    }

    /*Submenu food & Groceries Cat*/
    .SubMenuBgLarge-food {
        height: 13794px;
    }


    /*Submenu Vegetable & fruit Cat*/
    .SubMenuBgLarge-veg {
        height: 3526px;
    }
    /*Submenu Electrical Cat*/
    .SubMenuBgLarge-electrical {
        height: 1180px;
    }
    /*Submenu Health & Fitness Cat*/
    .SubMenuBgLarge-health {
        height: 3924px;
    }
    /*Submenu Fashion & Lifestyle Cat*/
    .SubMenuBgLarge-fashion {
        height: 9997px;
    }
    /*Electronics Avenu Submenu*/
    .SubMenuBgLarge-electronic {
        height: 10321px;
    }

    /*Books & Media Submenu*/
    .SubMenuBgLarge-books {
        height: 1515px;
    }
}
/*=============================-480 X 320-==================================*/
@media only screen and (max-width: 480px) and (min-width: 320px) {
    .FootTextDiv {
        margin-top: -9px;
    }
    /*Submenu Gold Cat*/
    .SubMenuBgLarge-gold {
        height: 2568px;
    }
    /*Submenu Home & Furniture Cat*/
    .SubMenuBgLarge-furniture {
        height: 5639px;
    }

    /*Submenu food & Groceries Cat*/
    .SubMenuBgLarge-food {
        height: 13794px;
    }


    /*Submenu Vegetable & fruit Cat*/
    .SubMenuBgLarge-veg {
        height: 3526px;
    }
    /*Submenu Electrical Cat*/
    .SubMenuBgLarge-electrical {
        height: 1180px;
    }
    /*Submenu Health & Fitness Cat*/
    .SubMenuBgLarge-health {
        height: 3924px;
    }
    /*Submenu Fashion & Lifestyle Cat*/
    .SubMenuBgLarge-fashion {
        height: 9997px;
    }
    /*Electronics Avenu Submenu*/
    .SubMenuBgLarge-electronic {
        height: 10321px;
    }

    /*Books & Media Submenu*/
    .SubMenuBgLarge-books {
        height: 1515px;
    }
}

@media screen and (max-width: 1300px) {
    .headingF h2.leftHeading {
        margin-left: 11%;
    }

    .headingF h2.rightHeading {
        float: right;
        margin-right: 35%;
    }
}

@media screen and (max-width: 1100px) {
    .headingF h2.leftHeading {
        margin-left: 11%;
    }

    .headingF h2.rightHeading {
        float: right;
        margin-right: 35%;
    }
}

@media screen and (max-width: 1024px) {
    .headingF h2.leftHeading {
        margin-left: 11%;
    }

    .headingF h2.rightHeading {
        float: right;
        margin-right: 35%;
    }

    .subBox .hh {
        height: 160px;
    }

    .subBox .hh2 {
        height: 160px;
    }

    .subBox .gb-1 {
        height: 160px;
    }

    .subBox {
        border: none !important;
    }
}

@media screen and (max-width: 800px) {
    .box-5 {
        width: 33%;
    }

    .wrapMain {
        margin-top: 30px !important;
    }

    .subBox .hh {
        height: 130px;
    }

    .subBox .hh2 {
        height: 130px;
    }

    .box-4 {
        width: 33%;
    }

    .headingF {
        display: none !important;
    }

    .contentBox {
        margin-top: 65px !important;
    }
}

@media screen and (max-width: 650px) {
    .wrapMain {
        margin-top: 115px !important;
    }

    .subBox .gb-1 {
        height: 130px;
    }

    .box-4 {
        width: 49%;
    }
}

@media screen and (max-width: 600px) {
    .box-5 {
        width: 49%;
    }

    .wrapMain {
        margin-top: 115px !important;
    }

    .box-3 {
        width: 49%;
    }

    .subBox .hh {
        height: 150px;
    }

    .subBox .hh2 {
        height: 150px;
    }
}

@media screen and (max-width: 480px) {
    .box-2 {
        width: 98%;
    }

    .box-4 {
        width: 98%;
    }

    .box-3 {
        width: 98%;
    }

    .box-5 {
        width: 98%;
    }

    .b-2 {
        height: 135px;
    }

    .bb-2 {
        height: 145px;
    }

    .bb-4 {
        height: 190px;
    }

    .bb-1 {
        height: 285px;
    }

    .wrapMain {
        margin-top: 115px !important;
    }

    .headingF {
        display: none !important;
    }

    .box-3 {
        width: 99%;
    }

    .subBox .hh {
        height: 150px;
    }

    .subBox .hh2 {
        height: 150px;
    }
}
/*End*/



