body {
    font-size: 14px;
    font-family:Calibri;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*Shop Logos*/
.icon {margin-top:15px;
}
.icon img {border: 1px solid #E0DFDF;
}



.cart-right {
    /*border: 1px solid rgba(237, 239, 238, 0.48);*/
    padding: 5px 5px 2px 3px;  width: 142px;
}

    .cart-right span {
        font-size: 14px;
        color: #928D8A;
    }

.section-title {
    font-family: Calibri;
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 50px;
    text-align: center;
}
.product-carousel {
    padding-top: 40px;
}
.single-product {
    overflow: hidden;
}
.product-f-image {
    position: relative;
}
img {
    max-width: 100%;
    height: auto;
}
.product-hover {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    border: 1px solid #ddd;
}
.product-hover a {
    background: none repeat scroll 0 0 #eb4800;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 16px;
    left: 10%;
    margin: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #eb4800;
    width: 80%;
    z-index: 99;
    transition: .4s;
}
.product-hover a i.fa {
    margin-right: 5px;
}
.product-hover a.view-details-link {
    bottom: -25%;
}
.maincontent-area {
    padding-bottom: 170px;
}
.slider-area, .promo-area, .brands-area, .maincontent-area, .footer-top-area, .product-widget-area, .product-breadcroumb-area, .single-product-area {
    position: relative;
    overflow: hidden;
}
.zigzag-bottom {
    /* background: none repeat scroll 0 0 #1abc9c; */
    background: none repeat scroll 0 0 #626361;
    bottom: -80px;
    height: 165px;
    left: -5%;
    position: absolute;
    transform: rotate(3deg);
    width: 108%;
    z-index: 9;
    top: 440px;
}


