@media screen and (min-width: 64em) {
    /* line 4, ../sass/partials/_grid.sass */
    main {
        width: 990px;
    }
    input {color:#ccc;
    }
}



@media screen and (max-width: 63em) {
    /* line 12, ../sass/partials/_grid.sass */
    .quantum, .q-1, input[type="number"], input[type="radio"], .dropdown-sm, .q-2, .nav-tiny, label, .q-3, .nav-small, .q-4, .q-small, .nav-medium, input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="search"], .form-error-msg, select, .dropdown-lg, .q-5, .q-6, .q-medium, .nav-large, .content-large-nav, .field, .subfield, .q-7, .q-8, .q-large, .content-medium-nav, main, .q-9, .content-small-nav, .q-10, .content-tiny-nav, .q-11, .q-12, .q-full {
        width: 100%;
    }
}

@media screen and (min-width: 64em) {
    /* line 12, ../sass/partials/_grid.sass */
    .quantum, .q-1, input[type="number"], input[type="radio"], .dropdown-sm, .q-2, .nav-tiny, label, .q-3, .nav-small, .q-4, .q-small, .nav-medium, input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="search"], .form-error-msg, select, .dropdown-lg, .q-5, .q-6, .q-medium, .nav-large, .content-large-nav, .field, .subfield, .q-7, .q-8, .q-large, .content-medium-nav, main, .q-9, .content-small-nav, .q-10, .content-tiny-nav, .q-11, .q-12, .q-full {
        margin: 0 10px;
    }
}

/* line 21, ../sass/partials/_grid.sass */
.q-left, .nav-left, .content-right-nav, label, input[type="search"], input[type="number"], input[type="radio"], input[type=""] + label, input[type="radio"] + label, .dropdown-sm {
    clear: none;
}

@media screen and (min-width: 36em) {
    /* line 21, ../sass/partials/_grid.sass */
    .q-left, .nav-left, .content-right-nav, label, input[type="search"], input[type="number"], input[type="radio"], input[type=""] + label, input[type="radio"] + label, .dropdown-sm {
        float: left;
    }
}

/* line 26, ../sass/partials/_grid.sass */
.q-right, .content-left-nav, .nav-right, input[type="text"], input[type="email"], input[type="password"], input[type="tel"], .form-error-msg, select, .dropdown-lg {
    clear: none;
}

@media screen and (min-width: 36em) {
    /* line 26, ../sass/partials/_grid.sass */
    .q-right, .content-left-nav, .nav-right, input[type="text"], input[type="email"], input[type="password"], input[type="tel"], .form-error-msg, select, .dropdown-lg {
        /*float: right;*/
    }
}

/* line 31, ../sass/partials/_grid.sass */
.q-stick-left, label, input[type="number"], input[type="radio"] {
    margin-left: 0;
}

/* line 34, ../sass/partials/_grid.sass */
.q-stick-right, input[type="text"], input[type="email"], input[type="password"], input[type="tel"], .form-error-msg, select, .dropdown-lg {
    margin-right: 0;
}

@media screen and (max-width: 35em) {
    /* line 38, ../sass/partials/_grid.sass */
    .q-left + .q-left, .nav-left + .q-left, .content-right-nav + .q-left, label + .q-left, input[type="search"] + .q-left, input[type="number"] + .q-left, input[type=""] + .q-left, input[type="radio"] + .q-left, input[type=""] + label + .q-left, input[type="radio"] + label + .q-left, .dropdown-sm + .q-left, .q-left + .nav-left, .nav-left + .nav-left, .content-right-nav + .nav-left, label + .nav-left, input[type="search"] + .nav-left, input[type="number"] + .nav-left, input[type=""] + .nav-left, input[type="radio"] + .nav-left + .nav-left, input[type="radio"] + label + .nav-left, .dropdown-sm + .nav-left, .q-left + .content-right-nav, .nav-left + .content-right-nav, .content-right-nav + .content-right-nav, label + .content-right-nav, input[type="search"] + .content-right-nav, input[type="number"] + .content-right-nav, input[type=""] + .content-right-nav, input[type="radio"] + .content-right-nav, input[type=""] + label + .content-right-nav, input[type="radio"] + label + .content-right-nav, .dropdown-sm + .content-right-nav, .q-left + label, .nav-left + label, .content-right-nav + label, label + label, input[type="search"] + label, input[type="number"] + label, input[type=""] + label, input[type="radio"] + label, input[type=""] + label + label, input[type="radio"] + label + label, .dropdown-sm + label, .q-left + input[type="search"], .nav-left + input[type="search"], .content-right-nav + input[type="search"], label + input[type="search"], input[type="search"] + input[type="search"], input[type="number"] + input[type="search"], input[type=""] + input[type="search"], input[type="radio"] + input[type="search"], input[type=""] + label + input[type="search"], input[type="radio"] + label + input[type="search"], .dropdown-sm + input[type="search"], .q-left + input[type="number"], .nav-left + input[type="number"], .content-right-nav + input[type="number"], label + input[type="number"], input[type="search"] + input[type="number"], input[type="number"] + input[type="number"], input[type=""] + input[type="number"], input[type="radio"] + input[type="number"], input[type=""] + label + input[type="number"], input[type="radio"] + label + input[type="number"], .dropdown-sm + input[type="number"], .q-left + input[type=""], .nav-left + input[type=""], .content-right-nav + input[type=""], label + input[type=""], input[type="search"] + input[type=""], input[type="number"] + input[type=""], input[type=""] + input[type=""], input[type="radio"] + input[type=""], input[type=""] + label + input[type=""], input[type="radio"] + label + input[type=""], .dropdown-sm + input[type=""], .q-left + input[type="radio"], .nav-left + input[type="radio"], .content-right-nav + input[type="radio"], label + input[type="radio"], input[type="search"] + input[type="radio"], input[type="number"] + input[type="radio"], input[type=""] + input[type="radio"], input[type="radio"] + input[type="radio"], input[type=""] + label + input[type="radio"], input[type="radio"] + label + input[type="radio"], .dropdown-sm + input[type="radio"], input[type=""].q-left + label, input[type=""].nav-left + label, input[type=""].content-right-nav + label, input[type=""][type="search"] + label, input[type=""][type="number"] + label, input[type=""] + label, input[type=""][type="radio"] + label, input[type=""].dropdown-sm + label, input[type="radio"].q-left + label, input[type="radio"].nav-left + label, input[type="radio"].content-right-nav + label, input[type="radio"][type="search"] + label, input[type="radio"][type="number"] + label, input[type="radio"][type=""] + label, input[type="radio"] + label, input[type="radio"].dropdown-sm + label, .q-left + .dropdown-sm, .nav-left + .dropdown-sm, .content-right-nav + .dropdown-sm, label + .dropdown-sm, input[type="search"] + .dropdown-sm, input[type="number"] + .dropdown-sm, input[type=""] + .dropdown-sm, input[type="radio"] + .dropdown-sm, input[type=""] + label + .dropdown-sm, input[type="radio"] + label + .dropdown-sm, .dropdown-sm + .dropdown-sm {
        margin-top: 20px;
    }
}

@media screen and (min-width: 36em) and (max-width: 64em) {
    /* line 42, ../sass/partials/_grid.sass */
    .q-1, input[type="number"], input[type="radio"], .dropdown-sm, .q-2, .nav-tiny, label, .q-3, .nav-small {
        width: 50%;
    }
}

@media screen and (min-width: 64em) {
    /* line 45, ../sass/partials/_grid.sass */
    .q-1, input[type="number"], input[type="radio"], .dropdown-sm {
        width: 60px;
    }
}

@media screen and (min-width: 64em) {
    /* line 50, ../sass/partials/_grid.sass */
    .q-2, .nav-tiny, label {
        width: 140px;
    }
}

@media screen and (min-width: 64em) {
    /* line 55, ../sass/partials/_grid.sass */
    .q-3, .nav-small {
        width: 220px;
    }
}

@media screen and (min-width: 64em) {
    /* line 60, ../sass/partials/_grid.sass */
    .q-4, .q-small, .nav-medium, input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="search"], .form-error-msg, select, .dropdown-lg {
        width: 300px;
    }
}

@media screen and (min-width: 64em) {
    /* line 65, ../sass/partials/_grid.sass */
    .q-5 {
        width: 380px;
    }
}

@media screen and (min-width: 64em) {
    /* line 70, ../sass/partials/_grid.sass */
    .q-6, .q-medium, .nav-large, .content-large-nav, .field, .subfield {
        width: 460px;
    }
}

@media screen and (min-width: 64em) {
    /* line 75, ../sass/partials/_grid.sass */
    .q-7 {
        width: 540px;
    }
}

@media screen and (min-width: 64em) {
    /* line 80, ../sass/partials/_grid.sass */
    .q-8, .q-large, .content-medium-nav, main {
        width: 794px;
    }
}

@media screen and (min-width: 64em) {
    /* line 85, ../sass/partials/_grid.sass */
    .q-9, .content-small-nav {
        width: 700px;
    }
}

@media screen and (min-width: 64em) {
    /* line 90, ../sass/partials/_grid.sass */
    .q-10, .content-tiny-nav {
        width: 780px;
    }
}

@media screen and (min-width: 64em) {
    /* line 95, ../sass/partials/_grid.sass */
    .q-11 {
        width: 860px;
    }
}

/* line 100, ../sass/partials/_grid.sass */
.q-12, .q-full {
    margin: auto;
}

@media screen and (min-width: 64em) {
    /* line 100, ../sass/partials/_grid.sass */
    .q-12, .q-full {
        width: 940px;
    }
}

/* line 118, ../sass/partials/_grid.sass */
.q-container {
    margin: 20px 0;
}

/* These mixins handle IE < 9, which doesn't respond to media queries.
 * To "activate" them in ye-olde-ie stylesheet, set $dim to NUMpx and
 * set $ye-olde-ie to a version number and then import the main stylesheet. */
/* line 61, ../sass/partials/_utils.sass */

/* line 23, ../sass/veronica/_typography.sass */
h1 {
    font-size: 2em;
}

/* line 26, ../sass/veronica/_typography.sass */
ul, ol {
    margin-bottom: 1em;
}
    /* line 28, ../sass/veronica/_typography.sass */
    ul > ol, ul ul, ol > ol, ol ul {
        margin-bottom: 0.25em;
    }

/* line 32, ../sass/veronica/_typography.sass */
li > ol, li ul {
    margin-bottom: 0.25em;
}

/* line 35, ../sass/veronica/_typography.sass */
blockquote {
    border-left: solid 0.5em #eeeeee;
    margin-left: 0.5em;
    padding-left: 1em;
}

/* line 40, ../sass/veronica/_typography.sass */
cite {
    color: #666666;
}

/* line 45, ../sass/veronica/_typography.sass */
section h2::before {
    content: "\000A7";
    padding-right: 0.25em;
    color: #cccccc;
    font-weight: normal;
}

/* line 1, ../sass/veronica/_elements.sass */

form {
    overflow: hidden;
}

/* line 4, ../sass/veronica/_forms.sass */
fieldset {
    border: none;
    margin: 0em 0;
    padding: 0 0 1em 0;
}

/* line 10, ../sass/veronica/_forms.sass */
legend {
    text-align: center;
    border: 1px solid #6C5445;
    font-size: 16px;
    color: #FFFFFF !important;
    background: rgb(189, 166, 130) !important;
    padding: 0 0px 0px 0px !important;
    width: 20%;
    line-height: 23px;
    margin-bottom: 10px;
}

/* line 14, ../sass/veronica/_forms.sass */
.form-help-text {
    margin: 0 0 1em 0;
    max-width: 40em;
    font-size: 0.9em;
}

/* line 19, ../sass/veronica/_forms.sass */
.field {
    overflow: hidden;
    margin: 0.5em 0;
}

/* line 24, ../sass/veronica/_forms.sass */
.subfield {
    overflow: hidden;
    margin: 0 0 1em 0;
}

@media screen and (max-width: 63em) {
    /* line 24, ../sass/veronica/_forms.sass */
    .subfield {
        padding-left: 2em;
    }
}

@media screen and (min-width: 64em) {
    /* line 31, ../sass/veronica/_forms.sass */
    .subfield label {
        padding-left: 1em;
    }
}

/* line 34, ../sass/veronica/_forms.sass */
label {
    line-height: 30px;
    font-size: 14px;
    color: #967A50;
}

select {
    color: #A7A3A3;
}
input {
    color: #A7A3A3!important;
}
/* line 40, ../sass/veronica/_forms.sass */



@media screen and (min-width: 36em) and (max-width: 64em) {
    /* line 142, ../sass/veronica/_forms.sass */
    .dropdown-sm {
        margin: 0.5em 0;
    }
}

/* line 149, ../sass/veronica/_forms.sass */


/* line 12, ../sass/veronica/main.sass */
body, html {
    min-height: 100%;
}

/* line 15, ../sass/veronica/main.sass */
html {
    position: relative;
}

/* line 18, ../sass/veronica/main.sass */
main {
    
    margin-bottom: 6em;
}



/* line 35, ../sass/veronica/main.sass */
section {
    overflow: hidden;
}

/* line 5, ../sass/main.sass */


/* line 8, ../sass/main.sass */
main {
    margin: auto;
}

/* line 12, ../sass/main.sass */
h1 {
    font-size: 3em;
    margin-bottom: 0;
}

/* line 16, ../sass/main.sass */
h2 {
    margin: 0.5em 0;
}

/* line 19, ../sass/main.sass */
form {
    margin: 1em 0 3em 0;
}

/* line 22, ../sass/main.sass */
fieldset {
       border-top: 1px solid #BDA682!important;
    padding: 0 10px 2px 8px!important;
    margin-bottom:10px;
}

/* line 25, ../sass/main.sass */
.form-section-nav {
    margin-top: 1em;
    text-align: right;
}

/* line 29, ../sass/main.sass */
.btn-std, .btn-secondary {
    display: inline-block;
}

/* line 33, ../sass/main.sass */
.btn-secondary {
    border-color: #aaaaaa;
}

/* line 36, ../sass/main.sass */
#global {
    display: none;
}


@media screen and (max-width: 63em) {
    /* line 39, ../sass/main.sass */
    #global-nav {
        text-align: center;
        overflow: hidden;
    }
        /* line 43, ../sass/main.sass */
        #global-nav span {
            float: left;
            width: calc(50% - 3em - 4px);
        }
}

@media screen and (min-width: 64em) {
    /* line 39, ../sass/main.sass */
    #global-nav {
        position: fixed;
        margin-left: -7em;
    }
        /* line 49, ../sass/main.sass */
        #global-nav span {
            display: block;
        }
}

/* line 79, ../sass/partials/_utils.sass */
.valid legend::after {
    content: "Valid";
    text-transform: uppercase;
    color: #5c9159;
    font-size: 0.7em;
    padding-left: 1em;
}
/* line 81, ../sass/partials/_utils.sass */
.valid legend:after {
    content: "Valid";
    text-transform: uppercase;
    color: #5c9159;
    font-size: 0.7em;
    padding-left: 1em;
}
/* line 83, ../sass/partials/_utils.sass */
.valid legend > iea {
    content: "Valid";
    text-transform: uppercase;
    color: #5c9159;
    font-size: 0.7em;
    padding-left: 1em;
}

/* line 61, ../sass/main.sass */
input {
    font-family: "PT Sans";
}
