<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="EzeeloDBContext" connectionString="Data Source=104.211.219.112; Initial Catalog=Ezeelo; User ID=sa; Password=tfguhj$01; TimeOut = 1000" providerName="System.Data.SqlClient" />-->
    <add name="EzeeloDBContext" connectionString="Data Source=103.138.188.153;initial catalog=Ezeelo;user id=ezeelo-prod;password=EzeeloLive@2018!; TimeOut = 1000" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- test server starts -->
    <add key="GATEWAYS" value="GATEWAYS.xml" />
    <add key="EMAILS_XML" value="http://img.identical/cc/e/EMAILS.xml" />
    <add key="EMAILS_FOLDER" value="http://img.identical/cc/e" />
    <add key="SMS_XML" value="http://img.identical/cc/sms/SMS.xml" />
    <add key="EZEELO_CUSTOMER_URL" value="http://customer.identical/"/>
    <add key="EZEELO_LEADER_URL" value="http://leaders.identical/"/>
    <add key="EZEELO_API_URL" value="http://api.identical/api/"/>
    <add key="EZEELO_PARTNER_URL" value="http://partner.identical/"/>
    <add key="EZEELO_MERCHANT_URL" value="http://merchant.identical/"/>
    <add key="EZEELO_DELIVERY_URL" value="http://delivery.identical/"/>
    <add key="EZEELO_IMG_URL" value="http://img.identical/"/>
    <!-- test server starts -->

    <!--Local host starts -->
    <!--<add key="GATEWAYS" value="GATEWAYS.xml" />
    <add key="EMAILS_XML" value="http://img.identical/cc/e/EMAILS.xml" />
    <add key="EMAILS_FOLDER" value="http://img.identical/cc/e" />
    <add key="SMS_XML" value="http://img.identical/cc/sms/SMS.xml" />
    <add key="EZEELO_CUSTOMER_URL" value="http://localhost:5555/"/>
    <add key="EZEELO_LEADER_URL" value="http://localhost:16174/"/>
    <add key="EZEELO_API_URL" value="http://localhost:1600/api/"/>
    <add key="EZEELO_PARTNER_URL" value="http://localhost:5454/"/>
    <add key="EZEELO_MERCHANT_URL" value="http://localhost:8888/"/>
    <add key="EZEELO_DELIVERY_URL" value="http://localhost:4444/"/>
    <add key="EZEELO_IMG_URL" value="http://img.identical/"/>-->
    <!-- Local host starts -->
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <directoryBrowse enabled="true" />
    <httpRedirect enabled="false" destination="delivery.gandhibagh.com" exactDestination="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>