/*
 * Globals
 */

body {
    /*font-family: Georgia, "Times New Roman", Times, serif;*/
    font-family: Calibri,Helvetica Neue, Helvetica, Arial, Calibri;
    color: #555;
    /*background: url("../img/images.jpg") no-repeat fixed bottom left;*/
    /*-------------------- if nav fixed at top*/
    /*min-height: 2000px;*/
    /*padding-top: 30px;*/
    /*----------------- end if nav fiex at top*/
}

#navbar {
    padding-top: 2px !important;
}

.new-href {
    color: #808080 !important;
}

.new-dropdown {
    width: 180px !important;
    font-size: 15px !important;
}

    .new-dropdown > li {
        width: 100% !important;
        font-size: 10px !important;
    }

select {
    height: 26px;
}

a {
    /*color: #ffffff;*/
    text-decoration: none;
}


.dropdown-menu li a {
    font-size: 11px;
    line-height: 23px;
}

    .dropdown-menu li a:hover {
        color: #333;
    }

a:hover,
a:focus {
    color: #A8CF45;
    text-decoration: none;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-weight: normal;
    color: #333;
}
/* ------------------------------------------------------------- start color -- */
.gb-color-light-green {
    background-color: rgba(33, 123, 18, 0.45);
    color: #ffffff;
}

.gb-color-dark-green {
    background-color: #1F8E0D;
    color: #ffffff;
}

.gb-color-gray {
    background-color: #999;
    color: #ffffff;
}

.true {
    /*background-color: #1F8E0D !important;
    color: #1F8E0D;*/
    /*visibility:hidden;*/
}

.false {
    /*background-color: #999;*/
    color: #1F8E0D;
}


.gb-top-select-city {
    width: 100px !important;
    height: 24px;
    font-size: small;
    /*margin: 7px;*/
    background-color: #555555; /*#1F8E0D;*/
    color: #cdddeb;
}


/* ------------------------------------------------------------- end color -- */


.gb-container-body {
    min-height: 400px !important;
    margin-top: 16px;
    margin-bottom: 56px;
}


/*
 * Masthead for nav
 */

.gb-masthead {
    background-color: #1F8E0D;
    /*background-image:url("../img/menu.jpg"); background-repeat:no-repeat;*/
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.gb-nav-item {
    /*position: relative;*/
    display: inline-block;
    padding: 2px;
    font-size: small;
    color: #cdddeb;
}

    .gb-nav-item:hover,
    .gb-nav-item:focus {
        color: #fff;
        text-decoration: none;
    }

/* Active state gets a caret at the bottom */
.gb-nav .active {
    color: #fff;
}

    .gb-nav .active:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -5px;
        vertical-align: middle;
        content: " ";
        border-right: 5px solid transparent;
        border-bottom: 5px solid;
        border-left: 5px solid transparent;
    }

.gb-nav-right {
    float: right;
}

.gb-trackorder {
    padding-left: 10px;
    font-size: small;
    width: 200px;
}

.gb-waiting-img {
    margin-top: 125px;
}

/*
 * Blog name and description
 */

.gb-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.gb-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}

.gb-description {
    font-size: 20px;
    color: #999;
}


/*
 * Main column and sidebar layout
 */

.gb-main {
    font-size: 18px;
    line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}

.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

    .sidebar-module-inset p:last-child,
    .sidebar-module-inset ul:last-child,
    .sidebar-module-inset ol:last-child {
        margin-bottom: 0;
    }


/* Pagination */
.pager {
    margin-bottom: 60px;
    text-align: left;
}

    .pager > li > a {
        width: 140px;
        padding: 10px 20px;
        text-align: center;
        border-radius: 30px;
    }


/*
 * Blog posts
 */

.gb-post {
    margin-bottom: 60px;
}

.gb-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}

.gb-post-meta {
    margin-bottom: 20px;
    color: #999;
}


/*
 * Footer
 */

.gb-footer {
    /*padding: 40px 0;*/
    color: #ffffff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 1px solid #e5e5e5;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

    .gb-footer p:last-child {
        margin-bottom: 0;
    }

.gb-th {
    color: #1F8E0D;
}

    .gb-th:hover {
        color: #A8CF45;
    }

/*---------------------------------------------------------------------------------------------------------------------------- Start Product */
/*---------------- Start Filter --*/
.gb-filter 
{
    display:inline !important;
}

    .gb-filter .row {
        margin-bottom: 8px;
    }

    .gb-filter p {
        padding-left: 10px;
        width: 200px;
        height: 30px;
        font-size: small;
        border: 1px solid #999;
        margin-bottom: 0px;
        padding-top: 4px;
    }


    .gb-filter input {
        padding-left: 10px;
        width: 173px;
        height: 30px;
        font-size: small;
        border: 1px solid #dfdfdf;
    }

    .gb-filter select {
        padding-left: 10px;
        width: 173px;
        height: 34px;
        font-size: small;
        background-size: 10px 8px;
    }

        .gb-filter select option {
            padding: 3px 8px;
            line-height: 25px;
        }

.tabsetting button {
    width: 18px;
    height: 18px;
}

.gb-filter .description {
    padding-left: 10px;
    width: 200px;
    height: 30px;
    font-size: small;
    margin-left: 15px;
    height: 200px;
    padding-top: 8px;
    border: 1px solid #999;
}


/*---------------- End Filter --*/

/*---------------- start sub-menu-bar --*/
.gb-sub-menu-bar {
    margin-left: 15px;
}

    .gb-sub-menu-bar .gb-total-items {
        margin-left: 6px;
        width: 180px;
        height: 30px;
        font-size: small;
        /*font-weight:bold;*/
    }


    .gb-sub-menu-bar span {
        padding-left: 10px;
        width: 200px;
        height: 30px;
        font-size: small;
        border: 1px solid #999;
        margin-bottom: 0px;
        padding-top: 4px;
    }


    .gb-sub-menu-bar input {
        padding-left: 10px;
        width: 180px;
        height: 30px;
        font-size: small;
        margin-left: 5px;
    }

    .gb-sub-menu-bar label {
        padding-left: 10px;
        width: 180px;
        height: 30px;
        font-size: small;
    }

    .gb-sub-menu-bar select {
        padding-left: 10px;
        width: 180px;
        height: 30px;
        font-size: small;
    }

    .gb-sub-menu-bar .gb-pagination {
        margin-top: -20px;
        margin-left: 0px;
        margin-bottom: -28px;
    }

    .gb-sub-menu-bar .gb-pagination-current-page {
        margin-left: -54px;
        /*width: 108px;*/
        /*height: 30px;*/
        background-color: transparent;
        border: 1px solid #DDDDDD;
    }
/*---------------- end sub-menu-bar --*/

.gb-img-small {
    width: 26px;
    height: 26px;
    float: left;
    margin-right: 5px;
}

.gb-cart-qty {
    float: left;
}

.ng-binding {
    padding-top: 30px;
    margin: 0 0 5px;
}

.gb-img-medium {
    width: 150px;
    height: 150px;
    margin-top: 0px;
    margin-left: 25px;
}

.gb-indian_currency {
    background: url(../img/indian_rupee.png) no-repeat 0 3px;
    padding-left: 12px;
    /*line-height: 25px;*/
    /*padding-right: 5px;*/
    padding-right: 0px;
}

.gb-select-varieant {
    height: 29px;
    width: 120px;
    margin-right: 9px;
    line-height: 16px;
    background-size: 8px 5px;
    font-size: 12px;
    border: 1px solid #dfdfdf;
    color: #000;
    border-radius: 0px 0px 0px 0px;
    background: url("../../Content/Images/drop.gif") no-repeat 96% 9px;
    display:inline !important;
}

/*================================================================================================= Tile view */
.gb-tile {
    position: relative;
    display: block;
    float: left;
    margin: 5px;
    height: 292px;
    width: 222px;
    color: #1F8E0D;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    /*background-color: #ffffff;
    border: 1px solid #A8CF45;
    background-clip: padding-box;
    border-radius: 4px;*/
    /*text-align: center;*/
    font-size: small;
    margin-bottom: 15px;
    border: 1px solid rgba(128, 128, 128, 0.42);
}

    .gb-tile button {
        border-radius: 2px;
        border: 1px solid #dfdfdf;
        background-color: #eee;
    }

    .gb-tile .product-main {
        width: 216px;
    }

    .gb-tile p {
        padding-left: 10px;
        padding-right: 2px;
    }

    .gb-tile a {
        color: #1F8E0D;
        text-decoration: none !important;
    }

    .gb-tile .product-main:hover {
        /*background-color: rgba(31, 142, 13, 0.10);
        border: 1px solid #1F8E0D;*/
        border: 1px solid #BCBCBC;
        box-shadow: 0px 3px 3px #808080;
    }



.gb-tile-header {
    height: 33px;
    /*background-color: rgba(168, 207, 69, 0.38);*/
    padding-top: 3px;
    padding-left: 6px;
}

    .gb-tile-header .gb-tile-header-cart .gb-addProduct {
        text-align: right;
    }

    .gb-tile-header button {
        width: 26px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .gb-tile-header input {
        width: 26px;
        text-align: center;
    }

    .gb-tile-header .gb-rs {
        width: 80px;
        text-align: left;
        cursor: default;
        padding-left: 5px;
        font-size: 14px;
        height: 29px;
    }

    .gb-tile-header .gb-tile-header-cart {
        text-align: right;
        padding-right: 24px;
        padding-top: 3px;
    }

        .gb-tile-header .gb-tile-header-cart .gb-select-varieant {
            height: 24px;
            width: 86px;
        }


.gb-tile-bottom {
    /*background-color: rgba(168, 207, 69, 0.38);*/
    height: 40px;
    /*margin-top: -210px;*/
    padding-left: 0px;
    text-align: center;
    padding-top: 10px;
}

    .gb-tile-bottom button {
        width: 26px;
        margin-right: 0px;
        margin-left: 0px;
        height: 26px;
    }

    .gb-tile-bottom input {
        width: 45px;
        text-align: center;
        border: 1px solid #dfdfdf;
        background-color: #fff;
        height: 26px;
    }

    .gb-tile-bottom .gb-rs {
        width: 80px;
        text-align: left;
    }

    .gb-tile-bottom .gb-tile-bottom-cart {
        text-align: right;
        padding-right: 24px;
        padding-top: 3px;
    }

    .gb-tile-bottom .gb-addProduct {
        /*margin-left: 63px;*/
        /*margin-top: 5px;*/
        width: 90px;
        background: #f56506 !important;
        border: 1px solid #cb5405 !important;
        color: #fff;
    }



/*================================================================================================= Thumbnail view */
.gb-thumbnail {
    position: relative;
    display: block;
    float: left;
    margin: 5px;
    height: 250px;
    width: 180px;
    color: #1F8E0D;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    background-color: /*rgba(203, 214, 203, 0.28)*/ #ffffff;
    border: 1px solid rgba(203, 214, 203, 0.3);
    background-clip: padding-box;
    border-radius: 4px;
    text-align: center;
    font-size: small;
}

    .gb-thumbnail p {
        padding-left: 2px;
        padding-right: 2px;
    }

    .gb-thumbnail a {
        color: #1F8E0D;
        text-decoration: none !important;
    }

    .gb-thumbnail:hover {
        background-color: /*rgba(203, 214, 203, 1)*/ rgba(31, 142, 13, 0.10);
        box-shadow: 1px 1px 3px #A8CF45;
    }



.gb-thumbnail-header {
    height: 53px;
    width: 30%;
    padding-top: 11px;
    margin-left: 15px;
}

    .gb-thumbnail-header .gb-thumbnail-header-cart .gb-addProduct {
        text-align: right;
    }

    .gb-thumbnail-header button {
        width: 26px;
        margin-right: -4px;
        margin-left: 5px;
        height: 27px;
    }

    .gb-thumbnail-header input {
        width: 26px;
        text-align: center;
    }

    .gb-thumbnail-header .gb-rs {
        width: 80px;
        text-align: left;
        cursor: default;
    }

    .gb-thumbnail-header .gb-thumbnail-header-cart {
        text-align: right;
        padding-right: 24px;
        padding-top: 3px;
    }

        .gb-thumbnail-header .gb-thumbnail-header-cart .gb-select-varieant {
            height: 24px;
            width: 86px;
        }


.gb-thumbnail-bottom {
    /* background-color: #A8CF45; */
    height: 30px;
    width: 13%;
    float: right;
    padding-top: 11px;
    padding-left: 10px;
    /* margin-top: -210px; */
}

    .gb-thumbnail-bottom button {
        width: 26px;
        margin-right: -4px;
        margin-left: -4px;
        height: 27px;
        background: #f56506 !important;
        border: 1px solid #cb5405 !important;
        color: #fff;
    }

    .gb-thumbnail-bottom input {
        width: 26px;
        text-align: center;
    }

    .gb-thumbnail-bottom .gb-rs {
        width: 80px;
        text-align: left;
    }

    .gb-thumbnail-bottom .gb-thumbnail-bottom-cart {
        text-align: right;
        padding-right: 24px;
        padding-top: 3px;
    }

    .gb-thumbnail-bottom .gb-addProduct {
        margin-left: 0px;
        width: 65px;
    }










/*************************************** Start Cart */
.gb-cart-rs {
    width: 66px;
    text-align: left;
    margin-left: 30px;
}

.gb-cart-amount {
    /* min-height: 0px; */
    /* max-height: 400px; */
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
    /* width: 66px; */
    /* background-color: rgba(33, 123, 18, 0.45); */
    /* color: #ffffff; */
    position: fixed;
    right: 30px;
    top: 45px;
    /* border: 1px solid #1F8E0D; */
    /* border-radius: 4px; */
    /* border: 1px solid #1F8E0D; */
    /* padding: 10px; */
    z-index: 9;
}

.gb-cart {
    min-height: 0px;
    max-height: 295px;
    /*overflow-y: auto;*/
    overflow: hidden;
    width: 66px;
    /*background-color: rgba(33, 123, 18, 0.45);*/
    color: #ffffff;
    position: fixed;
    right: 30px;
    top: 75px;
    border: 1px solid #1F8E0D;
    border-radius: 4px;
    border: 1px solid #1F8E0D;
    padding: 5px;
    z-index: 103;
    text-align: center;
}

button.ng-scope {
    padding: 2px 2px;
    position: relative;
    z-index: 3;
    width: 55px;
    text-align: center;
}

.gb-cart ul {
    padding: 0;
    list-style: none;
    margin: 0;
    min-height: 0;
    max-height: 240px;
    overflow: hidden;
    margin-top: 4px;
    /*padding-top:24px;*/
}

    .gb-cart ul li {
        border: 1px solid #d4d4d4;
        padding: 4px 2px;
        color: #f90017;
        line-height: 30px;
        margin: 3px 0;
        position: relative;
        z-index: 1;
    }

.clr {
    clear: both;
}

.gb-cart table tr td {
    padding-bottom: 1px;
}

.gb-cart table tr .gb-cart-qty {
    background-color: #F00;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    text-align: center;
    margin-top: 31px;
    font-size: smaller;
    margin-left: 30px;
}

.NextPrev .nextItem, .NextPrev .prevItem {
    position: absolute;
    background: #fff url(../../Content/Images/upDownArrow.png) no-repeat;
    cursor: pointer;
}

.NextPrev .nextItem {
    left: 0;
    top: 39px;
    width: 100%;
    display: block;
    z-index: 4;
    height: 20px;
    border-radius: 3px 3px 0 0;
    background-position: 50% 2px;
    border-bottom: 2px solid #c3c3c3;
}

.NextPrev .prevItem {
    bottom: 0;
    right: 0;
    width: 100%;
    display: block;
    z-index: 4;
    height: 20px;
    background-position: 50% -27px;
    border-top: 2px solid #c3c3c3;
}

.countSpan {
    padding: 2px;
    background-color: #ff2400;
    color: #fff;
    border-radius: 50%;
    font-size: 9px;
    width: 15px;
    display: block;
    height: 15px;
    line-height: 12px;
}
/***************************************** End Cart */

/*------------------------------------------------------------------------------------------------------------------------------ End Product */





.search {
    /*margin: 5px -46px;*/
    width: 216px;
    /* border-radius: 4px; */
    height: 34px;
}

.search-addon {
    background-color: #A8CF45;
    color: #ffffff;
}

    .search-addon :hover {
        cursor: pointer;
    }













/* --------------------------------------------------------------------- Start Home Page */
.gb-home-header {
    min-height: 80px;
    margin-top: 40px;
    background-color: /*rgba(31, 142, 13, 0.05);*/ /* rgba(54, 132, 41, 0.35); */ rgba(33, 123, 18, 0.45);
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
}

    .gb-home-header .logo {
        margin: -12px 0px -12px 0px;
    }

    .gb-home-header .search {
        margin: 5px -46px;
        width: 300px;
        /* border-radius: 4px; */
        height: 34px;
    }

    .gb-home-header .search-addon {
        background-color: #A8CF45;
        color: #ffffff;
    }

        .gb-home-header .search-addon :hover {
            cursor: pointer;
        }

.gb-home-tiles-window {
    min-height: 80px;
    margin-top: 15px;
    /*padding: 20px 30px 20px 30px;*/
    border-radius: 10px;
}

    .gb-home-tiles-window .tile {
        background-color: rgba(31, 142, 13, 0.05);
        /*padding: 20px 30px 20px 30px;*/
        /*padding: 56px 18px 40px 44px;*/
        text-align: center;
        vertical-align: central;
        border-radius: 10px;
        height: 200px;
        line-height: 200px;
    }

/* ------------------------------------------------------------------------ End Home Page */





/************************************************************************************ changing bootstrap */


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #FFF;
    cursor: default;
    background-color: #63C562;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            color: #ffffff;
            cursor: default;
            background-color: #1F8E0D;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
        }

.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #A8CF45;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 0.428571;
    border: 1px solid rgb(127, 202, 7);
    border-radius: 4px 4px 0 0;
    background-color: #ffffff;
    color: #555;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}






.accordion-heading {
    background-color: #A8CF45;
    height: 30px;
    color: #ffffff;
    padding: 5px;
    border-top: solid 1px #1F8E0D;
    border-left: solid 1px #1F8E0D;
    border-right: solid 1px #1F8E0D;
}

    .accordion-heading a {
        background-color: #A8CF45;
        color: #ffffff;
        text-decoration: none;
    }

        .accordion-heading a :hover {
            background-color: #A8CF45;
            color: #ffffff;
        }

.accordion-body {
    padding: 5px;
    border-left: 1px #1F8E0D solid;
    border-right: 1px #1F8E0D solid;
    border-bottom: 1px #1F8E0D solid;
}

.container, .container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.thumbnail a {
}

.thumbnail a {
    float: left;
    margin-left: 60px;
    width: 30%;
}

.thumbnail .lblSaleRate {
    float: left;
    padding-top: 11px;
    margin-left: 25px;
}

.thumbnail .rupe {
    float: left;
    padding-top: 11px;
}

.thumbnail .gb-thumbnail-header {
    float: left;
}

.thumbnail .gb-thumbnail-bottom {
    float: right;
}

.thumbnail .lablehead {
    padding-top: 14px;
    font-size: 14px;
}

.thumbnail .gb-img-small {
}
