<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- Yashaswi 06-02-2018 For Log4net -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <!--Start Yashaswi 07-02-2019 For Log4net -->
  <log4net>
    <appender name="RollingFileAppenderError" type="log4net.Appender.RollingFileAppender" additivity="false">
      <file type="log4net.Util.PatternString" value="logs/Error/%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newlFine%exception" />
      </layout>
      <param name="Threshold" value="ERROR" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
      <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
    </appender>

    <appender name="RollingFileAppenderInfo" type="log4net.Appender.RollingFileAppender" additivity="false">
      <file type="log4net.Util.PatternString" value="logs/Info/%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newlFine%exception" />
      </layout>
      <param name="Threshold" value="INFO" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
      <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY" />
    </appender>

    <appender name="RollingFileAppenderDebug" type="log4net.Appender.RollingFileAppender" additivity="false">
      <file type="log4net.Util.PatternString" value="logs/Debug/%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newlFine%exception" />
      </layout>
      <param name="Threshold" value="DEBUG" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="DEBUG" />
      </filter>
      <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY" />
    </appender>

    <root>
      <appender-ref ref="RollingFileAppenderError" level="ERROR" />
      <appender-ref ref="RollingFileAppenderInfo" level="INFO" />
      <appender-ref ref="RollingFileAppenderDebug" level="DEBUG" />
    </root>
  </log4net>
  <!--End Yashaswi 07-02-2019 For Log4net -->
  <connectionStrings>

    <!--<add name="EzeeloDBContext"
         connectionString="data source=104.211.224.143;
   initial catalog=Ezeelo;persist security info=True; 
   Integrated Security=SSPI;"
         providerName="System.Data.SqlClient" />-->

    <add name="EzeeloDBContext" connectionString="Data Source=103.138.188.153;initial catalog=Ezeelo;user id=ezeelo-prod;password=EzeeloLive@2018!; TimeOut = 1000" providerName="System.Data.SqlClient" />

    <!--<add name="EzeeloDBContext" connectionString="Data Source=(local); Initial Catalog=Ezeelo; User ID=ezeelo-prod; Password=EzeeloLive@2018!; TimeOut = 30" providerName="System.Data.SqlClient" />-->

  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- These Keys Added by Prashant -->
    <add key="GATEWAYS" value="GATEWAYS.xml" />
    <add key="LOG_FOLDER" value="ERROR_LOG" />
    <add key="SEO_CONTENT_SERVER" value="http://www.ezeelo.com/c" />
    <add key="EMAILS_XML" value="http://img.ezeelo.com/cc/e/EMAILS.xml" />
    <!--<add key="EMAILS_FOLDER" value="http://img.ezeelo.com/cc/e" />
		-->
    <!-- //Yashaswi For PartnerRequestModule 9/5/2018 -->
    <!--
		<add key="EMAILS_XML" value="http://img.ezeelo.com/cc/e/EMAILS.xml" />
		<add key="EMAILS_FOLDER" value="http://img.ezeelo.com/cc/e" />-->
    <!--<add key="SMS_XML" value="http://img.ezeelo.com/cc/sms/SMS.xml" />-->
    <add key="INVENTORY_ROOT" value="http://inventory.ezeelo.com/" />

    <!--  <add key="DB_CON" value="Data Source=192.168.1.101; Initial Catalog=GANDHIBAGHV2.2; User ID=gb; Password=gb@123; TimeOut = 100"/>-->
    <!--<add key="DB_CON" value="Data Source=159.122.132.216; Initial Catalog=ezeelo-prod; User ID=IBMADMIN; Password=EzeeloLive@2018!; TimeOut = 30" />-->
    <!--<add key="DB_CON" value="Data Source=159.122.132.216; Initial Catalog=GANDHIBAGHV2.2; User ID=gb; Password=gb@123; TimeOut = 1000" />-->
    <!--<add key="DB_CON" value="Data Source=192.168.1.3; Initial Catalog=ezeelo-prod; User ID= Local2.2; Password=Local@123; TimeOut = 30" />-->
    <!--<add key="DB_CON" value="Data Source=192.168.1.101; Initial Catalog=Testing_102; User ID= test; Password=test; TimeOut = 30" />-->


    <!--<add key="DB_CON" value="data source=104.211.224.143;
   initial catalog=Ezeelo;persist security info=True; 
   Integrated Security=SSPI"/>-->

    <add key="DB_CON" value="Data Source=103.138.188.153; Initial Catalog=Ezeelo; User ID=ezeelo-prod; Password=EzeeloLive@2018!; TimeOut = 1000;MultipleActiveResultSets=true" />
    <!--<add key="DB_CON" value="Data Source=(local); Initial Catalog=Ezeelo; User ID=ezeelo-prod; Password=EzeeloLive@2018!; TimeOut = 30" />-->
    <!-- Keys Added for Images-->
    <!--<add key="USER_NAME" value="ezeelo-prod" />
    <add key="PASSWORD" value="EzeeloLive@2018!" />
		<add key="IMAGE_FTP" value="ftp://img.ezeelo.com" />
    <add key="IMAGE_HTTP" value="http://192.168.1.3:9292/" />-->

    <!--<add key="IMAGE_FTP" value="ftp://img.ezeelo.com" />-->
    <!--<add key="IMAGE_HTTP" value="http://192.168.1.3:9292/" />-->
    <!--<add key="IMAGE_HTTP" value="http://img.ezeelo.com/" />-->
    <!-- Keys for Images ends here-->
    <!--email  Tejaswee-->
    <!--<add key="EMAILS_XML" value="http://192.168.1.3:9292/Communication/EMAIL/EMAILS.xml" />
		<add key="EMAILS_FOLDER" value="http://192.168.1.3:9292/Communication/EMAIL" />-->

    <!--<add key="INVENTORY_ROOT_IMAGE_FTP" value="ftp://img.ezeelo.com/" />
    <add key="INVENTORY_ROOT_IMAGE_HTTP" value="http://img.ezeelo.com/" />
    <add key="USER_NAME" value="ezeelo-prod" />
    <add key="PASSWORD" value="EzeeloLive@2018!" />-->

    <!--added by amit-->
    <add key="SMS_XML" value="http://img.ezeelo.in/cc/sms/SMS.xml" />
    <add key="EMAILS_XML" value="http://img.ezeelo.in/cc/e/EMAILS.xml" />
    <add key="EMAILS_FOLDER" value="http://img.ezeelo.in/cc/e" />
    <!--end by amit-->


    <add key="IMAGE_FTP" value="ftp://img.ezeelo.com/" />
    <add key="IMAGE_HTTP" value="http://img.ezeelo.com/" />
    <add key="INVENTORY_ROOT_IMAGE_FTP" value="ftp://img.identical/" />
    <add key="INVENTORY_ROOT_IMAGE_HTTP" value="http://img.identical/" />
    <add key="USER_NAME" value="ezeelo-prod" />
    <add key="PASSWORD" value="PROD#Ezeelo$2019" />
    <add key="DIRECTORY" value="InventoryDocuments" />
    <add key="FOLDER_INVOICE" value="Invoice" />
    <add key="FOLDER_WASTAGE" value="Wastage" />
    <add key="EZEELO_WAREHOUSE_ID" value="2" />
    <add key="FOLDER_AADHAR" value="Aadhar" />
    <add key="FOLDER_PAN" value="PAN" />
    <add key="FOLDER_PROFILE" value="Profile" />
    <add key="FOLDER_PASSBOOK" value="Passbook" />

    <add key="FOLDER_KYCFORM" value="KYC" />

    <add key="Del_Hour" value="1" />
    <add key="EmailId" value="reena.gupta@ezeelo.com" />
    <add key="LEADER_EMAILID" value="gaurav.shrote@ezeelo.com" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />


    <add key="EZEELO_CUSTOMER_URL" value="http://localhost:5555/" />
    <add key="MERCHANT_DIRECTORY" value="MerchantKYCDocuments" />
    <add key="MERCHANT_FOLDER_SHOPESTABLISHMENT" value="ShopEstablishment" />
    <add key="MERCHANT_FOLDER_ADDRESS" value="Address" />
    <add key="MERCHANT_FOLDER_GST" value="GST" />
    <add key="MERCHANT_FOLDER_PAN" value="PAN" />
    <add key="MERCHANT_FOLDER_VISITINGCARD" value="VisitingCard" />
    <add key="MERCHANT_FOLDER_CANCELLEDCHEQUE" value="CancelledCheque" />
    <add key="MERCHANT_FOLDER_PHOTO" value="Photo" />
    <add key="MERCHANT_FOLDER_BANNER" value="Banner" />
    <add key="MERCHANT_DASHBOARD" value="http://localhost:50362/" />

  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="524288" executionTimeout="120000" />
    <authentication mode="Forms">
      <forms defaultUrl="MerchantRegister/Index" loginUrl="MerchantRegister/Index" timeout="20000" path="/" />
    </authentication>
    <sessionState timeout="30"></sessionState>
    <compilation debug="true" targetFramework="4.5" />
    <!--<httpRuntime targetFramework="4.5"/>-->

    <customErrors mode="Off"></customErrors>
    <globalization culture="en-US" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000" />
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>