
    <div class="control-group">
        @Html.Label("Area", new { @class = "control-label" })
        <div class="controls">
            @Html.DropDownList("Area", "Select")
       
        </div>
    </div>



