@{
    ViewBag.Title = "View1";
}

<h2>View1</h2>
@using (Html.BeginForm("View1", "ProductApproval", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <table class="table">

        <tr>
            <td>File</td>
            <td><input type="file" name="Files" id="Files" multiple="multiple" /></td>
            @*<td><input type="file" name="logo" id="logo" /></td>*@
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" name="submit" value="Upload" id="Upload" /> </td>
        </tr>
    </table>
}