
@{
    ViewBag.Title = "Index";
}
<div>
    <div>
        @Html.Partial("_ChatRoomListPartial")
    </div>
    <div>
        <div>
            @Html.Partial("_ChatDetailsPartial")
        </div>
        <div style="height: 114px; width: 700px; border: double; float: left; ">
            @Html.TextArea("txtSend", new { style = "height:104px;width:690px" })

        </div>
    </div>
    
</div>
<div>
    @Html.Partial("_ChatRoomLoginListPartial")
</div>
