<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="testEntities" connectionString="metadata=res://*/DataAccess.DataModule.csdl|res://*/DataAccess.DataModule.ssdl|res://*/DataAccess.DataModule.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=test;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
       <add name="EzeeloDBContext" connectionString="Data Source=(local); Initial Catalog=Ezeelo; User ID=ezeelo-test; Password=EzeeloDev@2018!; TimeOut = 1000;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <!-- These Keys Added by Prashant -->
    <add key="GATEWAYS" value="GATEWAYS.xml" />    
    <add key="DEFAULT_EMAIL" value="sales@ezeelo.com" />
    <add key="EMAILS_XML" value="http://img.identical/cc/e/EMAILS.xml" />
    <add key="EMAILS_FOLDER" value="http://img.identical/cc/e" />
    <add key="SMS_XML" value="http://img.identical/cc/sms/SMS.xml" />
	<add key="LOG_FOLDER" value="ERROR_LOG" />    
    <add key="DB_CON" value="Data Source=(local); Initial Catalog=Ezeelo; User ID=ezeelo-test; Password=EzeeloDev@2018!; TimeOut = 1000" />

    <!-- Keys by Prashant ends here-->
    <!-- Keys Added for Images-->
    <add key="USER_NAME" value="Administrator" />
    <add key="PASSWORD" value="@vsnknskbd123" />   
    <!--<add key="FILE_FTP" value="ftp://192.168.1.5:21/c_d" />
    <add key="FILE_HTTP" value="http://img.identical/c_d" />-->
    <add key="IMAGE_FTP" value="ftp://192.168.1.5:21" />
    <add key="IMAGE_HTTP" value="http://img.identical/" />
    <!--<add key="CATEGORY_IMAGE_HTTP" value="http://img.identical/ci_w" />-->
	<add key="CATEGORY_IMAGE_HTTP" value="http://img.identical/ci" />
    <!--<add key="CATEGORY_IMAGE_FTP" value="ftp://192.168.1.5:21/ci_w" />
    <add key="HOME_IMAGE_HTTP" value="http://img.identical/hpi/" />
    <add key="HOME_IMAGE_FTP" value="ftp://192.168.1.5:21/hpi" />-->
    <!--Sonali 31-8-2018-->
    <add key="EMAILS_XML" value="ftp://192.168.1.5/cc/e/EMAILS.xml" />
    <add key="EMAILS_FOLDER" value="ftp://192.168.1.5/cc/e/" />
    <add key="SMS_XML" value="http://img.ezeelo.in/cc/sms/SMS.xml"/>
 
    <add key="LOG_FOLDER" value="ERROR_LOG" />
    <add key="SITEMAP_ID" value="323038" />
    <!--Sonali 31-8-2018-->
<!--Sonali 31-8-2018-->
    <add key="USER_NAME" value="ftpuser" />
    <add key="PASSWORD" value="ftp@123" />
    <add key="IMAGE_FTP" value="ftp://192.168.1.5/" />
    <add key="IMAGE_HTTP" value="http://img.identical/" />
    <add key="CATEGORY_IMAGE_HTTP" value="http://img.identical/ci_w/" />
    <add key="HOME_IMAGE_HTTP" value="http://img.identical/hpi/" />
    <add key="HOME_IMAGE_FTP" value="ftp://192.168.1.5/hpi/" />
    <add key="FILE_HTTP" value="http://img.identical/c_d/" />
    <!--Sonali 31-8-2018-->
<add key="SMS_XML" value="http://img.ezeelo.in/cc/sms/SMS.xml"/>
<add key="IMG_HTTP" value="http://api.identical/" />


    <!--Start Sonali For Live-->
<add key="Del_Hour" value="1"/>
    <add key="EMAILS_XML" value="http://img.ezeelo.in/cc/e/EMAILS.xml" />
    <add key="EMAILS_FOLDER" value="http://img.ezeelo.in/cc/e" />
    <add key="SMS_XML" value="http://img.ezeelo.in/cc/sms/SMS.xml" />
    <add key="USER_NAME" value="Administrator" />
    <add key="PASSWORD" value="LkU57cff" />
    <add key="IMAGE_FTP" value="ftp://119.81.198.6:21" />
    <add key="IMAGE_HTTP" value="http://img.ezeelo.in/" />
    <add key="CATEGORY_IMAGE_HTTP" value="http://img.ezeelo.in/ci_w" />
    <add key="HOME_IMAGE_HTTP" value="http://img.ezeelo.in/hpi" />
    <add key="FILE_HTTP" value="http://img.ezeelo.in/c_d" />
    <add key="PASSWORD_SOCIAL" value="social123"/>
    <add key="IMG_HTTP" value="http://api.ezeelo.in/" />
    <add key ="GST_CONSTANT" value="27AAECE6662K1Z9"/>
    <!--Added for api as GST No constant by sonali 30-10-2018-->
	<add key="DEALBANNER_IMAGE_HTTP" value="http://img.ezeelo.in/dbi"/>
    <!--End Sonali For Live-->

  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
     <modules>
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <!-- Pradnyakar Badge for DELETE AND OTHER API REQUEST-->
      <remove name="WebDAV" />
      <!-- END-->
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <!--<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
      <!-- Pradnyakar Badge for DELETE AND OTHER API REQUEST-->
      <add name="ExtensionlessUrlHandler-Integrated-4.0"
         path="*."
         verb="GET,HEAD,POST,DEBUG,DELETE,PUT"
         type="System.Web.Handlers.TransferRequestHandler"
         preCondition="integratedMode,runtimeVersionv4.0" />
      <!-- END-->
    </handlers>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="Index.cshtml" />
            </files>
        </defaultDocument>
    
    <httpProtocol>

      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
      </customHeaders>

    </httpProtocol>
    
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>